---
layout: page
nohero: true
skipIndex: true
image: /landing/images/factory-efficiency.png
imageDescription: "Plant manager with a walkie-talkie in a factory setting"
---
<!--First two sections-->
<div class="nohero w-full">
    <!--Hero Content-->
    <div class="w-full pt-12 pb-20 md:pt-6 md:pb-12">
        <div class="md:flex px-6 md:my-16 items-center md:flex-row md:justify-between container mx-auto text-center md:text-left md:max-w-screen-lg gap-8 items-stretch">
            <div class="m-auto md:w-1/2 max-w-lg">
                <h1 class="w-full mt-0 px-12 md:px-0 m-auto text-base">
                    <span class="text-4xl">Transform Your Factory’s Efficiency and Profitability with FlowFuse</span>
                </h1>
                <p class="mb-10">
                    See how innovative plant managers like you are cutting costs, boosting uptime, and driving growth.
                </p>
                <a class="ff-btn ff-btn--primary hidden min-h-[40px] md:inline" href="{{ site.appURL }}" onclick="capture('download', {'reference': 'landing-factory-efficiency'})">DOWNLOAD</a>
            </div>
            <div class="md:w-1/2 flex-grow relative">
                <div class="ff-image-cover ff-image-rounded w-full h-full">
                    {% set imageSrc = ["./", image ] | join %}
                    {% image imageSrc, imageDescription, [496] %}
                    <div class="absolute top-0 right-0 flex flex-col p-4 lg:max-w-[45%] text-left">
                        <!-- Row 1 -->
                        <div class="mb-2 bg-white/80 rounded-md px-3">
                            <h3 class="text-indigo-400 mt-3 font-semibold mb-0">-40%</h3>
                            <p class="my-2 leading-5 mt-0">reduction in integration costs</p>
                        </div>
                        <!-- Row 2 -->
                        <div class="mb-2 bg-white/80 rounded-md px-3">
                            <h3 class="text-indigo-400 mt-3 font-semibold mb-0">9x</h3>
                            <p class="my-2 leading-5 mt-0">faster prototyping</p>
                        </div>
                        <!-- Row 3 -->
                        <div class="bg-white/80 rounded-md px-3">
                            <p class="my-2">Deployment <span class="text-indigo-400 font-semibold">at scale</span></p>
                        </div>
                    </div>                
                </div>
            </div>
            <a class="ff-btn ff-btn--primary flex flex-col w-full md:hidden m-auto mt-12" href="{{ site.appURL }}" onclick="capture('download', {'reference': 'landing-factory-efficiency'})">DOWNLOAD</a>
        </div>   
    </div>

    <!-- Focus on your flows -->  
    <div class="w-full">
        <div class="max-w-screen-lg mx-auto px-6">
            <div class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-x-8 gap-y-14">
                <h2 class="text-center w-full md:text-left col-span-full"><span class="text-indigo-600">Focus on Your Flows,</span> Not the Setup</h2>

                {% set sections = [
                    {
                        "svgPath": "components/icons/user-group.svg",
                        "title": "Seamless Team Collaboration",
                        "description": "With FlowFuse Cloud, collaborating with your teams has never been easier. We enable your teams to work together on workflow instances and share insights and data visualizations all within a single platform. Our intuitive dashboard helps to drive informed decisions together and accelerate development times. "
                    },
                    {
                        "svgPath": "components/icons/lock-closed.svg",
                        "title": "Robust Security",
                        "description": "Your data security is our top priority. FlowFuse Cloud employs a multi-layer security approach, ensuring protection at every level, including Role-Based Access Control (RBAC) for granular permissions and Single Sign-On (SSO) for secure access. Our SOC 2 Type 1 compliance demonstrates our commitment to upholding rigorous security standards."
                    },
                    {
                        "svgPath": "components/icons/cloud.svg",
                        "title": "Hassle-Free Hosting ",
                        "description": "FlowFuse Cloud handles all your hosting needs. Forget the complexities of managing NGINX, Docker, or any underlying infrastructure. We handle all the technical details and maintenance, ensuring your Node-RED applications are up and running smoothly. This lets you focus your time and efforts on designing, building, and optimizing your applications."
                    }
                ] %}

                {% for section in sections %}
                    <div class="relative w-full max-md:max-w-md mx-auto">
                        <div class="flex flex-col items-center sm:items-start">
                            <div class="flex flex-col justify-center md:justify-start gap-3 w-full mb-4">
                                <div class="w-8 h-8 m-auto sm:m-0 text-indigo-600">
                                    {% include section.svgPath %}
                                </div>
                                <div class="w-full flex flex-row gap-3 mx-auto md:m-0">
                                    <h5 class="w-full md:m-0">
                                        <div class="text-xl text-gray-600 text-center sm:text-left">{{ section.title }}</div>
                                    </h5>
                                </div>
                            </div>
                            <div>
                                <p class="text-center sm:text-left font-light">{{ section.description | safe }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>    

<div class="max-w-screen-lg mx-auto text-center pt-10 pb-6 px-6 text-lg flex-col flex-row items-center justify-center gap-1 hover:no-underline flex-wrap">
    <!--Why FlowFuse-->
    <div class="ff-blue-card">
        <h2 class="font-bold m-auto w-full text-center sm:text-left mb-6">Why use <span class="text-red-600">FlowFuse</span></h2>
        <div class="w-full sm:grid sm:grid-cols-2 gap-6 sm:gap-8">
            {% set sections = [
                {
                    "title": "Low Code Advantage",
                    "description": "FlowFuse Cloud harnesses the power of low code programming to accelerate development times and empower everyone in your organization. By simplifying the application development cycle, our platform enables businesses to launch solutions faster than traditional coding methods allow."
                },
                {
                    "title": "Open Source",
                    "description": "Open source is a key aspect of the FlowFuse product strategy, as we believe it reduces adoption barriers and provides increased transparency and security to all our users. By leveraging open source components like Node-RED, the FlowFuse platform can quickly innovate and adapt to your evolving needs."
                }
            ] %}

            {% for section in sections %}
                <div class="w-full mt-4 md:mt-0 flex flex-col justify-between">
                    <div>
                        <h4 class="flex justify-center sm:justify-start font-semibold">{{ section.title }}</h4>
                        <p class="font-light mt-6">{{ section.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Quotes -->
    <div class="text-center text-teal-50 mt-12 mb-12 pt-12 text-lg flex-col flex-row items-center justify-center gap-1 hover:no-underline flex-wrap">
        <ul class="m-auto max-w-screen-lg flex flex-col gap-16">
            {% set testimonials = [
                {
                    "image": "../images/power-workplace-icon.png",
                    "alt": "Power Workplace logo",
                    "quote": "FlowFuse Cloud is interesting for us because it allows us to focus on growing our business rather than maintaining environments.",
                    "author": "Alan Yeung, CTO,",
                    "company": "Power Workplace"
                },
                {
                    "image": "../images/abrasive-technology-icon.png",
                    "alt": "Abrasive Technology logo",
                    "quote": "Our search for a better way to host and manage our Node-RED instances is what started our transition to using FlowFuse.",
                    "author": "Josh Dudley,",
                    "company": "Abrasive Technology"
                }
            ] %}

            {% for testimonial in testimonials %}
                <li class="flex flex-col max-md:items-center md:flex-row gap-6 align-items-start">
                    <div class="w-20 h-20 min-w-20 rounded-full mx-1 bg-black p-2">
                        {% image testimonial.image, testimonial.alt, [64] %}
                    </div>
                    <div>
                        <h4 class="md:text-left italic mt-2 text-gray-500">“{{ testimonial.quote }}”</h4>
                        <p class="md:text-right text-gray-500 text-lg">{{ testimonial.author }} <span class="font-bold">{{ testimonial.company }}</span></p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- Frequently Asked Questions --> 
    <div class="md:text-left max-md:max-w-md mx-auto pt-24 md:pt-16 text-left">
        <h2 class="max-md:text-center -mb-12">
            Frequently Asked <span class="text-indigo-600">Questions</span>
        </h2>
        {% include "faq.njk" %}
    </div>
</div>


