---
pagination:
    data: coreNodes.function
    size: 1
    alias: node
    addAllPagesToCollections: true
coreNodeCategory: "function"
permalink: "node-red/core-nodes/{{ node.name | lower | replace(\" \", \"\") }}/"
eleventyComputed:
  navTitle: "{{ node.name }}"
  navGroup: "{{ coreNodeCategory }}"
---

{% include "core-node-docs.njk" %}
