---
navTitle: "Node-RED Core Nodes"
---

<h1>Node-RED Core Nodes</h1>

<p>Node-RED as application development platform has a standard library of
functionality available by default without installing addtional nodes.</p>

<h2>Node Catalogue</h2>

<p>There's many nodes included by default.</p>