---
eleventyNavigation:
  key: Core Nodes
---
<h1>Node-RED Core Nodes</h1>

<p>In Node-RED, the core nodes are the set of nodes that are included with the
Node-RED runtime by default without the node install procedure. These nodes are
maintained and supported by the Node-RED development team and are intended to
provide the basic building blocks for creating Node-RED flows.</p>

<p>Core nodes include nodes for basic functionality like input/output, processing,
and control flow. They are the foundation upon which more complex workflows can
be built, and they are essential to the operation of Node-RED.</p>

<p>The nodes are grouped in a few sections in the nodes sidebar:
<ol type="1">
    <li><span class="font-semibold">common</span> - miscellaneous nodes</li>
    <li><span class="font-semibold">function</span> - Control flow, blocking or sending additional messages.</li>
    <li><span class="font-semibold">network</span> - Receive and send messages over the network on different protocols.</li>
    <li><span class="font-semibold">sequence</span> - Working with collections of messages, or creating them.</li>
    <li><span class="font-semibold">parser</span> - transforming data from one format to another.</li>
    <li><span class="font-semibold">storage</span> - for reading or writing files.</li>
</ol>
