---
pagination:
    data: coreNodesArray
    size: 1
    alias: category
    addAllPagesToCollections: true
permalink: "node-red/core-nodes/{{ category.nodes[0].xpath | lower | replace(\" \", \"\") }}-nav/"
eleventyComputed:
    eleventyNavigation:
        key: "{{ category.key }}"
        title: "{{ category.key.charAt(0).toUpperCase() + category.key.slice(1) }}"
        parent: "Core Nodes"
        url: "/node-red/core-nodes/{{ category.nodes[0].xpath | lower | replace(\" \", \"\") }}/"
    permalink: false
---