---
pagination:
    data: coreNodes.parsers
    size: 1
    alias: node
    addAllPagesToCollections: true
coreNodeCategory: "parsers"
permalink: "node-red/core-nodes/{{ node.name | lower | replace(' ', '-') }}/"
eleventyComputed:
  eleventyNavigation:
    key: "{{ node.name }}"
    parent: "{{ coreNodeCategory }}"
  title: "Node-RED - {{ node.name }} Node"
  description: "{{ node.description }}"
  keywords: "{{ node.keywords }}"
---

{% include "core-node-docs.njk" %}
