{%
    set sections = [{
        label: "Features",
        rows: [{
            label: "Multiple Projects",
            values: ['check', 'check', 'check']
        }, {
            label: "Project Templates",
            values: ['check', 'check', 'check']
        }, {
            label: "Individual Project Configuration",
            values: ['check', 'check', 'check']
        }, {
            label: "Audit Log",
            values: ['check', 'check', 'check']
        }, {
            label: "Team-Based Configuraton",
            values: ['check', 'check', 'check']
        }, {
            label: "Role-Based Access Control",
            values: ['check', 'check', 'check']
        }, {
            label: "Fully Browser-Based",
            values: [null, 'check', 'check']
        }, {
            label: "Single Sign-On (SSO)",
            values: [null, null, 'check']
        }, {
            label: "Custom Node Catalog",
            values: [null, 'time', 'time']
        }, {
            label: "Shared Team Library",
            values: [null, 'time', 'time']
        }, {
            label: "Persistent Context Storage",
            values: [null, 'time', 'time']
        }, {
            label: "Private npm Repo Support",
            values: [null, 'time', 'time']
        }, {
            label: "Version History",
            values: [null, 'time', 'time']
        }, {
            label: "Devops Workflow",
            values: [null, 'time', 'time']
        }, {
            label: "Usage Reporting",
            values: [null, 'time', 'time']
        }]
    }, {
        label: "Setup & Infrastructure",
        rows: [{
            label: "Easy Node-RED Upgrades",
            values: ['check', 'check', 'check']
        }, {
            label: "Sub-Minute Setup",
            values: [null, 'check', 'check']
        }, {
            label: "FlowForge Managed",
            values: [null, 'check', 'optional']
        }, {
            label: "Configurable Infrastructure",
            values: ['check', null, 'check']
        }]
    }, {
        label: "Support",
        rows: [{
            label: "Ticket-Based Support",
            values: [null, 'check', 'check']
        }, {
            label: "Community Support",
            values: ['check', 'check', 'check']
        }]
    }]
%}

<div class="ff-feature-table m-auto">
    <div class="ff-feature-table-section">
        {% for col in columns %}
        <h4>{{ col.product | safe }}</h4>
        {% endfor %}
    </div>
    {% for section in sections %}
    <ul class="ff-feature-table-section">
        <li class="ff-feature--column-header">
            <span></span>
            <label>Community</label>
            <label>Cloud</label>
            <label>Enterprise</label>
        </li>
        <li class="ff-feature--header">
            {{ section.label }}
        </li>
        {% for row in section.rows %}
        <li class="ff-feature-row">
            <label>{{ row.label }}</label>
            {% for value in row.values %}
            <span>
                {% if value === "check" %}
                {% include "components/feature-check.svg" %}
                {% elif value === "time" %}
                {% include "components/feature-time.svg" %}
                {% elif value === "optional" %}
                {% include "components/feature-optional.svg" %}
                {% elif value === "addon" %}
                {% include "components/feature-addon.svg" %}
                {% else %}
                <span></span>
                {% endif %}
            </span>
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
    <ul class="ff-feature-table-section">
        <li>
            <span></span>
            <span>
                <a class="ff-btn ff-btn--secondary" href="https://github.com/flowforge/flowforge">View on GitHub</a>
            </span>
            <span>
                <a class="ff-btn ff-btn--primary" href="https://flowforge.com/blog/2022/02/announcing-flowforge-cloud/">Get Started</a>
            </span>
            <span>
                <a class='ff-btn ff-btn--secondary' href='mailto:sales@flowforge.com?subject=Enquiry - FlowForge Cloud Enterprise'>Contact Us</a>
            </span>
        </li>
    </ul>
    <ul class="ff-features-key">
        <li>
            {% include "components/feature-check.svg" %}
            <label>Included</label>
        </li>
        <li>
            {% include "components/feature-time.svg" %}
            <label>On the Roadmap</label>
        </li>
        <li>
            {% include "components/feature-optional.svg" %}
            <label>Optional</label>
        </li>
    </ul>
</div>