<div class="ff-feature-table m-auto">
    <ul class="{{ sections[0].hosting }} ff-feature-table-section sticky top-0 z-10">
        <li class="ff-feature--column-header">
            <span class="sticky left-0 h-full"></span>
            {% if sections[0].hosting == "cloud" %}
            <label class="mr-2">
                <div>Starter</div>
            </label>
            <label>Team</label>
            {% else %}
            <label>Starter</label>
            {% endif %}
            <label class="ml-2">Enterprise</label>
        </li>
    </ul>
    
    {% for section in sections %}
    <ul class="{{ section.hosting }} ff-feature-table-section">
        <li class="ff-feature--header sticky top-[44px]">
            <span style="padding-top: 12px; padding-bottom: 12px;" class="sticky left-0 h-full">{{ section.label }}</span>
            <span></span>
            <span></span>
        </li>
        {% for row in section.rows %}
        <li class="ff-feature-row">
            <label {% if row.info %}class="sticky left-0 h-full" onclick="openInfo('{{ row.id }}', '{{ section.hosting }}')"{% else %}class="sticky left-0 h-full pointer-events-none"{% endif %}>
                {{ row.label }}
                {% if row.info %}
                <i id="ff-info--{{ row.id }}-{{ section.hosting }}" class="ff-icon min-w-[20px]">{% include "components/icons/info.svg" %}</i>
                {% endif %}
            </label>
            {% for value in row.values %}
            <span>
                {% if value === "check" %}
                    {% include "components/feature-check.svg" %}
                {% elif value === "time" %}
                    {% tooltip "On the roadmap" %}
                    {% include "components/feature-time.svg" %}
                    {% endtooltip %}
                {% elif value === "optional" %}
                    {% include "components/feature-optional.svg" %}
                {% elif value === "addon" %}
                    {% include "components/feature-addon.svg" %}
                {% elif value === null %}
                <span></span>
                {% else %}
                {{ value | safe }}
                {% endif %}
            </span>
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
    <ul class="{{ sections[0].hosting }} ff-feature-table-section">
        <li class="ff-feature--column-buttons mt-6 h-10 gap-x-3">
            <span class="sticky left-0 h-full z-10"></span>
            {% for section in sections %}
            {% if section.buttons %}
            {% for button in section.buttons %}
            <label><a class="ff-btn ff-btn--primary uppercase align-baseline w-full text-center" href="{{ button.url }}" {% if button.onclick %} onclick="{{ button.onclick }}" {% endif %}>{{ button.cta }}</a></label>
            {% endfor %}
            {% endif %}
            {% endfor %}
        </li>
</div>

<div id="feature-dialogs">
    {% for section in sections %}
    {% for row in section.rows %}
    {% if row.info %}
    <div id="ff-dialog--feature--{{ row.id }}-{{ section.hosting }}" class="ff-dialog-container">
        <div class="ff-dialog-shadow" onclick="closeInfo('{{ row.id }}', '{{ section.hosting }}')"></div>
        <div class="ff-dialog-modal">
            <div id="ff-dialog--header" class="ff-dialog-header">Feature: {{ row.label }}</div>
            <div id="ff-dialog--content" class="ff-dialog-content">{{ row.info | safe }}</div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>
