<div class="flex flex-wrap md:justify-between gap-3 md:gap-0 flex-row justify-center mt-4 md:mt-8 mb-3 mb:6 md:mb-6">
  {%- for f in mainFeatures -%}
  <button class="feature-button align-baseline" data-section="{{ f.id }}">
    <span class="hidden md:inline">{{ f.buttonText }}</span>
    <span class="inline md:hidden">{{ f.buttonTextMobile }}</span>
  </button>
  {%- endfor -%}
</div>
<div class="flex flex-col flex-wrap content-center justify-center md:min-h-[450px]">
  {%- for f in mainFeatures -%}
  <div class="feature active md:text-left" id="{{ f.id }}">
    <div class="container m-auto max-w-screen-lg">
      <div class="flex flex-col md:flex-row justify-center items-center">
        {% if f.imageFolder === './images/pictograms/' %}
        <div class="flex justify-center items-center w-[50%] md:w-[27%]">
          <div class="mb-10 mt-4 md:mb-0 md:mt-0 md:mr-6 max-w-[250px]">
            {% set imageSrc = [f.imageFolder, f.imageFile] | join %}
            {% set imageDescription = ["Image depicting", f.imageAlt] | join %}
            {% image imageSrc, imageDescription, [250] %}
          </div>
        </div>
        <div class="flex flex-col flex-wrap content-center justify-center md:w-[73%] md:pl-12 prose">
          <h3 class="flex items-center text-center justify-center md:text-left md:justify-start">
            <div class="flex flex-col leading-9 text-2xl mb-3 red-gradient">
              {{ f.title }}
            </div>
          </h3>
          <p>
            {{ f.content }}
          </p>
          <div class="-mt-6">
            <ul>
              {% if f.list %}
              {%- for item in f.list -%}
              <li>{{ item }}</li>
              {%- endfor -%}
              {% endif %}
            </ul>
          </div>
        </div>
        {% else %}
        <div class="flex justify-center items-center md:w-[40%]">
          <div class="mb-6 mt-4 md:mb-0 md:mt-0 max-w-[360px]">
            {% set imageSrc = [f.imageFolder, f.imageFile] | join %}
            {% set imageDescription = ["Image depicting", f.imageAlt] | join %}
            {% image imageSrc, imageDescription, [360] %}
          </div>
        </div>
        <div class="flex flex-col flex-wrap content-center justify-center md:w-[60%] md:pl-12 prose">
          <h3 class="flex items-center text-center justify-center md:text-left md:justify-start">
            <div class="flex flex-col leading-9 text-2xl mb-3 red-gradient">
              {{ f.title }}
            </div>
          </h3>
          <p>
            {{ f.content }}
          </p>
          <div class="-mt-6">
            <ul>
              {% if f.list %}
              {%- for item in f.list -%}
              <li>{{ item }}</li>
              {%- endfor -%}
              {% endif %}
            </ul>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {%- endfor -%}
</div>

<script>
  const featureButtons = document.querySelectorAll('.feature-button');
  const features = document.querySelectorAll('.feature');
  let currentIndex = 0;
  let autoPlayInterval;

  function activateSection(index) {
    // Ocultar todas las secciones
    features.forEach(feature => {
      feature.classList.remove('active');
    });

    // Mostrar la sección correspondiente
    features[index].classList.add('active');

    // Agregar la clase "active" al botón correspondiente y quitarla de los demás botones
    featureButtons.forEach((button, i) => {
      if (i === index) {
        button.classList.add('active');
      } else {
        button.classList.remove('active');
      }
    });
  }

  function startAutoPlay() {
    autoPlayInterval = setInterval(() => {
      currentIndex = (currentIndex + 1) % features.length;
      activateSection(currentIndex);
    }, 3000); // Cambiar el valor de 3000 para ajustar el tiempo entre cada activación de sección
  }

  function stopAutoPlay() {
    clearInterval(autoPlayInterval);
  }

  featureButtons.forEach((button, index) => {
    button.addEventListener('click', () => {
      activateSection(index);
      currentIndex = index;
      stopAutoPlay();
    });
  });

  activateSection(currentIndex);
  startAutoPlay();
</script>