---
layout: default
title: Submit Your Blueprint
description: <p>Share your Blueprints to help the FlowFuse community build a best-in-class library of commercially useful content and build recognition of your company as top Node-RED experts.</p><p>We are accepting submissions of Blueprints that are commercially valuable and professionally well-constructed. Submissions will be reviewed by the FlowFuse team. Accepted submissions will be featured on the Blueprints page with acknowledgement of the company that authored the Blueprint.</p>
sitemapPriority: 0.7
pagination:
  data: collections.blueprints
  size: 3
  alias: blueprints
  reverse: true
meta:
    description: Submit your own Blueprints for publishing in the FlowFuse Blueprint Library
hubspot:
    script: "hubspot/hs-form.njk"
    formId: c627fbcb-a3e0-46dd-978b-122461b7835c
    cta: "blueprint-upload"
    reference: "blueprint-upload"
---
<div class="max-w-full">
  <div class="m-auto sm:max-w-xl md:max-w-6xl px-4">
    <div class="grid gap-12 pt-24 md:grid-cols-2">
        <div>
            <h1 class="mb-10">{{ title }}</h1>
            <p>Share your Blueprints to help the FlowFuse community build a <span class="inline-block">best-in-class</span> library of commercially useful content and build recognition of your company as top Node-RED experts.</p>
            <p>We are accepting submissions of Blueprints that are <b>commercially valuable and professionally well-constructed</b>.</p> <p>Submissions will be reviewed by the FlowFuse team.</p>
            <p>Accepted submissions will be featured on the Blueprints page with acknowledgement of the company that authored the Blueprint.</p>
        </div>
        <!-- Form / Calendar Script -->
        <div class="w-full">
        {% include hubspot.script %}
        </div>
  </div>
  <div class="w-full pt-10 pb-16">
    <div class="m-auto md:max-w-6xl border-t pt-8">
        <div class="grid lg:grid-cols-3 lg:gap-6">
            <h2 class="mt-2">Existing Blueprints</h2>
            <p class="col-span-2">Here are a few examples of Blueprints from our collection. You can take a look at the full collection in our <a href="/blueprints">Blueprint Library</a></p>
        </div>
        <ul class="grid md:grid-cols-3 gap-6 mt-6">
            {%- asyncEach item in blueprints -%}
            <li class="grid max-md:text-center max-md:mx-auto max-md:max-w-md bg-white ff-image-cover blueprint rounded-lg border drop-shadow-md hover:drop-shadow-lg grow">
                <a href="{{ item.url }}" class="w-full flex flex-col group hover:no-underline">
                    <div class="ff-image-cover aspect-video border-b">
                        {% tileImage item, "./images/og-blog.jpg", "Image with logo and the slogan: Elevate Node-RED with Flowfuse", 285 %}
                    </div>
                    <h5 class="my-4 group-hover:underline px-4 font-medium text-lg leading-6">{{ item.data.title }}</h5>
                </a>
            </li>
            {%- endeach -%}
        </ul>
  </div>
</div>