<div class="flex flex-wrap justify-center mt-12 md:mt-20">
    <div class="company-value">
        {% image "./images/pictograms/remote_blue.png", "Icon representing Fully Remote", [128] %}
        <h5>Fully Remote</h5>
    </div>
    <div class="company-value">
        {% image "./images/pictograms/vacation_blue.png", "Icon representing Unlimited Vacation", [128] %}
        <h5>Unlimited Vacation</h5>
    </div>
    <div class="company-value">
        {% image "./images/pictograms/time_blue.png", "Icon representing Flexible Hours", [128] %}
        <h5>Flexible Hours</h3>
    </div>
    <div class="company-value">
        {% image "./images/pictograms/education_blue.png", "Icon representing Education Budget", [128] %}
        <h5>Education Budget</h5>
    </div>
    <div class="company-value">
        {% image "./images/pictograms/equipment_blue.png", "Icon representing Equipment", [128] %}
        <h5>Equipment</h5>
    </div>
    <div class="company-value">
        {% image "./images/pictograms/parental_leave_blue.png", "Icon representing Paid Parental Leave", [128] %}
        <h5>Paid Parental Leave</h5>
    </div>
</div>