{% from "components/cta/cta-sign-up.njk" import ctaSignUp %}
{% from "components/cta/cta-contact-us.njk" import ctaContactUs %}
<div class="w-full bg-white pt-12 pb-10">
    <h3 class="flex items-center text-center justify-center">
        <div class="flex flex-col leading-9 text-3xl mb-4 red-gradient font-semibold">
            Ready to get started with FlowFuse?
        </div>
    </h3>
    <div class="container m-auto max-w-lg md:max-w-5xl grid grid-cols-1 md:grid-cols-2 gap-3 px-6 py-8 mb-10">
        <div class="features-card">
            <div>
                <label class="flex items-center text-center justify-center font-medium text-2xl text-gray-800 mt-5">On Premise</label>
                <p class="mb-6 mt-6">
                    Install FlowFuse on your own hardware for increased deployment flexibility. Install it on-premises and manage the deployment yourself.
                </p>
            </div>
            <div class="flex flex-col items-center">
                {{ ctaContactUs('primary-outlined', 'secondary', extraClass='align-baseline w-full') }}
            </div>
        </div>
        <div class="features-card">
            <div>
                <label class="flex items-center text-center justify-center font-medium text-2xl text-gray-800 mt-5">FlowFuse Cloud</label>
                <p class="mb-6 mt-6">
                    Our managed hosted solution, maintained and supported by the FlowFuse team. Experience flexibility, scalability, and expert assistance to drive your business forward.
                </p>
            </div>
            <div class="flex flex-col items-center">
                {{ ctaSignUp(site, 'primary', 'secondary', extraClass='align-baseline w-full') }}
            </div>
        </div>
    </div>
</div>