<div class="bg-indigo-50 py-1 px-4 rounded-md w-full mx-auto text-center mt-12">
    <p>Looking for help with your project? <a href="/contact-us/">Contact us</a>; our experts will be happy to provide a solution for your needs.  </p>
</div>