{% set nodeName = node | coreNodeName %}
{% set templateFile = "src/_includes/core-nodes/" + nodeName + "-use-case.md" %}
<h1>{{ nodeName | title }}</h1>

{% if templateFile | templateExists %}
  {% renderFile templateFile %}
{% endif %}

<h2>Node Documentation</h2>

{% coreNodeDoc coreNodeCategory, node %}