{% set nodeName = node | coreNodeName %}
<h1>{{ nodeName | title }}</h1>

{% include "core-nodes/" + nodeName + "-use-case.html" ignore missing %}

<h2>Node Documentation</h2>

{% coreNodeDoc coreNodeCategory, node %}