{% set templateFile = "src/_includes/core-nodes/" + (node.name | lower | replace(" ", "-")) + "-use-case.md" %}
<h1>{{ node.name }}</h1>

{% if templateFile | templateExists %}
  {% renderFile templateFile %}
{% endif %}

<h2>Node Documentation</h2>

{% coreNodeDoc coreNodeCategory, node %}