<div class="rounded-xl px-9 py-12 flex flex-col items-center gap-8 text-center" style="background: radial-gradient(ellipse 50% 150% at 50% 100%, #6366f1, #211c64)">
    <p class="text-white text-5xl font-medium m-0">{{ cta.title }}</p>
    <p class="text-indigo-50 font-light text-xl max-w-2xl m-0">{{ cta.description }}</p>
    <a class="ff-btn ff-btn--highlight" href="{{ cta.buttonLink }}" onclick="capture('cta-book-demo', {'position': '{{ cta.position }}'})">{{ cta.buttonText }}</a>
</div>
