<div>
  {% if cta_text and cta_text != "" %}
    {{ cta_text }}
  {% else %}
    Optimize your factory operations with FlowFuse. Effortlessly manage, deploy, scale, and secure your Node-RED instances.
  {% endif %}

  {% assign link_text = '' %}
  {% assign link_url = cta_url | default: '#' %} <!-- Defaulting to '#' if cta_url is not defined -->

  {% if cta_type == "contact" %}
    {% assign link_text = "Talk to Us Now" %}
  {% elsif cta_type == "demo" %}
    {% assign link_text = "Let’s Walk You Through It – Book a Demo Today" %}
  {% else %}
    {% assign link_text = "Sign Up for FlowFuse Now to Get Started" %}
  {% endif %}

  <a href="{{ link_url }}">
    {{ link_text }}
  </a>
</div>
