<div class="m-auto w-full text-center sm:text-left mb-2">
    <h2 class="font-bold"><span class="text-red-600">Get Started</span> with FlowFuse</h2>
    <p class="-mt-1">Explore our <a href="/pricing/">pricing</a></p>
</div>
<div class="w-full sm:grid sm:grid-cols-2 gap-6 sm:gap-8">
        <div class="w-full mt-4 md:mt-0 flex flex-col justify-between">
        <div>
            <div class="flex justify-center sm:justify-start mt-3 mb-2 max-sm:mx-auto md:mx-0 w-6 h-6">
                {% include "components/icons/cloud.svg" %}
            </div>
            <h4 class="flex justify-center sm:justify-start font-semibold">FlowFuse Cloud</h4>
            <p class="font-light mt-6">Our managed hosted solution, maintained and supported by the FlowFuse team. Experience flexibility, scalability, and expert assistance to drive your business forward.</p>
        </div>
        <a class="mt-4 ff-btn ff-btn--highlight uppercase inline-block self-center sm:self-start"
            href="{{ site.appURL }}/account/create"
            onclick="capture('cta-try-it-now', {'position': 'secondary'})">Try it out</a>
    </div>
    <div class="w-full mt-4 md:mt-0 flex flex-col justify-between">
        <div>
            <div class="flex justify-center sm:justify-start mt-3 mb-2 max-sm:mx-auto md:mx-0 w-6 h-6">
                {% include "components/icons/building-office-2.svg" %}
            </div>
            <h4 class="flex justify-center sm:justify-start font-semibold">On Premise</h4>
            <p class="font-light mt-6">Deploy FlowFuse on your hardware for enhanced flexibility. Opt for self-hosted deployment with FlowFuse, enabling on-premises installation and full control over your deployment process.</p>
        </div>
        <a class="mt-4 mb-6 sm:mb-0 ff-btn ff-btn--primary uppercase inline-block self-center sm:self-start"
            href="/pricing/?hosting=self-hosted#trial-license" onclick="capture('cta-trial-license', {'position': 'secondary'})">REQUEST A TRIAL LICENSE
        </a>
    </div>
</div>