{% set blueprintIds = ["KoV08ENaBx", "e85N3lmyX6", "x5pLEb06ed"] %}
{%- for item in collections.blueprints | reverse -%}
    {% if item.data.blueprintId in blueprintIds %}
    <li class="flex flex-col h-full">
        <div class="mb-2">
            {%- for tag in item.data.tags -%}
            {% if tag !== "blueprints" %}
            <label class="text-gray-700 text-xs font-light rounded-sm bg-indigo-50 py-1.5 px-2 inline-block w-auto">{{ tag | replace('-', ' ') | replace('20', '2.0') | title }}</label>
            {% endif %}
            {%- endfor %}
        </div>
        <div class="grid bg-indigo-50 ff-image-cover blueprint rounded-lg border drop-shadow-md hover:drop-shadow-lg grow pb-4">
            <a href="{{ item.url }}" class="w-full flex flex-col group hover:no-underline">
                <div class="transition-transform group-hover:scale-105 ff-image-cover aspect-video border-b">
                    {% tileImage item, "./images/og-blog.jpg", null, "Image with logo and the slogan: Elevate Node-RED with Flowfuse", 340 %}
                </div>
                <div class="pt-4 my-auto">
                    <h5 class="my-auto group-hover:underline px-4 font-medium text-lg leading-6">{{ item.data.title }}</h5>
                </div>
            </a>
        </div>
    </li>
    {% endif %}
{%- endfor -%}