<ul>
  {% for item in collections.all %}
    {% if item.data.eleventyNavigation.parent == eleventyNavigation.key %}
      <li><a href="{{ item.url }}">{{ item.data.meta.title }}</a>: {{ item.data.meta.description }}</li>
    {% endif %}
  {% endfor %}
</ul>
