{% for item in collections.all %}
  {% if item.data.eleventyNavigation.parent == eleventyNavigation.key  %}
    - [{{ item.data.meta.title }}]({{ item.url }}): {{ item.data.meta.description }}
  {% endif %}
{% endfor %}