<script>
    function scrollToAnchor(event, anchorId) {
        event.preventDefault();
        const anchor = document.getElementById(anchorId);
        if (anchor) {
            anchor.scrollIntoView({ behavior: 'smooth' });
        }
    }
</script>