<ul class="opacity-70">
    <li class="w-[46px] sm:w-[62px]">{% image "./images/home-logos/arduino-logo.png", "Arduino logo", [62] %}</li>
    <li class="w-[113px] sm:w-[131px] mix-blend-luminosity saturate-0 opacity-80">{% image "./images/home-logos/walter-logo.svg", "Walter Tools logo", [131] %}</li>
    <li class="w-[113px] sm:w-[131px]">{% image "./images/home-logos/bosch-logo.png", "Bosch logo", [131] %}</li>
    <li class="w-[46px] sm:w-[62px] mix-blend-luminosity saturate-0 opacity-80">{% image "./images/home-logos/sky-logo.svg", "Sky logo", [131] %}</li>
    <li class="w-[72px] sm:w-[80px]">{% image "./images/home-logos/airship-logo.png", "Airship logo", [80] %}</li>
    <li class="w-[81px] sm:w-[90px]">{% image "./images/home-logos/enexis-logo.png", "Enexis logo", [90] %}</li>
</ul>
