<ul class="flex flex-row justify-center md:justify-between flex-wrap md:flex-nowrap gap-[8%] md:gap-[5%] w-full items-center -mb-6 md:mb-0">
    <li class="w-[46px] sm:w-[62px] pb-3 sm:pb-6 md:pb-0 shrink sm:shrink-0">{% image "./images/home-logos/arduino-logo.png", "Arduino logo", [62] %}</li>
    <li class="w-[135px] sm:w-[156px] pb-3 sm:pb-6 md:pb-0 shrink sm:shrink-0">{% image "./images/home-logos/leclanche-logo.png", "Leclanché logo", [156] %}</li>
    <li class="w-[72px] sm:w-[80px] pb-3 sm:pb-6 md:pb-0 shrink sm:shrink-0">{% image "./images/home-logos/airship-logo.png", "Airship logo", [80] %}</li>
    <li class="w-[113px] sm:w-[131px] pb-3 sm:pb-6 md:pb-0 shrink sm:shrink-0">{% image "./images/home-logos/bosch-logo.png", "Bosch logo", [131] %}</li>
    <li class="w-[55px] sm:w-[60px] pb-3 sm:pb-6 md:pb-0 shrink sm:shrink-0">{% image "./images/home-logos/heatweb-logo.png", "Heatweb logo", [60] %}</li>
    <li class="w-[81px] sm:w-[90px] pb-3 sm:pb-6 md:pb-0 shrink sm:shrink-0">{% image "./images/home-logos/enexis-logo.png", "Enexis logo", [90] %}</li>
    <li class="w-[123px] sm:w-[140px] pb-3 sm:pb-6 md:pb-0 shrink sm:shrink-0">{% image "./images/home-logos/iniationware-logo.png", "Iniationware logo", [140] %}</li>
</ul>
