<ul class="w-full max-w-md md:max-w-none mx-auto flex flex-col md:grid md:grid-cols-3 gap-3 md:gap-x-4 pt-8">
    {% from "stories/customer-story.njk" import storyTile %}
    
    {%- for item in collections.stories | sort(attribute='item.date') | reverse | limit(3) -%}
    {{ storyTile(title=item.data.title, url=item.url, brand=item.data.story.brand, logo=item.data.logo, image=item.data.image) }}
    {%- endfor -%}
</ul>