<div class="flex flex-col flex-wrap content-center justify-center p-6 max-w-md sm:max-w-screen-lg max-w-5xl mx-auto border-2 border-indigo-200 rounded-xl bg-white hover:drop-shadow-lg hover:border-blue-600 hover:border-2 transition ease-in-out duration-300">
  {%- for t in testimonials -%}
  <a href="{{ t.url }}" class="testimonial active sm:text-left hover:no-underline sm:min-h-[284]" id="{{ t.id }}">
    <div class="m-auto max-w-screen-lg">
      <div id="container" class="max-w-none mx-auto flex flex-col sm:grid justify-center items-center" style="grid-template-columns: 35% auto;">
        <div class="w-full h-full aspect-[331/239] ff-image-cover scale rounded-md mb-4 sm:mb-0">
          {% set imageSrc = t.imageFile %}
          {% set imageDescription = ["Image depicting", t.imageAlt] | join %}
          {% image imageSrc, imageDescription, [360] %}
        </div>
        <div class="items-end justify-between sm:pl-12 flex-1 flex flex-col h-full w-full justify-items-end">
          <span class="text-right pb-5 flex gap-1 hover:underline">Read the full story {% include "components/icons/arrow-long-right.svg" %}</span>
          <p class="font-normal italic text-2xl">
            "{{ t.quote }}"
          </p>
          <p class="text-lg mt-4 flex flex-row gap-3 text-right items-center self-end mb-0 mr-0 ">
            <span>{{ t.author }}, <span class="font-medium">{{ t.company }}</span></span>
            <span class="w-16 h-16 min-w-16 rounded-full mx-1 bg-black p-1">
              {% set imageSrc = t.companyLogo %}
              {% set imageDescription = [ t.company, "logo"] | join %}
              {% image imageSrc, imageDescription, [56] %}
            </span>
          </p>
        </div>
      </div>
    </div>
  </a>
  {%- endfor -%}
</div>
<div class="flex flex-wrap flex-row gap-3 justify-center my-6">
  {%- for t in testimonials -%}
  <button class="testimonial-button align-baseline max-md:p-2">
    <span></span>
  </button>
  {%- endfor -%}
</div>

<script>
  const testimonialButtons = document.querySelectorAll('.testimonial-button');
  const testimonials = document.querySelectorAll('.testimonial');
  let currentIndex = 0;
  let autoPlayInterval;

  function activateSection(index) {
    // Hide all sections
    testimonials.forEach(testimonial => {
      testimonial.classList.remove('active');
    });

    // Show the selected section
    testimonials[index].classList.add('active');

    testimonialButtons.forEach((button, i) => {
      if (i === index) {
        button.classList.add('active');
      } else {
        button.classList.remove('active');
      }
    });
  }

  function startAutoPlay() {
    autoPlayInterval = setInterval(() => {
      currentIndex = (currentIndex + 1) % testimonials.length;
      activateSection(currentIndex);
    }, 10000); // Auto play every 10 seconds
  }

  function stopAutoPlay() {
    clearInterval(autoPlayInterval);
  }

  testimonialButtons.forEach((button, index) => {
    button.addEventListener('click', () => {
      activateSection(index);
      currentIndex = index;
      stopAutoPlay();
    });
  });

  activateSection(currentIndex);
  startAutoPlay();
</script>