<div class="flex flex-wrap justify-center mt-12 md:mt-20">
    <div class="company-value">
        {% image "./images/pictograms/results.png", "Icon representing Results, Not Hours", [128] %} 
        <h5>Results</h5>
    </div>
    <div class="company-value">
        {% image "./images/pictograms/iteration.png", "Icon representing Apply Optimism", [128] %} 
        <h5>Iterative Improvement</h5>
    </div>
    <div class="company-value">
        {% image "./images/pictograms/community.png", "Icon representing Community-First", [128] %}
        <h5>Collaborative Community</h5>
    </div>
    <div class="company-value">
        {% image "./images/pictograms/candor.png", "Icon representing Use Candor", [128] %}
        <h5>Constructive Candor</h5>
    </div>
    <div class="company-value">
        {% image "./images/pictograms/trusting.png", "Icon representing Bias for Action", [128] %}
        <h5>Customer Empathy</h5>
    </div>
</div>