<div class="flex flex-wrap justify-center mt-12 md:mt-20">
    <div class="company-value">
        {% image "./images/pictograms/results_blue.png", "Icon representing Results", [128] %}
        <h3>Results</h3>
    </div>
    <div class="company-value">
        {% image "./images/pictograms/iteration_blue.png", "Icon representing Iterative Improvement", [128] %}
        <h3>Iterative Improvement</h3>
    </div>
    <div class="company-value">
        {% image "./images/pictograms/community_blue.png", "Icon representing Collaborative Community", [128] %}
        <h3>Collaborative Community</h3>
    </div>
    <div class="company-value">
        {% image "./images/pictograms/candor_blue.png", "Icon representing Constructive Candor", [128] %}
        <h3>Constructive Candor</h3>
    </div>
    <div class="company-value">
        {% image "./images/pictograms/trusting_blue.png", "Icon representing Customer Empathy", [128] %}
        <h3>Customer Empathy</h3>
    </div>
</div>
