<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 982 70">
  <path stroke="#E5E7EB" stroke-width="4" d="M0 35h982m-773 0c115 0 88-27 188-27m99 27c115 0 88-27 188-27"/>
  <rect width="12" height="12" x="391" y="2" fill="#fff" stroke="#E5E7EB" stroke-width="4" rx="2"/>
  <rect width="12" height="12" x="678" y="2" fill="#fff" stroke="#E5E7EB" stroke-width="4" rx="2"/>
  <path stroke="#E5E7EB" stroke-width="4" d="M377 35c115 0 88 27 188 27"/>
  <rect width="12" height="12" x="2" y="-2" fill="#fff" stroke="#E5E7EB" stroke-width="4" rx="2" transform="matrix(1 0 0 -1 557 66)"/>
</svg>
