{% set hasExpireDate = false %}
{% set hasContent = false %}

{% for ad in docs_banner %}
    {% if ad.expire %}
        {% if ad.expire | isFutureDate %}
            {% set hasExpireDate = true %}
        {% endif %}
    {% else %}
        {% set hasContent = true %}
    {% endif %}
{% endfor %}

{% if hasExpireDate or hasContent %}
<div class="w-full bg-indigo-50 border-indigo-300 border-2 rounded-lg max-lg:hidden p-3">
    {% set ad = docs_banner[0] %}
        {% if ad.expire and ad.expire | isFutureDate or not ad.expire %}
            <a href="{{ ad.link }}" class="text-sm justify-center hover:no-underline">
                {% if ad.type %}
                    <span class="font-medium text-white px-2 py-1 bg-red-600 rounded-sm">{{ ad.type }}</span>
                {% endif %}
                {% if ad.title %}
                <h3 class="font-semibold text-2xl mb-2{% if ad.type %} mt-4{% endif %}">{{ ad.title }}</h3>
                {% endif %}
                {% if ad.eventTime %}
                    <div class="text-md text-gray-500 mb-3">
                        {{ ad.eventTime }}
                    </div>
                {% endif %}
                {% if ad.secondaryText %}
                    <div class="text-lg text-gray-500 mb-3">
                        {{ ad.secondaryText }}
                    </div>
                {% endif %}
                {% if ad.buttonText %}
                    <span class="ff-btn ff-btn--primary uppercase">
                        {{ ad.buttonText }}
                    </span>
                {% endif %}
            </a>
        {% endif %}
</div>
{% endif %}