<script>

</script>

<a data-action="event-banner" href="/webinars/2023/industrial-data-node-red/"
    class="text-center w-full py-4 bg-gray-900 text-white text-sm flex gap-2 justify-center hover:bg-blue-900">
    <span class="text-teal-300 font-medium">Join our Next Webinar</span>
    <span>-</span>
    <span>
         Connect, Integrate & Visualize Industrial Production Metrics with Node-RED
    </span>
    <span>-</span>
    <span class="flex items-center gap-1 font-medium underline hover:text-teal-300 hover:stroke-teal-300" >
        Register Today {% include "components/icons/chevron-right-sm.svg" %}
    </span>
</a>