<script>
</script>

<a data-action="event-banner" href="/webinars/2023/blueprints/"
    class="hidden md:flex text-center w-full py-1 pb-2 sm:py-4 bg-gray-900 text-white text-sm px-2 gap-1 sm:gap-2 flex-col sm:flex-row items-center justify-center hover:bg-blue-900">
    <span class="hidden sm:block text-teal-300 font-medium">Join our Webinar</span>
    <span class="hidden sm:block">-</span>
    <span>     
        FlowFuse Blueprints: Your Pathway to Enhanced Manufacturing
    </span>
    <span class="hidden sm:block">-</span>
    <span class="flex items-center gap-1 font-medium underline hover:text-teal-300 hover:stroke-teal-300" >
        Register Today {% include "components/icons/chevron-right-sm.svg" %}
    </span>
</a>