<script>
</script>

<a data-action="event-banner" href="/ebooks/beginner-guide-to-a-professional-nodered"
    class="hidden md:flex text-center w-full py-1 pb-3 sm:py-3 bg-indigo-700 text-indigo-100 text-sm px-2 gap-1 sm:gap-2 flex-col sm:flex-row items-center justify-center hover:bg-indigo-600">
    <span class="hidden sm:block font-semibold"></span>
    <span class="hidden sm:block"></span>
    <span class="">     
        Download the Ultimate Beginner Guide to a Professional Node-RED
    </span>
    <span class="hidden sm:block">-</span>
    <span class="flex items-center gap-1 font-medium underline" >
        Free Download {% include "components/icons/chevron-right-sm.svg" %}
    </span>
</a>
