# Please note the _last matching rule_ is used

# Start with a catch all for the handbook
/src/handbook/ @ZJvandeWeg
/src/handbook/design @Yndira-E
/src/handbook/development @knolleary
/src/handbook/marketing @PabloFilomeno83
/src/handbook/sales @MichaelBDavis

# Customer department
/src/handbook/customer-success.md @Esmewieringa

# Security Polices
/src/handbook/company/security/information-security.md @ZJvandeWeg
/src/handbook/company/security/access-control.md @knolleary
/src/handbook/company/security/data-management.md @ZJvandeWeg
/src/handbook/company/security/secure-development.md @knolleary

# Change in values need sign off from both the CEO and CTO
/src/handbook/company/values.md @knolleary @ZJvandeWeg


# Package-lock.json (engineering team)
/package-lock.json @FlowFuse/engineering  @Yndira-E
