# Please note the _last matching rule_ is used

# Start with a catch all for the handbook
/nuxt/content/handbook/ @ZJvandeWeg
/nuxt/content/handbook/design @Yndira-E
/nuxt/content/handbook/development @knolleary
/nuxt/content/handbook/marketing @FlowFuse/marketing
/nuxt/content/handbook/sales @MichaelBDavis

# Customer department
/nuxt/content/handbook/customer-success.md @Esmewieringa

# Security Polices
/nuxt/content/handbook/company/security/information-security.md @ZJvandeWeg
/nuxt/content/handbook/company/security/access-control.md @knolleary
/nuxt/content/handbook/company/security/data-management.md @ZJvandeWeg
/nuxt/content/handbook/company/security/secure-development.md @knolleary

# Change in values need sign off from both the CEO and CTO
/nuxt/content/handbook/company/values.md @knolleary @ZJvandeWeg

# Package-lock.json (engineering team)
/package-lock.json @FlowFuse/engineering  @Yndira-E

# Changelog posts (tech writer required, product as backup)
/nuxt/content/handbook/engineering/releases/writing-changelog.md @FlowFuse/marketing  @FlowFuse/product @FlowFuse/engineering
