[[headers]]
  for = "/og-image"
  [headers.values]
    Cache-Control = "public, max-age=604800, immutable"
    Access-Control-Allow-Origin = "*"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    Content-Security-Policy = "frame-ancestors 'none';"

[[redirects]]
from = "http://flowforge.com/*"
to = "http://flowfuse.com/:splat"
status = 301
force = true

[[redirects]]
from = "https://flowforge.com/*"
to = "https://flowfuse.com/:splat"
status = 301
force = true

[[redirects]]
from = "http://www.flowforge.com/*"
to = "http://flowfuse.com/:splat"
status = 301
force = true

[[redirects]]
from = "https://www.flowforge.com/*"
to = "https://flowfuse.com/:splat"
status = 301
force = true

[[redirects]]
from = "http://flowfuze.com/*"
to = "http://flowfuse.com/:splat"
status = 301
force = true

[[redirects]]
from = "https://flowfuze.com/*"
to = "https://flowfuse.com/:splat"
status = 301
force = true

[[redirects]]
from = "http://www.flowfuze.com/*"
to = "http://flowfuse.com/:splat"
status = 301
force = true

[[redirects]]
from = "https://www.flowfuze.com/*"
to = "https://flowfuse.com/:splat"
status = 301
force = true

[[redirects]]
from = "https://flowfuse.io/*"
to = "https://flowfuse.com/:splat"
status = 301
force = true

[dev]
port = 8080
framework = "#static"
command = "npx @11ty/eleventy --quiet --watch"
autoLaunch = false

[build]
command = "npm run build:indexed"
publish = "_site"

[context.deploy-preview]
command = "npm run build"

[context.branch-deploy]
command = "npm run build"

[[plugins]]
package = "netlify-plugin-cache"
  [plugins.inputs]
  paths = [
    "_site/img", # Eleventy Image Disk Cache
    ".cache/images" # Eleventy image processing cache
  ]
