---
title: Node-RED Production ready with ctrlX
align: center
layout: layouts/page.njk
sitemapPriority: 0.6
meta:
    description: FlowForge and ctrlX
---

<head>
    <style>
        .custom-mt {
            margin-top: -70px;
        }
    </style>
</head>
<div class="px-6 pricing-tiles flex flex-col md:grid mb-16 md:max-w-screen-lg">
    <div class="pricing-tile pt-4 pb-6 px-8">
        <div class="flex flex-col justify-between items-center mb-4 sm:px-4 md:flex-row md:-mb-0 md:px-0 md:block">
            <h4>Community Support</h4>
            <div class="mt-4">
                <h2>$0</h2>
                <label class="sub-label">Included<label></div>
                    <p class="mt-4">Need guidance on Node-RED? Seek support for your issues in the Community Forum, offering a plethora of
                        resolutions.</p>
                    <a class="ff-btn ff-btn--secondary uppercase" href="https://discourse.nodered.org/">Community Forum</a>
                </div>
            </div>
            <div class="pricing-tile pt-4 pb-6 px-8">
                <div class="flex flex-col justify-between items-center mb-4 sm:px-4 md:flex-row md:-mb-0 md:px-0 md:block">
                    <h4>Professional Support</h4>
                    <div>
                        <h2>$15</h2>
                        <label class="sub-label">per Node-RED instance/month</label>
                    </div>
                </div>
                <div class="flex flex-col sm:flex-row items-center gap-4 mt-4">
                    <div class="sm:w-6/12">
                        <h5>FlowForge
                        </h5>
                        <p class="mt-2">Experience seamless device management with FlowForge and Node-RED support.</p>
                        <a
                            class="ff-btn ff-btn--primary uppercase"
                            href="https://app.flowforge.com/account/create"
                            onclick="capture('cta-join', {'position': 'primary'})">Free Trial</a>
                    </div>
                    <span style="width: 2px; background-color: gray; height: 75%"></span>
                    <div class="sm:w-6/12">
                        <h5>Support Package</h5>
                        <p class="mt-2">Premium support, highly recommended if Node-RED is used in a production environment.</p>
                        <a class='ff-btn ff-btn--secondary uppercase' href='/contact-us'>Get Support Package</a>
                    </div>
                </div>
            </div>
        </div>
        {% include "components/divider-flow--default.njk" %}
        <div class="product w-full ff-bg-light px-6 pt-20 pb-20 md:px-0 md:pt-32 md:pb-42">
            <div class="flex justify-center">
                {% image "./images/partners/ctrlX-logo.png", "ctrlX Logo", [288] %}
            </div>
            <div class="container m-auto text-center mb-32 custom-mt">
                <div class="mt-32 content max-w-screen-lg m-auto">
                    <h2 class="mb-20 m-auto">When to consider professional support<br>or using FlowForge?</h2>
                        <div class="grid px-6 grid-cols-1 md:grid-cols-2 gap-8 sm:gap-16 mb-16">
                            <div class="text-left self-start">
                                <h3>You use Node-RED for
                                    <span class="text-red-600">commercial projects</span>
                                </h3>
                                <p>
                                    When using Node-RED for commercial projects, it's essential to have a reliable and stable system that operates smoothly
                                    and efficiently. Get prompt fixes for major bugs when available, enhancing stability and reliability.
                                </p>
                            </div>
                            <div class="text-left self-start">
                                <h3>You are running Node-RED
                                    <span class="text-red-600">productively</span>
                                </h3>
                                <p>
                                    You need to immediately know if Node-RED encounters a critical bug that can negatively impact your production
                                    performance or security so that you are aware of the problem and can prepare for a fix right away.
                                </p>
                            </div>
                            <div class="text-left self-start">
                                <h3>Handling urgent
                                    <span class="text-red-600">issues effectively</span>
                                </h3>
                                <p>
                                    For urgent issues, professional support from FlowForge ensures timely resolution and expert guidance.
                                </p>
                            </div>
                            <div class="text-left self-start">
                                <h3>Adhering to
                                    <span class="text-red-600">industry standards</span>
                                </h3>
                                <p>
                                    Maintain direct contact with the team behind Node-RED and follow best practices to uphold high-quality solutions.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container m-auto text-center mb-32">
                    <h2 class="mb-4 m-auto">ctrlX Professional Support Requests</h2>
                </div>
                <div class="container m-auto text-left max-w-4xl pb-24">
                    <div class="flex justify-between items-center mb-4 md:px-4 md:-mb-0 md:px-0 md:block">
                        <div class="ff-bg-light product px-4 pb-24 pt-4 md:pt-12 md:p-12 md:grid grid-cols-2">
                            <div class="hidden md:w-72 md:m-auto md:block md:mt-0">
                                {% image "./images/pictograms/browser_red.png", "Graphic of a globe, depicting 'Connectivity'.", [288] %}
                            </div>
                            <script src="https://www.google.com/recaptcha/api.js"></script>
                            <script>
                                function displayHubSpotForm() {
                                    hbspt.forms.create({region: "eu1", portalId: "26586079", formId: "74ffcab1-a984-459a-871f-5751b8d69ac2"});
                                }
                            </script>
                            <script
                                async="async"
                                type="text/javascript"
                                charset="utf-8"
                                src="//js-eu1.hsforms.net/forms/embed/v2.js"
                                onload="displayHubSpotForm()"></script>
                        </div>
                    </div>
                </div>
            </div>
            {% include "components/divider-flow--top-red--dark.njk" %}
            <div class="w-full ff-bg-dark px-6 pt-0 pb-32 md:pt-12 md:px-0">
                <div class="page container pt-6 pd-6 sm:pb-12 px-3 md:px-12 md:max-w-screen-lg m-auto text-center max-w-screen-lg">
                    <div class="hero">
                        <h1 style="color: white" class="mb-6 m-auto">FlowForge Adds DevOps<br>to Node-RED for Manufacturing</h1>
                            <p class="mt-0">
                                FlowForge helps companies to reliably deliver Node-RED applications in a continuous, collaborative and secure manner. We
                                introduce to Node-RED many of the devops concepts that are well understood in IT organizations.
                            </p>
                        </div>
                    </div>
                    <div class="page mt-6 content max-w-screen-lg m-auto">
                        <div class="text-left self-start flex gap-8 items-center mb-12">
                            <div class="flex flex-col sm:flex-row gap-8 max-w-screen-lg sm:pr-24 md:pr-48">
                                <div class="w-32 sm:w-48 flex-shrink-0">
                                    {% image "./images/pictograms/edge.png", "", [128] %}
                                </div>
                                <div>
                                    <h4>Efficient Fleet Management & Monitoring</h4>
                                    <div>
                                        <p>
                                            Many manufacturing companies will use Node-RED to monitor equipment in their factory or fleets of devices in remote
                                            locations.
                                        </p>
                                        <p>
                                            FlowForge automates the process of remote deployment of a Node-RED instance. It can automatically deploy a new version
                                            of a Node-RED flow or even roll-back to a previous snapshot.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-left sm:text-right self-start flex flex-row-reverse gap-8 items-center mb-12">
                            <div class="flex flex-col sm:flex-row-reverse gap-8 max-w-screen-lg sm:pl-24 md:pl-48">
                                <div class="w-32 sm:w-48 flex-shrink-0">
                                    {% image "./images/pictograms/community.png", "", [128] %}
                                </div>
                                <div>
                                    <h4>Collaborative Node-RED Development</h4>
                                    <div>
                                        <p>
                                            FlowForge makes it possible for teams to collaborate on the same Node-RED flows. Team members can now share the same
                                            Node-RED instances to make for quicker and more efficient development of your Node-RED application.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-left self-start flex gap-8 items-center mb-12">
                            <div class="flex flex-col sm:flex-row gap-8 max-w-screen-lg sm:pr-24 md:pr-48">
                                <div class="w-32 sm:w-48 flex-shrink-0">
                                    {% image "./images/pictograms/bias_for_action.png", "", [128] %}
                                </div>
                                <div>
                                    <h4>Streamlined Application Delivery</h4>
                                    <div>
                                        <p>
                                            With FlowForge, you can set up DevOps delivery pipelines to support development, testing, and production environments. A
                                            key to ensuring your Node-RED application delivery is reliable, secure and high quality.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-left sm:text-right self-start flex flex-row-reverse gap-8 items-center mb-12">
                            <div class="flex flex-col sm:flex-row-reverse gap-8 max-w-screen-lg sm:pl-24 md:pl-48">
                                <div class="w-32 sm:w-48 flex-shrink-0">
                                    {% image "./images/pictograms/ticket.png", "", [128] %}
                                </div>
                                <div>
                                    <h4>Professional Support for Node-RED</h4>
                                    <div>
                                        <p>
                                            FlowForge offers professional support for Node-RED deployments. Our experts are available to support both your Node-RED and FlowForge deployments.
                                        </p>
                                        <p>
                                            The FlowForge platform keeps your systems up-to-date with the latest versions of Node-RED and security updates, ensuring
                                            the continuity of your operations.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-20 content max-w-screen-lg m-auto text-center border-2 rounded-lg py-6 px-20 bg-gray-600 bg-opacity-50
                            border-gray-500">
                        <p class="text-2xl leading-10 mt-0 mb-9">
                            Contact us to discover how FlowForge can help<br>
                                <span class="text-teal-200">Connect, Integrate, Visualize & Automate</span>
                                your industrial data
                            </p>
                            <div>
                                <a href="/contact-us" class="inline-block ff-btn ff-btn--secondary m-auto">GET IN TOUCH</a>
                            </div>
                        </div>