---
layout: layouts/page.njk
title: FlowFuse Partners
meta:
    keywords: FlowFuse Partners, Node-RED System Integrator
description: FlowFuse partners with leading cloud, hardware, technology and consulting companies to provide a complete solution that allows our customers to deliver results using Node-RED and FlowFuse.
sections:
    - title: <span class="text-indigo-600">Cloud</span> Providers
      description: FlowFuse is available for deployment from the marketplace of the following Cloud providers.
      partners:
        - name: Amazon Web Services
          logo: /images/partners/logo-aws.png
          url: https://aws.amazon.com/marketplace/pp/prodview-3ycrknfg67rug
        - name: Digital Ocean
          logo: /images/partners/logo-digital-o.png
          url: https://marketplace.digitalocean.com/apps/flowforge
    - title: <span class="text-indigo-600">Hardware</span> Partners
      description: FlowFuse partners with key industry hardware partners to provide an integrated experience using Node-RED and FlowFuse.
      ctaText: CERTIFY YOUR HARDWARE
      ctaUrl: /partners/certify-hardware/
      partners:
        - name: Bosch Rexroth
          logo: /images/partners/logo-rexroth.png
          url: /partners/ctrlx/
        - name: NCD.io
          logo: /images/partners/logo-ncd-io.png
          url: https://ncd.io/
    - title: <span class="text-indigo-600">Solutions</span> Partners
      subtitle: Build and Deploy Enterprise-Ready Solutions
      description: "Our Solutions Partners—trusted resellers and system integrators—help you design, implement, and manage production-ready applications with Node-RED and FlowFuse. They provide:"
      ctaText: APPLY NOW
      ctaUrl: /partners/referral-sign-up/
      bullet_points:
        - Expertise in enterprise industrial IoT, SCADA, MES, and UNS
        - Specialized, local support and services
        - Seamless integration with industry-specific tools
        - Scalable solutions tailored to your business needs
      partners:
        - name: Gallarus
          logo: /images/partners/logo-gallarus.png
          url: https://gis.ie/
        - name: Idoneos
          logo: /images/partners/logo-idoneos.png
          url: https://idoneos.com/
        - name: Iniationware
          logo: /images/partners/logo-iniationware.png
          url: https://iniationware.eu/
        - name: 4.0 Hero
          logo: /images/partners/logo-40hero.png
          url: https://40hero.com/
        - name: Mayker
          logo: /images/partners/logo-mayker.png
          url: https://mayker.eu/
---
<div class="partners container w-full flex flex-col gap-4">
    {% for section in sections %}
    <div class="max-w-screen-lg px-6 m-auto py-10">
        <h3 class="m-auto max-sm:text-center w-full">{{ section.title | safe }}</h3>
        {% if section.subtitle %}
            <h4 class="m-auto max-sm:text-center w-full text-sm">{{ section.subtitle | safe }}</h4>
        {% endif %}
        <div class="flex flex-col py-8">
            <div class="flex flex-col md:flex-row md:gap-10 gap-6">
                <div class="md:w-[65%] w-full prose ff-prose">
                    <p>{{ section.description | safe }}</p>
                    {% if section.bullet_points %}
                        <ul class="">
                        {% for point in section.bullet_points %}
                            <li>{{ point | safe }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <ul class="partner-logo md:w-[35%] flex flex-row justify-center md:justify-end w-full items-center gap-10">
                    {% for partner in section.partners %}
                    <li class="w-[150px] pb-6 md:pb-0 hover:transition-opacity hover:opacity-75 transition ease-in duration-300">
                        {% set imgSrc= [ "../", partner.logo ] | join %}
                        <a href="{{ partner.url }}" target="_blank">{% image imgSrc, [ partner.name, "logo" ] | join , [150] %}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% if section.ctaText and section.ctaUrl %}
            <div class="max-sm:mx-auto mt-6 pt-6 md:pt-0">
                <a href="{{ section.ctaUrl }}" class="text-center inline-block ff-btn ff-btn--primary uppercase">
                    <span>{{ section.ctaText }}</span>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>