---
layout: layouts/page.njk
title: FlowFuse Partners
meta:
    keywords: FlowFuse Partners, Node-RED System Integrator
description: FlowFuse partners with leading cloud, hardware, technology and consulting companies to provide a complete solution that allows our customers to deliver results using Node-RED and FlowFuse.
cloud:
    title: <span class="text-indigo-600">Cloud</span> Providers
    description: FlowFuse is available for deployment from the marketplace of the following Cloud providers.
    partners:
        - name: Amazon Web Services
          logo: /images/partners/logo-aws.png
          url: https://aws.amazon.com/marketplace/pp/prodview-3ycrknfg67rug
        - name: Digital Ocean
          logo: /images/partners/logo-digital-o.png
          url: https://marketplace.digitalocean.com/apps/flowforge
hardware:
    title: <span class="text-indigo-600">Hardware</span> Partners
    description: FlowFuse partners with key industry hardware partners to provide an integrated experience using Node-RED and FlowFuse.
    partners:
        - name: Bosch Rexroth
          logo: /images/partners/logo-rexroth.png
          url: /partners/ctrlx/
        - name: NCD.io
          logo: /images/partners/logo-ncd-io.png
          url: https://ncd.io/
solutions:
    title: <span class="text-indigo-600">Solutions</span> Partners
    subtitle: Build and Deploy Enterprise-Ready Solutions
    description: "Our Solutions Partners—trusted resellers and system integrators—help you design, implement, and manage production-ready applications with Node-RED and FlowFuse. They provide:"
    bullet_points:
        - Expertise in enterprise industrial IoT, SCADA, MES, and UNS
        - Specialized, local support and services
        - Seamless integration with industry-specific tools
        - Scalable solutions tailored to your business needs
    partners:
        - name: Gallarus
          logo: /images/partners/logo-gallarus.png
          url: https://gis.ie/
        - name: Idoneos
          logo: /images/partners/logo-idoneos.png
          url: https://idoneos.com/
        - name: Iniationware
          logo: /images/partners/logo-iniationware.png
          url: https://iniationware.eu/
        - name: 4.0 Hero
          logo: /images/partners/logo-40hero.png
          url: https://40hero.com/
        - name: Mayker
          logo: /images/partners/logo-mayker.png
          url: https://mayker.eu/
---
<div class="bg-white w-full px-6 pt-10 md:pt-16 pb-20 md:px-0 flex flex-col gap-8 md:gap-10">
    <!-- Cloud Providers -->
    <div class="container max-w-screen-md m-auto flex flex-col gap-4">
        <h3 class="m-auto max-sm:text-center w-full"><span class="text-indigo-600">Cloud</span> Providers</h3>
        <div class="flex flex-col md:flex-row md:gap-10 gap-6">
            <p class="md:w-[65%] w-full">FlowFuse is available for deployment from the marketplace of the following Cloud providers.</p>
            <ul class="partner-logo md:w-[35%] flex flex-row justify-center md:justify-end gap-10 w-full items-center">
                <li class="w-[84px] pb-6 md:pb-0 hover:transition-opacity hover:opacity-75 transition ease-in duration-300">
                    <a href="https://aws.amazon.com/marketplace/pp/prodview-3ycrknfg67rug" target="_blank">{% image "../images/partners/logo-aws.png", "aws logo", [84] %}</a>
                </li>
                <li class="w-[92px] pb-6 md:pb-0 hover:transition-opacity hover:opacity-75 transition ease-in duration-300">
                    <a href="https://marketplace.digitalocean.com/apps/flowforge" target="_blank">{% image "../images/partners/logo-digital-o.png", "Digital Ocean logo", [92] %}</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Hardware Partners -->
    <div class="container max-w-screen-md m-auto flex flex-col gap-4">
        <h3 class="m-auto max-sm:text-center w-full"><span class="text-indigo-600">Hardware</span> Partners</h3>
        <div class="flex flex-col pb-8">
            <div class="flex flex-col md:flex-row md:gap-10 gap-6">
            <p class="md:w-[65%] w-full">FlowFuse partners with key industry hardware partners to provide an integrated experience
                using Node-RED and FlowFuse.</p>
            <ul class="partner-logo md:w-[35%] flex flex-row justify-center md:justify-end w-full items-center gap-10">
                <li class="w-[150px] pb-6 md:pb-0 hover:transition-opacity hover:opacity-75 transition ease-in duration-300">
                    <a href="/partners/ctrlx/">{% image "../images/partners/logo-rexroth.png", "Rexroth logo", [150] %}</a>
                </li>
                <li class="w-[150px] pb-6 md:pb-0 hover:transition-opacity hover:opacity-75 transition ease-in duration-300">
                    <a href="https://ncd.io/" target="_blank">{% image "../images/partners/logo-ncd-io.png", "NCD.io logo", [150] %}</a>
                </li>
            </ul>
            </div>
            <div class="max-sm:mx-auto pt-6 md:pt-0">
                <a href="/partners/certify-hardware/" class="text-center inline-block ff-btn ff-btn--primary uppercase">
                    <span>CERTIFY YOUR HARDWARE</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Solutions Partners -->
    <div class="container max-w-screen-md m-auto flex flex-col gap-4">
        <h3 class="m-auto max-sm:text-center w-full"><span class="text-indigo-600">Solutions</span> Partners</h3>
        <h4 class="m-auto max-sm:text-center w-full text-md">Build and Deploy Enterprise-Ready Solutions</h4>
        <div class="flex flex-col gap-6">
            <p class="w-full">Our Solutions Partners—trusted resellers and system integrators—help you design, implement, and manage production-ready applications with Node-RED and FlowFuse. They provide:</p>
            <ul>
                <li></li>
            </ul>
            <ul class="partner-logo flex flex-row justify-center gap-4 md:gap-10 w-full items-center">
                <li class="w-[160px] pb-6 md:pb-0">
                    <a href="https://gis.ie/">{% image "../images/partners/logo-gallarus.png", "Gallarus logo", [160] %}</a>
                </li>
                <li class="w-[98px] pb-6 md:pb-0">
                    <a href="https://idoneos.com/">{% image "../images/partners/logo-idoneos.png", "Idoneos logo", [98] %}</a>
                </li>
                <li class="w-[142px] pb-6 md:pb-0">
                    <a href="https://iniationware.eu/">{% image "../images/partners/logo-iniationware.png", "Iniationware logo", [142] %}</a>
                </li>
                <li class="w-[142px] pb-6 md:pb-0">
                    <a href="https://40hero.com/">{% image "../images/partners/logo-40hero.png", "4.0 Hero logo", [142] %}</a></li>
                <li class="w-[142px] pb-6 md:pb-0">{
                    <a href="https://mayker.eu/">% image "../images/partners/logo-mayker.png", "Mayker logo", [142] %}</a>
                </li>
            </ul>
            <div class="max-sm:mx-auto">
                <a href="/partners/referral-sign-up/" class="text-center inline-block ff-btn ff-btn--primary uppercase">
                    <span>APPLY NOW</span>
                </a>
            </div>
        </div>
    </div>
</div>