---
layout: layouts/page.njk
title: Introducing the FlowFuse Referral Program
description: "<p>Many companies are realizing the benefits of using FlowFuse for
their Node-RED development. We want to encourage them to recommend FlowFuse to
other potential users. That's why we're excited to offer a referral program that
rewards others for spreading the word about our platform.</p>"
heroimg: "../images/pictograms/anvil1.png"
sitemapPriority: 0.7
meta:
    title: Partnership program
hubspot:
  script: "hubspot/hs-form.njk"
  formId: aad1cda7-2e1f-423d-a528-05228b0c4a3f
  cta: "cta-referral-register"
  reference: "referral-sign-up"
---

<!-- Secondary Content -->
<div class="product w-full px-6 pb-20 md:px-0">
    <div class="container md:max-w-xl m-auto text-center">
        <h2 class="mb-6">Register here</h2>
        {% include hubspot.script %}
    </div>
</div> 

<div class="w-full bg-gray-50 px-6 pt-16 pb-8 md:px-0">
    <div class="container px-3 md:px-12 md:max-w-screen-lg m-auto text-center max-w-4xl">
        <div class="m-auto w-full text-center">
            <h1>Benefits of FlowFuse</h1>
        </div>
        <div class="mt-20 flex flex-wrap justify-center">
            <div class="company-value">
                {% image "./images/pictograms/time_red.png", "Graphic of a clock, depicting 'Time'.", [128] %}
                <h5>One-Minute Setup</h5>
            </div>
            <div class="company-value">
                {% image "./images/pictograms/security_red.png", "Graphic of a padlock, depicting 'Security'.", [128] %}
                <h5>Enterprise Ready</h5>
            </div>
            <div class="company-value">
                {% image "./images/pictograms/ticket_red.png", "Graphic of a ticket, depicting 'Ticket-Based Support'.", [128] %}
                <h5>Ticket-Based Support</h5>
            </div>
            <div class="company-value">
                {% image "./images/pictograms/community_red.png", "Graphic depicting 'Flexibility'.", [128] %}
                <h5>Flexible Deployment</h5>
            </div>
            <div class="company-value">
                {% image "./images/pictograms/node_catalog_red.png", "Graphic of nodes & wires, depicting 'Node-RED'.", [128] %}
                <h5>Node-RED, Managed<br>For You</h5>
            </div>
            <div class="company-value">
                {% image "./images/pictograms/browser_red.png", "Graphic of a globe, depicting FlowFuse being full browser-based.", [128] %}
                <h5>Full Browser-Based</h5>
            </div>
        </div>
    </div>
</div>
