<li class="w-full my-2 py-6 border-b flex flex-col md:flex-row">
    <a href="{{ item.url }}" class="w-full flex flex-col group hover:no-underline flex-none md:w-72 md:pr-4">
        <time class="block text-xs" value="{{ item.date }}" class="text-gray-400">{{ item.date | shortDate }}</time>
        <h3 class="mb-0 font-medium group-hover:underline">{{ item.data.title }}</h3>
        <div class="italic text-xs mb-3">
            <div class="author">
                {% set comma = joiner() %}
                {%- for author in item.data.authors %}
                {{ comma() }} {{ team[author].name }}
                {%- endfor %}
            </div>
        </div>
    </a>
    <div class="flex-grow pt-4">
        {% if item.data.tags.includes("posts") %}
        <div class="prose">
            {{ item.templateContent | excerpt | striptags(true)| restoreParagraphs | safe }}
        </div>
        <a href="{{ item.url }}" class="group-hover:underline">read more...</a>
        {% else %}
        <div class="prose">
            {{ item.content | safe }}
        </div>
        {% endif %}
    </div>
</li>