---
layout: page
nohero: true
meta:
    title: "What is Node-RED?"
    keywords: what is node-red, what is Node-RED, how does node-red works, low-code programming, visual programming, flow-based programming, node-red enterprise, node-red for production
    faq:
        - question: "What is Node-RED and how does it work?"
          answer: >
            Node-RED is a low-code programming environment that allows developers to connect a wide variety of endpoints, such as industrial PLCs, APIs, databases, enterprise applications and online services. Users of Node-RED visually drag ‘nodes’ from a palette that represent the end points and then connect them together into flows to accomplish the desired task. Node-RED applications are accessible via a web browser.
        - question: "Who uses Node-RED?"    
          answer: >
            Node-RED is popular among IoT and individuals creating DIY home automation systems. However, Node-RED is  mostly being used in professional use cases in a variety of industries. Apart from software engineers, Node-RED’s graphical approach to unlocking and effectively using data has empowered industrial engineers or non developers to apply their domain knowledge easily and accelerate projects.
        - question: "Which industrial sectors use Node-RED in production environments?"
          answer: >
            Yes, Node-RED is widely used in real-world production environments across industries like manufacturing, energy, smart buildings, and more. While Node-RED provides a powerful low-code runtime, FlowFuse makes it easier and safer to use in professional settings. Many companies are already using FlowFuse to run Node-RED in production. FlowFuse adds everything needed to manage and scale Node-RED reliably, including user access control, version control for flows, automated deployments, remote device management, and secure team collaboration. This gives organizations the confidence to build and maintain robust industrial applications using Node-RED. 
        - question: "How do I deploy Node-RED online or in the Cloud?"    
          answer: >
            <a href='https://app.flowfuse.com/account/create/'>FlowFuse Cloud</a> is a hosted Node-RED service that developers can use to access Node-RED online. This makes it much quicker to get started using Node-RED since you don't need to install it locally.
        - question: "What is Node-RED used for?"
          answer: >
            Node-RED can be used for a wide variety of use cases, including:
            <ul>
              <li>The <a href='/solutions/it-ot-middleware/'>manufacturing industry</a> uses Node-RED for collecting data from different pieces of factory equipment.</li>
              <li>Creating dashboards that visualize data and allow for event triggers to occur based on the data.</li>
              <li>Developing chatbot platforms that can collect interactions of a wide variety of social media platforms.</li>
              <li>Extract, transform and integrate data from many different sources in the enterprise.</li>
              <li>Lots of hobbyists use Node-RED for home automation.</li>
              <li>Integrating data with machine learning models</li>
            </ul>
        - question: "How much does Node-RED cost?"
          answer: >
            Node-RED is an open source project hosted at the <a href='https://openjsf.org/' target='_blank'>OpenJS Foundation</a>. It is made available under the Apache Software License so individuals can use Node-RED free of charge. Participation in the open source project is encouraged to help support the Node-RED community.
        - question: "What language is Node-RED?"
          answer: >
            Node-RED is a visual programming environment that allows you to do a lot without writing a single line of code. An important benefit of Node-RED is that it also allows for developers to write JavaScript and use the NodeJS API to extend the functionality of a node or flow.
        - question: "How can I get started using Node-RED?"
          answer: >
            FlowFuse Cloud offers the easiest way to get <a href='/blog/2023/01/getting-started-with-node-red/'>started with Node-RED</a>. After signing into FlowFuse Cloud users have immediate access to a Node-RED instance. For those who prefer to install Node-RED themselves, there are many tutorials that help people to get started with Node-RED. A recommended starting point is the Getting Started found on <a href='https://nodered.org/' target='_blank'>nodered.org</a>. Other tutorials from the community include <a href='http://stevesnoderedguide.com/installing-node-red/' target='_blank'>Steve’s Node-RED Guide</a> and <a href='https://projects.raspberrypi.org/en/projects/getting-started-with-node-red/' target="_blank">Raspberry Pi Getting Started with Node-RED.</a>
        - question: "What port number does Node-RED use?"
          answer: >
            Node-RED is accessed via port 1880. You can access the Node-RED editor running locally at http://localhost:1880 or on another computer at http://domain name:1880.
        - question: "How can I secure a Node-RED installation?"
          answer: >
            There are three aspects of Node-RED that need to be secured.
            <ol>
              <li>Node-RED is a web application so you need to enable HTTPS access to the Node-RED runtime. The default Node-RED settings include a commented out section that can be used for local certificates.</li>
              <li>The Node-RED editor and administration require authentication to access it. Node-RED supports username/password and OAuth/OpenID authentication. The adminAuth property in the setting file is used to specify the authentication credentials.</li>
              <li>Securing the HTTP Node can be done using basic authentication. This can be set using the httpNodeAuth property in the settings file.</li>
            </ol>
            You can also follow <a href='/blog/2023/04/securing-node-red-in-production/'>our guide</a> on how to secure Node-RED.
        - question: "How is Node-RED used in IoT?"
          answer: >
            Node-RED is very popular in the manufacturing and industrial automation industries (IIoT) as an edge computing solution. Often deployed on PLCs and IoT gateways, Node-RED supports collecting data from legacy and proprietary systems (Siemens S7, Modbus, OPC-UA, etc), integrating the industrial data with other data sources (weather data, enterprise data), filtering data on the edge, and then sending the data to the cloud. FlowFuse offers remote device deployment to IIoT edge devices. Node-RED is also very popular with DIY home automation enthusiasts, in particular the <a href='https://community.home-assistant.io/t/home-assistant-community-add-on-node-red/55023/' target='_blank'>Home Assistant</a> community. 
description: Node-RED is the low-code programming language of choice for industrial applications. Industrial engineers use Node-RED to collect, transform, and integrate data through visualized dashboards.
sitemapPriority: 0.8
---
<!--First two sections-->
<div class="nohero w-full">
    <!--Hero Content-->
    <div class="w-full pt-12 pb-20 md:pt-6 md:pb-12">
        <div class="flex flex-col px-6 md:my-16 items-center md:flex-row md:items-start container mx-auto text-center md:text-left md:max-w-screen-lg gap-8">
        <div class="md:my-auto md:w-1/2 max-w-md">
            <h1 class="mt-0 px-12 md:px-0 m-auto text-indigo-800">
                What is <span class="inline-block">Node-RED?</span>
            </h1>
            <p>
            <p>
                Co-created by Nick O'Leary, CTO of FlowFuse, Node-RED is <span class="font-semibold">the <span class="inline-block">low-code</span> programming language of choice for industrial applications</span>. Industrial engineers use Node-RED to collect, transform, and integrate data through visualized dashboards.
            </p>
            <p><span class="font-semibold">FlowFuse enhances Node-RED with enterprise features</span> to accelerate digitalization and optimize industrial processes.</p>
            <p class="md:mb-10">Ready to <span class="font-semibold">get started building with Node-RED</span>?</p>
            <a class="ff-btn ff-btn--primary hidden min-h-[40px] md:inline" href="{{ site.onboardingURL }}" onclick="capture('cta-try-it-now', {'position': 'nodered'})">TRY IT NOW</a>
        </div>
        <div class="max-w-md md:w-1/2 m-auto border-4 border-indigo-200 rounded-xl ff-image-cover">
            {% image "../images/pseudo-editor.png", "Node-RED pseudo UI", [500] %}
        </div>
        <a class="ff-btn ff-btn--primary flex flex-col w-full md:hidden max-w-md" href="{{ site.onboardingURL }}" onclick="capture('cta-try-it-now', {'position': 'nodered'})">TRY IT NOW</a>
    </div>   
</div>

    <!-- Power of low-code -->  
    <div class="w-full pb-16">
        <div class="max-w-screen-lg mx-auto px-6">
            <div class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-x-8 gap-y-14">
                <h2 class="text-center w-full md:text-left col-span-full">Harness the Power of <span class="text-indigo-600">Low-Code Integration</span></h2>

                {% set sections = [
                    {
                        "svgPath": "components/icons/light-bulb.svg",
                        "title": "Flow Based Programming",
                        "description": "Node-RED’s visual programming makes it easy for non-developers to build robust applications."
                    },
                    {
                        "svgPath": "components/icons/puzzle-piece.svg",
                        "title": "Digital Services Integration",
                        "description": "Node-RED facilitates seamless integration with a wide array of digital services, including protocols (OPC-UA, Modbus, Siemens S7), databases, APIs, and devices."
                    },
                    {
                        "svgPath": "components/icons/document-chart-bar.svg",
                        "title": "Data Visualization",
                        "description": '<a href="https://dashboard.flowfuse.com/" target="_blank">Node-RED Dashboard</a> makes it easy
                        to visualize your data in charts that integrate directly with actions and events that respond to
                        the data.'
                    }
                ] %}

                {% for section in sections %}
                    <div class="relative w-full max-md:max-w-md mx-auto">
                        <div class="flex flex-col items-center sm:items-start">
                            <div class="flex flex-col justify-center md:justify-start gap-3 w-full">
                                <div class="w-8 h-8 m-auto sm:m-0 text-indigo-600">
                                    {% include section.svgPath %}
                                </div>
                                <div class="w-full flex flex-row gap-3 mx-auto md:m-0">
                                    <h5 class="w-full md:m-0">
                                        <div class="text-xl text-gray-600 text-center sm:text-left">{{ section.title }}</div>
                                    </h5>
                                </div>
                            </div>
                            <div>
                                <p class="text-center sm:text-left font-light">{{ section.description | safe }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>    

<!--Learning Resources-->
<div class="w-full bg-gray-50 pb-20 pt-16">
    <div class="max-w-screen-lg m-auto px-6">
    <h2 class="max-md:text-center">
        Node-RED <span class="text-indigo-600">Learning Resources</span>
    </h2>
<div class="max-sm:text-center max-w-md sm:max-w-none mx-auto sm:grid justify-center items-center mt-10" style="grid-template-columns: 45% auto;">
    <div class="max-h-[400px] md:max-h-[350px] ff-image-cover scale ff-image-rounded w-full h-full mb-4 sm:mb-0">
        {% image "../images/learning_nr.png", "Node-RED pseudo UI", [406] %}
    </div>
        <div class="content-center justify-center sm:pl-8 flex-1">
            <p class="md:mt-0">
                Jumpstart your Node-RED journey with FlowFuse’s comprehensive learning resources, including tutorials, case studies, and community forums. Whether you’re new to Node-RED or looking to refine your skills, our resources are designed to accelerate your learning curve.
            </p>
            <p class="text-blue-700 mb-10 mt-7">
                <a href="https://node-red-academy.learnworlds.com/">Node-RED Academy</a>
                <span class="px-3">|</span>
                <a href="/node-red/core-nodes/">Core Nodes</a>
                <span class="px-3">|</span>
                <a href="/blog/2024/05/understanding-node-flow-global-environment-variables-in-node-red/">Variables</a>
                <span class="px-3">|</span>
                <a href="/blog/2023/04/3-quick-node-red-tips-6/">Quick Tips</a>
            </p>
            <a class="ff-btn ff-btn--primary min-h-[40px] md:inline mb-2 md:mb-0 md:mr-2" href="/node-red/learn/">SEE MORE</a>
            <a class="ff-btn ff-btn--primary-outlined min-h-[40px] md:inline" href="/professional-services/">GET IMPLEMENTATION SUPPORT</a>
        </div>
    </div>   
</div>
</div>

<div class="max-w-screen-lg mx-auto text-center pt-20 pb-6 px-6 text-lg flex-col flex-row items-center justify-center gap-1 hover:no-underline flex-wrap">
    <!--Customer Stories Banner-->
    <h2 class="md:text-left max-w-3xl">Explore <span class="text-indigo-600">Real-World Node-RED Applications</span> from FlowFuse Customers</h2>
    <ul class="mt-10 grid grid-cols-1 md:grid md:grid-cols-3 gap-y-4 pb-4 m-auto gap-6">
        {%- for item in collections.stories | sort(attribute='item.date') | reverse | limit(3) -%}
        <li class="w-full max-w-md m-auto my-2">
            <a href="{{ item.url }}" class="w-full flex flex-col group hover:no-underline">
                <div>
                    <div>
                        <div class="relative">
                            <div class="w-full h-40 ff-image-cover scale mb-4 ff-image-rounded object-contain overflow-hidden">
                                {% if item.data.image %}
                                    {% set imageSrc = ["./", item.data.image ] | join %}
                                    {% set imageDescription = ["Image representing ", item.data.title] | join %}
                                    {% if item.data.logo %}
                                        <div class="w-1/2 h-full absolute left-0 top-0 bg-white flex items-center justify-center">
                                            {% set logoSrc = ["./", item.data.logo ] | join %}
                                            {% set logoDescription = ["Image representing ", item.data.story.brand, " logo"] | join %}
                                            {% image logoSrc, logoDescription, [285] %}
                                        </div>
                                    {% endif %}
                                {% else %}
                                    {% set imageSrc = "./images/og-blog.jpg" %}
                                    {% set imageDescription = "Image with logo and the slogan: Elevate Node-RED with Flowfuse" %}
                                {% endif %}
                                {% image imageSrc, imageDescription, [285] %}
                            </div>
                        </div>
                    </div>
                    <h5 class="mt-1 mb-0 group-hover:underline font-light text-lg text-left text-gray-600">{{ item.data.title }}</h5>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
    <a href="/customer-stories/" class="w-full font-light text-center md:text-left hover:underline pt-3 flex flex-row items-center gap-1 cursor-pointer flex-wrap max-md:max-w-md mx-auto mb-20">
        See more customer stories {% include "components/icons/chevron-right-sm.svg" %}
    </a>

    <!--Why FlowFuse-->
    <div class="ff-blue-card">
        <h2 class="font-bold m-auto w-full text-center sm:text-left mb-5">Why Choose <span class="text-red-600">FlowFuse</span> for Node-RED </h2>
        <div class="w-full sm:grid sm:grid-cols-2 gap-6 sm:gap-8">
            {% set sections = [
                {
                    "iconPath": "components/icons/shield-check.svg",
                    "title": "Enhanced Security",
                    "description": "Security and compliance guardrails ensure adherence to security protocols."
                },
                {
                    "iconPath": "components/icons/user-group.svg",
                    "title": "Seamless Collaboration",
                    "description": "Cloud-based solutions and dev-ops pipelines streamline development with user-friendly interfaces and safeguard against errors."
                },
                {
                    "iconPath": "components/icons/arrows-pointing-out.svg",
                    "title": "Scalable Architecture ",
                    "description": "Start small and scale to thousands of self–built and self–maintained applications. Reduce reliance on point solutions and vendor lock-in."
                },
                {
                    "iconPath": "components/icons/academic-cap.svg",
                    "title": "Expert Support",
                    "description": "Get access to our dedicated support team who are creators and experts in Node-RED, ready to assist you at every step."
                }
            ] %}

            {% for section in sections %}
                <div class="w-full mt-4 md:mt-0 flex flex-col justify-between">
                    <div>
                        <div class="flex max-sm:w-full justify-center sm:justify-start mt-3 mb-2 w-8 h-8">
                            {% include section.iconPath %}
                        </div>
                        <h4 class="flex justify-center sm:justify-start font-semibold">{{ section.title }}</h4>
                        <p class="font-light mt-6">{{ section.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!--Flexible Deployment with FlowFuse-->
    <div class="text-center text-teal-50 mt-12 pt-12 text-lg flex-col flex-row items-center justify-center gap-1 hover:no-underline flex-wrap">
        <div class="text-center mt-6 md:mt-4 mb-14">
            <h2 class="md:text-left max-w-3xl"><span class="text-indigo-600">Flexible Deployment</span> with FlowFuse</h2>
        </div>
        <div class="m-auto max-w-screen-lg">
            <div class="grid md:px-0 grid-cols-1 md:grid-cols-2 gap-12 md:gap-5 max-w-md md:max-w-none mx-auto">
                {% set cards = [
                    {
                        "title": "FlowFuse Cloud",
                        "description": "Get started with Node-RED easily! No installation needed – just sign up for instant editor access.",
                        "buttonText": "MORE INFO",
                        "buttonLink": "/pricing/"
                    },
                    {
                        "title": "Self managed",
                        "description": "Run FlowFuse where you prefer; that's possible too! In your cloud of preference, or even on-site.",
                        "buttonText": "TALK TO SALES",
                        "buttonLink": "/book-demo/"
                    }
                ] %}

                {% for card in cards %}
                    <div class="deployment-card white-bg">
                        <div>
                            <div class="title pb-4">
                                <h4 class="text-indigo-600">
                                    {{ card.title }}
                                </h4>
                            </div>
                            <p class="mb-0 text-left mb-8">
                                {{ card.description }}
                            </p>
                        </div>
                        <a class="md:self-end ff-btn ff-btn--primary-outlined uppercase align-baseline w-full mt-3" href="{{ card.buttonLink }}" {% if card.onClick %}onclick="{{ card.onClick }}"{% endif %}>{{ card.buttonText }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Frequently Asked Questions --> 
    <div class="md:text-left max-md:max-w-md mx-auto pt-24 md:pt-16 text-left">
        <h2 class="max-md:text-center -mb-12">
            Frequently Asked <span class="text-indigo-600">Questions</span>
        </h2>
        {% include "faq.njk" %}
    </div>
</div>