---
layout: page
nohero: true
meta:
    title: Start using Node-RED online for free
    faq:
        - question: "What is Node-RED and how does it work?"
          answer: >
            Node-RED is a low-code programming environment that allows developers to connect a wide variety of endpoints, such as industrial PLCs, APIs, databases, enterprise applications and online services. Users of Node-RED visually drag ‘nodes’ from a palette that represent the end points and then connect them together into flows to accomplish the desired task. Node-RED applications are accessible via a web browser.
        - question: "How do I deploy Node-RED online or in the Cloud?"
          answer: >
            <a href='https://app.flowfuse.com/account/create/'>FlowFuse Cloud</a> is a hosted Node-RED service that developers can use to access Node-RED online. This makes it much quicker to get started using Node-RED since you don't need to install it locally.
        - question: "What is Node-RED used for?"
          answer: >
            Node-RED can be used for a wide variety of use cases, including:
            <ul>
              <li>The <a  href='https://app.flowfuse.com/account/create/'>FlowFuse Cloud</a> is a hosted Node-RED service that developers can use to access Node-RED online. This makes it much quicker to get started using Node-RED since you don't need to install it locally.
              </li>
            </ul>
        - question: "What is Node-RED used for?"
          answer: >
            Node-RED can be used for a wide variety of use cases, including:
            <ul>
              <li>The <a href='/solutions/manufacturing/'>manufacturing industry</a> uses Node-RED for collecting data from different pieces of factory equipment.</li>
              <li>Creating dashboards that visualize data and allow for event triggers to occur based on the data.</li>
              <li>Developing chatbot platforms that can collect interactions of a wide variety of social media platforms.</li>
              <li>Extract, transform and integrate data from many different sources in the enterprise.</li>
              <li>Lots of hobbyists use Node-RED for home automation.</li>
              <li>Integrating data with machine learning models</li>
            </ul>
        - question: "How much does Node-RED cost?"
          answer: >
            Node-RED is an open source project hosted at the <a href='https://openjsf.org/' target='_blank'>OpenJS Foundation</a>. It is made available under the Apache Software License so individuals can use Node-RED free of charge. Participation in the open source project is encouraged to help support the Node-RED community.
        - question: "What language is Node-RED?"
          answer: >
            Node-RED is a visual programming environment that allows you to do a lot without writing a single line of code. An important benefit of Node-RED is that it also allows for developers to write JavaScript and use the NodeJS API to extend the functionality of a node or flow.
        - question: "How can I get started using Node-RED?"
          answer: >
            FlowFuse Cloud offers the easiest way to get <a href='/blog/2023/01/getting-started-with-node-red/'>started with Node-RED</a>. After signing into FlowFuse Cloud users have immediate access to a Node-RED instance. For those who prefer to install Node-RED themselves, there are many tutorials that help people to get started with Node-RED. A recommended starting point is the Getting Started found on <a href='https://nodered.org/' target='_blank'>nodered.org</a>. Other tutorials from the community include <a href='http://stevesnoderedguide.com/installing-node-red/' target='_blank'>Steve’s Node-RED Guide</a> and <a href='https://projects.raspberrypi.org/en/projects/getting-started-with-node-red/' target="_blank">Raspberry Pi Getting Started with Node-RED.</a>
        - question: "What port number does Node-RED use?"
          answer: >
            Node-RED is accessed via port 1880. You can access the Node-RED editor running locally at http://localhost:1880 or on another computer at http://domain name:1880.
        - question: "How can I secure a Node-RED installation?"
          answer: >
            There are three aspects of Node-RED that need to be secured.
            <ol>
              <li>Node-RED is a web application so you need to enable HTTPS access to the Node-RED runtime. The default Node-RED settings include a commented out section that can be used for local certificates.</li>
              <li>The Node-RED editor and administration require authentication to access it. Node-RED supports username/password and OAuth/OpenID authentication. The adminAuth property in the setting file is used to specify the authentication credentials.</li>
              <li>Securing the HTTP Node can be done using basic authentication. This can be set using the httpNodeAuth property in the settings file.</li>
            </ol>
            You can also follow <a href='/blog/2023/04/securing-node-red-in-production/'>our guide</a> on how to secure Node-RED.
        - question: "How is Node-RED used in IoT?"
          answer: >
            Node-RED is very popular in the manufacturing and industrial automation industries (IIoT) as an edge computing solution. Often deployed on PLCs and IoT gateways, Node-RED supports collecting data from legacy and proprietary systems (Siemens S7, Modbus, OPC-UA, etc), integrating the industrial data with other data sources (weather data, enterprise data), filtering data on the edge, and then sending the data to the cloud. FlowFuse offers remote device deployment to IIoT edge devices. Node-RED is also very popular with DIY home automation enthusiasts, in particular the <a href='https://community.home-assistant.io/t/home-assistant-community-add-on-node-red/55023/' target='_blank'>Home Assistant</a> community. 
description: Node-RED's low-code brilliance hosted on FlowFuse cloud. Answer your questions about getting started with Node-RED including tips, best practices, and FAQs to using Node-RED for different use cases.
sitemapPriority: 0.8
---
<!--First two sections-->
<div class="nohero w-full ff-bg-light">
    <!--Hero Content-->
    <div class="nodered-pillar-bg w-full pt-12 pb-20 md:pt-6 md:pb-12 border-b-4 border-gray-100">
        <div class="flex flex-col px-6 items-center md:flex-row md:items-start container mx-auto text-center md:text-left max-w-screen-lg">
            <div class="md:my-auto md:py-10 md:max-w-[476px]">
                <span class="ff-animation-text-carousel px-12 md:px-0 max-w-lg text-gray-800 h-7 text-xl font-bold mx-auto md:mx-0">
                Low-Code
                <ul class="inline-block text-red-600">
                    <li>Programming</li>
                    <li>Integration</li>
                    <li>Visualisation</li>
                </ul>
                </span>
                <h1 class="mt-0 px-12 md:px-0 m-auto">
                    <span class="leading-3">Start using Node-RED online for free</span>
                </h1>
                <h5 class="mt-5 text-gray-400 text-lg font-light md:mb-8">
                    Enhanced Node-RED security, collaboration, and features in our fully managed FlowFuse Cloud. Simplify integration, elevate visualization, and streamline workflows effortlessly.
                </h5>
                <a class="ff-btn ff-btn--primary hidden min-h-[40px] md:inline" href="{{ site.appURL }}/account/create" onclick="capture('cta-join', {'position': 'nodered'})">START FOR FREE</a>
            </div>
            <div class="max-w-[500px] text-center md:text-left m-auto">
                {% image "../images/node-red-in-cloud.png", "FlowFuse hosting Node-RED", [500] %}
            </div>
            <a class="ff-btn ff-btn--primary flex flex-col w-full md:hidden" href="{{ site.appURL }}/account/create" onclick="capture('cta-join', {'position': 'nodered'})">START FOR FREE</a>
        </div>   
    </div>
    <div class="text-gray-50 -mt-12">
        {% include "components/dividers/light-grey-curve.svg" %}
    </div>

    <!-- What is Node-RED -->     
    <div class="w-full ff-bg-light pt-4 px-0 pb-12 ff-prose">
        <div class="text-center mt-6 md:mt-2 mb-6">
            <h2>What is Node-RED?</h2>
        </div>
        <div class="container m-auto max-w-screen-lg prose">
            <div class="grid px-6 grid-cols-1 md:grid-cols-3 gap-6 sm:gap-x-8 sm:gap-y-0 mb-16">
                <div class="text-left self-start">
                    <h3 class="flex items-center gap-4">
                        <div class="w-16">
                            {% image "./images/pictograms/node_catalog_red.png", "Graphics depicting low-code programming.", [64] %}
                        </div>
                        <div class="flex flex-col leading-8">
                            Flow Based Programming
                        </div>
                    </h3>
                    <p class="mb-0">
                        Node-RED’s visual programming makes it easy for non-developers to build robust applications.
                    </p>
                </div>
                <div class="text-left self-start">
                    <h3 class="flex items-center gap-4">
                        <div class="w-16">
                            {% image "./images/pictograms/edge_red.png", "Graphics depicting connectivity and integration.", [64] %}
                        </div>
                        <div class="flex flex-col leading-8">
                            Digital Services Integration
                        </div>
                    </h3>
                    <p class="mb-0">
                        Node-RED facilitates seamless integration with a wide array of digital services, including protocols (OPC-UA, Modbus, Siemens S7), databases, APIs, and devices.
                    </p>
                </div>
                <div class="text-left self-start">
                    <h3 class="flex items-center gap-4">
                        <div class="w-16">
                            {% image "./images/pictograms/scalable_red.png", "Graphics depicting low-code visualisation.", [64] %}
                        </div>
                        <div class="flex flex-col leading-8">
                            Data Visualization
                        </div>
                    </h3>
                    <p class="mb-0">
                        <a href="https://dashboard.flowfuse.com/" target="_blank">Node-RED Dashboard</a> makes it easy to visualize your data in charts that integrate directly with actions and events that respond to the data.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>    

<!--Customer Stories Banner-->
<div class="w-full bg-gray-800 gradient-bg text-center text-teal-50 px-6 pb-3 pt-8 text-lg flex-col flex-row items-center justify-center gap-1 hover:no-underline flex-wrap">
    <h2>
        <span class="hover:no-underline text-gray-200">
            <span class="font-bold text-teal-100">Node-RED use cases</span>
            from our customer stories
        </span>
    </h2>
    <ul class="mt-6 grid grid-cols-1 md:grid md:grid-cols-3 gap-y-4 pb-4 max-w-screen-lg m-auto">
        {%- for item in collections.stories | sort(attribute='item.date') | reverse | limit(3) -%}
        <li class="w-full max-w-md m-auto my-2 px-2">
            <a href="{{ item.url }}" class="w-full flex flex-col group hover:no-underline">
                <div>
                    <div>
                        {% if item.data.image %}
                        <div class="relative">
                            <div class="w-full h-40 ff-image-cover">
                                {% set imageSrc = ["./", item.data.image ] | join %}
                                {% set imageDescription = ["Image representing ", item.data.title] | join %}
                                {% image imageSrc, imageDescription, [285] %}
                            </div>
                            {% if item.data.logo %}
                                <div class="w-1/2 h-full absolute left-0 top-0 bg-white flex items-center justify-center object-contain">
                                    {% set imageSrc = ["./", item.data.logo ] | join %}
                                    {% set imageDescription = ["Image representing ", item.data.story.brand, " logo"] | join %}
                                    {% image imageSrc, imageDescription, [285] %}
                                </div>
                                {% endif %}
                        </div>    
                        {% else %}
                            {{ item.url | generatePostSVG |safe}}
                        {% endif %}
                    </div>
                    <h5 class="mt-1 mb-0 font-medium group-hover:underline text-gray-200 font-light text-lg text-left">{{ item.data.title }}</h5>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
<a href="/customer-stories/" class="w-full text-center text-teal-100 hover:underline py-3 flex flex-row items-center justify-center gap-1 cursor-pointer flex-wrap">
    See more customer stories {% include "components/icons/chevron-right-sm.svg" %}
</a>

<!--Flexible Deployment with FlowFuse-->
<div class="w-full ff-bg-light">
    <div class="bg-gray-100 text-center text-teal-50 px-6 pt-3 md:pt-8 pb-16 md:pb-0 text-lg flex-col flex-row items-center justify-center gap-1 hover:no-underline flex-wrap">
        <div class="text-center mt-6 md:mt-4 mb-14">
            <h2>Flexible Deployment Options with <span class="text-red-600">FlowFuse</span></h2>
            <div class="w-full text-center text-gray-800 font-light">Run and manage <span class="text-red-600 font-medium">Node-RED</span> where it's most helpful for your business</div>
        </div>
        <div class="container m-auto max-w-screen-lg">
            <div class="grid md:px-6 md:px-0 grid-cols-1 md:grid-cols-3 gap-12 md:gap-5 max-w-md md:max-w-none mx-auto">
                <div class="deployment-card">
                    <div>
                        <div class="title">
                            <h4>
                                <span class="text-gray-600">FlowFuse Cloud</span></br>
                            </h4>
                        </div>
                        <p class="mb-0 text-left">
                            The easiest way to start building Node-RED applications. No installation required! Simply sign up and gain immediate access to the editor.
                        </p>
                    </div>
                    <a class="md:self-end ff-btn ff-btn--primary-outlined uppercase align-baseline w-full mt-3" href="/pricing/">MORE INFO</a>
                </div>
                <div class="deployment-card">
                    <div>
                        <div class="title">
                            <h4>
                                <span class="text-gray-600">Self managed</span></br>
                            </h4>
                            <div class="text-base font-bold -mt-3 text-gray-400 pb-4">(on premise)</div> 
                        </div>
                        <p class="mb-0 text-left">
                            Run FlowFuse where you prefer; that's possible too! In your cloud of preference, or even on-site.
                        </p>
                    </div>
                        <a class="md:self-end ff-btn ff-btn--primary-outlined uppercase align-baseline w-full mt-3" href="/book-demo/" onclick="capture('cta-talk-to-sales', {'position': 'secondary'})">TALK TO SALES</a>
                </div>
                <div class="deployment-card">
                    <div>
                        <div class="title">
                            <h4>
                                <span class="text-gray-600">Edge device</span></br>
                            </h4>
                        </div>
                        <p class="mb-0 text-left">
                            Run Node-RED where the data is generated. Manage thousands of edge devices through the FlowFuse Device Agent.
                        </p>
                    </div>
                    <a class="md:self-end ff-btn ff-btn--primary-outlined uppercase align-baseline w-full mt-3" href="/docs/device-agent/introduction/">MORE INFO</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Rest of sections-->
<div class="nohero w-full ff-bg-light">       
    <!-- Learn Node-RED --> 
    <div class="about w-full bg-white pt-12 md:pt-12 pb-12">
        <div class="text-center">
            <h2>Learn Node-RED</h2>
        </div>
        <div class="container m-auto max-w-4xl">
            <div
                class="grid grid-cols-1 md:grid-cols-2 pt-4 md:pt-6 gap-x-8 items-start">
                <!-- Node-RED Quick Tips Column -->
                <div class="px-6 pb-6 md:pb-0">
                    <h3 class="w-full text-center mb-4">Quick Tips</h3>
                    <ul class="ff-nodered-resources">
                        <a href="/blog/2023/02/3-quick-node-red-tips-1">
                            <li>
                                <div class="ff-nodered-resources--icon">{% ffIconLg "nodered", true %}</div>
                                <label>Wiring Shortcuts<label>
                            </li>
                        </a>
                        <a href="/blog/2023/02/3-quick-node-red-tips-2">
                            <li>
                                <div class="ff-nodered-resources--icon">{% ffIconLg "bug", true %}</div>
                                <label>Deploying, Debugging, and Delaying<label>
                            </li>
                        </a>
                        <a href="/blog/2023/03/3-quick-node-red-tips-3">
                            <li>
                                <div class="ff-nodered-resources--icon">{% ffIconLg "cmdline", true %}</div>
                                <label>Exec, Filter, and Debug<label>
                            </li>
                        </a>
                        <a href="/blog/2023/03/3-quick-node-red-tips-4">
                            <li>
                                <div class="ff-nodered-resources--icon">{% ffIconLg "smooth", true %}</div>
                                <label>Smooth, Catch, and Math<label>
                            </li>
                        </a>
                        <a href="/blog/2023/03/3-quick-node-red-tips-5">
                            <li>
                                <div class="ff-nodered-resources--icon">{% ffIconLg "upload", true %}</div>
                                <label>Importing, Exporting, and Grouping Flows<label>
                            </li>
                        </a>
                    </ul>
                </div>
                <!-- Node-RED Concepts Column -->
                <div class="px-6 pb-6 md:pb-0">
                    <h3 class="w-full text-center mb-4">Key Concepts</h3>
                    <ul class="ff-nodered-resources">
                        <a href="/blog/2023/03/comparing-node-red-dashboards/">
                            <li>
                                <div class="ff-nodered-resources--icon">{% ffIconLg "chart", true %}</div>
                                <label>Comparing Node-RED Dashboard Solutions<label>
                            </li>
                        </a>
                        <a href="/blog/2023/04/securing-node-red-in-production/">
                            <li>
                                <div class="ff-nodered-resources--icon">{% ffIconLg "lock", true %}</div>
                                <label>Securing Node-RED<label>
                            </li>
                        </a>
                        <a href="/blog/2023/03/why-should-you-use-node-red-function-nodes/">
                            <li>
                                <div class="ff-nodered-resources--icon">{% ffIconLg "codeblock", true %}</div>
                                <label>The benefits of using Node-RED function nodes<label>
                            </li>
                        </a>
                        <a href="/blog/2023/05/visualize-production-data-via-modbus-in-node-red/">
                            <li>
                                <div class="ff-nodered-resources--icon">{% ffIconLg "factory", true %}</div>
                                <label>How to visualize Industrial data via Modbus<label>
                            </li>
                        </a>
                        <a href="/node-red/core-nodes/">
                            <li>
                                <div class="ff-nodered-resources--icon">{% ffIconLg "newspaper", true %}</div>
                                <label>Node-RED Core Node Documentation<label>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="text-white">
        {% include "components/dividers/light-grey-curve-inverted.svg" %}
    </div>
    <!-- Frequently Asked Questions --> 
    <div class="w-full ff-bg-light px-6 pt-8 pb-24 sm:px-0">
        <div class="container m-auto max-w-4xl px-6">
            <h2 class="text-center">Frequently Asked Questions</h2>
            <label class="m-auto text-center block max-w-lg md:max-w-none">Have a question that you don't see answered here? Feel free to reach out to us via our <a href="/contact-us">Contact Us</a> page</label>
            <div class="mt-12 m-auto w-full ff-prose">
                <div class="prose max-w-none">
                    {% for faq in meta.faq %}
                    <div class="w-full {% if not loop.last %}border-b{% endif %} py-4">
                        <h5 class="question flex flex-row justify-between items-center w-full m-0 gap-6 cursor-pointer" id="question-{{ loop.index }}">
                            <span>{{ faq.question }}</span> 
                            <div class="chevron transition-transform ease-in-out duration-300" id="chevron-{{ loop.index }}">
                                {% include "components/icons/chevron-down.svg" %}
                            </div>
                        </h5>
                        <div class="answer px-6 mt-6 hidden" id="answer-{{ loop.index }}">
                            <p>{{ faq.answer | safe }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const questions = document.querySelectorAll('.question');
    questions.forEach((question, index) => {
        question.addEventListener('click', () => {
            const answer = document.querySelector(`#answer-${index + 1}`);
            const chevron = document.querySelector(`#chevron-${index + 1}`);
            if (answer.classList.contains('hidden')) {
                // Show the clicked answer and rotate its chevron
                answer.classList.remove('hidden');
                chevron.style.transform = 'rotate(180deg)';
            } else {
                // Hide the clicked answer and rotate its chevron to original state
                answer.classList.add('hidden');
                chevron.style.transform = 'rotate(0deg)';
            }
        });
    });
</script>

