---
layout: page
nohero: true
meta:
    title: Node-RED online for free
description:
    Node-RED's low-code brilliance hosted on FlowFuse cloud. Answer your questions about getting started with Node-RED including tips, best practices, and FAQs to using Node-RED for 
    different use cases.
sitemapPriority: 0.8
---
<!--Hero Content-->
<div class="nohero w-full ff-bg-light">
    <div class="nodered-pillar-bg w-full pt-12 pb-20 md:pt-6 md:pb-12 border-b-4 border-gray-100">
        <div class="flex flex-col px-6 items-center md:flex-row md:items-start container mx-auto text-center md:text-left max-w-screen-lg">
            <div class="md: my-auto md:py-10">
                <span class="ff-animation-text-carousel px-12 md:px-0 max-w-lg text-gray-800 h-7 text-xl font-bold mx-auto">
                Low-Code
                <ul class="inline-block text-red-600">
                    <li>Programming</li>
                    <li>Integration</li>
                    <li>Visualisation</li>
                </ul>
                </span>
                <h1 class="mt-0 px-12 md:px-0 m-auto">
                    <span class="leading-3">Start using Node-RED online for free</span>
                </h1>
                <h5 class="mt-5 text-gray-400 text-lg font-light md:mb-8">
                    Node-RED's low-code brilliance hosted on FlowFuse cloud. Simplify integration, elevate visualization, and more.
                </h5>
                <a class="ff-btn ff-btn--primary hidden min-h-[40px] md:inline" href="{{ site.appURL }}/account/create" onclick="capture('cta-join', {'position': 'nodered'})">START FOR FREE</a>
            </div>
            <div class="max-w-[500px] text-center md:text-left m-auto">
                {% image "../images/node-red-in-cloud.png", "FlowFuse hosting Node-RED", [500] %}
            </div>
            <a class="ff-btn ff-btn--primary flex flex-col w-full md:hidden" href="{{ site.appURL }}/account/create" onclick="capture('cta-join', {'position': 'nodered'})">START FOR FREE</a>
        </div>   
    </div>
    <div class="text-gray-50 -mt-12">
        {% include "components/dividers/light-grey-curve.svg" %}
    </div>

    <!-- What is Node-RED -->     
    <div class="w-full ff-bg-light pt-4 px-0 pb-12 ff-prose">
        <div class="text-center mt-6 md:mt-12 mb-6">
            <h2>What is Node-RED?</h2>
        </div>
        <div class="container m-auto max-w-screen-lg prose">
            <div class="grid px-6 grid-cols-1 md:grid-cols-3 gap-6 sm:gap-x-8 sm:gap-y-0 mb-16">
                <div class="text-left self-start">
                    <h3 class="flex items-center gap-4">
                        <div class="w-16">
                            {% image "./images/pictograms/node_catalog_red.png", "Graphics depicting low-code programming.", [64] %}
                        </div>
                        <div class="flex flex-col leading-8">
                            Low-Code
                            <span class="text-red-600">Programming</span>
                        </div>
                    </h3>
                    <p class="mb-0">
                        Node-RED’s visual programming makes it easy for non-developers to build robust applications.
                    </p>
                </div>
                <div class="text-left self-start">
                    <h3 class="flex items-center gap-4">
                        <div class="w-16">
                            {% image "./images/pictograms/edge_red.png", "Graphics depicting connectivity and integration.", [64] %}
                        </div>
                        <div class="flex flex-col leading-8">
                            Low-Code
                            <span class="text-red-600">Integration</span>
                        </div>
                    </h3>
                    <p class="mb-0">
                        4,000+ integrations available and a large library of example flows make it trivial to connect a multitude of digital services, such as protocols (OPC-UA, Modbus, Siemens S7), databases, APIs, hardware, etc.
                    </p>
                </div>
                <div class="text-left self-start">
                    <h3 class="flex items-center gap-4">
                        <div class="w-16">
                            {% image "./images/pictograms/scalable_red.png", "Graphics depicting low-code visualisation.", [64] %}
                        </div>
                        <div class="flex flex-col leading-8">
                            Low-Code
                            <span class="text-red-600">Visualization</span>
                        </div>
                    </h3>
                    <p class="mb-0">
                        Node-RED Dashboard makes it easy to visualize your data in charts that integrate directly with actions and events that respond to the data.
                    </p>
                </div><div class="text-left self-start">
                    <h3 class="flex items-center gap-4">
                        <div class="w-16">
                            {% image "./images/pictograms/opensource_red.png", "Graphics depicting open source.", [64] %}
                        </div>
                        <div class="flex flex-col leading-8">
                            Open Source
                        </div>
                    </h3>
                    <p class="mb-0">
                        Node-RED is an open source project hosted at the OpenJS Foundation. Participation in the project is encouraged to help support the Node-RED community.
                    </p>
                </div>
                <div class="text-left self-start">
                    <h3 class="flex items-center gap-4">
                        <div class="w-16">
                            {% image "./images/pictograms/browser_red.png", "Graphics depicting the fact that Node-RED is free to use.", [64] %}
                        </div>
                        <div class="flex flex-col leading-8">
                            Free-to-Use
                        </div>
                    </h3>
                    <p class="mb-0">
                        Node-RED is made available under the Apache Software License so individuals can use Node-RED free of charge.
                    </p>
                </div>
                <div class="text-left self-start">
                    <h3 class="flex items-center gap-4">
                        <div class="w-16">
                            {% image "./images/pictograms/community_red.png", "Graphics depicting the fact that Node-RED has an active community.", [64] %}
                        </div>
                        <div class="flex flex-col leading-8">
                            Active Community
                        </div>
                    </h3>
                    <p class="mb-0">
                        Node-RED has a very active community of developers providing support through forums, as well as actively contributing to the development of Node-RED itself.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>    

<!--Customer Stories Banner-->
<a href="/customer-stories/" class="w-full bg-teal-700 text-center text-teal-50 px-6 py-3 text-lg flex flex-row items-center justify-center gap-1 hover:bg-teal-800 hover:no-underline cursor-pointer flex-wrap">
    Check out some
    <span class="font-bold hover:no-underline">Node-RED</span> 
    <span class="text-white font-bold underline flex items-center">
        customer stories 
        <span class="inline">{% include "components/icons/chevron-right-sm.svg" %}</span>
    </span>
</a>

<!--Rest of sections-->
<div class="nohero w-full ff-bg-light">       
    <!-- Learn Node-RED --> 
    <div class="about w-full bg-white pt-12 md:pt-12 pb-12">
        <div class="text-center">
            <h2>Learn Node-RED</h2>
        </div>
        <div class="container m-auto max-w-4xl">
            <div
                class="grid grid-cols-1 md:grid-cols-2 pt-4 md:pt-6 gap-x-8 items-start">
                <!-- Node-RED Quick Tips Column -->
                <div class="px-6 pb-6 md:pb-0">
                    <h3 class="w-full text-center mb-4">Quick Tips</h3>
                    <ul class="ff-nodered-resources">
                        <a href="/blog/2023/02/3-quick-node-red-tips-1">
                            <li>
                                <div class="ff-nodered-resources--icon">{% ffIconLg "nodered", true %}</div>
                                <label>Wiring Shortcuts<label>
                            </li>
                        </a>
                        <a href="/blog/2023/02/3-quick-node-red-tips-2">
                            <li>
                                <div class="ff-nodered-resources--icon">{% ffIconLg "bug", true %}</div>
                                <label>Deploying, Debugging, and Delaying<label>
                            </li>
                        </a>
                        <a href="/blog/2023/03/3-quick-node-red-tips-3">
                            <li>
                                <div class="ff-nodered-resources--icon">{% ffIconLg "cmdline", true %}</div>
                                <label>Exec, Filter, and Debug<label>
                            </li>
                        </a>
                        <a href="/blog/2023/03/3-quick-node-red-tips-4">
                            <li>
                                <div class="ff-nodered-resources--icon">{% ffIconLg "smooth", true %}</div>
                                <label>Smooth, Catch, and Math<label>
                            </li>
                        </a>
                        <a href="/blog/2023/03/3-quick-node-red-tips-5">
                            <li>
                                <div class="ff-nodered-resources--icon">{% ffIconLg "upload", true %}</div>
                                <label>Importing, Exporting, and Grouping Flows<label>
                            </li>
                        </a>
                    </ul>
                </div>
                <!-- Node-RED Concepts Column -->
                <div class="px-6 pb-6 md:pb-0">
                    <h3 class="w-full text-center mb-4">Key Concepts</h3>
                    <ul class="ff-nodered-resources">
                        <a href="/blog/2023/03/comparing-node-red-dashboards/">
                            <li>
                                <div class="ff-nodered-resources--icon">{% ffIconLg "chart", true %}</div>
                                <label>Comparing Node-RED Dashboard Solutions<label>
                            </li>
                        </a>
                        <a href="/blog/2023/04/securing-node-red-in-production/">
                            <li>
                                <div class="ff-nodered-resources--icon">{% ffIconLg "lock", true %}</div>
                                <label>Securing Node-RED<label>
                            </li>
                        </a>
                        <a href="/blog/2023/03/why-should-you-use-node-red-function-nodes/">
                            <li>
                                <div class="ff-nodered-resources--icon">{% ffIconLg "codeblock", true %}</div>
                                <label>The benefits of using Node-RED function nodes<label>
                            </li>
                        </a>
                        <a href="/blog/2023/05/visualize-production-data-via-modbus-in-node-red/">
                            <li>
                                <div class="ff-nodered-resources--icon">{% ffIconLg "factory", true %}</div>
                                <label>How to visualize Industrial data via Modbus<label>
                            </li>
                        </a>
                        <a href="/node-red/core-nodes/">
                            <li>
                                <div class="ff-nodered-resources--icon">{% ffIconLg "newspaper", true %}</div>
                                <label>Node-RED Core Node Documentation<label>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="text-white">
        {% include "components/dividers/light-grey-curve-inverted.svg" %}
    </div>
    <!-- Frequently Asked Questions --> 
    <div class="w-full ff-bg-light px-6 pt-8 pb-24 sm:px-0">
        <div class="container m-auto max-w-4xl px-6">
            <h2 class="text-center">Frequently Asked Questions</h2>
            <label class="m-auto text-center block max-w-lg md:max-w-none">Have a question that you don't see answered here? Feel free to reach out to us via our <a href="/contact-us">Contact Us</a> page</label>
            <div class="mt-12 m-auto w-full ff-prose">
                <div class="prose max-w-none">
                    {% for faq in nodeRed.faqs %}
                    <div class="w-full {% if not loop.last %}border-b{% endif %} py-4">
                        <h5 class="question flex flex-row justify-between items-center w-full m-0 gap-6 cursor-pointer" id="question-{{ loop.index }}">
                            <span class="">{{ faq.question }}</span> 
                            <div class="chevron transition-transform ease-in-out duration-300" id="chevron-{{ loop.index }}">
                                {% include "components/icons/chevron-down.svg" %}
                            </div>
                        </h5>
                        <div class="answer px-6 mt-6 hidden" id="answer-{{ loop.index }}">
                            <p>{{ faq.answer | safe }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const questions = document.querySelectorAll('.question');
    questions.forEach((question, index) => {
        question.addEventListener('click', () => {
            const answer = document.querySelector(`#answer-${index + 1}`);
            const chevron = document.querySelector(`#chevron-${index + 1}`);
            if (answer.classList.contains('hidden')) {
                // Show the clicked answer and rotate its chevron
                answer.classList.remove('hidden');
                chevron.style.transform = 'rotate(180deg)';
            } else {
                // Hide the clicked answer and rotate its chevron to original state
                answer.classList.add('hidden');
                chevron.style.transform = 'rotate(0deg)';
            }
        });
    });
</script>

