---
align: center
layout: layouts/page.njk
sitemapPriority: 0.90
meta:
    description: Discover the pricing options for FlowFuse, featuring Starter, Team, and Enterprise plans. Benefit from volume discounts on Team and Enterprise plans. Get started with a 14-day trial period for the Starter plan.
    keywords: FlowFuse pricing, Cost, Plans, Features, Cloud, Self-hosted
hubspot:
    script: "hubspot/hs-form.njk"
    formId: d43ab79b-d075-4b63-ba5e-bf971ca0b86e
    cta: "cta-contact-us"
    reference: "pricing"
---

<div class="pricing bg-white">
    <div class="w-full gradient-bg">
        <div class="text-center w-full pt-12 pb-6">
            <h1>FlowFuse <span class="text-indigo-600">Pricing</span></h1>
        </div>
        <div class="px-6 pricing-tiles flex flex-col md:max-w-screen-lg">
            <!-- Toggle-->
            <div class="text-center mt-5 md:mt-0 md:mb-8">
                <div class="billingToggle">
                    <button class="btnToggle">
                        <span class="selector"></span>
                        <div class="billing">
                            <div class="divMonthly">
                                <span class="monthlyText">MONTHLY</span>
                            </div>
                            <div class="divAnnual">
                                </span><span class="annualText">ANNUALLY</span>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
            <!-- Plans -->
            <!-- Monthly -->
            <div class="contentMonthly m-auto transition duration-1000">
                <div class="pricing-tiles flex flex-col md:grid md:flex-row md:max-w-screen-lg mt-4 md:mt-0">
                    <!-- Starter -->
                    <div class="pricing-tile md:h-full">
                        <div class="pricing-tile-background pb-6 md:grid flex-col">
                            <div>
                                <div class="flex flex-col items-center text-left md:flex-row md:mb-6 md:px-0 md:block md:min-h-[145px]">
                                    <div class="flex flex-row justify-between mt-4 w-full gap-x-2">
                                        <h4 style="display:inline-block;">Starter</h4>
                                    </div>
                                    <p class="mt-7"><span class="inline font-normal">Ideal to get started. </span>Quick
                                        hosting of Node-RED instances.</p>
                                </div>
                                <div class="flex flex-col content-start features md:mt-3 mt-6 w-full">
                                    <note class="font-bold" style="display: inline-block;">Includes:
                                    </note>
                                    <ul class="ff-checklist font-light leading-7 mt-2">
                                        <li>2 team members</li>
                                        <li>2 Node-RED instances</li>
                                        <li>2 devices</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mt-9 md:text-left items-left w-full mb-11 md:mt-11 md:mb-0 flex flex-row">
                                <h2 class="self-end">$15</h2>
                                <div class="pl-1 text-sm leading-4 text-left self-end pb-1">
                                    <note class="note ">/month</note>
                                </div>
                            </div>
                            <a class="md:self-end ff-btn ff-btn--primary uppercase align-baseline w-full"
                                href="{{ site.appURL }}/account/create"
                                onclick="capture('cta-join', {'position': 'primary'}, {'plan': 'cloud-starter'})">TRY
                                FOR FREE</a>
                        </div>
                    </div>
                    <!-- Team -->
                    <div class="pricing-tile md:h-full">
                        <div class="pricing-tile-background pb-6 md:grid flex-col">
                            {% macro team() %}
                            <div>
                                <div
                                    class="flex flex-col items-center text-left md:flex-row md:mb-6 md:px-0 md:block md:min-h-[133px]">
                                    <div class="flex flex-row justify-between mt-4 w-full gap-x-2">
                                        <h4 style="display:inline-block;">Team</h4>
                                    </div>
                                    <p class="mt-7">Allows <span class="inline font-normal">Node-RED developer
                                            teams</span> to benefit from the FlowFuse platform.</p>
                                </div>
                                <div class="flex flex-col content-start features md:mt-3 mt-6 w-full">
                                    <note class="font-bold" style="display: inline-block;">Top Features:
                                    </note>
                                    <ul class="ff-checklist font-light leading-7 mt-2">
                                        <li>Device management</li>
                                        <li>DevOps Pipelines</li>
                                        <li>Team collaboration</li>
                                    </ul>
                                </div>
                            </div>
                            {% endmacro %}
                            {{ team() }}
                            <div data-nosnippet>
                                <!-- Slider -->
                                <ul
                                    class="font-extralight text-sm leading-7 mt-6 w-full flex flex-row justify-between text-gray-600">
                                    <li>Instances</li>
                                    <li id="team-monthly-value" class="value">5</li>
                                </ul>
                                <div class="range contentMonthly">
                                    <input type="range" min="5" max="355" value="5" id="team-monthly-slider"
                                        class="transition duration-1000" step="5" />
                                </div>
                                <!-- Price -->
                                <div id="team-m-original-div" class="mt-3 mb-6 flex flex-row flex-wrap w-full gap-x-2">
                                    <div class="text-left flex flex-row">
                                        <div class="w-16 mr-1">
                                            <h2 class="self-end">
                                                <span class="align-top text-sm leading-7">$</span><span
                                                    id="team-monthly-price-int" class="align-top">20</span><span
                                                    id="team-monthly-price-dec"
                                                    class="align-top text-sm leading-7">83</span>
                                            </h2>
                                        </div>
                                        <div class="pl-2 text-sm leading-4 text-left self-end pb-1">
                                            <note id="team-monthly-price-note" class="note  text-xs">
                                                /instance a
                                                month <br>Billed monthly at $300<br \></note>
                                        </div>
                                    </div>
                                </div>
                                <div id="team-m-alternate-div"
                                    class="hidden mt-3 mb-6 flex flex-row flex-wrap w-full gap-x-2">
                                    <div class="text-left flex flex-row">
                                        <div class="w-16 mr-1">
                                            <h2 class="self-end">
                                                <span id="team-monthly-price-int"
                                                    class="align-top text-6xl leading-9">∞</span>
                                            </h2>
                                        </div>
                                        <div class="pl-2 text-sm leading-4 text-left self-end pb-1">
                                            <note id="team-monthly-price-note" class="note  text-xs">
                                                instances <br>Billed monthly at <span
                                                    class="font-semibold">$3,200.00</span><br \></note>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="md:self-end ff-btn ff-btn--primary uppercase align-baseline w-full"
                                href="/book-demo/"
                                onclick="capture('cta-book-demo', {'position': 'primary'}, {'plan': 'sh-team'})">BOOK A
                                DEMO</a>
                        </div>
                    </div>
                    <!-- Enterprise -->
                    <div class="pricing-tile md:h-full">
                        <div class="pricing-tile-background pb-6 md:grid flex-col">
                            {% macro enterprise() %}
                            <div>
                                <div
                                    class="flex flex-col items-center text-left md:flex-row md:mb-6 md:px-0 md:block md:min-h-[133px]">
                                    <div class="flex flex-row justify-between mt-4 w-full gap-x-2">
                                        <h4 style="display:inline-block;">Enterprise</h4>
                                    </div>
                                    <p class="mt-7">For <span class="inline font-normal">business critical
                                            applications</span> that require high availability and enterprise support.
                                    </p>
                                </div>
                                <div class="flex flex-col content-start features md:mt-3 mt-6 w-full">
                                    <note class="font-bold" style="display: inline-block;">Top Features:
                                    </note>
                                    <ul class="ff-checklist font-light leading-7 mt-2">
                                        <li>High availability</li>
                                        <li>Single Sign-On</li>
                                        <li>Enterprise Support</li>
                                    </ul>
                                </div>
                            </div>
                            {% endmacro %}
                            {{ enterprise() }}
                            <div data-nosnippet>
                                <!-- Slider -->
                                <ul
                                    class="font-extralight text-sm leading-7 mt-6 w-full flex flex-row justify-between text-gray-600">
                                    <li>Instances</li>
                                    <li id="enterprise-monthly-value" class="value">10</li>
                                </ul>
                                <div class="range contentMonthly">
                                    <input type="range" min="10" max="510" value="10" id="enterprise-monthly-slider"
                                        class="transition duration-1000" step="10" />
                                </div>
                                <!-- Price -->
                                <div id="enterprise-m-original-div"
                                    class="mt-3 mb-6 flex flex-row flex-wrap w-full gap-x-2">
                                    <div class="text-left flex flex-row">
                                        <div class="w-16 mr-1">
                                            <h2 class="self-end">
                                                <span class="align-top text-sm leading-7">$</span><span
                                                    id="enterprise-monthly-price-int" class="align-top">20</span><span
                                                    id="enterprise-monthly-price-dec"
                                                    class="align-top text-sm leading-7">83</span>
                                            </h2>
                                        </div>
                                        <div class="pl-2 text-sm leading-4 text-left self-end pb-1">
                                            <note id="enterprise-monthly-price-note" class="note  text-xs">
                                                /instance a
                                                month <br>Billed monthly at $600<br \></note>
                                        </div>
                                    </div>
                                </div>
                                <div id="enterprise-m-alternate-div"
                                    class="hidden mt-3 mb-6 flex flex-row flex-wrap w-full gap-x-2">
                                    <div class="text-left">
                                        <h2 class="self-end">
                                            <span class="align-top">Let's talk</span>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <a class="md:self-end ff-btn ff-btn--primary uppercase align-baseline w-full"
                                href='#contact-us'
                                onclick="scrollToAnchor(event, 'contact-us'), capture('cta-contact-us', {'position': 'primary'}, {'plan': 'sh-enterprise'})">CONTACT
                                US</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Annual -->
            <div class="contentAnnual hide m-auto transition duration-1000">
                <div class="pricing-tiles flex flex-col md:grid md:flex-row md:max-w-screen-sm mt-4 md:mt-0">
                    <!-- Team -->
                    <div class="pricing-tile md:h-full">
                        <div class="pricing-tile-background pb-6 md:grid flex-col">
                            {{ team() }}
                            <div data-nosnippet>
                                <!-- Slider -->
                                <ul
                                    class="font-extralight text-sm leading-7 mt-6 w-full flex flex-row justify-between text-gray-600">
                                    <li>Instances</li>
                                    <li id="team-annual-value" class="value">5</li>
                                </ul>
                                <div class="range contentAnnual hide">
                                    <input type="range" min="5" max="355" value="5" id="team-annual-slider"
                                        class="transition duration-1000" step="5" />
                                </div>
                                <!-- Price -->
                                <div id="team-original-div" class="mt-3 mb-6 flex flex-row flex-wrap w-full gap-x-2">
                                    <div class="text-left flex flex-row">
                                        <div class="w-16 mr-1">
                                            <h2 class="self-end">
                                                <span class="align-top text-sm leading-7">$</span><span
                                                    id="team-annual-price-int" class="align-top">20</span><span
                                                    id="team-annual-price-dec"
                                                    class="align-top text-sm leading-7">83</span>
                                            </h2>
                                        </div>
                                        <div class="pl-2 text-sm leading-4 text-left self-end pb-1">
                                            <note id="team-annual-price-note" class="note  text-xs">
                                                /instance a
                                                month <br>Billed annually at $250<br \></note>
                                        </div>
                                    </div>
                                </div>
                                <div id="team-alternate-div"
                                    class="hidden mt-3 mb-6 flex flex-row flex-wrap w-full gap-x-2">
                                    <div class="text-left flex flex-row">
                                        <div class="w-16 mr-1">
                                            <h2 class="self-end">
                                                <span id="team-annual-price-int"
                                                    class="align-top text-6xl leading-9">∞</span>
                                            </h2>
                                        </div>
                                        <div class="pl-2 text-sm leading-4 text-left self-end pb-1">
                                            <note id="team-annual-price-note" class="note  text-xs">
                                                instances <br>Annual bill. <span
                                                    class="font-semibold">$2,708.50</span>/month<br \></note>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="md:self-end ff-btn ff-btn--primary uppercase align-baseline w-full"
                                href='/book-demo/'
                                onclick="capture('cta-book-demo', {'position': 'primary'}, {'plan': 'cloud-team'})">BOOK
                                A
                                DEMO</a>
                        </div>
                    </div>
                    <!-- Enterprise -->
                    <div class="pricing-tile md:h-full">
                        <div class="pricing-tile-background pb-6 md:grid flex-col">
                            {{ enterprise() }}
                            <div data-nosnippet>
                                <!-- Slider -->
                                <ul
                                    class="font-extralight text-sm leading-7 mt-6 w-full flex flex-row justify-between text-gray-600">
                                    <li>Instances</li>
                                    <li id="enterprise-annual-value" class="value">10</li>
                                </ul>
                                <div class="range contentAnnual hide">
                                    <input type="range" min="10" max="510" value="10" id="enterprise-annual-slider"
                                        class="transition duration-1000" step="10" />
                                </div>
                                <!-- Price -->
                                <div id="enterprise-original-div"
                                    class="mt-3 mb-6 flex flex-row flex-wrap w-full gap-x-2">
                                    <div class="text-left flex flex-row">
                                        <div class="w-16 mr-1">
                                            <h2 class="self-end">
                                                <span class="align-top text-sm leading-7">$</span><span
                                                    id="enterprise-annual-price-int" class="align-top">20</span><span
                                                    id="enterprise-annual-price-dec"
                                                    class="align-top text-sm leading-7">83</span>
                                            </h2>
                                        </div>
                                        <div class="pl-2 text-sm leading-4 text-left self-end pb-1">
                                            <note id="enterprise-annual-price-note" class="note  text-xs">
                                                /instance a
                                                month <br>Billed annually at $500<br \></note>
                                        </div>
                                    </div>
                                </div>
                                <div id="enterprise-alternate-div"
                                    class="hidden mt-3 mb-6 flex flex-row flex-wrap w-full gap-x-2">
                                    <div class="text-left">
                                        <h2 class="self-end">
                                            <span class="align-top">Let's talk</span>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <a class="md:self-end ff-btn ff-btn--primary uppercase align-baseline w-full"
                                href='#contact-us'
                                onclick="scrollToAnchor(event, 'contact-us'), capture('cta-contact-us', {'position': 'primary'}, {'plan': 'cloud-enterprise'})">CONTACT
                                US</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Scroll to anchor -->
            <div class="flex flex-col items-center text-teal-300 mb-12 -mt-4">
                <a href="#feature-comparison" onclick="scrollToAnchor(event, 'feature-comparison')">
                    {% include "components/icons/chevron-down.svg" %}
                </a>
            </div>
        </div>

        <!-- Feature List -->
        {% set featuresHtml %}
        <div
            class="contentCloud transition duration-1000 max-w-full overflow-x-scroll sm:overflow-x-visible h-[60vh] sm:h-full">
            {% include "feature_lists/cloud.njk" %}
        </div>
        <div
            class="contentSelfHosted hide transition duration-1000 max-w-full overflow-x-scroll sm:overflow-x-visible h-[60vh] sm:h-full">
            {% include "feature_lists/self-hosted.njk" %}
        </div>
        {% endset %}

        <!-- Feature Comparison -->
        <div id="feature-comparison" class="product w-full px-6 md:px-0 md:pt-6">
            <div class="container max-w-screen-lg m-auto text-center">
                <div class="md:my-9">
                    <h2 id="feature-comparison"><span class="text-indigo-600">Feature</span> Comparison</h2>
                </div>
                <!-- Toggle-->
                <div class="text-center my-8 md:mb-12">
                    <div class="mainToggle">
                        <button class="btnToggle">
                            <span class="selector"></span>
                            <div class="hosting">
                                <div class="divCloud">
                                    </span><span class="cloudText">CLOUD</span>
                                </div>
                                <div class="divSelfHosted">
                                    <span class="selfHostedText">SELF HOSTED</span>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                <!-- Feature List -->
                <div class="sticky">{{ featuresHtml | safe }}</div>
            </div>
            <p class="max-w-screen-lg m-auto mt-12 text-center">
                At FlowFuse we understand that the security practises of our product
                are important to your company. We've prepared a <a href="../product/security">security statement</a>
                for you to understand the choices we've made.
            </p>
        </div>

    </div>
</div>
<div id="contact-us" class="w-full bg-gray-50 mt-16 pt-0">
    <div class="w-full bg-gray-50 pb-12">
        <div class="container max-w-5xl m-auto grid grid-cols-1 md:grid-cols-2 px-6 pt-16 gap-x-16 gap-y-6">
            <div>
                <h4 class="w-full text-center md:text-left">
                    Contact Us
                </h4>
                <p>
                    Excited to explore FlowFuse Enterprise together? Share your info and we'll get in touch.
                </p>
            </div>
            {% include hubspot.script %}
        </div>
    </div>
</div>

<!-- Scroll to anchor -->
<script>
    function scrollToAnchor(event, anchorId) {
        event.preventDefault();
        const anchor = document.getElementById(anchorId);
        if (anchor) {
            anchor.scrollIntoView({ behavior: 'smooth' });
        }
    }
</script>

<!-- Toggles -->
<script>
    // Hosting toggle
    const btns = document.querySelectorAll(".mainToggle");
    const cloud = document.querySelectorAll(".contentCloud");
    const selfHosted = document.querySelectorAll(".contentSelfHosted");

    // Get the hosting and billing parameters from the URL
    const urlParams = new URLSearchParams(window.location.search);
    const hosting = urlParams.get('hosting');
    const billing = urlParams.get('billing');

    // Check the hosting parameter when the page loads
    if (hosting === 'self-hosted') {
        // Show Self-Hosted state
        btns.forEach((item) => item.classList.add("slides"));
        cloud.forEach((item) => item.classList.add("hide"));
        selfHosted.forEach((item) => item.classList.remove("hide"));
    } else {
        // Show Cloud state
        btns.forEach((item) => item.classList.remove("slides"));
        cloud.forEach((item) => item.classList.remove("hide"));
        selfHosted.forEach((item) => item.classList.add("hide"));
    }

    btns.forEach(btn => {
        btn.addEventListener("click", function() {
            // Toggle .slides class on buttons
            btns.forEach((item) => item.classList.toggle("slides"));

            // Toggle .hide class on cloud and selfHosted elements
            cloud.forEach((item) => {
                item.classList.toggle("hide");
            });

            selfHosted.forEach((item) => {
                item.classList.toggle("hide");
            });

            // Change the hosting parameter based on toggle state
            if (btn.classList.contains("slides")) {
                // Change hosting parameter to Self-Hosted state
                urlParams.set('features', 'self-hosted');
            } else {
                // Remove the hosting parameter for Cloud state
                urlParams.delete('features');
            }
            // Update the URL
            if (urlParams.toString()) {
                window.history.replaceState({}, '', `${window.location.pathname}?${urlParams}`);
            } else {
                window.history.replaceState({}, '', window.location.pathname);
            }
        });
    });

    // Annual/monthly toggle
    const billingBtns = document.querySelectorAll(".billingToggle");
    const annual = document.querySelectorAll(".contentAnnual");
    const monthly = document.querySelectorAll(".contentMonthly");

    billingBtns.forEach(btn => {
        btn.addEventListener("click", function() {
            // Toggle .slides class on buttons
            billingBtns.forEach((item) => item.classList.toggle("slides"));

            // Toggle .hide class on annual and monthly elements
            annual.forEach((item) => {
                item.classList.toggle("hide");
            });

            monthly.forEach((item) => {
                item.classList.toggle("hide");
            });

            // Change the billing parameter based on toggle state
            if (btn.classList.contains("slides")) {
                // Change billing parameter to Annual state
                urlParams.set('billing', 'annual');
            } else {
                // Remove the billing parameter for Monthly state
                urlParams.delete('billing');
            }
            // Update the URL
            if (urlParams.toString()) {
                window.history.replaceState({}, '', `${window.location.pathname}?${urlParams}`);
            } else {
                window.history.replaceState({}, '', window.location.pathname);
            }
        });
    });
</script>

<!-- Sliders -->
<script>
    function setupPricingSlider(sliderId, basePrice, stepSize, priceIntElementId, priceDecElementId, annualPriceElementId, valueElementId, isAnnual) {
        const sliderEl = document.querySelector(sliderId)
        sliderEl.min = stepSize;
        sliderEl.value = stepSize;
        sliderEl.step = stepSize;
        const sliderValue = document.querySelector(valueElementId)
        const priceIntElement = document.querySelector(priceIntElementId);
        const priceDecElement = document.querySelector(priceDecElementId);
        const annualPriceElement = document.querySelector(annualPriceElementId);

        sliderEl.addEventListener("input", (event) => {
            let tempSliderValue = Math.ceil(event.target.value / stepSize) * stepSize;

            // Map slider IDs to div IDs
            const divIds = {
                "#team-annual-slider": ["#team-original-div", "#team-alternate-div", 350],
                "#enterprise-annual-slider": ["#enterprise-original-div", "#enterprise-alternate-div", 500],
                "#team-monthly-slider": ["#team-m-original-div", "#team-m-alternate-div", 350],
                "#enterprise-monthly-slider": ["#enterprise-m-original-div", "#enterprise-m-alternate-div", 500]
            };

            // Check if the slider ID is in the divIds map
            if (sliderId in divIds) {
                let originalDiv = document.querySelector(divIds[sliderId][0]);
                let alternateDiv = document.querySelector(divIds[sliderId][1]);
                let limit = divIds[sliderId][2];

                if (tempSliderValue > limit) {
                    sliderValue.textContent = "∞";
                    originalDiv.classList.add('hidden');
                    alternateDiv.classList.remove('hidden');
                } else {
                    sliderValue.textContent = tempSliderValue;
                    originalDiv.classList.remove('hidden');
                    alternateDiv.classList.add('hidden');
                }
            } else {
                sliderValue.textContent = tempSliderValue;
            }

            const progress = (tempSliderValue / sliderEl.max) * 100;
            sliderEl.style.background = `linear-gradient(to right, #4F46E5 ${progress}%, #A5B4FC ${progress}%)`;

            const discount = ((tempSliderValue - stepSize) / stepSize) * 0.01;

            let fixedMonthlyPrice;
            if (isAnnual) {
                fixedMonthlyPrice = 2708.50;
            } else {
                fixedMonthlyPrice = 3200.00;
            }

            let discountedPriceMonthly;
            if (tempSliderValue > 250 && (sliderId === "#team-annual-slider" || sliderId === "#team-monthly-slider")) {
                discountedPriceMonthly = fixedMonthlyPrice / tempSliderValue;
            } else {
                const discount = ((tempSliderValue - stepSize) / stepSize) * 0.01;
                discountedPriceMonthly = (basePrice * (1 - discount)) / 12;
            }

            const [intValue, decValue] = discountedPriceMonthly.toFixed(2).split(".");
            priceIntElement.textContent = intValue;
            priceDecElement.textContent = decValue;

            if (isAnnual) {
                annualPriceElement.innerHTML = `/instance a month<br>Annual bill. <span class="font-semibold">$${(discountedPriceMonthly * tempSliderValue).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2})}</span>/month<br \\>`;
            } else {
                annualPriceElement.innerHTML = `/instance a month <br>Billed monthly at <span class="font-semibold">$${(discountedPriceMonthly * tempSliderValue).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2})}</span><br \\>`;
            }
        })

        sliderEl.dispatchEvent(new Event('input'));
    }

    // Setup the sliders
    setupPricingSlider("#team-annual-slider", 250, 5, "#team-annual-price-int", "#team-annual-price-dec", "#team-annual-price-note", "#team-annual-value", true);
    setupPricingSlider("#enterprise-annual-slider", 500, 10, "#enterprise-annual-price-int", "#enterprise-annual-price-dec", "#enterprise-annual-price-note", "#enterprise-annual-value", true);
    setupPricingSlider("#team-monthly-slider", 300, 5, "#team-monthly-price-int", "#team-monthly-price-dec", "#team-monthly-price-note", "#team-monthly-value", false);
    setupPricingSlider("#enterprise-monthly-slider", 600, 10, "#enterprise-monthly-price-int", "#enterprise-monthly-price-dec", "#enterprise-monthly-price-note", "#enterprise-monthly-value", false);
</script>

<!-- Features info -->
<script>
    function openInfo(id, hosting) {
        capture('info-feature', { feature: id }, { hosting: hosting })
        document.getElementById("ff-dialog--feature--" + id + "-" + hosting).classList.add('active')
    }
    function closeInfo(id, hosting) {
        document.getElementById("ff-dialog--feature--" + id + "-" + hosting).classList.remove('active')
    }
</script>
