---
align: center
layout: layouts/page.njk
sitemapPriority: 0.90
faqTitle: "Frequently Asked <span class='text-indigo-600'>Questions</span>"
faqSubtitle: "If you have any questions not addressed here, don't hesitate to contact us through our <a href='/contact-us'>Contact Us</a> page"
meta:
    description: Discover the pricing options for FlowFuse, featuring Starter, Team, and Enterprise plans. Benefit from volume discounts on Team and Enterprise plans. Get started with a 14-day trial period for the Team plan.
    keywords: FlowFuse pricing, Cost, Plans, Features, Cloud, Self-hosted
    faq:
        - question: "Does FlowFuse offer annual discounts for FlowFuse Cloud?"
          answer: >
            Yes, Team customers on an annual subscription receive a 20% discount off of the monthly subscription price. Please reach out to request the discount. Please <a href="/contact-us/">reach out</a> to request the discount.
        - question: "Are flat-fee or site-wide licenses available?"
          answer: >
            It is not possible at this time to purchase an unlimited-use license, but contact us to discuss pricing for your unique use case.
        - question: "Do you offer discounts for large-scale deployments?"
          answer: >
            Yes, we provide customized volume discounts for use cases requiring hundreds or thousands of Node-RED instances. Please <a href='/contact-us'>Contact Us</a> to discuss your specific requirements.​
hubspot:
    cloud:
        formId: d43ab79b-d075-4b63-ba5e-bf971ca0b86e
        cta: "cta-contact-us"
    selfHosted:
        formId: 41e858e1-6756-45be-9082-3980237fa229
        cta: "cta-request-trial-license"
    dedicated:
        formId: 5a9939ee-899a-46b7-ab16-6376e310381d
        cta: "cta-contact-us-for-pricing"
    reference: "pricing"
---

<div class="pricing bg-white">
    <div class="w-full gradient-bg">
        <div class="text-center w-full pt-12 pb-6">
            <h1>FlowFuse <span class="text-indigo-600">Pricing</span></h1>
        </div>
        <div class="px-6 pricing-tiles flex flex-col lg:max-w-screen-2xl">
            <!-- Toggle-->
            <div class="text-center mt-5 md:mt-0 md:mb-8">
                <div class="mainToggle">
                    <button class="btnToggle">
                        <span class="selector"></span>
                        <div class="hosting">
                            <div class="divCloud">
                                <span class="cloudText">CLOUD</span>
                            </div>
                            <div class="divSelfHosted">
                                <span class="selfHostedText">SELF HOSTED</span>
                            </div>
                            <div class="divDedicated">
                                <span class="dedicatedText">DEDICATED</span>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
            <!-- Plans -->
            <!-- Cloud -->
            <div class="contentCloud m-auto transition duration-1000 md:min-h-[502px]">
                <div class="pricing-tiles flex flex-col md:grid md:max-lg lg:max-w-screen-xl mt-4 md:mt-0">
                    <!-- Starter -->
                    <div class="pricing-tile md:h-full">
                        <div class="pricing-tile-background pb-6 md:grid md:grid-rows-[auto_1fr_minmax(36px,_36px)]">
                            <div>
                                <div class="flex flex-col items-center text-left md:flex-row md:mb-6 md:px-0 md:block md:min-h-[133px]">
                                    <div class="flex flex-row justify-between mt-4 w-full gap-x-2">
                                        <h4 style="display:inline-block;">Starter</h4>
                                    </div>
                                    <p class="mt-7">Get started with <span class="inline font-normal">AI-enhanced </span><span class="inline-block font-normal">Node-RED</span> in the cloud.</p>
                                </div>
                                <div class="flex flex-col content-start features md:mt-3 mt-6 w-full">
                                    <note class="font-semibold">Starts at 2 hosted instances, 2 remote instances, and includes:
                                    </note>
                                    <ul class="ff-checklist font-light leading-7 mt-2">
                                        <li>AI Node-RED features</li>
                                        <li>2 Team members</li>
                                        <li>Device Auto Snapshots</li>
                                        <li>Blueprints</li>
                                        <li>Option to upgrade up to 3 hosted/3 remote instances</li>
                                    </ul>
                                </div>
                            </div>
                            <div data-nosnippet class="flex">
                                <!-- Price -->
                                <div class="mt-9 md:mt-12 md:text-left items-left w-full mb-11 md:mb-5 flex flex-row md:self-end">
                                    <div class="text-left flex flex-row md:self-end">
                                        <div class="mr-1">
                                            <note class="note text-sm">Starting at</note>
                                            <h2 class="self-end pb-1">
                                                $20
                                            </h2>
                                        </div>
                                        <note class="pl-2 text-sm leading-4 text-left self-end pb-2">
                                            /month
                                            <br>
                                            <span class="text-xs text-gray-500">after free trial of Team</span>
                                        </note>
                                    </div>
                                </div>
                            </div>
                            <a class="md:self-end ff-btn ff-btn--primary uppercase align-baseline w-full"
                                href="{{ site.appURL }}/account/create"
                                onclick="capture('cta-join', {'position': 'primary'}, {'plan': 'cloud-starter'})">TRY FOR FREE</a>
                        </div>
                    </div>
                    <!-- Team -->
                    <div class="pricing-tile md:h-full">
                        {% macro team(cloud=true) %}
                        <div class="pricing-tile-background pb-6 md:grid md:grid-rows-[auto_1fr_minmax(36px,_36px)]">
                            <div>
                                <div class="flex flex-col items-center text-left md:flex-row md:mb-6 md:px-0 md:block md:min-h-[133px]">
                                    <div class="flex flex-row justify-between mt-4 w-full gap-x-2">
                                        <h4 style="display:inline-block;">Team</h4>
                                    </div>
                                    <p class="mt-7"><span class="inline font-normal">Build bespoke applications collaboratively</span>, empower developer teams in your organization or small business.</p>
                                </div>
                                <div class="flex flex-col content-start features md:mt-3 mt-6 w-full">
                                    <note class="font-semibold">Starts at {% if cloud %}5{% else %}10{% endif %} hosted instances or remote instances, and includes:
                                    </note>
                                    <ul class="ff-checklist font-light leading-7 mt-2">
                                        <li>AI Node-RED features</li>
                                        <li>20 Team members</li>
                                        <li>Team collaboration</li>
                                        <li>MQTT Broker (8 clients to start)</li>
                                        {% if cloud %}
                                        <li>Standard Support + SLA: 99.5&#37;</li>
                                        {% else %}
                                        <li>Enterprise support</li>
                                        <li>Dedicated Success Management</li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <div data-nosnippet class="flex">
                                <!-- Price -->
                                <div class="mt-9 md:mt-12 md:text-left items-left w-full mb-11 md:mb-5 flex flex-row md:self-end">
                                    <div class="text-left flex flex-row md:self-end">
                                        <div class="mr-1">
                                            <note class="note text-sm">Starting at</note>
                                            <h2 class="self-end pb-1">
                                                ${% if cloud %}175{% else %}699{% endif %}
                                            </h2>
                                        </div>
                                        <note class="pl-2 text-sm leading-4 text-left self-end pb-2">
                                            /month
                                            {% if not cloud %}
                                            <br>
                                            <span class="text-xs text-gray-500">Billed annually</span>
                                            {% endif %}
                                        </note>
                                    </div>
                                </div>
                            </div>
                            <a class="md:self-end ff-btn ff-btn--primary uppercase align-baseline w-full"
                                href="{% if cloud %}{{ site.appURL }}/account/create{% else %}/contact-us{% endif %}"
                                onclick="{% if cloud %}capture('cta-join', {'position': 'primary'}, {'plan': 'cloud-team'}){% else %}capture('cta-contact-us', {'position': 'primary'}, {'plan': 'sh-team'}){% endif %}">
                                {% if cloud %}TRY FOR FREE{% else %}CONTACT US{% endif %}
                            </a>
                        </div>
                        {% endmacro %}
                        {{ team() }}
                    </div>
                    <!-- Enterprise -->
                    {% macro enterprise(show_sla=true, cloud=true) %}
                    <div class="pricing-tile md:h-full">
                        <div class="pricing-tile-background pb-6 md:grid md:grid-rows-[auto_1fr_minmax(36px,_36px)]">
                            <div>
                                <div class="flex flex-col items-center text-left md:flex-row md:mb-6 md:px-0 md:block md:min-h-[133px]">
                                    <div class="flex flex-row justify-between mt-4 w-full gap-x-2">
                                        <h4 style="display:inline-block;">Enterprise</h4>
                                    </div>
                                    <p class="mt-7">For <span class="inline font-normal">business critical applications</span> that require high availability and enterprise support.</p>
                                </div>
                                <div class="flex flex-col content-start features md:mt-3 mt-6 w-full">
                                    <note class="font-semibold">Starts at 20 hosted instances or remote instances, and includes:</note>
                                    <ul class="ff-checklist font-light leading-7 mt-2">
                                        <li>AI Node-RED features</li>
                                        <li>Unlimited team members</li>
                                        <li>Single Sign-On</li>
                                        {% if cloud %}
                                        <li>MQTT Broker (20 clients to start)</li>
                                        {% endif %}
                                        <li>Enterprise support{% if show_sla %} + SLA: 99.9&#37;{% endif %}</li>
                                        {% if not cloud %}
                                        <li>Dedicated Success Management</li>
                                        {% endif %}
                                        <li>Device group management</li>
                                    </ul>
                                </div>
                            </div>
                            <div data-nosnippet class="flex">
                                <!-- Price -->
                                <div class="mt-9 md:mt-12 md:text-left items-left w-full mb-11 md:mb-5 flex flex-row md:self-end">
                                    <h2 class="self-end pb-1">{% if cloud %}Let's Talk{% else %}Free Trial{% endif %}</h2>
                                </div>
                            </div>
                            <a class="md:self-end ff-btn ff-btn--primary uppercase align-baseline w-full"
                            {% if cloud %}
                               href="#contact-us" onclick="scrollToAnchor(event, 'contact-us'); capture('cta-contact-us', {'position': 'primary'}, {'plan': 'cloud-enterprise'})">Contact Us</a>
                            {% else %}
                                href="#request-trial-license" onclick="scrollToAnchor(event, 'request-trial-license'); capture('cta-trial-license', {'position': 'primary'}, {'plan': 'sh-enterprise'});">Get 30-day Trial License</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endmacro %}
                    {{ enterprise() }}
                </div>
            </div>
            <!-- Self-Hosted -->
            <div class="contentSelfHosted hide m-auto transition duration-1000 md:min-h-[502px]">
                <div class="pricing-tiles flex flex-col md:grid md:max-w-screen-md mt-4 md:mt-0">
                    <!-- Team -->
                    <div class="pricing-tile md:h-full">
                        {{ team(false) }}
                    </div>
                    <!-- Enterprise -->
                    <div class="pricing-tile md:h-full">
                        {{ enterprise(false, false) }}
                    </div>
                </div>
            </div>
            <!-- Dedicated -->
            <div class="contentDedicated hide m-auto transition duration-1000 md:min-h-[500px] w-full mb-12">
                <div class="pricing-tiles flex flex-col md:grid md:max-w-screen-lg mt-4 md:mt-0">
                    <!-- Card -->
                    <div class="pricing-tile md:h-full">
                        <div class="pricing-tile-background pb-6 md:grid">
                            <section class="flex md:flex-row gap-2">
                                <div class="md:w-2/3">
                                    <div class="flex flex-col items-center text-left md:flex-row md:mb-6 md:px-0 md:block md:min-h-[133px]">
                                        <div class="flex flex-row justify-between mt-4 w-full gap-x-2">
                                            <h4 style="display:inline-block;">FlowFuse Dedicated</h4>
                                        </div>
                                        <p class="mt-7">Tailored for businesses prioritizing data security, compliance, and regional flexibility, ideal for demanding efficiency and productivity in strict regulatory environments.</p>
                                    </div>
                                    <div class="flex flex-col content-start features md:mt-3 mt-10 mb-10 w-full">
                                        <note class="font-bold" style="display: inline-block;">Top features:
                                        </note>
                                        <ul class="ff-checklist font-light leading-7 mt-2 flex flex-col md:flex-row md:gap-2">
                                            <div class="w-full md:w-3/5">
                                                <li>Fully managed by FlowFuse</li>
                                                <li>Data residency in region of your choice</li>
                                                <li>Full data and source code isolation</li>
                                            </div>
                                            <div class="w-full md:w-2/5">
                                                <li>Enterprise grade security</li>
                                                <li>Regular upgrade cadence</li>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                                <div class="justify-center items-center m-auto md:w-1/3 max-w-[347px] w-full hidden md:flex lg:mt-3">
                                    {% image "./images/dedicated/flowfuse-dedicated.png", "FlowFuse and Node-RED logos in a double shield", [347] %}
                                </div>
                            </section>
                            <div class="md:container text-center w-full md:max-w-4xl flex flex-col gap-x-8 gap-y-4 items-center justify-center md:items-start md:justify-start md:flex-row">
                                <a onclick="scrollToAnchor(event, 'contact-us-dedicated'); capture('cta-contact-us-for-pricing', {'position': 'primary'}, {'plan': 'dedicated'});" class="ff-btn ff-btn--primary flex flex-col max-md:w-full">
                                  <span class="text-base uppercase no-underline md:px-4">
                                    CONTACT US FOR PRICING
                                  </span>
                                </a>
                                <a href="/dedicated/" onclick="capture('cta-learn-more', {'position': 'primary'}, {'plan': 'dedicated'})" class="max-md:w-full py-2 flex flex-row text-center justify-center md:text-left items-center md:justify-end md:self-end md:justify-self-end gap-1">
                                    Learn more about dedicated
                                    {% include "components/icons/arrow-long-right.svg" %}
                                </a>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        <!-- Feature Comparison -->
        <div id="feature-comparison" class="product w-full px-6 md:px-0 md:pt-6">
            <!-- Scroll to anchor -->
            <div class="flex flex-col items-center mb-14 md:mb-0 -mt-4">
                <a href="#feature-comparison-table" onclick="scrollToAnchor(event, 'feature-comparison-table')">
                    {% include "components/icons/chevron-down.svg" %}
                </a>
            </div>
            <div class="container max-w-screen-lg m-auto text-center">
                <div id="feature-comparison-table" class="md:py-9 mt-10 mb-6">
                    <h2><span class="text-indigo-600">Feature</span> Comparison</h2>
                </div>
                <!-- Feature List -->
                <div>{{ featuresHtml | safe }}
                    {% set hosting = "cloud" %}
                    <div class="contentCloud transition duration-1000 max-w-full overflow-x-scroll sm:overflow-x-visible h-[60vh] sm:h-full">
                        {% include "feature_lists/features-table-base.njk" %}
                    </div>
                    {% set hosting = "self-hosted" %}
                    <div class="contentSelfHosted hide transition duration-1000 max-w-full overflow-x-scroll sm:overflow-x-visible h-[60vh] sm:h-full">
                        {% include "feature_lists/features-table-base.njk" %}
                    </div>
                </div>
            </div>
            <p class="max-w-screen-lg m-auto mt-12 text-center md:px-9 pb-12 border-b">
                At FlowFuse we understand that the security practises of our product
                are important to your company. We've prepared a <a href="/product/security/">security statement</a>
                for you to understand the choices we've made.
            </p>
        </div>
    </div>
</div>
<!-- Social proof -->
<div class="max-w-md sm:max-w-screen-lg m-auto max-w-5xl pb-7 md:px-9">
    <div class="social-proof-logos mx-auto w-full text-center">
        {% include "social-proof.njk" %}
    </div>
</div>
<!-- Form section -->
<!-- Contact us -->
<div id="contact-us" class="contentCloud hide w-full bg-gray-50 pt-0">
    <div class="w-full bg-gray-50 pb-12">
        <div class="container max-w-5xl m-auto grid grid-cols-1 md:grid-cols-2 px-6 pt-16 gap-x-16 gap-y-6">
            <div>
                <h3 class="w-full text-center md:text-left">
                    Contact Us
                </h3>
                <p>
                    To learn more about our plans, discuss your specific needs, or get advice on the best fit for your project, please fill out the form and we will get back to you as soon as possible.
                </p>
            </div>
            {% hubspotForm hubspot.cloud.formId, hubspot.cloud.cta, hubspot.reference, 'contactUsForm' %}
        </div>
    </div>
</div>
<!-- Trial License -->
<div id="request-trial-license" class="contentSelfHosted hide w-full bg-gray-50 pt-0">
    <div class="w-full bg-gray-50 pb-12">
        <div class="container max-w-5xl m-auto grid grid-cols-1 md:grid-cols-2 px-6 pt-16 gap-x-16 gap-y-6">
            <div>
                <h3 id="trial-license" class="w-full text-center md:text-left">
                    30-day Trial License
                </h3>
                <p>
                    Unlock the complete potential of FlowFuse with a complimentary 30-day Enterprise license. This trial gives you the chance to explore all the features and functionalities of FlowFuse in your own environment. To start your trial, simply fill out the form. Our sales team will reach out to you to discuss your needs and provide the license.
                </p>
            </div>
            {% hubspotForm hubspot.selfHosted.formId, hubspot.selfHosted.cta, hubspot.reference, 'trialLicenseForm' %}
        </div>
    </div>
</div>
<!-- Dedicated contact us -->
<div class="contentDedicated hide w-full px-6" id="contact-us-dedicated">
    <div class="flex flex-col m-auto max-w-2xl mt-10 pb-12 gap-12">
        <h2 class="w-full text-center"><span class="text-indigo-600">Contact us</span> for pricing
        </h2>
        <div>
            {% hubspotForm hubspot.dedicated.formId, hubspot.dedicated.cta, hubspot.reference, 'dedicatedPricingForm' %}
        </div>
    </div>
</div>

<!-- Frequently Asked Questions -->
<div class="px-6 md:px-14 max-w-screen-lg mx-auto">
    {% include "faq.njk" %}
</div>
<!-- Scroll to anchor -->
{% include "smooth-scroll.njk" %}

<!-- Toggle -->
<script>
    // Get the hosting and billing parameters from the URL
    const urlParams = new URLSearchParams(window.location.search);
    let hosting = urlParams.get('hosting') || 'cloud';

    // Hosting toggle
    const btns = document.querySelectorAll(".mainToggle");
    const cloud = document.querySelectorAll(".contentCloud");
    const selfHosted = document.querySelectorAll(".contentSelfHosted");
    const dedicated = document.querySelectorAll(".contentDedicated"); // New dedicated elements
    const cloudText = document.querySelector(".cloudText");
    const selfHostedText = document.querySelector(".selfHostedText");
    const dedicatedText = document.querySelector(".dedicatedText");
    const selector = document.querySelector(".selector");
    const featureComparison = document.querySelector("#feature-comparison");

    function updateContentAndUrl(hosting) {
        cloudText.classList.remove('active');
        selfHostedText.classList.remove('active');
        dedicatedText.classList.remove('active');

        if (hosting === 'cloud') {
            selector.style.left = "0.8%";
            cloud.forEach((item) => item.classList.remove("hide"));
            selfHosted.forEach((item) => item.classList.add("hide"));
            dedicated.forEach((item) => item.classList.add("hide"));
            urlParams.delete('hosting');
            cloudText.classList.add('active');
            featureComparison.classList.remove("hide");
        } else if (hosting === 'self-hosted') {
            selector.style.left = "33%";
            cloud.forEach((item) => item.classList.add("hide"));
            selfHosted.forEach((item) => item.classList.remove("hide"));
            dedicated.forEach((item) => item.classList.add("hide"));
            urlParams.set('hosting', hosting);
            selfHostedText.classList.add('active');
            featureComparison.classList.remove("hide");
        } else {
            selector.style.left = "66.2%";
            cloud.forEach((item) => item.classList.add("hide"));
            selfHosted.forEach((item) => item.classList.add("hide"));
            dedicated.forEach((item) => item.classList.remove("hide"));
            urlParams.set('hosting', hosting);
            dedicatedText.classList.add('active');
            featureComparison.classList.add("hide");
        }

        // Update the history
        let paramString = urlParams.toString();
        let currentHash = window.location.hash; // Preserve the current hash
        window.history.replaceState({}, '', paramString ? "?" + paramString + currentHash : window.location.pathname + currentHash);
    }

    // Check the hosting parameter when the page loads
    updateContentAndUrl(hosting);

    cloudText.addEventListener("click", function() {
        if (hosting === 'cloud') return;
        hosting = 'cloud';
        updateContentAndUrl(hosting);
        capture('cloud');
    });

    selfHostedText.addEventListener("click", function() {
        if (hosting === 'self-hosted') return;
        hosting = 'self-hosted';
        updateContentAndUrl(hosting);
        capture('self-hosted');
    });

    dedicatedText.addEventListener("click", function() {
        if (hosting === 'dedicated') return;
        hosting = 'dedicated';
        updateContentAndUrl(hosting);
        capture('dedicated');
    });
</script>

<!-- Features info -->
<script>
    function openInfo(id, hosting) {
        capture('info-feature', { feature: id }, { hosting: hosting })
        document.getElementById("ff-dialog--feature--" + id + "-" + hosting).classList.add('active')
    }
    function closeInfo(id, hosting) {
        document.getElementById("ff-dialog--feature--" + id + "-" + hosting).classList.remove('active')
    }
</script>
