---
align: center
layout: layouts/page.njk
sitemapPriority: 0.90
faqTitle: "Frequently Asked <span class='text-indigo-600'>Questions</span>"
faqSubtitle: "If you have any questions not addressed here, don't hesitate to contact us through our <a href='/contact-us'>Contact Us</a> page"
meta:
    description: Discover the pricing options for FlowFuse, featuring Starter, Pro, and Enterprise plans. Benefit from volume discounts on Pro and Enterprise plans. Get started with a 14-day trial period for the Pro plan.
    keywords: FlowFuse pricing, Cost, Plans, Features, Cloud, Self-hosted
    faq:
        - question: "Does FlowFuse offer annual discounts for FlowFuse Cloud?"
          answer: >
            Yes, both Starter and Pro customers receive a free month when paying for a year of FlowFuse in advance. Simply choose yearly billing upon signup, or select it from the Billing area in the app.
        - question: "Are flat-fee or site-wide licenses available?"
          answer: >
            It is not possible at this time to purchase an unlimited-use license, but contact us to discuss pricing for your unique use case.
        - question: "Do you offer discounts for large-scale deployments?"
          answer: >
            Yes, we provide customized volume discounts for use cases requiring hundreds or thousands of Node-RED instances. Please <a href='/contact-us'>Contact Us</a> to discuss your specific requirements.​
hubspot:
    cloud:
        formId: d43ab79b-d075-4b63-ba5e-bf971ca0b86e
        cta: "cta-contact-us"
    selfHosted:
        formId: 41e858e1-6756-45be-9082-3980237fa229
        cta: "cta-request-trial-license"
    reference: "pricing"
---

<div class="pricing bg-white">
    <div class="w-full gradient-bg">
        <div class="text-center w-full pt-12 pb-6">
            <h1>FlowFuse <span class="text-indigo-600">Pricing</span></h1>
        </div>
        <div class="px-6 pricing-tiles flex flex-col lg:max-w-screen-2xl">
            <!-- Toggle-->
            <div class="text-center mt-5 md:mt-0 md:mb-8">
                <div class="mainToggle">
                    <button class="btnToggle">
                        <span class="selector"></span>
                        <div class="hosting">
                            <div class="divCloud">
                                <span class="cloudText">CLOUD</span>
                            </div>
                            <div class="divSelfHosted">
                                <span class="selfHostedText">SELF HOSTED</span>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
            <!-- Plans -->
            {% macro starter(cloud=true) %}
            <div class="pricing-tile-background pb-6 md:grid md:grid-rows-[auto_1fr_minmax(36px,_36px)]">
                <div>
                    <div class="flex flex-col items-center text-left md:flex-row md:mb-6 md:px-0 md:block md:min-h-[133px]">
                        <div class="flex flex-row justify-between mt-4 w-full gap-x-2">
                            <h4 style="display:inline-block;">Starter</h4>
                        </div>
                        {% if cloud %}
                        <p class="mt-7"><span class="inline font-normal">Cloud-hosted Node-RED</span> with FlowFuse development enhancements. The fastest way to <span class="inline font-normal">get started building </span>with Node-RED.</p>
                        {% else %}
                        <p class="mt-7">Download and self-host the <span class="inline font-normal">open-source edition</span> of FlowFuse. Ideal for evaluation and small deployments.</p>
                        {% endif %}
                    </div>

                    <div class="flex flex-col content-start features md:mt-3 mt-6 w-full">
                        {% if cloud %}
                        <ul class="ff-checklist font-light leading-7 mt-2">
                            <li>Faster, more powerful, AI-enhanced Node&#8209;RED</li>
                            <li>2 team members</li>
                            <li>Blueprints</li>
                            <li>Option to upgrade up to 3 hosted/3 remote instances</li>
                        </ul>
                        <span class="hidden md:inline"><br></span>
                        <br>
                        <note class="font-semibold">Includes 1 hosted instance. Additional instances are $20/month.
                        </note>
                        {% else %}
                        <ul class="ff-checklist font-light leading-7 mt-2">
                            <li>Open-source FlowFuse platform</li>
                            <li>Self-hosted deployment</li>
                            <li>Core instance & device management</li>
                            <li>5 team members</li>
                            <li>Community edition</li>
                        </ul>
                        <br>
                        <note class="font-semibold">Includes up to 5 hosted instances or remote instances.
                        </note>
                        {% endif %}
                    </div>
                </div>
                <div data-nosnippet class="flex">
                    {% if cloud %}
                    <div class="mt-9 md:mt-12 md:text-left items-left w-full mb-11 md:mb-5 flex flex-row md:self-end">
                        <div class="text-left flex flex-row md:self-end">
                            <div class="mr-1">
                                <note class="note text-sm">Starting at</note>
                                <h2 class="self-end pb-1">
                                    $20
                                </h2>
                            </div>
                            <note class="pl-2 text-sm leading-4 text-left self-end pb-2">
                                /month
                                <br>
                                <span class="text-xs text-gray-500">after free trial of Pro</span>
                            </note>
                        </div>
                    </div>
                    {% else %}
                    <div class="mt-9 md:mt-12 md:text-left items-left w-full mb-11 md:mb-5 flex flex-row md:self-end">
                        <h2 class="self-end pb-1">Free</h2>
                    </div>
                    {% endif %}
                </div>
                <a class="md:self-end ff-btn ff-btn--primary uppercase align-baseline w-full"
                    href='{% if cloud %}{% include "sign-up-url.njk" %}{% else %}https://flowfuse.com/docs/install/introduction/{% endif %}'
                    {% if cloud %}onclick="capture('cta-join', {'position': 'primary'}, {'plan': 'cloud-starter'})"{% else %}onclick="capture('cta-install', {'position': 'primary'}, {'plan': 'sh-starter'})"{% endif %}>
                    {% if cloud %}TRY FOR FREE{% else %}INSTALL NOW{% endif %}
                </a>
            </div>
            {% endmacro %}
            <!-- Cloud -->
            <div class="contentCloud m-auto transition duration-1000 md:min-h-[502px]">
                <div class="pricing-tiles flex flex-col md:grid md:max-lg lg:max-w-screen-xl mt-4 md:mt-0">
                    <!-- Starter -->
                    <div class="pricing-tile md:h-full">
                        {{ starter() }}
                    </div>
                    <!-- Pro -->
                    <div class="pricing-tile md:h-full">
                        {% macro team(cloud=true) %}
                        <div class="pricing-tile-background pb-6 md:grid md:grid-rows-[auto_1fr_minmax(36px,_36px)]">
                            <div>
                                <div class="flex flex-col items-center text-left md:flex-row md:mb-6 md:px-0 md:block md:min-h-[133px]">
                                    <div class="flex flex-row justify-between mt-4 w-full gap-x-2">
                                        <h4 style="display:inline-block;">Pro</h4>
                                    </div>
                                    <p class="mt-7"><span class="inline font-normal">Build bespoke applications collaboratively</span>, manage your Node-RED applications with improved security and control.</p>
                                </div>
                                <div class="flex flex-col content-start features md:mt-3 mt-6 w-full">
                                    
                                    <ul class="ff-checklist font-light leading-7 mt-2">
                                        <li>Faster, more powerful, AI-enhanced Node&#8209;RED</li>
                                        <li>20 Team members</li>
                                        <li>Team collaboration</li>
                                        <li>MQTT Broker (8 clients to start)</li>
                                        {% if cloud %}
                                        <li>Standard Support + SLA: 99.5&#37;</li>
                                        {% else %}
                                        <li>Enterprise support</li>
                                        <li>Dedicated Success Management</li>
                                        {% endif %}
                                    </ul>
                                    {% if cloud %}<span class="hidden md:inline"><br></span>{% endif %}
                                    <br>
                                    <note class="font-semibold">Includes {% if cloud %}5{% else %}5{% endif %} hosted instances or remote instances. Additional instances start at $35/month.
                                    </note>
                                </div>
                            </div>
                            <div data-nosnippet class="flex">
                                <!-- Price -->
                                <div class="mt-9 md:mt-12 md:text-left items-left w-full mb-11 md:mb-5 flex flex-row md:self-end">
                                    <div class="text-left flex flex-row md:self-end">
                                        <div class="mr-1">
                                            <note class="note text-sm">Starting at</note>
                                            <h2 class="self-end pb-1">
                                                $425
                                            </h2>
                                        </div>
                                        <note class="pl-2 text-sm leading-4 text-left self-end pb-2">
                                            /month
                                            {% if not cloud %}
                                            <br>
                                            <span class="text-xs text-gray-500">Billed annually</span>
                                            {% endif %}
                                        </note>
                                    </div>
                                </div>
                            </div>
                            <a class="md:self-end ff-btn ff-btn--primary uppercase align-baseline w-full"
                                href="{% if cloud %}{% include "sign-up-url.njk" %}{% else %}/contact-us{% endif %}"
                                {% if cloud %}onclick="capture('cta-join', {'position': 'primary'}, {'plan': 'cloud-team'})"{% else %}onclick="capture('cta-contact-us', {'position': 'primary'}, {'plan': 'sh-team'})"{% endif %}>
                                {% if cloud %}TRY FOR FREE{% else %}CONTACT US{% endif %}
                            </a>
                        </div>
                        {% endmacro %}
                        {{ team() }}
                    </div>
                    <!-- Enterprise -->
                    {% macro enterprise(show_sla=true, cloud=true) %}
                    <div class="pricing-tile md:h-full">
                        <div class="pricing-tile-background pb-6 md:grid md:grid-rows-[auto_1fr_minmax(36px,_36px)]">
                            <div>
                                <div class="flex flex-col items-center text-left md:flex-row md:mb-6 md:px-0 md:block md:min-h-[133px]">
                                    <div class="flex flex-row justify-between mt-4 w-full gap-x-2">
                                        <h4 style="display:inline-block;">Enterprise</h4>
                                    </div>
                                    <p class="mt-7">Operate <span class="inline font-normal">organization-wide</span> industrial applications with the highest security and integrity.</p>
                                </div>
                                <div class="flex flex-col content-start features md:mt-3 mt-6 w-full">
                                    
                                    <ul class="ff-checklist font-light leading-7 mt-2">
                                        <li>Faster, more powerful, AI-enhanced Node&#8209;RED</li>
                                        <li>Unlimited team members</li>
                                        <li>Single Sign-On</li>
                                        {% if cloud %}
                                        <li>MQTT Broker (20 clients to start)</li>
                                        {% endif %}
                                        <li>Enterprise support{% if show_sla %} + SLA: 99.9&#37;{% endif %}</li>
                                        {% if not cloud %}
                                        <li>Dedicated Success Management</li>
                                        {% endif %}
                                        <li>Device group management</li>
                                    </ul>
                                    <br>
                                    <note class="font-semibold">Includes 20 hosted instances or remote instances.</note>
                                </div>
                            </div>
                            <div data-nosnippet class="flex">
                                <!-- Price -->
                                <div class="mt-9 md:mt-12 md:text-left items-left w-full mb-11 md:mb-5 flex flex-row md:self-end">
                                    <h2 class="self-end pb-1">{% if cloud %}Let's Talk{% else %}Free Trial{% endif %}</h2>
                                </div>
                            </div>
                            <a class="md:self-end ff-btn ff-btn--primary uppercase align-baseline w-full"
                            {% if cloud %}
                               href="#contact-us" onclick="scrollToAnchor(event, 'contact-us'); capture('cta-contact-us', {'position': 'primary'}, {'plan': 'cloud-enterprise'})">Contact Us</a>
                            {% else %}
                                href="#request-trial-license" onclick="scrollToAnchor(event, 'request-trial-license'); capture('cta-trial-license', {'position': 'primary'}, {'plan': 'sh-enterprise'});">Get 30-day Trial License</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endmacro %}
                    {{ enterprise() }}
                </div>
            </div>
            <!-- Self-Hosted -->
            <div class="contentSelfHosted hide m-auto transition duration-1000 md:min-h-[502px]">
                <div class="pricing-tiles flex flex-col md:grid md:max-lg lg:max-w-screen-xl mt-4 md:mt-0">
                    <!-- Starter -->
                    <div class="pricing-tile md:h-full">
                        {{ starter(false) }}
                    </div>
                    <!-- Team -->
                    <div class="pricing-tile md:h-full">
                        {{ team(false) }}
                    </div>
                    <!-- Enterprise -->
                    <div class="pricing-tile md:h-full">
                        {{ enterprise(false, false) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature Comparison -->
        <div id="feature-comparison" class="product w-full px-6 md:px-0 md:pt-6">
            <!-- Scroll to anchor -->
            <div class="flex flex-col items-center mb-14 md:mb-0 -mt-4">
                <a href="#feature-comparison-table" onclick="scrollToAnchor(event, 'feature-comparison-table')">
                    {% include "components/icons/chevron-down.svg" %}
                </a>
            </div>
            <div class="container max-w-screen-lg m-auto text-center">
                <div id="feature-comparison-table" class="md:py-9 mt-10 mb-6">
                    <h2><span class="text-indigo-600">Feature</span> Comparison</h2>
                </div>
                <!-- Feature List -->
                <div>{{ featuresHtml | safe }}
                    {% set hosting = "cloud" %}
                    <div class="contentCloud transition duration-1000 max-w-full overflow-x-scroll sm:overflow-x-visible h-[60vh] sm:h-full">
                        {% include "feature_lists/features-table-base.njk" %}
                    </div>
                    {% set hosting = "self-hosted" %}
                    <div class="contentSelfHosted hide transition duration-1000 max-w-full overflow-x-scroll sm:overflow-x-visible h-[60vh] sm:h-full">
                        {% include "feature_lists/features-table-base.njk" %}
                    </div>
                </div>
            </div>
            <p class="max-w-screen-lg m-auto mt-12 text-center md:px-9 pb-12 border-b">
                At FlowFuse we understand that the security practises of our product
                are important to your company. We've prepared a <a href="/platform/security/">security statement</a>
                for you to understand the choices we've made.
            </p>
        </div>
    </div>
</div>
<!-- Social proof -->
<div class="max-w-md sm:max-w-screen-lg m-auto max-w-5xl pb-7 md:px-9">
    <div class="mx-auto w-full">
        {% include "social-proof.njk" %}
    </div>
</div>
<!-- Form section -->
<!-- Contact us -->
<div id="contact-us" class="contentCloud hide w-full bg-gray-50 pt-0">
    <div class="w-full bg-gray-50 pb-12">
        <div class="container max-w-5xl m-auto grid grid-cols-1 md:grid-cols-2 px-6 pt-16 gap-x-16 gap-y-6">
            <div>
                <h3 class="w-full text-center md:text-left">
                    Contact Us
                </h3>
                <p>
                    To learn more about our plans, discuss your specific needs, or get advice on the best fit for your project, please fill out the form and we will get back to you as soon as possible.
                </p>
            </div>
            {% hubspotForm hubspot.cloud.formId, hubspot.cloud.cta, hubspot.reference, 'contactUsForm' %}
        </div>
    </div>
</div>
<!-- Trial License -->
<div id="request-trial-license" class="contentSelfHosted hide w-full bg-gray-50 pt-0">
    <div class="w-full bg-gray-50 pb-12">
        <div class="container max-w-5xl m-auto grid grid-cols-1 md:grid-cols-2 px-6 pt-16 gap-x-16 gap-y-6">
            <div>
                <h3 id="trial-license" class="w-full text-center md:text-left">
                    30-day Trial License
                </h3>
                <p>
                    Unlock the complete potential of FlowFuse with a complimentary 30-day Enterprise license. This trial gives you the chance to explore all the features and functionalities of FlowFuse in your own environment. To start your trial, simply fill out the form. Our sales team will reach out to you to discuss your needs and provide the license.
                </p>
            </div>
            {% hubspotForm hubspot.selfHosted.formId, hubspot.selfHosted.cta, hubspot.reference, 'trialLicenseForm' %}
        </div>
    </div>
</div>
<!-- Frequently Asked Questions -->
<div class="px-6 md:px-14 max-w-screen-lg mx-auto">
    {% include "faq.njk" %}
</div>
<!-- Scroll to anchor -->
{% include "smooth-scroll.njk" %}

<!-- Toggle -->
<script>
    // Get the hosting and billing parameters from the URL
    const urlParams = new URLSearchParams(window.location.search);
    let hosting = urlParams.get('hosting') || 'cloud';

    // Hosting toggle
    const btns = document.querySelectorAll(".mainToggle");
    const cloud = document.querySelectorAll(".contentCloud");
    const selfHosted = document.querySelectorAll(".contentSelfHosted");
    const cloudText = document.querySelector(".cloudText");
    const selfHostedText = document.querySelector(".selfHostedText");
    const selector = document.querySelector(".selector");
    const featureComparison = document.querySelector("#feature-comparison");

    function updateContentAndUrl(hosting) {
        cloudText.classList.remove('active');
        selfHostedText.classList.remove('active');

        if (hosting === 'cloud') {
            selector.style.left = "0.8%";
            cloud.forEach((item) => item.classList.remove("hide"));
            selfHosted.forEach((item) => item.classList.add("hide"));
            urlParams.delete('hosting');
            cloudText.classList.add('active');
            featureComparison.classList.remove("hide");
        } else if (hosting === 'self-hosted') {
            selector.style.left = "49%";
            cloud.forEach((item) => item.classList.add("hide"));
            selfHosted.forEach((item) => item.classList.remove("hide"));
            urlParams.set('hosting', hosting);
            selfHostedText.classList.add('active');
            featureComparison.classList.remove("hide");
        }

        // Update the history
        let paramString = urlParams.toString();
        let currentHash = window.location.hash; // Preserve the current hash
        window.history.replaceState({}, '', paramString ? "?" + paramString + currentHash : window.location.pathname + currentHash);
    }

    // Check the hosting parameter when the page loads
    updateContentAndUrl(hosting);

    cloudText.addEventListener("click", function() {
        if (hosting === 'cloud') return;
        hosting = 'cloud';
        updateContentAndUrl(hosting);
        capture('cloud');
    });

    selfHostedText.addEventListener("click", function() {
        if (hosting === 'self-hosted') return;
        hosting = 'self-hosted';
        updateContentAndUrl(hosting);
        capture('self-hosted');
    });
</script>

<!-- Features info -->
<script>
    function openInfo(id, hosting) {
        capture('info-feature', { feature: id }, { hosting: hosting })
        document.getElementById("ff-dialog--feature--" + id + "-" + hosting).classList.add('active')
    }
    function closeInfo(id, hosting) {
        document.getElementById("ff-dialog--feature--" + id + "-" + hosting).classList.remove('active')
    }
</script>
