<script>
    function displayHubSpotForm() {
        hbspt.forms.create({
            region: "eu1",
            portalId: "26586079",
            formId: "{{ hubspot.formId }}",
        });
    }
</script>
<script async type="text/javascript" charset="utf-8" src="//js-eu1.hsforms.net/forms/embed/v2.js" onload="displayHubSpotForm()"></script>