<script>
    function displayHubSpotForm() {
        hbspt.forms.create({
            region: "eu1",
            portalId: "26586079",
            formId: "159c173d-dd95-49bd-922b-ff3ef243e90c",
            onFormSubmit: function($form) {
                capture('cta-blog-subscribe', {'page': 'blog'})
            }
        });
    }
</script>
<script async type="text/javascript" charset="utf-8" src="//js-eu1.hsforms.net/forms/embed/v2.js" onload="displayHubSpotForm()" onerror="hsFallback(this)"></script>
