<div id="hs-form-newsletter-blog"></div>
{% set fallbackId = 'hs-form-newsletter-blog-fallback' %}
{% set contentType = 'form' %}
{% include "hubspot/consent-fallback.njk" %}
<script type="text/plain" data-category="analytics">
    window.ffCreateHubSpotForm({
        target: '#hs-form-newsletter-blog',
        fallbackSelector: '#hs-form-newsletter-blog-fallback',
        region: "eu1",
        portalId: "26586079",
        formId: "159c173d-dd95-49bd-922b-ff3ef243e90c",
        onFormSubmit: function () {
            capture('cta-blog-subscribe', {'page': 'blog'});
        }
    });
</script>
