---
layout: nohero
sitemapPriority: 0.8
pagination:
  data: collections.community
  size: 19 # creates a nice matrix (1 header, 18 left: 3 on 6 rows)
  alias: posts
  reverse: true
meta:
    title: Newsletter
---

{% include "blog/template.njk" %}