<div class="flex flex-col justify-between ff-blog container m-auto text-left max-w-4xl pt-8 pb-12 w-full ff-full-bg">
    <div>
        <div class="px-2 flex items-center gap-12">
            <h1 class="mb-0">Certified Nodes</h1>
            <div class="flex-grow">
            {% include "components/divider-grey-wires-right.njk" %}
            </div>
        </div>

        <div class="px-2 my-4 flex gap-4">
        <p>
            {{ description | safe }}
        </p> 
        </div>
        <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 px-2 mt-6 cursor-pointer border-b pb-8">
        {%- asyncEach node in pagination.items | filterNodeCategory(category)  -%}
            <li class="w-full border bg-white rounded-lg hover:drop-shadow-lg hover:border-red-600 transition ease-in-out duration-300">
                <a href="{{ node.url }}" target="_blank" class="w-full h-full flex flex-col group hover:no-underline px-4 py-3 cursor-pointer">
                    <div>
                        <div class="flex flex-row justify-between">
                            <h3 class="w-full mb-0 font-medium">{{ node.title }}</h3>
                            <div class="w-[20px] my-auto text-gray-400">
                                {% include "components/icons/arrow-top-right-on-square.svg" %}
                            </div>
                        </div>
                    </div>
                    <div class="text-sm prose prose-blue md:prose-md py-1">
                        {{ node.description | excerpt | safe }}
                    </div>
                </a>
            </li>        
        {%- endeach -%}
        </ul>
    </div> 
    {% include "blog/pagination.njk" %}
</div>