
    <nav aria-labelledby="pagination" class="pagination mt-4">
        <ol class="flex flex-row w-full justify-between text-gray-600">
            <li class="flex md:flex-initial w-40 justify-start pl-2 ff-nav-blog-p"{% if not pagination.href.previous %} style="opacity: 0; pointer-events: none;"{% endif %}><a href="{{ pagination.href.previous }}">Previous</a></li>
            <li>
                <span>{{ pagination.pageNumber + 1 }} of {{ pagination.pages.length }}</span>
            </li>
            <li class="flex md:flex-initial w-40 justify-end pr-2 ff-nav-blog-n"{% if not pagination.href.next %} style="opacity: 0; pointer-events: none;;"{% endif %}><a href="{{ pagination.href.next }}">Next</a></li>
        </ol>
    </nav>