<div class="ff-blog container m-auto text-left max-w-4xl pt-8 pb-24 w-full">
    <div class="px-2 flex items-center gap-12">
        <h1 class="mb-0">Blog</h1>
        <div class="w-full px-2 my-4 grid">
            <div id="algolia-search" class="border rounded w-full md:w-1/2 justify-self-end"></div>
        </div>
    </div>
    <div class="px-2 my-4 flex flex-wrap gap-4">
        {%- for tag in blogTags -%}
            {% if tag.value !== "posts" %}
            <a class="hover:no-underline" href="/blog/{{ tag.value }}/"><button class="ff-btn ff-btn--primary{% if not page.url.includes('/' + tag.value + '/')%}-outlined{% endif %}">{{ tag.label }}</button></a>
            {% else %}
            <a class="hover:no-underline" href="/blog/"><button class="ff-btn ff-btn--primary{% if page.url !== "/blog/"%}-outlined{% endif %}">{{ tag.label }}</button></a>
            {% endif %}
        {% endfor %}
    </div>
    <ul class="flex flex-wrap">
        {%- asyncEach item in posts -%}
            {% include "blog/blog-posts.njk" %}
        {%- endeach -%}
    </ul>
    {% include "blog/pagination.njk" %}
</div>
{% include "layouts/common-js.njk" %}