<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#aa4444">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
    <title>FlowForge | An open source low-code development platform</title>

    {% if tags and 'posts' in tags %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@flowforgeinc" />
    <meta name="twitter:creator" content="@{{ team[authors|first].twitter }}" />
    <meta property="og:url" content="{{ site.baseURL }}{{ page.url }}" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    {% endif %}
    <script defer data-domain="flowforge.com" src="https://plausible.io/js/plausible.js"></script>
</head>
<body class="leading-normal tracking-normal  gradient text-gray-500 min-h-screen flex flex-col" style="">
    <div class="bg-white flex-grow home">
        <div class="pb-14 max-w-screen-lg mx-2 lg:mx-auto ">
            <header class="w-full container mx-auto p-6">
                <nav class="relative w-full flex items-center justify-between">
                    <a class="bg-white no-underline hover:no-underline font-bold h-8 w-40 text-red-hero flex flex-row"  href="/" style="font-family:'Baloo 2', sans-serif">
                        {% include "components/flowforge-wordmark.njk" %}
                    </a>
                    <div class="block sm:hidden">
                        <button id="nav-toggle" class="flex items-center px-3 py-2 text-red-hero">
                            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
                        </button>
                    </div>

                    <ul id="nav-content" class="hidden absolute top-8 -right-7 border shadow-sm sm:inline sm:shadow-none w-36 sm:border-0 bg-white sm:bg-transparent sm:w-auto rounded sm:static sm:float-none sm:flex sm:flex-row flex-col items-center justify-between font-medium text text-red-hero no-underline">
                        <li class="flex"><a class="flex-grow hover:underline px-4 sm:pl-0 py-2" href="/about">about</a></li>
                        <!-- <li class="flex"><a class="flex-grow hover:underline px-4 py-2" href="/team">team</a></li> -->
                        <li class="flex"><a class="flex-grow hover:underline px-4 py-2" href="/blog">blog</a></li>
                        <li class="flex"><a class="flex-grow hover:underline px-4 sm:pr-2 py-2" href="https://twitter.com/flowforgeinc">{% include "components/twitter.njk" %}</a></li>
                        <li class="flex"><a class="flex-grow hover:underline px-4 sm:pr-2 py-2" href="https://github.com/flowforge">{% include "components/github.njk" %}</a></li>
                        <li class="flex"><a class="flex-grow hover:underline px-4 sm:pr-2 py-2" href="https://www.linkedin.com/company/flowforge-inc">{% include "components/linkedin.njk" %}</a></li>
                        <li class="flex"><a class="flex-grow hover:underline px-4 sm:pr-2 sm:pr-0 py-2" href="/blog/index.xml">{% include "components/rss.njk" %}</a></li>
                    </ul>
                </nav>
            </header>
            <main class="container pt-14 md:pt-18 px-6 mx-auto flex flex-wrap flex-col md:flex-row items-center">
                {{ content | safe }}
            </main>
        </div>
    </div>
    <footer class="bg-red-hero w-full">
        <div class="max-w-screen-xl xl:mx-auto lg:mx-24 py-8 px-10 text-white">
            <div class="flex flex-col md:flex-row justify-center md:space-x-8">
                <div class="w-full md:w-96 mb-4 text-sm flex flex-col self-end order-last md:order-first">
                    <div>Copyright 2021 FlowForge Inc.</div>
                    <div>All Rights Reserved</div>
                    <div class="mt-2 text-xs">This site uses cookies. Click <a href="#" class="underline" onclick="initCookieConsent().showSettings()">here</a> to manage your preferences</a>.</div>
                </div>
                <div class="w-full md:w-52 mb-4">
                    <div class="space-y-2"><span class="text-xl font-bold">Social</span>
                        <ul class="text-base space-y-2">
                            <li class="inline mr-3 md:mr-0 md:block"><a href="https://twitter.com/flowforgeinc">Twitter</a></li>
                            <li class="inline mr-3 md:mr-0 md:block"><a href="https://github.com/flowforge">GitHub</a></li>
                            <li class="inline mr-3 md:mr-0 md:block"><a href="https://www.linkedin.com/company/flowforge-inc">LinkedIn</a></li>
                            <li class="inline mr-3 md:mr-0 md:block"><a href="/blog/index.xml">RSS Feed</a></li>
                        </ul>
                    </div>
                </div>
                <div class="w-full md:w-52 mb-4">
                    <div class="space-y-2"><span class="text-xl font-bold">Company</span>
                        <ul class="text-base  space-y-2">
                            <li class="inline mr-3 md:mr-0 md:block"><a href="/handbook">Handbook</a></li>
                            <li class="inline mr-3 md:mr-0 md:block"><a href="/about">About</a></li>
                            <li class="inline mr-3 md:mr-0 md:block"><a href="/blog">Blog</a></li>
                            <li class="inline mr-3 md:mr-0 md:block"><a href="/privacy-policy">Privacy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="/js/cc.min.js"></script>
<script>
document.getElementById('nav-toggle').onclick = function(){
    let classes = document.getElementById("nav-content").classList;
    classes.toggle("hidden");
}
</script>
</html>
