<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#aa4444">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
    <title>FlowForge | Open-source low-code integration for applications, data and devices</title>

    {% if tags and 'posts' in tags %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@flowforgeinc" />
    <meta name="twitter:creator" content="@{{ team[authors|first].twitter }}" />
    <meta property="og:url" content="{{ site.baseURL }}{{ page.url }}" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="{{ site.baseURL }}/images/flowforge-logo.png" />
    {% endif %}

    <script defer data-domain="flowforge.com" src="https://plausible.io/js/plausible.js"></script>
</head>
<body class="ff-website leading-normal tracking-normal gradient text-gray-500 min-h-screen flex flex-col" style="">
    <div class="flex-grow base">
        <div class="w-full">
            <!-- Navigation Header -->
            <header class="ff-header w-full container mx-auto p-6 md:max-w-screen-lg">
                <nav class="relative w-full flex items-center justify-between">
                    <a class="no-underline hover:no-underline font-bold h-8 w-40 flex flex-row"  href="/" style="font-family:'Baloo 2', sans-serif">
                        {% include "components/flowforge-wordmark.njk" %}
                    </a>
                    <div class="block sm:hidden">
                        <button id="nav-toggle" class="flex items-center px-3 py-2 text-red-hero">
                            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
                        </button>
                    </div>

                    <ul id="nav-content" class="hidden absolute top-8 right-0 border shadow-sm sm:inline sm:shadow-none w-36 z-10 sm:border-0 bg-white sm:bg-transparent sm:w-auto rounded sm:static sm:float-none sm:flex sm:flex-row flex-col items-center justify-between font-medium text no-underline">
                        <li class="flex"><a class="flex-grow sm:px-4 sm:pl-0 sm:py-2" href="/about">about</a></li>
                        <li class="flex"><a href="/product">product</a></li>
                        <li class="flex"><a href="/blog">news</a></li>
			<li class="flex"><a href="https://app.flowforge.com">sign in</a></li>
                        <li class="flex"><a href="https://github.com/flowforge" target="_blank">{% include "components/github.njk" %}</a></li>
                    </ul>
                </nav>
            </header>
            <!-- Main Content -->
            <main class="flex flex-col mx-auto items-center justify-center">
                {{ content | safe }}
            </main>
        </div>
    </div>
    <!-- Footer -->
    <footer class="ff-footer bg-red-hero w-full">
        <div class="py-2 pb-8 px-10 text-white md:py-8 md:max-w-screen-xl xl:mx-auto lg:mx-24">
            <div class="ff-footer-columns flex flex-col md:flex-row justify-center md:space-x-8">
                <div class="">
                    <img src="/images/flowforge-logo-wordmark-white.svg" />
                    <div class="copyright-statement">
                        <div>Copyright 2022 FlowForge Inc.</div>
                        <div>All Rights Reserved</div>
                    </div>
                    <div class="mt-2 text-xs">This site uses cookies. Click <a href="#" class="underline" onclick="initCookieConsent().showSettings()">here</a> to manage your preferences</a>.</div>
                </div>
                <div class="w-full">
                    <h4 class=""><span class="text-xl font-bold">Social</h4>
                    <ul class="text-base space-y-2">
                        <li class="inline mr-3 md:mr-0 md:block"><a href="https://twitter.com/flowforgeinc">Twitter</a></li>
                        <li class="inline mr-3 md:mr-0 md:block"><a href="https://github.com/flowforge">GitHub</a></li>
                        <li class="inline mr-3 md:mr-0 md:block"><a href="https://www.linkedin.com/company/flowforge-inc">LinkedIn</a></li>
                        <li class="inline mr-3 md:mr-0 md:block"><a href="/blog/index.xml">RSS Feed</a></li>
                    </ul>
                </div>
                <div class="w-full">
                    <h4 class=""><span class="text-xl font-bold">Company</h4>
                    <ul class="text-base  space-y-2">
                        <li class="inline mr-3 md:mr-0 md:block"><a href="/about">About</a></li>
                        <li class="inline mr-3 md:mr-0 md:block"><a href="/team">Team</a></li>
                        <li class="inline mr-3 md:mr-0 md:block"><a href="https://boards.greenhouse.io/flowforge">Jobs</a></li>
                        <li class="inline mr-3 md:mr-0 md:block"><a href="/handbook">Handbook</a></li>
                        <li class="inline mr-3 md:mr-0 md:block"><a href="/blog">News</a></li>
                        <li class="inline mr-3 md:mr-0 md:block"><a href="/privacy-policy">Privacy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="/js/cc.min.js"></script>
<script>
document.getElementById('nav-toggle').onclick = function(){
    let classes = document.getElementById("nav-content").classList;
    classes.toggle("hidden");
}
</script>
</html>
