<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#aa4444">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
    <meta name="keywords" content="Node-RED, Deployment, Production, Enterprise, IoT, IIoT, Low-Code, Open-Source, Kubernetes, Docker, Cloud, Hosting">

    <!-- Browser Title -->
    {% if navTitle %}
    <title>{{ navTitle }} &#x2022; FlowForge{% if page.url.match('\/handbook\/.+') %} Handbook{% endif %}{% if page.url.match('\/docs\/.+') %} Docs{% endif %}</title>
    {% elif meta and meta.title %}
    <title>{{ meta.title }} &#x2022; FlowForge{% if page.url.match('\/handbook\/.+') %} Handbook{% endif %}{% if page.url.match('\/docs\/.+') %} Docs{% endif %}</title>
    {% elif title %}
    <title>{{ title }} &#x2022; FlowForge{% if page.url.match('\/handbook\/.+') %} Handbook{% endif %}{% if page.url.match('\/docs\/.+') %} Docs{% endif %}</title>
    {% else %}
    <title>FlowForge &#x2022; DevOps for Node-RED</title>
    {% endif %}

    <meta rel="canonical" href="{{ page.url | toAbsoluteUrl }}">

    <!-- Browser Description -->
    {% if meta and meta.description %}
    <meta name="description" content="{{ meta.description }}">
    {% else %}
    <meta name="description" content="Scale your Node-RED deployments in production. Open-Source and available on Docker, Kubernetes or Cloud">
    {% endif %}

    {% if skipIndex -%}
    <meta name="robots" content="noindex">
    {%- endif %}

    <!-- Open Graph Title -->
    {% if navTitle %}
    <meta property="og:title" content="{{ navTitle }} &#x2022; FlowForge{% if page.url.match('\/handbook\/.+') %} Handbook{% endif %}" />
    {% elif meta and meta.title %}
    <meta property="og:title" content="{{ meta.title }} &#x2022; FlowForge{% if page.url.match('\/handbook\/.+') %} Handbook{% endif %}" />
    {% elif title %}
    <meta property="og:title" content="{{ title }} &#x2022; FlowForge{% if page.url.match('\/handbook\/.+') %} Handbook{% endif %}" />
    {% else %}
    <meta property="og:title" content="FlowForge &#x2022; DevOps for Node-RED" />
    {% endif %}

    <!-- Open Graph Description -->
    {% if meta and meta.description %}
    <meta property="og:description" content="{{ meta.description }}" />
    {% elif description %}
    <meta property="og:description" content="{{ description }}" />
    {% else %}
    <meta property="og:description" content="FlowForge is an open-source, low-code platform for integration and automation. Helping you run Node-RED at production scales in a secure, scalable and team-based environment." />
    {% endif %}

    <!-- Open Graph URL -->
    <meta property="og:url" content="{{ page.url | toAbsoluteUrl }}" />
    <!-- Open Graph Image -->
    {% if image %}
    <meta property="og:image" content="{{ image | toAbsoluteUrl }}" />
    <meta name="twitter:image" content="{{ image | toAbsoluteUrl }}" />
    {% else %}
    <meta property="og:image" content="{{ 'images/og-social-tile.jpg' | toAbsoluteUrl }}" />
    <meta name="twitter:image" content="{{ 'images/og-social-tile.jpg' | toAbsoluteUrl }}" />
    {% endif %}

    {% if tags and 'posts' in tags %}
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@flowforgeinc" />
    <meta name="twitter:creator" content="@{{ team[authors|first].twitter }}" />
    {% else %}
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:site" content="@flowforgeinc" />
    {% endif %}

    {% set js %}{% include "base.js" %}{% endset %}
    <script>{{ js | jsmin | safe }}</script>
</head>
<body class="ff-website leading-normal tracking-normal gradient text-gray-500 min-h-screen flex flex-col" style="">
    <div class="flex-grow base">
        <div class="w-full">
            <!-- Navigation Header -->
            <header class="ff-header w-full container mx-auto p-6 md:max-w-screen-xl">
                <nav class="relative w-full flex items-center justify-between">
                    <a class="ff-wordmark no-underline hover:no-underline font-bold h-8 w-40 flex flex-row"  href="/" style="font-family:'Baloo 2', sans-serif">
                        {% include "components/flowforge-wordmark.njk" %}
                    </a>
                    <div class="block md:hidden">
                        <button id="nav-toggle" class="text-white flex items-center px-3 py-2 text-red-hero">
                            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
                        </button>
                    </div>

                    <ul id="nav-content" class="hidden absolute top-8 right-0 border shadow-sm md:inline md:shadow-none w-36 z-10 md:border-0 bg-white md:bg-transparent md:w-auto rounded md:static md:float-none md:flex md:flex-row flex-col items-center justify-between font-medium text no-underline">
                        <li class="ff-nav-dropdown relative">
                            <a class="flex items-center gap-2">product {% include "components/icons/chevron-down.svg" %}</a>
                            <ul>
                                <li><a href="/features">features</a></li>
                                <li><a href="/roadmap">roadmap</a></li>
                            </ul>
                        </li>
                        <li class="flex"><a href="/pricing">pricing</a></li>
                        <li class="ff-nav-dropdown relative">
                            <a class="flex items-center gap-2">solutions {% include "components/icons/chevron-down.svg" %}</a>
                            <ul>
                                <li><a href="/solutions/manufacturing">manufacturing</a></li>
                                <li><a href="/solutions/device-management">device management</a></li>
                            </ul>
                        </li>
                        <li class="ff-nav-dropdown relative">
                            <a class="flex items-center gap-2">company {% include "components/icons/chevron-down.svg" %}</a>
                            <ul>
                                <li><a href="/about">about</a></li>
                                <li><a href="/blog">blog</a></li>
                                <li><a href="/team">team</a></li>
                                <li><a href="https://boards.greenhouse.io/flowforge">jobs</a></li>
                                <li><a href="/handbook">handbook</a></li>
                                <li><a href="/support">support</a></li>
                                <li><a href="/contact-us">contact us</a></li>
                                <li><a href="/privacy-policy">privacy</a></li>
                            </ul>
                        </li>
                        <li class="ff-nav-dropdown relative">
                            <a class="flex items-center gap-2">resources {% include "components/icons/chevron-down.svg" %}</a>
                            <ul>
                                <li><a href="/blog">blog</a></li>
                                <li><a href="/community/newsletter">newsletter</a></li>
                                <li><a href="/webinars">webinars</a></li>
                            </ul>
                        </li>
                        <li class="flex"><a href="/docs">docs</a></li>
                    </ul>

                    <ul class="hidden top-8 right-0 border shadow-sm md:inline md:shadow-none w-36 z-10 md:border-0 bg-white md:bg-transparent md:w-auto rounded md:static md:float-none md:flex md:flex-row flex-col items-center justify-end font-medium text no-underline">
			            <li class="flex"><a href="https://app.flowforge.com">sign in</a></li>
                        <a class="ml-2 ff-btn ff-btn--primary uppercase text-sm inline-flex" href="https://app.flowforge.com/account/create" onclick="capture('cta-join', {'position': 'header'})">Free Trial</a>
                        {# <li class="flex"><a class="ff-icon--gh" rel="noopener" href="https://github.com/flowforge" target="_blank">{% include "components/github.njk" %}</a></li> #}
                    </ul>
                </nav>
            </header>
            <!-- Main Content -->
            <main class="flex flex-col mx-auto items-center justify-center">
                {{ content | safe }}
            </main>
        </div>
    </div>
    <!-- Footer -->
    <footer class="ff-footer bg-red-hero w-full">
        <div class="py-2 pb-8 px-10 text-white md:py-8 md:max-w-screen-xl xl:mx-auto lg:mx-24">
            <div class="ff-footer-columns md:flex-row justify-center md:space-x-8">
                <div class="">
                    {% image "./images/flowforge-logo-wordmark-white.svg", "FlowForge Logo in White", [150] %}
                    <div class="copyright-statement">
                        <div>Copyright 2023 FlowForge Inc.</div>
                        <div>All Rights Reserved</div>
                    </div>
                    <div class="mt-2 text-xs">This site uses cookies. Click <a href="#" class="underline" onclick="initCookieConsent().showSettings()">here</a> to manage your preferences</a>.</div>
                </div>
                <div class="w-full">
                    <h4 class=""><span class="text-xl font-bold">Social</h4>
                    <ul class="grid grid-cols-2 justify-center text-base sm:block sm:space-y-2">
                        <li class="inline mr-3 mb-3 md:m-0 md:block"><a href="https://github.com/flowforge">GitHub</a></li>
                        <li class="inline mr-3 mb-3 md:m-0 md:block"><a href="https://twitter.com/flowforgeinc">Twitter</a></li>
                        <li class="inline mr-3 mb-3 md:m-0 md:block"><a href="https://www.youtube.com/channel/UCbBzP8NZbv3WDtlt4UouA-g">YouTube</a></li>
                        <li class="inline mr-3 mb-3 md:m-0 md:block"><a href="https://www.linkedin.com/company/flowforge-inc">LinkedIn</a></li>
                        <li class="inline mr-3 mb-3 md:m-0 md:block"><a href="/blog/index.xml">RSS Feed</a></li>
                        <li class="inline mr-3 mb-3 md:m-0 md:block"><a href="/blog/#sign-up" onclick="capture('cta-blog-subscribe', {'position': 'footer'})">Sign Up to Mailing List</a></li>
                    </ul>
                </div>
                <div class="w-full">
                    <h4 class=""><span class="text-xl font-bold">Company</h4>
                    <ul class="grid grid-cols-2 justify-center text-base sm:block sm:space-y-2">
                        <li class="inline mr-3 mb-3 md:m-0 md:block"><a href="/about">About</a></li>
                        <li class="inline mr-3 mb-3 md:m-0 md:block"><a href="/partners">Partnerships</a></li>
                        <li class="inline mr-3 mb-3 md:m-0 md:block"><a href="/team">Team</a></li>
                        <li class="inline mr-3 mb-3 md:m-0 md:block"><a href="{{ site.jobBoard }}">Jobs</a></li>
                        <li class="inline mr-3 mb-3 md:m-0 md:block"><a href="/handbook">Handbook</a></li>
                        <li class="inline mr-3 mb-3 md:m-0 md:block"><a href="/blog">News</a></li>
                        <li class="inline mr-3 mb-3 md:m-0 md:block"><a href="/privacy-policy">Privacy</a></li>
                        <li class="inline mr-3 mb-3 md:m-0 md:block"><a href="https://status.flowforge.com/">Service Status</a></li>
                        <li class="inline mr-3 mb-3 md:m-0 md:block"><a href="/support">Request Support</a></li>
                        <li class="inline mr-3 mb-3 md:m-0 md:block"><a href="/contact-us">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
<script>
document.getElementById('nav-toggle').onclick = function(){
    let classes = document.getElementById("nav-content").classList;
    classes.toggle("hidden");
}
</script>

<!-- Youtube Facade -->
<script async src="https://cdn.jsdelivr.net/npm/lite-youtube-embed@0.2.0/src/lite-yt-embed.min.js"></script>
<link rel="preload" href="https://cdn.jsdelivr.net/npm/lite-youtube-embed@0.2.0/src/lite-yt-embed.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- HubSpot Tracking -->
{% set hubspotJS %}{% include "hubspot.js" %}{% endset %}
<script>{{ hubspotJS | jsmin | safe }}</script>
<script async type="text/javascript" id="hs-script-loader" src="//js-eu1.hs-scripts.com/26586079.js"></script>

<!-- Cookie banner -->
<script async type="text/javascript" src="/js/cc.min.js"></script>

<!-- PostHog -->
<script>
    const getCookieValue = (name) => (
        document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)')?.pop() || ''
    )

    function decodeCookie (cookie) {
        return JSON.parse(decodeURIComponent(cookie))
    }

    var phBootstrap = {}

    if (!!(getCookieValue("ff-distinctid"))) {
        phBootstrap['distinctID'] = getCookieValue("ff-distinctid")
    }

    if (!!(getCookieValue("ff-feats"))) {
        phBootstrap['featureFlags'] = decodeCookie(getCookieValue("ff-feats"))
    } else {
        console.log("No feature flags found - falling back to 'control' content")
    }

    !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
    posthog.init('{{ POSTHOG_APIKEY }}', {
        api_host:'https://eu.posthog.com',
        bootstrap: phBootstrap,
        capture_pageleave: false
    })

    /*
        Custom pageleave handler to track scroll
    */
    // when the page first loads, how much content can the visitor see?
    const NO_SCROLL_HEIGHT = Math.min(1, (window.innerHeight + window.pageYOffset)/document.body.offsetHeight)
    // what's the maximum amount of content they've seen so far?
    var MAX_CONTENT_VIEWED = Math.min(1, (window.innerHeight + window.pageYOffset)/document.body.offsetHeight)

    addEventListener("scroll", (event) => {
        // Math.min here catches an oddity where sometimes this creeps over 1
        const contentViewed = Math.min(1, (window.innerHeight + window.pageYOffset)/document.body.offsetHeight)
        // Have they viewed more content than they've seen prior?
        if (contentViewed > MAX_CONTENT_VIEWED) {
            MAX_CONTENT_VIEWED = contentViewed
        }
    });

    function emitPageLeave () {
        // viewed:
        // min: the content shown on pageload
        // max: 1
        // gives a decimal value from 0 -> 1 of the
        // amount of content visible to the user within
        // the pageview before they leave
        var viewed 

        // scrolled:
        // scale these value to exist between 0 and 1
        // 0 -> Didn't scroll, just viewed the page as it loaded
        // 1 -> Scrolled all the way to the bottom

        var scrolled
        if (NO_SCROLL_HEIGHT === 1) {
            // didn't need to scroll, so they've seen everything
            viewed = 1
            // couldn't scroll, so set to 0
            scrolled = 0
        } else { 
            viewed = MAX_CONTENT_VIEWED
            scrolled = (MAX_CONTENT_VIEWED - NO_SCROLL_HEIGHT) / (1 - NO_SCROLL_HEIGHT)
        }
        
        capture('$pageleave', {
            content_scrolled: scrolled,
            content_viewed: viewed
        })
    }

    window.addEventListener &&
            window.addEventListener('onpagehide' in self ? 'pagehide' : 'unload', emitPageLeave)

    /*
        Get User Agent String
    */
    const phUA = {
        "user_agent_string": window.navigator.userAgent
    }
    posthog.register(phUA)

    function capture (eventName, props) {
        if (posthog) {
            posthog.capture(eventName, props);
        }
    }
</script>

<!-- Google tag (gtag.js) -->
<script async type="text/javascript" src="https://www.googletagmanager.com/gtag/js?id=G-2ZH9W82QL8"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'G-2ZH9W82QL8');
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-theme-classic"
/>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
    appId: 'KWE0727TZS',
    apiKey: '595ee07f069991380e9c3036cfad8e5e',
    siteId: '00f8cf60-997f-4c4d-9427-a97924358648',
    branch: '555-algolia-search',
    selector: 'div#algolia-search',
    detached: false
  });
</script>
</html>
