---
layout: layouts/base.njk
---
<div class="w-full page post">
    <div class="post-title container m-auto text-center max-lg:px-6 flex mt-6 mb-6 md:max-w-screen-lg md:mt-12">
        <div class="text-left md:pr-32">
            <label>Blueprint</label>
            <h1>{{ title }}</h1>
            {% if description %}
                <h4>{{ description | safe }}</h4>
            {% endif %}
        </div>
    </div>
    <div class="blog nohero w-full pb-12">
        <div class="container flex flex-col md:flex-row m-auto text-left max-lg:px-6 md:max-w-screen-lg gap-8 items-stretch">
            <div class="ff-prose">
                <a class="inline-flex align-center gap-1 mb-4" href="/blueprints">
                    {% include "components/icons/chevron-left.svg" %}
                    Back to Blueprints Library
                </a>
                <div class="prose w-full flex-grow">
                    {{ content | safe }}
                </div>
            </div>
            <div class="w-72 max-w-full flex-shrink-0">
                <div class="sticky top-20 mt-6 flex flex-col">
                    <a href="https://app.flowfuse.com/deploy/blueprint?blueprintId={{ item.data.blueprintId }}" class="ff-btn ff-btn--primary flex gap-2 mb-6 mt-4 uppercase" target="_blank">Deploy {% include "components/icons/rocket-launch.svg" %}</a>
                    <h3 class="mb-3">Author:</h3>
                    {% if author %}
                    {% renderCompanyTile companies[author] %}
                    {% else %}
                    {% renderCompanyTile companies["flowfuse"] %}
                    {% endif %}
                    {% if dependencies %}
                    <h3 class="mb-3 pt-6">Integrations:</h3>
                    {# {% for dependency in dependencies %}
                        {% renderIntegration integrations[dependency] %}
                    {% endfor %} #}
                    {% endif %}
                    {% include "contact-us-cta-line.njk" %}
                </div>
            </div>
        </div>
    </div>
</div>