<!--Hero Content-->
<div class="w-full page hero">
    {% if (title and not hideTitle) %}
    <div class="catalog-hero w-full">
        <div class="container m-auto text-center flex px-4 py-8 max-w-lg md:max-w-6xl">
            <div class="text-left w-full">
                <h1>{% block title %}Title{% endblock %}</h1>
                <p class="w-9/12">{% block description %}Description{% endblock %}</p>
                <div class="flex gap-2 mt-8">
                    {% block actions %}{% endblock %}
                </div>
            </div>       
        </div>
    </div>    
    {% endif %}
    <div class="catalog-content content">
        {% block content %}
            {{ content | safe }}
        {% endblock %}
    </div>
</div>