
<!-- MermaidJS -->
<script type="module">
    import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@10.0.0/dist/mermaid.esm.mjs";
    mermaid.initialize({startOnLoad:true});
</script>

<!-- Clipboard -->
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/Primer/19.1.1/tooltips.min.css"  as="style" onload="this.onload=null;this.rel='stylesheet'" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% initClipboardJS %}

<!-- Syntax Highlighting CSS -->
<link rel="preload" href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism-tomorrow.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="preload"href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" as="style" onload="this.onload=null;this.rel='stylesheet'" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preload" href="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-theme-classic" as="style" onload="this.onload=null;this.rel='stylesheet'" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script async type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js" onload="initSearchBar()"></script>
<script async type="text/javascript">
  function initSearchBar () {
    algoliasearchNetlify({
        appId: 'TRVNCODVSA',
        apiKey: 'ab06f6b72a7ba4db7b04e78c727c470e086a1869c9dc9a281a34e01c5143cf82',
        siteId: '1621908c-305f-4483-9474-831795f2e067',
        branch: 'live',
        selector: 'div#algolia-search',
        detached: false
    });
    }
</script>
