<!-- MermaidJS -->
<script type="module">
    import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@10.0.0/dist/mermaid.esm.mjs";
    mermaid.initialize({
        securityLevel: 'loose',
        startOnLoad  : true
    });
</script>

<!-- Clipboard -->
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/Primer/19.1.1/tooltips.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% initClipboardJS %}

<!-- Syntax Highlighting CSS -->
<link rel="preload" href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism-tomorrow.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" crossorigin="anonymous" referrerpolicy="no-referrer"/>

<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        const searchContainer = document.getElementById('pagefind-search');
        if (!searchContainer) return;

        const searchScope = document.head.querySelector('[property="article:section"][content]')?.content ?? '';
        const scopeTitles = {
            'ama': 'Ask Me Anything',
            'blog': 'Blog',
            'changelog': 'Changelog',
            'customer-stories': 'Customer Stories',
            'docs': 'Docs',
            'ebooks': 'E-Books',
            'handbook': 'Handbook',
            'node-red': 'Node-RED',
            'webinars': 'Webinars',
        };
        const placeholder = Object.prototype.hasOwnProperty.call(scopeTitles, searchScope)
            ? `Search in ${scopeTitles[searchScope]}...`
            : 'Search...';

        new PagefindUI({
            element: "#pagefind-search",
            showSubResults: true,
            showImages: false,
            translations: {
                placeholder: placeholder
            }
        });
    });
</script>

<!-- medium-zoom 1.1.0 | MIT License | https://github.com/francoischalifour/medium-zoom -->
{% include "medium-zoom.min.njk" %}

<!-- All external links open in new page -->
<script>
    document.querySelectorAll("[data-{{nav}}] a").forEach((link) => {
        try {
            if (!link.target && window.location.host !== new URL(link.href).host) {
                link.target = "_blank";
            }
        } catch {
            // Swallow errors
        }
    })
</script>