
<!-- Generate "On this page" -->
{% include "layouts/right-nav.njk" %}

<!-- MermaidJS -->
<script type="module">
    import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@10.0.0/dist/mermaid.esm.mjs";
    mermaid.initialize({
        securityLevel: 'loose',
        startOnLoad  : true
    });
</script>

<!-- Clipboard -->
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/Primer/19.1.1/tooltips.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% initClipboardJS %}

<!-- Syntax Highlighting CSS -->
<link rel="preload" href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism-tomorrow.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" crossorigin="anonymous" referrerpolicy="no-referrer"/>
