---
layout: "layouts/base.njk"
hubspot:
    script: "hubspot/hs-form.njk"
---
<div class="w-full page ebook">
    <div class="m-auto px-6 mt-6 mb-6 md:max-w-screen-lg md:mt-12 max-w-lg mx-auto">
        <label class="text-red-600">eBook</label>
        <div class="md:flex md:flex-row gap-6">
            <div class="text-left md:w-1/2">
                <h1>{{ contentTitle | safe }}</h1>
                {% if secondaryImage and tertiaryImage %}
                {% set imageSrc1 = ["./", secondaryImage] | join %}
                {% set imageSrc2 = ["./", tertiaryImage] | join %}
                <div class="my-6 flex gap-3 ebook-images">
                    {% image imageSrc1, "FlowFuse Dashboard", [147] %}
                    {% image imageSrc2, "FlowFuse Dashboard", [303] %}
                </div>
                {% endif %}
            </div>
            <div class="ff-prose md:w-1/2">
                <div class="prose mt-3">
                    {{ content | safe }}
                </div>
            </div>
        </div>
    </div>
    <div class="w-full pb-16 px-6 mt-12">
        <div class="ff-blue-card m-auto text-left px-6 max-md:text-center max-md:max-w-md md:max-w-screen-lg gap-8 items-stretch">
            <h3 class="font-semibold mb-8"><span class="text-red-600">Download now</span> <span class="inline-block">for free</span></h3>
            <div class="w-full grid md:grid-cols-3 gap-6">
                <div class="ff-image-rounded relative max-md:max-w-[150px] mx-auto">
                    <div class="absolute top-0 right-0 transform translate-x-[-15%] md:translate-x-[-30%] rounded-b-md bg-white md:px-4 px-2 py-1">
                        <label class="text-red-600 max-md:text-sm">eBook</label>
                    </div>
                    {% if coverImage %}
                        {% set imageSrc = ["./", coverImage ] | join %}
                    {% else %}
                        {% set imageSrc = ["./", image ] | join %}
                    {% endif %}
                    {% image imageSrc, "eBook cover image with title and FlowFuse logo", [302] %}
                </div>
                <div class="mb-4 hero-img prose ff-prose">
                    <h5>Table of Contents</h5>
                    <ul class="text-left">
                        {% for item in contentTable %}
                        <li>{{ item | safe }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- Form / Calendar Script -->
                <div class="product">
                    <div class="w-80 w-full mx-auto">
                        {% include hubspot.script %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

<!-- Syntax Highlighting CSS -->
<link rel="preload" href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism-tomorrow.min.css" as="style"
    onload="this.onload=null;this.rel='stylesheet'" crossorigin="anonymous" referrerpolicy="no-referrer" />
