---
layout: article
---
<div class="handbook">
    <div class="w-full mx-auto bg-white">
        <div class="font-medium border-b pb-1">{{ page.filePathStem | handbookBreadcrumbs |safe }}</div>
    </div>
    <div class="w-full mx-auto bg-white flex flex-col md:flex-row">
        <div class="flex-grow order-last md:order-first">
            <div class="mt-6 mb-4 prose prose-blue main-content">
                {{ content | rewriteHandbookLinks | safe }}
            </div>
        </div>
        <div class="w-full md:w-64 md:ml-8 mt-4 md:mt-6 px-2">
            <h3 class="font-medium border-b pb-1 mb-4">On this page</h3>
            <ul id="toc" class="text-sm border-b mb-4"></ul>
            <div class="text-sm pb-1 text-right mb-4"><a href="https://github.com/flowforge/handbook/edit/main/{{ page.filePathStem | handbookMapOriginalPath }}">Edit this page</a></div>
            <div class="text-xs pb-1 text-right mb-4 italic">Updated: {{ updated }}</div>
        </div>
    </div>
</div>
<script>
    let toc = document.getElementById("toc")

    let currentTag = "";
    let currentToc = toc;
    let currentItem;
    document.querySelectorAll(".main-content > h3, .main-content > h4").forEach(function(n) {
        if (n.nodeName === "H3" && currentTag === "H4") {
            currentToc = toc;
        } else if (n.nodeName === "H4" && currentTag === "H3") {
            currentToc = document.createElement("ul");
            currentToc.classList.add("ml-4")
            currentToc.classList.add("mt-2")
            currentToc.classList.add("mb-4")
            currentItem.append(currentToc);
        }
        currentTag = n.nodeName;
        currentItem = document.createElement("li");
        currentItem.classList.add("mb-2")
        let currentLink = document.createElement("a");
        currentItem.append(currentLink);
        let link = n.getElementsByTagName('a')
        currentLink.href = link[0].href;
        currentLink.textContent = n.textContent.replace(/#\s+/g,"");
        currentToc.append(currentItem);
    })
</script>
