{% set navigationOptions = {
    listElement: "ul",
    listItemElement: "li",
    listClass: "eleventy-nav",
    listItemClass: "",
    listItemHasChildrenClass: "has-children",
    activeListItemClass: "active",
    anchorClass: "",
    activeAnchorClass: "",
    activeKey: eleventyNavigation.key,
    showExcerpt: false
} %}

<!-- Navigation -->
<div class="border-r">
{{ collections.learningResources | eleventyNavigation | eleventyNavigationToHtml(navigationOptions) | safe }}
</div>

<!-- Turn .has-children elements into accordions -->
<script>
    window.addEventListener('load', (event) => {
        document.querySelectorAll('.has-children').forEach(function(element) {
            var container = document.createElement('div');
            container.classList.add('link-chevron-container');

            var link = element.children[0];
            container.appendChild(link);

            var chevron = document.createElement('span');
            chevron.classList.add('chevron');
            chevron.innerHTML = '{% include "components/icons/chevron-down.svg" %}';

            var sublist = element.querySelector('ul');
            sublist.style.display = 'none';

            chevron.addEventListener('click', function(event) {
                event.stopPropagation();
                sublist.style.display = sublist.style.display === 'none' ? 'block' : 'none';
                chevron.classList.toggle('rotated');
            });

            container.appendChild(chevron);
            element.insertBefore(container, element.children[0]);
        });

        var currentUrl = window.location.href;
        document.querySelectorAll('.has-children ul a').forEach(function(element) {
            if (element.href === currentUrl) {
                var currentElement = element.closest('li');
                while (currentElement !== null) {
                    if (currentElement.tagName.toLowerCase() === 'ul') {
                        currentElement.style.display = 'block';
                    }
                    if (currentElement.classList.contains('has-children')) {
                        currentElement.querySelector('.chevron').classList.add('rotated');
                    }
                    currentElement = currentElement.parentElement.closest('li, ul');
                }
            }
        });
    });
</script>