---
layout: layouts/base.njk
date: git Last Modified
hubspot:
    formId: e1f3e0ff-6e19-484d-88dc-9e4bb6e54c03
---
<div class="w-full bg-white/50 nohero">
<div class="eleventy lg:grid lg:grid-cols-[220px_1fr_auto] flex flex-col-reverse text-left pb-24 md:max-w-screen-xl m-auto">
    {% include "./learning-resources-nav.njk" %}

    <div class="lg:max-w-screen-md w-full mx-auto px-10 pt-8">
        <!-- Breadcrumbs - Desktop -->
        <div class="hidden w-full mx-auto md:block">
            <div class="font-medium border-b pb-1">
                {% if page.url %}
                    {{ page.url | handbookBreadcrumbs | safe }}
                {% endif %}
            </div>
        </div>
        <div class="w-full m-auto md:pt-6">
            <div id="algolia-search" class="border rounded"></div>
        </div>
        <div class="w-full mx-auto flex flex-col">
            <!-- Main Content -->
            <div class="flex-grow order-last md:order-first">
                <div class="mt-6 mb-4 prose prose-blue main-content lg:max-w-[calc(100vw-550px)]">
                    {{ content | rewriteHandbookLinks(page) | safe }}
                </div>
            </div>
        </div>
    </div>
    <div class="border-l">
        <!-- Breadcrumbs - Mobile -->
        <div class="block px-8 pt-4 w-full mx-auto md:hidden">
            <div class="font-medium border-b pb-1">
                {% if page.url %}
                    {{ page.url | handbookBreadcrumbs | safe }}
                {% endif %}
            </div>
        </div>
        <!-- Right side bar -->
        <div class="sticky top-20 w-full md:w-80 mt-4 md:mt-6 px-8">
            <h3 class="font-medium border-b pb-1 mb-4">On this page</h3>
            <ul id="toc" class="text-sm border-b mb-4"></ul>
            <div class="text-sm pb-1 text-right mb-4"><a href="{{ page | handbookEditLink }}">Edit this page</a></div>
            <div class="text-xs pb-2 text-right mb-4 italic border-b">Updated: {{ page.date | shortDate }}</div>
            {% if hubspot.formId %}
            <div class="hidden lg:flex lg:flex-col mt-6">
                <div class="pt-3 pb-3 flex flex-col">
                    {% include "hubspot/hs-form.njk" %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
</div>

{% include "./common-js.njk" %}