{# {% set navigationOptions = {
listElement: "ul",
listItemElement: "li",
listClass: "eleventy-nav",
listItemClass: "eleventy-nav-nested",
listItemHasChildrenClass: "has-children eleventy-nav-group",
activeListItemClass: "active",
anchorClass: "",
activeAnchorClass: "",
activeKey: eleventyNavigation.key,
showExcerpt: false
} %} #}

<!-- Navigation -->

<div class="border-r pl-2 sm:pl-6 xl:pl-0 pt-6">
    <ul class="eleventy-nav">
        <li><a href="/node-red/learning-resources/">Overview</a></li>
        <li class="active has-children"><a href="/node-red/core-nodes/">Core Nodes</a>
            <ul>
                <li class="has-children"><a href="/node-red/core-nodes/inject/">Common</a>
                    <ul>
                        <li><a href="/node-red/core-nodes/inject/">Inject</a></li>
                        <li><a href="/node-red/core-nodes/debug/">Debug</a></li>
                        <li><a href="/node-red/core-nodes/complete/">Complete</a></li>
                        <li><a href="/node-red/core-nodes/catch/">Catch</a></li>
                        <li><a href="/node-red/core-nodes/status/">Status</a></li>
                        <li><a href="/node-red/core-nodes/link/">Link</a></li>
                        <li><a href="/node-red/core-nodes/comment/">Comment</a></li>
                        <li><a href="/node-red/core-nodes/unknown/">Unknown</a></li>
                    </ul>
                </li>
                <li class="has-children"><a href="/node-red/core-nodes/function/">Function</a>
                    <ul>
                        <li><a href="/node-red/core-nodes/function/">Function</a></li>
                        <li><a href="/node-red/core-nodes/switch/">Switch</a></li>
                        <li><a href="/node-red/core-nodes/change/">Change</a></li>
                        <li><a href="/node-red/core-nodes/range/">Range</a></li>
                        <li><a href="/node-red/core-nodes/template/">Template</a></li>
                        <li><a href="/node-red/core-nodes/delay/">Delay</a></li>
                        <li><a href="/node-red/core-nodes/trigger/">Trigger</a></li>
                        <li><a href="/node-red/core-nodes/exec/">Exec</a></li>
                        <li><a href="/node-red/core-nodes/filter/">Filter</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="has-children"><a href="/node-red/quick-tips/">Quick Tips</a>
            <ul>
                <li><a href="/node-red/quick-tips/node-red-tips-1/">Wiring Shortcuts</a></li>
                <li><a href="/node-red/quick-tips/node-red-tips-2/">Deploying, Debugging, and Delaying</a></li>
                <li><a href="/node-red/quick-tips/node-red-tips-3/">Exec, Filter, and Debug</a></li>
                <li><a href="/node-red/quick-tips/node-red-tips-4/">Smooth, Catch, and Math</a></li>
                <li><a href="/node-red/quick-tips/node-red-tips-5/">Importing, Exporting, and Grouping Flows</a></li>
                <li><a href="/node-red/quick-tips/node-red-tips-6/">Subflows, Link Nodes, and the Range Node</a></li>
                <li><a href="/node-red/quick-tips/node-red-tips-7/">Dashboard</a></li>
            </ul>
        </li>
        <li><a href="/node-red/variables/">Variables</a></li>
    </ul>
</div>


<!-- <div class="border-r">
{{ collections.learningResources | eleventyNavigation | eleventyNavigationToHtml(navigationOptions) | safe }}
</div> -->