<!-- Navigation -->
<div class="border-r">
    {% set navPages = collections.learningResources | eleventyNavigation %}
    {% macro renderNavListItem(entry) -%}
        {% set isChildUrl = false %}
        {% for child in entry.children %}
            {% if child.url == page.url %}
                {% set isChildUrl = true %}
            {% endif %}
        {% endfor %}

        <li class="{% if entry.url==page.url and not isChildUrl %}active{% endif %}{% if entry.children.length %} has-children{% endif %}">
            {%- if entry.children.length -%}
            <div class="link-chevron-container {% if entry.url==page.url %}active{% endif %}">
                <a href="{{ entry.url }}">{{ entry.title }}</a>
                <span class="chevron">{% include "components/icons/chevron-down.svg" %}</span>
            </div>
            <ul style="display: none;">
                {%- for child in entry.children %}
                {{ renderNavListItem(child) }}
                {%- endfor -%}
            </ul>
            {%- else -%}
            <a href="{{ entry.url }}">{{ entry.title }}</a>
            {%- endif %}
        </li>
    {%- endmacro %}
    <ul class="eleventy-nav">
        {%- for entry in navPages %}
        {{ renderNavListItem(entry) }}
        {%- endfor -%}
    </ul>
</div>

<!-- Turn .has-children elements into accordions -->
<script>
    document.querySelectorAll('.chevron').forEach(function(chevron) {
        var sublist = chevron.parentElement.nextElementSibling;

        chevron.addEventListener('click', function(event) {
            event.stopPropagation();
            sublist.style.display = sublist.style.display === 'none' ? 'block' : 'none';
            chevron.classList.toggle('rotated');
        });
    });

    var currentUrl = window.location.href;
    document.querySelectorAll('.has-children ul a').forEach(function(element) {
        if (element.href === currentUrl) {
            var currentElement = element.closest('li');
            while (currentElement !== null) {
                if (currentElement.tagName.toLowerCase() === 'ul') {
                    currentElement.style.display = 'block';
                }
                if (currentElement.querySelector('.chevron')) {
                    currentElement.querySelector('.chevron').classList.add('rotated');
                }
                currentElement = currentElement.parentElement.closest('li, ul');
            }
        }
    });

    document.querySelectorAll('.has-children').forEach(function(element) {
        if (element.querySelector('.active')) {
            var sublist = element.querySelector('ul');
            if (sublist.style.display === 'none') {
                sublist.style.display = 'block';
                var chevron = element.querySelector('.chevron');
                if (chevron) {
                    chevron.classList.add('rotated');
                }
            }
        } else if (element.querySelector('.chevron.rotated') && element.querySelector('ul').style.display === 'none') {
            element.querySelector('.chevron').classList.remove('rotated');
        }
    });
</script>