<!-- Navigation -->
<div class="border-r" data-{{nav}}>
    <ul class="handbook-nav" data-el="navigation">
        {% set path = (["node-red/", nav] | join) if nav == "core-nodes" else nav %}

        <li class="core-nodes-nav-group py-1.5 px-0 {% if "/{{ path }}/" === page.url %}active{% endif %}">
            <a href="/{{ path }}/"><span class="text-indigo-600 pr-0">{{ nav }}</span></a>
        </li>
        {% for group in collections
        .nav[nav]
        .groups %}
        {% if group.children.length > 0 %}
        <li class="handbook-nav-nested py-1.5"><span class="font-semibold pl-2">{{ group.name }}</span>
            <button onclick="toggleNavList(this)">
                <span class="ff-icon icon-expand">
                    {% include "components/icons/chevron-down.svg" %}
                </span>
                <span class="ff-icon icon-minimise">
                    {% include "components/icons/chevron-up.svg" %}
                </span>
            </button>
        </li>
        <ul class="handbook-nav-nested">
            {% for entry in group.children %}
            <li class="{% if entry.url === page.url %}active{% endif %}">
                <a href="{{entry.url}}">
                    {{ entry.name }}
                </a>
                {% if entry.children %}
                <button onclick="toggleNavList(this)">
                    <span class="ff-icon icon-expand">
                        {% include "components/icons/chevron-down.svg" %}
                    </span>
                    <span class="ff-icon icon-minimise">
                        {% include "components/icons/chevron-up.svg" %}
                    </span>
                </button>
                {% endif %}
            </li>
            {% if entry.children %}
            <ul class="handbook-nav-nested-2">
                {% for child in entry.children %}
                <li class="{% if child.url === page.url %}active{% endif %}">
                    <a href="{{child.url}}">
                        {{ child.name }}
                    </a>
                    {% if child.children %}
                    <button onclick="toggleNavList(this)">
                        <span class="ff-icon icon-expand">
                            {% include "components/icons/chevron-down.svg" %}
                        </span>
                        <span class="ff-icon icon-minimise">
                            {% include "components/icons/chevron-up.svg" %}
                        </span>
                    </button>
                    {% endif %}
                </li>
                {% if child.children %}
                <ul class="handbook-nav-nested-2">
                    {% for grandchild in child.children %}
                    <li class="{% if grandchild.url === page.url %}active{% endif %}">
                        <a href="{{grandchild.url}}">
                            {{ grandchild.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
    </ul>
</div>