<script>
    function toggleNavList (el) {
        const li = el.parentElement
        li.classList.toggle('open')
        const ul = li.nextElementSibling
        ul.classList.toggle('open')
        if (ul.style.maxHeight) {
            ul.style.maxHeight = null;
        } else {
            if (ul.parentElement.tagName === "UL" && !ul.parentElement.classList.contains('handbook-nav')) {
                ul.parentElement.style.maxHeight = "initial"
            }
            ul.style.maxHeight = ul.scrollHeight + "px";
        } 
    }
</script>

<!-- Navigation -->
<div class="border-r lg:pt-2" data-{{nav}}>
    <ul class="handbook-nav" data-el="navigation">
        {% set path = (["node-red/", nav] | join) if nav == "core-nodes" else nav %}

        <li class="{% if "/{{ path }}/" === page.url %}active{% endif %}">
            <a href="/{{ path }}/">{{ nav }}</a>
        </li>
        {% for group in collections
            .nav[nav]
            .groups %}
            {% if group.children.length > 0 %}
                <li class="handbook-nav-group">{{ group.name }}</li>
                {% for entry in group.children %}
                    <li class="{% if entry.url === page.url %}active{% endif %}">
                        <a href="{{entry.url}}">
                            {{ entry.name }}
                        </a>
                        {% if entry.children %}
                            <button onclick="toggleNavList(this)">
                                <span class="ff-icon icon-expand">
                                    {% include "components/icons/chevron-down.svg" %}
                                </span>
                                <span class="ff-icon icon-minimise">
                                    {% include "components/icons/chevron-up.svg" %}
                                </span>
                            </button>
                        {% endif %}
                    </li>
                    {% if entry.children %}
                        <ul class="handbook-nav-nested">
                            {% for child in entry.children %}
                                <li class="{% if child.url === page.url %}active{% endif %}">
                                    <a href="{{child.url}}">
                                        {{ child.name }}
                                    </a>
                                    {% if child.children %}
                                        <button onclick="toggleNavList(this)">
                                            <span class="ff-icon icon-expand">
                                                {% include "components/icons/chevron-down.svg" %}
                                            </span>
                                            <span class="ff-icon icon-minimise">
                                                {% include "components/icons/chevron-up.svg" %}
                                            </span>
                                        </button>
                                    {% endif %}
                                </li>
                                {% if child.children %}
                                    <ul class="handbook-nav-nested-2">
                                        {% for grandchild in child.children %}
                                            <li class="{% if grandchild.url === page.url %}active{% endif %}">
                                                <a href="{{grandchild.url}}">
                                                    {{ grandchild.name }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</ul>
</div>