---
layout: layouts/page.njk
---
<div class="text-left max-w-full">
  <div class="container m-auto text-left max-w-5xl">
    <div class="flex flex-col justify-center items-center md:block mx-auto">
      <div class="product pt-3">
        <!-- Form / Calendar Script -->
        <div class="max-w-2xl mx-auto">
          {% include hubspot.script %}
        </div>
      </div>
    </div>
    <!-- Social proof logos -->
    <div class="px-6 border-t border-gray-200 mt-16">
      {% include "social-proof.njk" %}
    </div>
  </div>
  <div class="w-full py-10">
    <div class="container m-auto max-w-lg md:max-w-4xl">
      <!-- Alternative contact channels -->
      <div class="other-channels">
        {% for channel in otherChannels %}
          <div class="channel">
            <h4 class="title">
              <div class="w-16">
                {% image channel.image, channel.imageAlt, [64] %}
              </div>
              <div class="text-2xl w-auto">
                {{ channel.title }}
              </div>
            </h4>
            <p class="mb-0">
              {{ channel.description }}
            </p>
            <div class="container button-container">
              <a href="{{ channel.buttonLink }}" class="ff-btn ff-btn--primary-outlined flex flex-col">
                <span class="text-base uppercase no-underline md:px-4">
                  {{ channel.buttonText }}
                </span>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
