---
layout: layouts/page.njk
nohero: true
---
<div class="nohero w-full pt-12 pb-24 ff-bg-light">
    <div class="container m-auto text-left px-6 md:max-w-screen-lg">
        {{ content | safe }}
    </div>
</div>
