---
layout: layouts/base.njk
---
<!--Hero Content-->
<div class="w-full page">
    {% if title %}
        {% if nohero %}
        <div class="container m-auto text-center flex mt-12 p-6 mb-6 md:max-w-4xl">
        {% else %}
        <div class="hero container m-auto text-center flex flex-wrap mt-12 p-6 mb-32 md:flex-nowrap md:max-w-4xl">
        {% endif %}
            <div class="text-left md:pr-32">
                <h1>{{ title }}</h1>
                {% if subtitle %}
                <h4>{{ subtitle | safe }}</h4>
                {% endif %}
                {% if (description and not hideDescription) %}
                <div>{{ description | safe }}</div>
                {% endif %}
            </div>
            {% if heroimg %}
            <img class="hidden lg:block" src="{{heroimg}}"/>
            {% endif %}
        </div>
    {% endif %}
    <div class="content">
        {{ content | safe }}
    </div>
</div>