---
layout: layouts/base.njk
---
<!--Hero Content-->
<div class="w-full page hero">
    {% if (title and not hideTitle) %}
    <div class="w-full">
        {% if nohero %}
        <div class="container m-auto text-center flex py-12 px-12 md:max-w-screen-lg md:pt-12">
            <div class="text-center w-full">
                <h1>{{ title }}</h1>
            </div>
        {% elif heroimg %}
        <div class="hero {{ 'hero-lg' if heroLg else ''}} {{ 'hero-wide' if heroWide else ''}} container m-auto text-center flex flex-wrap mt-6 py-6 px-6 md:px-0 pb-24 md:flex-nowrap md:max-w-screen-md md:mt-12">
            <div class="text-left {{ 'md:pr-20' if heroLg else ('md:pr-10' if heroWide else 'md:pr-6') }}">
                <h1>{{ title }}</h1>
                {% if subtitle %}
                <h4 class="text-indigo-400">{{ subtitle | safe }}</h4>
                {% endif %}
                {% if (description and not hideDescription) %}
                <p class="mt-8">{{ description | safe }}</p>
                {% endif %}
            </div>
            {% if heroimg %}
                <div class="hidden md:block flex-shrink-0">
                    {% set imageDescription = ["Hero Image for ", title] | join %}
                    {% image heroimg, imageDescription, [586] %}
                </div>
            {% endif %}
        {% else %}
        <div class="hero {{ 'hero-lg' if heroLg else ''}} container m-auto text-center flex flex-wrap pt-6 px-6 pb-12 md:flex-nowrap md:max-w-4xl md:pt-12">
            <div class="mx-auto max-w-screen-xl md:max-w-xl">
                <h1>{{ title }}</h1>
                <h4 class="text-indigo-400">{{ subtitle | safe }}</h4>
                <p class="lead-p m-auto mt-3">{{ description | safe }}</p>
            </div>
        {% endif %}            
        </div>
    </div>    
    {% endif %}
    <div class="content">
        {{ content | safe }}
    </div>
</div>