---
layout: layouts/base.njk
---
<!--Hero Content-->
<div class="w-full page">
    {% if title %}
        {% if nohero %}
        <div class="container m-auto text-center flex mt-6 py-6 px-12 mb-6 md:max-w-screen-lg md:mt-12">
            <div class="text-center w-full">
                <h1 class="text-teal-300">{{ title }}</h1>
            </div>
        {% elif heroimg %}
        <div class="hero {{ 'hero-lg' if heroLg else ''}} {{ 'hero-wide' if heroWide else ''}} container m-auto text-center flex flex-wrap mt-6 py-6 px-12 mb-32 md:flex-nowrap md:max-w-screen-lg md:mt-12">
            <div class="text-left {{ 'md:pr-20' if heroLg else ('md:pr-10' if heroWide else 'md:pr-32') }}">
                <h1 class="text-teal-300">{{ title }}</h1>
                {% if subtitle %}
                <h4>{{ subtitle | safe }}</h4>
                {% endif %}
                {% if (description and not hideDescription) %}
                <div>{{ description | safe }}</div>
                {% endif %}
            </div>
            {% if heroimg %}
            <img class="hidden md:block" src="{{heroimg}}"/>
            {% endif %}
        {% else %}
        <div class="hero {{ 'hero-lg' if heroLg else ''}} container m-auto text-center flex flex-wrap mt-6 p-6 mb-32 md:flex-nowrap md:max-w-4xl md:mt-12">
            <div class="text-center w-full">
                <h1 class="text-teal-300">{{ title }}</h1>
            </div>
        {% endif %}            
        </div>
    {% endif %}
    <div class="content">
        {{ content | safe }}
    </div>
</div>