---js
{
    layout: "layouts/base.njk",
    type: "post",
    eleventyComputed: {
        permalink: data => isFuturePost(data) ? false : `${data.page.filePathStem}/`,
        eleventyExcludeFromCollections: data => isFuturePost(data)
    },
    hubspot: {
        script: "hubspot/hs-form.njk",
        formId: "159c173d-dd95-49bd-922b-ff3ef243e90c",
        cta: "cta-blog-subscribe",
        reference: "article"
    }
}
---
{% if date | isFutureDate %}
    <div class="w-full page post bg-indigo-600 text-center text-white py-4 font-bold">
    This post is scheduled to be published on {{ date | shortDate }}
    </div>
{% endif %}

<div class="w-full page post">
    {% if title %}
        <div class="post-title container m-auto text-center max-lg:px-6 flex mt-6 mb-6 md:max-w-screen-lg md:mt-12">
            <div class="text-left md:pr-32">
                <label>Article</label>
                <h1>{{ title }}</h1>
                {% if subtitle %}
                    <h4>{{ subtitle | safe }}</h4>
                {% endif %}
                <div class="flex items-center gap-1 text-sm text-gray-500 mt-4">
                    {% set comma = joiner() %}
                    {%- for author in authors %}
                        {{ comma() }} <span class="font-medium">{{ people[author].name if people[author] else 'FlowFuse' }}</span>
                    {%- endfor %}
                    <span class="text-gray-400">•</span>
                    {%- if lastUpdated -%}
                    <time value="{{ lastUpdated | toDate | dateToRfc3339 }}">{{ lastUpdated | shortDate }}</time>
                    {%- else -%}
                    <time value="{{ date | toDate | dateToRfc3339 }}">{{ date | shortDate }}</time>
                    {%- endif -%}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="blog nohero w-full pb-24">
        <div class="container flex flex-col md:flex-row m-auto text-left max-lg:px-6 md:max-w-screen-lg gap-8 items-stretch">
            <div class="ff-prose">
                <a class="inline-flex align-center gap-1 mb-4" href="/blog">
                    {% include "components/icons/chevron-left.svg" %}
                    Back to Blog Posts
                </a>
                <div class="prose w-full flex-grow">
                    <div class="mb-4 hero-img">
                        {% if video %}
                            <lite-youtube videoid="{{ video }}" params="rel=0" style="margin-top: 20px; margin-bottom: 20px; width: 100%; height: 480px;" title="{{ title }} - YouTube video"></lite-youtube>
                        {% else %}
                            <div class="w-full h-auto">
                                {% tileImage null, image, "./images/og-blog.jpg", "Image with logo and the slogan: Elevate Node-RED with Flowfuse", 560 %}
                            </div>
                        {% endif %}
                    </div>
                    {{ content | safe }}
                </div>

                <!-- FAQ Section -->
                {% if meta.faq %}
                    <div class="prose mt-12">
                        <h2 class="mb-1">Frequently Asked Questions</h2>
                        {% include "faq.njk" %}
                    </div>
                {% endif %}
                
                <!-- Author Bio Section -->
                {% for author in authors %}
                    {% set author = people[author] %}
                    {% include "components/author-card.njk" %}
                {% endfor %}
            </div>
            <div class="w-72 max-w-full flex-shrink-0">
                <div class="mt-6 flex flex-col">
                    {% include "layouts/toc.njk" %}
                </div>
                <div class="sticky top-20">
                    {%- set postsToShow = collections.posts | relatedPosts -%}
                    {%- if postsToShow.length == 0 %}
                        {%- set postsToShow = collections.posts | reverse | limit(5) -%}
                        {%- set heading = "Recommended Articles:" %}
                    {%- else %}
                        {%- set heading = "Related Articles:" %}
                    {%- endif %}

                    <h3 class="mb-3 pt-6 border-t-2">{{ heading }}</h3>
                    <ul class="ml-6 list-disc">
                        {%- for post in postsToShow %}
                            {% if post.data.title != title %}
                                <li class="mb-3">
                                    <a href="{{ post.url }}">
                                        {{ post.data.title }}
                                    </a>
                                </li>
                            {% endif %}
                        {%- endfor %}
                    </ul>
                    <div class="mb-6 pb-6 pt-6 border-t-2">
                        {% include "components/social-share.njk" %}
                    </div>
                    <div class="mt-3 pt-6 flex flex-col border-t-2">
                        <h3 class="">Sign up for updates</h3>
                        {% include hubspot.script %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "./common-js.njk" %}


