---
layout: layouts/base.njk
---

<div class="w-full page">
    {% if title %}
        <div class="container m-auto text-center max-w-screen-lg px-6 flex mt-12 mb-6">
            <div class="text-left pr-32">
                <h1>{{ title }}</h1>
                {% if subtitle %}
                <h4>{{ subtitle | safe }}</h4>
                {% endif %}
                <p class="author">
                    <time value="{{ item.date }}">{{ date  | shortDate }}</time>
                    |
                    {% set comma = joiner() %}
                    {%- for author in authors %}
                    {{ comma() }} {{ team[author].name }}
                    {%- endfor %}
                </p>
            </div>
        </div>
    {% endif %}
    <div class="blog nohero w-full pt-6 pb-24 ff-bg-light">
        <div class="container m-auto text-left max-w-screen-lg px-6">
            <a class="block mb-4" href="/blog">&lt; Back to Blog Posts</a>
            <div class="prose">
                <div>{% if image %}<img class="w-full h-auto" src="{{image}}" />{% else %}{{ page.url | generatePostSVG |safe}}{% endif %}</div>
                {{ content | safe }}
            </div>
        </div>
    </div>
</div>
