---
layout: layouts/base.njk
---
<div class="w-full max-w-3xl mx-auto">
    <h1 class="text-3xl md:text-5xl text-black-hero-heading font-medium pb-3">{{ title }}</h1>
    <hr>
    <div class="mt-6 mb-4 prose prose-blue md:prose-lg">
        {{ content | safe }}
    </div>
</div>
