<!-- All external links open in new page -->
<script>
    document.querySelectorAll("[data-{{nav}}] a").forEach((link) => {
        try {
            if (!link.target && window.location.host !== new URL(link.href).host) {
                link.target = "_blank";
            }
        } catch {
            // Swallow errors
        }
    })
</script>