---
layout: layouts/base.njk
sitemapPriority: 0.8
---
<!--Hero Content-->
<div class="page w-full px-6 pb-24 mt-12 md:px-0">
    <div class="hero container m-auto text-center max-w-screen-md">
        <div>
            <h1 class="px-12 md:px-0 text-gray-50 m-auto">
                {{ title }}
            </h1>
            <h3 class="mt-4">
                {{ subtitle }}
            </h3>
        </div>
        <div class="text-white text-left flex items-center gap-6 mt-12">
            <div class="hidden sm:block w-64 flex-shrink-0">
                {% image heroImg, "Hero image for the respective solution", [250] %}
            </div>
            <div class="flex flex-col justify-center text-center sm:text-left py-2">
                {{ description | safe }}
            </div>
        </div>
    </div>
</div>

{% include "components/divider-flow--default.njk" %}

<div class="w-full bg-gray-50 pt-20 px-0 md:pt-32">
    {{ content | safe }}
</div>