---
layout: layouts/base.njk
sitemapPriority: 0.8
---
<!--Hero Content-->
<div class="page w-full px-6 mt-12 md:px-0">
    <div class="hero container m-auto text-center max-w-screen-md">
        <div>
            <h1 class="px-12 md:px-0 m-auto">
                {{ title }}
            </h1>
            <h4 class="mt-4 text-indigo-400">
                {{ subtitle }}
            </h4>
        </div>
        <div class="flex items-center gap-6 mt-6">
            <div class="hidden sm:block w-64 flex-shrink-0">
                {% image heroImg, "Hero image for the respective solution", [250] %}
            </div>
            <div class="flex flex-col justify-center text-center sm:text-left py-2">
                {{ description | safe }}
            </div>
        </div>
    </div>
</div>

<div class="w-full px-0">
    {{ content | safe }}
</div>