---
layout: layouts/base.njk
sitemapPriority: 0.8
---
<!--Hero Content-->
<div class="w-full page">
    <div class="container m-auto text-center flex mt-6 py-6 px-12 mb-6 md:max-w-screen-lg md:mt-12">
        <div class="text-center w-full">
            <h1 class="text-teal-300">{{ title }}</h1>
            <h4>{{ subtitle | safe }}</h4>
        </div>
    <div>
    <div class="content">
        {{ content | safe }}
    </div>
</div>