---
layout: layouts/base.njk
---

<div class="w-full page post">
    {% if title %}
        <div class="w-full py-6 bg-cover bg-center md:py-12" style="background-image: linear-gradient(to left, #0040ff69, black), url({{ image }})">
            <div class="post-title container m-auto text-center px-6 flex md:max-w-screen-lg">
                <div class="text-left md:pr-32">
                    <label>Customer Story</label>
                    <h1>{{ title }}</h1>
                    {% if subtitle %}
                    <h4>{{ subtitle | safe }}</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="blog nohero w-full pt-6 pb-24 ff-bg-light">
        <div class="container flex flex-col md:flex-row m-auto text-left px-6 md:max-w-screen-lg gap-8 items-stretch">
            <div class="flex-grow">
                <a class="inline-flex align-center gap-1 mb-4" href="/customer-stories">
                    {% include "components/icons/chevron-left.svg" %}
                    Back to Customer Stories
                </a>
                <div class="prose">
                    {{ content | safe }}
                </div>
            </div>
            <div class="w-72 max-w-full flex-shrink-0">
                <div class="sticky top-4 mt-6 flex flex-col">
                    <h3 class="mb-3">Challenge:</h3>
                    <p>{{ story.challenge }}</p>
                    <h3 class="mb-3">Solution:</h3>
                    <p>{{ story.solution }}</p>
                    <h3 class="mb-3">Results:</h3>
                    <ul>
                        {% for result in story.results %}
                            <li class="mb-3 text-base">
                                {{ result }}
                            </li>                      
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Clipboard -->
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/Primer/19.1.1/tooltips.min.css"  as="style" onload="this.onload=null;this.rel='stylesheet'" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% initClipboardJS %}

<!-- Syntax Highlighting CSS -->
<link rel="preload" href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism-tomorrow.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" crossorigin="anonymous" referrerpolicy="no-referrer" />
