---
layout: layouts/base.njk
---

<div class="w-full page post story">
    {% if title %}
    <div class="w-full py-6 bg-cover bg-center md:py-9 md:min-h-[272px] md:flex md:content-center" style="background-image: linear-gradient(to right, #1F2937, #1F293700), url({{ image }})">
        <div class="post-title container m-auto text-center max-lg:px-6 flex md:max-w-screen-lg">
            <div class="text-left max-w-screen-md md:pr-32">
                <label><span class="text-indigo-200">Customer Story</span></label>
                <h1 class="text-shadow-header text-white">{{ title }}</h1>
                {% if subtitle %}
                <h4>{{ subtitle | safe }}</h4>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="blog nohero w-full pt-6 pb-24 bg-gray-50">
        <div class="container flex flex-col m-auto text-left max-lg:px-6 md:max-w-screen-lg items-stretch">
            <a class="inline-flex align-center gap-1 mb-5 md:mb-4" href="/customer-stories">
                {% include "components/icons/chevron-left.svg" %}
                Back to Customer Stories
            </a>
            <div class="ff-prose flex flex-col-reverse md:flex-row md:gap-8 mb-6 border-b">
                <div class="flex-grow">
                    <div class="prose">
                        <q class="py-6 md:pt-3 px-6 text-xl text-gray-600 italic font-bold w-full block">
                            {{story.quote}}
                        </q>
                        {{ content | safe }}
                    </div>
                </div>
                <div class="w-80 max-w-full flex-shrink-0 self-center md:self-auto">
                    <div class="flex flex-col border rounded-lg py-6 px-6"
                        style="box-shadow: 4px 4px 6px rgba(75,85,99,0.05)">
                        {% if story.logo %}
                        <div class="h-[180px] object-contain flex items-center justify-center bg-white p-2">
                            <a href="{{ story.url }}" target="_blank" class="h-full ff-image-contain">
                                {% set imageSrc = ["./", story.logo ] | join %}
                                {% set imageDescription = ["Image representing ", story.brand, " logo"] | join %}
                                {% image imageSrc, imageDescription, [270] %}
                            </a>
                        </div>
                        <div class="border-t pb-3"></div>
                        {% endif %}
                        <div class="border-b pb-3">
                            <h3 class="text-base">Challenge</h3>
                            <p class="mt-2">{{ story.challenge }}</p>
                        </div>
                        <div class="border-b pt-3 pb-3">
                            <h3 class="text-base">Solution</h3>
                            <p class="mt-2">{{ story.solution }}</p>
                            {% if story.products.length > 0 %}
                            <div class="flex flex-row items-center">
                                <h5 class="font-normal text-sm text-gray-500 mr-2">using:</h5>
                                <hr class="flex-grow border-gray-200">
                            </div>
                            <ul class="flex flex-row flex-wrap gap-4 mt-4">
                                {% set productUrls = {
                                    "Node-RED": "/node-red/",
                                    "FlowFuse Dashboard": "/platform/dashboard/",
                                    "FlowFuse": "/platform/features/",
                                    "FlowFuse Device Agent": "/docs/hardware/introduction/#device-agent---hardware",
                                    "FlowFuse Project Nodes": "/docs/user/projectnodes/#flowfuse-project-nodes"
                                } %}
                                {% for product in story.products %}
                                <a href="{{ productUrls[product] }}" class="mb-3 w-10 max-h-10 text-base flex items-center ff-tooltip" data-tooltip="{{ product }}">
                                    {% set productIcons = {
                                        "Node-RED": "node-red.svg",
                                        "FlowFuse Dashboard": "ff-dashboard.svg",
                                        "FlowFuse": "ff-icon.svg",
                                        "FlowFuse Device Agent": "ff-device-agent.svg",
                                        "FlowFuse Project Nodes": "ff-project-nodes.svg"
                                    } %}

                                    {% if product in productIcons %}
                                        {% include "components/icons/product-icons/" ~ productIcons[product] %}
                                    {% endif %}
                                </a>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <div class="pt-3 pb-3 border-b">
                            <h3 class="text-base">Results</h3>
                            <ul class="list-disc pl-6">
                                {% for result in story.results %}
                                <li class="mb-3 text-base">
                                    {{ result }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <a class="md:self-end ff-btn ff-btn--primary uppercase align-baseline w-full mt-3" href="/book-demo/"
                        onclick="capture('cta-book-demo', {'reference': 'Customer Story: {{ title }}'})">BOOK A DEMO</a>
                    </div>
                    {% if hubspot.formId %}
                    <div class="flex flex-col mt-6 px-6">
                        <div class="pt-3 pb-3 flex flex-col">
                            <h3 class="mb-3">Download Case Study</h3>
                            {% include "hubspot/hs-form.njk" %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <h3 class="mt-6 -mb-4 text-indigo-400">Read more stories</h3>
            {% include "stories-block.njk" %}
        </div>
    </div>
</div>

<!-- Clipboard -->
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/Primer/19.1.1/tooltips.min.css" as="style"
    onload="this.onload=null;this.rel='stylesheet'" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% initClipboardJS %}

<!-- Syntax Highlighting CSS -->
<link rel="preload" href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism-tomorrow.min.css" as="style"
    onload="this.onload=null;this.rel='stylesheet'" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- medium-zoom 1.1.0 | MIT License | https://github.com/francoischalifour/medium-zoom -->
{% include "medium-zoom.min.njk" %}