---
layout: layouts/base.njk
skipIndex: true
hubspot:
  script: "hubspot/hs-form.njk"
  formId: 159c173d-dd95-49bd-922b-ff3ef243e90c
---
<!-- Hero section -->
<div class="hero {{ 'hero-lg' if heroLg else ''}} container m-auto text-center flex flex-wrap pt-6 px-6 pb-12 md:flex-nowrap md:max-w-4xl md:pt-12">
  <div class="mx-auto max-w-screen-xl md:max-w-xl">
      <h1>{{ title | safe }}</h1>
      <h4 class="text-gray-500">{{ subtitle | safe }}</h4>
      <p class="lead-p m-auto mt-3">{{ description | safe }}</p>
  </div>           
</div>
<!-- Content -->
<div class="flex flex-col max-w-5xl mx-auto gap-x-10 px-6">
  <div class="max-w-md sm:max-w-screen-lg m-auto pb-6">
    {% include "explore-more-content.njk" %}
  </div>
</div>
<!-- Social proof logos -->
<div class="w-full max-w-md sm:max-w-screen-lg m-auto mt-6 px-6 border-t border-gray-200">
  {% include "social-proof.njk" %}
</div>