{% if content | toc %}
<div class="mb-6 pb-6 border-b-2">
    <h3 class="mb-3">Table of Contents</h3>
    <div class="toc-wrapper text-sm">
        {{ content | toc | safe }}
    </div>
</div>
{% endif %}