---
layout: layouts/base.njk
---

<div class="w-full page webinar">
    {% if title %}
        <div class="webinar-title container m-auto text-center max-lg:px-6 flex mt-6 mb-6 md:max-w-screen-lg md:mt-12">
            <div class="text-left md:pr-32">
                <label>Webinar</label>
                <h1>{{ title }}</h1>
                {% if subtitle %}
                    <h4>{{ subtitle | safe }}</h4>
                {% endif %}
                <div class="mt-8">
                    <time value="{{ date }}">{{ date | shortDate }}</time>
                    <time value="{{ time }}">{{ time }}</time>
                    <time value="{{ duration }}">{{ duration | duration }}</time>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="blog nohero w-full pt-6 pb-24">
        <div class="container flex flex-col md:flex-row m-auto text-left max-lg:px-6 md:max-w-screen-lg gap-8">
            <div>
                <a class="mb-4 inline-flex align-center gap-1" href="/webinars/">
                    {% include "components/icons/chevron-left.svg" %}
                    Back to Webinars
                </a>
                {% if video %}
                    <lite-youtube videoid="{{ video }}" params="rel=0" class="mb-4" style="width: 706px; max-width: 100%; height: 397px;" title="{{ title }} - YouTube video"></lite-youtube>
                {% else %}
                    {% if image %}
                    <div class="max-w-[706px] mb-6">
                        {% set imageSrc = ["./", image ] | join %}
                        {% set imageDescription = ["Image representing ", title] | join %}
                        {% image imageSrc, imageDescription, [706] %}
                    </div>
                    {% endif %}
                {% endif %}
                <div class="prose">
                    {{ content | safe }}
                </div>
            </div>
            <div class="w-72 max-w-full">
                {% if date | dateInFuture and not hubspot.downloadFormId %}
                    <div class="mt-6 flex flex-col">
                        <h3 class="mb-3">Register Here:</h3>
                        {% set cta = 'cta-webinar-register' %}
                        {% include "hubspot/hs-form.njk" %}
                    </div>
                {% endif %}
                <div class="mt-6 flex flex-col">
                    <h3 class="mb-3">Presented by:</h3>
                    {% for host in hosts %}
                        {% renderTeamMember people[host] %}
                    {% endfor %}
                    {% if hubspot.downloadFormId %}
                        <div class="mt-6 flex flex-col">
                            <h3 class="mb-3">Download webinar slides</h3>
                            {% set formId = hubspot.downloadFormId %}
                            {% set cta = 'cta-webinar-download-slides' %}
                            {% include "hubspot/hs-form.njk" %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
