---
layout: nohero
sitemapPriority: 0.8
pagination:
  data: collections.changelog
  size: 19 # creates a nice matrix (1 header, 18 left: 3 on 6 rows)
  alias: posts
  reverse: true
meta:
    title: Changelog
searchTitle: Changelog
nav: changelog
---
{% include "changelog/template.njk" %}
