---
layout: default
sitemapPriority: 0.9
pagination:
  data: collections.integrations
  size: 30
  addAllPagesToCollections: true
  alias: integrations
title: Integrations
description:
  Explore FlowFuse Blueprints, choose templates for quick setups, perfect for learning and fast solution-building.
  Customizable for unique needs. Simplify your Node-RED projects with FlowFuse Blueprints!
meta:
    title: Integrations
---

Integrations: 
{%- asyncEach item in integrations -%}
    {{ item.name }}
{% endeach %}