{% extends 'layouts/catalog.njk' %}

{% block title %}
Blueprint Library
{% endblock %}

{% block description %}
Explore FlowFuse Blueprints, choose templates for quick setups, perfect for learning and fast solution-building. Customizable for unique needs. Simplify your Node-RED projects with FlowFuse Blueprints!
{% endblock %}

{% block actions %}
<a href="/blueprints/submit" class="ff-btn ff-btn--primary flex-col uppercase">Submit Your Own</a>
{% endblock %}

{% block content %}
<div class="ff-blog container m-auto text-left max-w-lg md:max-w-6xl pt-8 pb-12 w-full ff-full-bg px-4 flex gap-4">
    <div>
        <ul class="flex flex-wrap">
            {%- asyncEach item in blueprints -%}
                {% include "blueprints/blueprints.njk" %}
            {%- endeach -%}
        </ul>
        {% include "blog/pagination.njk" %}
        {% include "contact-us-cta-line.njk" %}
    </div>
</div>
{% endblock %}