---
layout: "nohero"
title: Job Opening - Front-End Engineer, Node-RED Dashboard 2.0
description: We are looking for an experienced, remote Front-End Engineer (VueJS and NodeJS) with a good eye for design that can join the talented Engineering team to help build out Node-RED Dashboard 2.0.
skipIndex: true
image: /images/careers/hiring-dashboard.png
---

You will be re-directed to the job posting

<script>
    window.location.replace("{{ site.openings.d2fe }}");
</script>
