---
layout: "nohero"
title: Job Opening - Engineering Manager
description: At FlowFuse, an Engineering Manager is not just a lead to our team of engineers. An Engineering Manager is someone comfortable contributing to our codebase and can lead from the front, as well as guiding their engineering team to higher performance and faster innovation.
skipIndex: true
image: /images/careers/hiring-engineering-manager.png
---

You will be re-directed to the job posting

<script>
    window.location.replace("{{ site.openings.aeus }}");
</script>
