---
layout: "nohero"
title: Job Opening - Front-End Developer
description: We are searching for a highly skilled Contract Front-End Developer to help develop the successor to the Node-RED Dashboard
skipIndex: true
image: /images/careers/opening-front-end.jpg
---

You will be re-directed to the job posting

<script>
    window.location.replace("{{ site.openings.frontenddash }}");
</script>
