---
layout: "nohero"
title: Job Opening - Developer Advocate - Manufacturing & Industrial Automation
description: FlowFuse is looking to expand our community outreach team to support the users of Node-RED and FlowFuse in the Manufacturing and Industrial Automation industries. 
skipIndex: true
image: /images/careers/opening-man-advocate.jpeg
---

You will be re-directed to the job posting

<script>
    window.location.replace("{{ site.openings.devadvocate }}");
</script>
