---
layout: "nohero"
title: Job Opening - Sales Representative
description: We are seeking a pioneer who can define and build a playbook to help drive revenue for our company
skipIndex: true
image: /images/careers/opening-sales-rep.jpeg
---

You will be re-directed to the job posting

<script>
    window.location.replace("{{ site.openings.sales }}");
</script>
