---
layout: "nohero"
title: Job Opening - Sales Representative (EU)
description: We're looking for a Sales Representative to join our team. Can you refine a playbook, improve a sales process, and help drive revenue for our company?
skipIndex: true
image: /images/careers/hiring-rep-eu.png
---

You will be re-directed to the job posting

<script>
    window.location.replace("{{ site.openings.rep-eu }}");
</script>
