---
layout: "nohero"
title: Job Opening - Senior Front-End Engineer
description: We are searching for an experience Senior Front-End Engineer to grow our talented engineering team.
skipIndex: true
image: /images/careers/opening-snr-front-end.jpg
---

<b style="text-align: center; display: block; padding: 48px;">
    You will be re-directed to the job posting...
</b>

<script>
    window.location.replace("{{ site.openings.snrfrontend }}");
</script>
