---
layout: "nohero"
title: Job Opening - Solutions Engineer
description: We’re hiring an experienced Solutions Engineer to work across the full customer lifecycle - from pre-sales discovery to long-term customer success.
skipIndex: true
image: /images/careers/hiring-solutions-engineer.png
---

You will be re-directed to the job posting

<script>
    window.location.replace("{{ site.openings.se }}");
</script>
