---
layout: nohero
meta:
    title: eBooks and Whitepapers
    description: Browse our library of whitepapers and ebooks and discover the power of our low-code industrial data platform.
---
<div class="w-full catalog-hero cropped">
<div class="container m-auto text-left max-w-md sm:max-w-6xl pt-16 pb-24 w-full">
    <div class="px-6">
        <h1>eBooks and Whitepapers</h1>
        <p class="max-w-2xl">Ready to dive deeper into the world of FlowFuse? Browse our library of whitepapers and ebooks and discover the power of our low-code industrial data platform.</p>
    </div>
    <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 px-6 mt-16">
        {%- for item in collections.ebooksAndWhitepapers | sort(attribute='date') | reverse -%}
        <li class="customer-story-tile w-full my-2 border px-0 rounded-lg hover:drop-shadow-lg hover:border-blue-600 transition ease-in-out duration-300 bg-white">
            <a href="{{ item.url }}" class="w-full flex flex-col group hover:no-underline h-full m-0">
                <div class="">
                    <div class="relative border-b">
                        <div class="w-full h-52 ff-image-cover ff-image-top-rounded">
                            {% set imageSrc = ["./", item.data.thumbnail] | join %}
                            {% set imageDescription = ["Image representing ", item.data.meta.title] | join %}
                            {% image imageSrc, imageDescription, [356] %}
                        </div>
                    </div>    
                    <div class="mt-1 mb-0 p-5 pt-3">
                        <label class="px-2 py-1 rounded-md font-semibold {% if item.data.tags == 'Whitepaper' %}bg-indigo-100 text-gray-700{% elif item.data.tags == 'eBook' %}bg-indigo-600 text-white{% endif %}">{{ item.data.tags }}</label>
                        <h3 class="group-hover:text-blue-600 font-medium m-0 mt-3 text-lg">{{ item.data.meta.title | safe }}</h3>
                    </div>
                </div>
            </a>
        </li>
        {%- endfor -%}
    </ul>
</div>
</div>