<h2>What's the Split node in Node-RED used for?</h2>

<p>The Split node in Node-RED is used to split an incoming message object into several different message objects. The incoming object can be a simple string, an array, or an object. The Split node will split the object based on the following criteria:</p>

<ul>
<li><strong>String:</strong> The Split node will split the string on a delimiter character. The delimiter character can be specified in the node's configuration.</li>
<li><strong>Array:</strong> The Split node will split the array into a series of messages, each containing one element of the array.</li>
<li><strong>Object:</strong> The Split node will split the object on the keys of the object. The keys of the object can be specified in the node's configuration.</li>
</ul>

<p>The Split node can be used to process data in a variety of ways. For example,
it can be used to split a string of text into a series of messages, each containing
one word of the text. It can also be used to split an array of data into a series
of messages, each containing one element of the array.</p>

<p>The following are some examples of how the Split node can be used:</p>

<ul>
<li><strong>Splitting a string of text into a series of messages, each containing one word of the text.</strong></li>
<li><strong>Splitting an array of data into a series of messages, each containing one element of the array.</strong></li>
<li><strong>Splitting an object on the keys of the object, to create a series of messages, each containing one key-value pair of the object.</strong></li>
<li><strong>Splitting a message on a delimiter character, to create a series of messages, each containing one part of the message.</strong></li>
</ul>

<p>The Split node is a powerful tool that can be used to process data in a variety of ways. It is a valuable addition to any Node-RED flow.</p>
