#algolia-search {
    border-color: #dedede;
    flex: auto;
}

#algolia-search .aa-DetachedSearchButton {
    border: none;
    padding: 0;
}

#algolia-search .aa-DetachedSearchButton:focus,
#algolia-search .aa-DetachedSearchButton:focus-within,
#algolia-search .aa-DetachedSearchButton:active {
    outline: none;
    box-shadow: none;
}

#algolia-search .aa-Form {
    height: 42px;
    border: none;
}
#algolia-search .aa-Form:focus-visible,
#algolia-search .aa-Form:focus-within {
    box-shadow: none;
    outline: none;
}
#algolia-search .aa-Form .aa-SubmitIcon,
#algolia-search .aa-DetachedSearchButton .aa-DetachedSearchButtonIcon .aa-SubmitIcon{
    color: #777;
    height: 16px;
    width: 16px;
}

#algolia-search .aa-Form  .aa-Input::placeholder {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.aa-Panel {
    z-index: 999;
    min-width: 350px;
}

.aa-Panel .aa-ItemContent .aa-ItemContentTitle {
    font-weight: 600;
}

.aa-Panel .aa-ItemContent .aa-ItemContentSubTitle {
    font-size: 12px;
    font-weight: 600;
    color: #777;
    font-style: italic;
}

.aa-Panel .aa-ItemContent .aa-ItemIcon {
    box-shadow: none;
    background: transparent;
    height: 100%;
    width: 30%;
}

.aa-Panel .aa-ItemContent .aa-ItemContentDescription {
    color: #777;
}
