#algolia-search {
    border-color: #dedede;
    flex: auto;
}

#algolia-search .aa-DetachedSearchButton {
    border: none;
    padding: 0;
}

#algolia-search .aa-DetachedSearchButton:focus,
#algolia-search .aa-DetachedSearchButton:focus-within,
#algolia-search .aa-DetachedSearchButton:active {
    outline: none;
    box-shadow: none;
}

#algolia-search .aa-Form {
    height: 42px;
    border: none;
}
#algolia-search .aa-Form:focus-visible,
#algolia-search .aa-Form:focus-within {
    box-shadow: none;
    outline: none;
}
#algolia-search .aa-Form .aa-SubmitIcon,
#algolia-search .aa-DetachedSearchButton .aa-DetachedSearchButtonIcon .aa-SubmitIcon{
    color: #777;
    height: 16px;
    width: 16px;
}

#algolia-search .aa-Form  .aa-Input::placeholder {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.aa-Panel {
    z-index: 999;
    min-width: 350px;
}

.aa-Panel .aa-ItemContent {
    grid-template-columns: repeat(5, 1fr);
}

.aa-Panel .aa-ItemContent .aa-ItemIcon {
    box-shadow: none;
    background: transparent;
    height: 100%;
    grid-column: span 1;
    width: 100%;
    align-items: baseline;
}

.aa-Panel .aa-ItemContent .aa-ItemIcon img {
    height: auto;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    border-radius: 3px;
}

.aa-Panel .aa-ItemContent .aa-ItemContentBody {
    grid-column: span 4;
    align-self: stretch;
    display: flex;
    flex-direction: column;
}


.aa-Panel .aa-ItemContent .aa-ItemContentBody .aa-ItemContentTitle {
}

.aa-Panel .aa-ItemContent .aa-ItemContentBody .aa-ItemContentSubTitle {
    font-size: 12px;
    color: #777;
    font-style: italic;
}

.aa-Panel .aa-ItemContent .aa-ItemContentBody .aa-ItemContentDescription {
    color: #777;
}

.aa-Panel .aa-SourceFooter #load-more {
    display: block;
    width: 100%;
    text-align: center;
    color: #777;
    padding: 10px 0 5px;
    font-size: 12px;
}

.aa-Panel .aa-SourceFooter #load-more:hover {
    cursor: pointer;
    color: #2563eb;
}
