.about {
    width: 100%;
}

.left {
    display: flex;
    justify-content: left;
}

.left-headline {
    text-align: left;
    width: 100%;
}

.github-logo {
    display: inline;
    height: 20px;
    vertical-align: middle;
    width: 20px;
}

.issue-number {
    color: #7F7F7F;
}

.mt-28 {
    margin-top: -112px;
}

.reaction-count {
    align-items: center;
    display: flex;
    margin-left: 8px;
    font-weight: bold;
}

.roadmap-feedback {
    padding-bottom: 48px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    width: 100%;
}

.roadmap-item {
    border-top: 1px solid #e5e7ed;
    min-height: 88px;
    align-items: center;
    display: flex;
    flex-grow: 1;
}

.roadmap-item a {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 1.5rem;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    font-weight: 400;
    color: theme(colors.gray.500);
}

.roadmap-item a:hover {
    text-decoration: none;
    background-color: theme(colors.gray.100);
    color: theme(colors.gray.800);
}

.roadmap-item-container {
    display: flex;
    /* flex-grow: 1; */
    width: 100%;
}

.roadmap-item-container ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.roadmap-item-text {
    flex-grow: 1;
    text-align: left;
}

.roadmap-item-title-container {
    align-items: center;
    display: flex;
}

.roadmap-section {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.roadmap-section h4 {
    color: white;
}

.title-number-container {
    align-items: center;
    display: flex;
}

.vote-btn {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 12px 0px 12px 4px;
    text-decoration: none;
    transition: 0.3s;
}

.vote-btn img {
    height: 16px;
    margin-right: 4px;
    width: 16px;
}