@tailwind components;
@tailwind utilities;

@layer components {
    .handbook {
        grid-template-columns: 230px minmax(0, 1fr) 260px;
        margin-top: -3rem;
        @apply flex flex-col-reverse lg:grid lg:max-w-screen-xl 2xl:max-w-[1920px] 2xl:grid-cols-[300px,minmax(0,1fr),270px];
    }

    .handbook .prose {
        @apply max-w-full;
    }

    .handbook-nav {
        border-right: 1px solid right;
        text-transform: capitalize;
        --nav-weight: 500;
        --nav-color: theme(colors.gray.700);
        --nav-bg: transparent;
        --nav-pl: 1rem;
        background-color: transparent;
        padding-top: 0.25rem;
        max-height: calc(100vh - 1.5rem);
        max-width: 300px;
        overflow-y: auto;
        @apply sticky top-12 pl-6;
    }

    .handbook-nav-nested {
        --nav-bg: transparent;
        --nav-color: black;
        --nav-weight: 300;
        --nav-pl: 1.25rem;
        margin-left: 1.25rem;
    }

    .handbook-nav-nested-2 {
        margin-left: 1.25rem;
    }

    .handbook-nav li {
        @apply flex justify-between items-stretch my-1;
        font-weight: var(--nav-weight);
        background-color: var(--nav-bg);
        border-left: 4px solid;
        border-color: var(--nav-bg);
    }

    .handbook-nav li a,
    .handbook-nav li.handbook-nav-group {
        flex-grow: 1;
        @apply py-1.5 px-4;
    }

    .handbook-nav li.handbook-nav-group {
        color: theme(colors.indigo.700);
        padding-left: 0;
    }

    .handbook-nav li a {
        color: var(--nav-color) !important;
        padding-left: var(--nav-pl);
    }

    .handbook li .ff-icon {
        padding-right: 1rem;
    }

    .handbook-nav li button {
        @apply px-2;
    }

    .handbook-nav li button:hover .ff-icon svg path {
        stroke: theme(colors.blue.600);
    }
    
    .handbook-nav li.active {
        background-color: theme(colors.gray.100);
        border-color: theme(colors.indigo.600);
    }

    .handbook-nav li a:hover {
        background-color: theme(colors.gray.200);
    }

    /* .handbook-nav li a:active {
        background-color: theme(colors.gray.200);
    } */

    .handbook-nav li.core-nodes-nav-group a:hover,
    .handbook-nav li.core-nodes-nav-group a {
        color: theme(colors.indigo.600);
        text-decoration: none;
    }

    /* .handbook-nav li.core-nodes-nav-group.active {
        background-color: theme(colors.gray.100);
    } */

    .handbook li .icon-expand {
        display: block;
        color: black;
    }

    .handbook li .icon-minimise {
        display: none;
    }

    .handbook li.open {
        background-color: theme(colors.gray.100);
    }

    .handbook li.open .icon-expand {
        display: none;
    }

    .handbook li.open .icon-minimise {
        display: block;
    }

    .handbook picture+em {
        font-size: 0.825rem;
        display: block;
        width: 100%;
        text-align: center;
    }

    .handbook .table-wrapper {
        overflow-x: auto;
        max-width: 100%;
        @apply lg:max-w-[calc(100vw-610px)];
    }

    .handbook div[style="position: relative"],
    .handbook pre {
        width: 100%;
        @apply max-w-full lg:max-w-[calc(100vw-580px)] xl:max-w-[calc(100vw-630px)]  2xl:max-w-[calc(100vw-690px)];
    }

    .handbook .flow-renderer svg {
        max-width: 100%;
    }

    .handbook .hbspt-form {
        max-width: 80ch;
    }

    /* Define animation transitions for all child UL elements */
    .handbook-nav ul {
        max-height: 0;
        overflow-y: hidden;
        transition: 0.3s;
    }

    .handbook-nav ul:has(li.active) {
        max-height: initial;
    }

    .handbook .persona-card label {
        @apply font-bold;
    }

    .handbook .persona-card ul {
        margin-top: 0;
        margin-bottom: 0;
        @apply text-white;
    }

    .handbook .persona-card li {
        margin-top: 0.125rem;
        margin-bottom: 0.125rem;
        padding-left: 1.25rem;
    }
}