.nohero {
    color: #111827;
    font-size: 0.875em;
    font-weight: 300;
}

.nohero>:first-child {
    margin-top: 0;
}

.nohero a {
    color: theme(colors.blue.600);
}

.nohero strong {
    font-weight: 600;
}

.nohero code {
    background-color: transparent;
    border-radius: 0;
    border: none;
    padding: 0;
}

.ff-blog h3,
.blog.nohero h3, 
.webinar.nohero h3, 
.newsletter.nohero h3,
.handbook h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.webinar.nohero h2 {
    font-size: 2rem;
    line-height: 2.3rem;
}

.webinar.nohero h1 {
    font-size: 2.6rem;
    line-height: 2.9rem;
}

.prose code::after {
    content: '' !important;
}

.prose code::before {
    content: '' !important;
}

.ff-prose .prose h1 {
    font-size: 2.25em;
    line-height: 1.3;
}
.ff-prose .prose h2 {
    font-size: 1.85rem;
}

.ff-prose .prose h3 {
    font-size: 1.5rem;
}

.ff-prose .prose h4 {
    font-size: 1.25rem;
}

.ff-prose .prose h5 {
    font-size: 1rem;
}

.ff-prose .prose p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.75rem;
}

.ff-prose .prose p,
.ff-prose .prose li,
.ff-prose li {
    font-weight: 300;
}

.ff-prose .prose p strong,
.ff-prose .prose li strong {
    font-weight: 500;
}

.ff-prose .prose hr {
    border-color: theme(colors.gray.400);
    margin: 0;
}

/* Reset Tailwind CSS to enable more custom uses of images, e.g. User Personas */
.ff-prose .prose img {
    margin-top: initial;
    margin-bottom: initial;
}

.ff-prose .prose > img {
    margin-top: 2em;
    margin-bottom: 2em;
}