.article {
    color: #111827;
    font-size: 0.875em;
    font-weight: 300;
}

.article>:first-child {
    margin-top: 0;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5 {
    color: theme(colors.gray.800) !important; 
}

.article h1 {
    font-size: 2.625rem;
    line-height: 3.75rem;
}

.article h2 {
    font-size: 1.5rem;
    line-height: 2rem;
}

.article h3 {
    font-size: 1.25rem;
    line-height: 2rem;
}

.article h4 {
    font-size: 1rem;
    line-height: 2rem;
}

.article p {
    color: theme(colors.gray.800);
    margin-bottom: 0.5rem;
    line-height: 1.75rem;
}

.article a {
    color: theme(colors.blue.600);
}

.article strong {
    font-weight: 400;
}

.article code {
    background-color: transparent;
    border-radius: 0;
    border: none;
    padding: 0;
}

.prose code::after {
    content:''
}
.prose code::before {
    content:''
}