
@tailwind components;
@tailwind utilities;

.page h1 {
    color: theme(colors.teal.400);
    font-size: 2.5rem;
}

.page h2 {
    color: theme(colors.gray.800);
    font-size: 2rem;
    font-weight: 600;
}

.page h4 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 12px;
    color: white;
}

.page .hero h4 {
    margin-bottom: 1.5rem;
}

.page p {
    color: theme(colors.white);
    line-height: 32px;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 1rem;
}

.page .hero img {
    width: 250px;
    height: 250px;
}

.page .hero-lg img {
    width: 325px;
    height: 325px;
}

/* ABOUT */

.highlight-feature {
    text-align: center;
}

.highlight-feature h2 {
    color: theme(colors.teal.600);
}

.highlight-feature img {
    height: 172px;
    margin: 12px auto;
}

.highlight-feature p {
    color: black;
    padding: 0 24px;
}

/*
    PRODUCT
*/
@layer components {
    .product-left,
    .product-right {
        padding-bottom: 48px;
        @apply text-center sm:text-left flex items-center flex-col-reverse sm:flex-row;
    }
    .product-left > div {
        @apply sm:pr-12;
    }
    .product-right > div {
        @apply sm:pl-12 sm:text-right;
    }
    .product-left img,
    .product-right img {
        width: 150px;
        height: 150px;
    }
    .product-right {
        @apply sm:flex-row-reverse;
    }
}


/*
    PRICING
*/
@layer components {
    .pricing-tiles {
        position: relative;
        display: grid;
        gap: 48px;
        z-index: 2;
        margin: auto;
        @apply -mt-32 md:-mt-24 max-w-3xl md:grid-cols-3;
    }
    .pricing-tile {
        text-align: center;
        border-radius: 12px;
        border: 4px solid theme(colors.gray.400);
        background-color: #37415194;
        display: flex;
        flex-direction: column;
        @apply mx-12 px-3 py-4 md:mx-0 md:px-9 md:py-12;
    }
    .pricing-tile h4 {
        font-weight: normal;
        margin: 0;
        @apply text-left md:text-center;
    }
    .pricing-tile h2 {
        font-size: 48px;
        color: theme(colors.white);
        @apply mt-0 mb-1 md:mt-8
    }
    .pricing-tile label {
        display: block;
        color: theme(colors.white);
        font-size: 12px;
        @apply md:mb-8;
    }
    .pricing-tile .lets-talk {
        font-weight: 300;
        font-size: 24px;
    }
}

/* COMPANY VALUE */

@layer components {
    .company-value {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @apply w-1/2 md:w-1/3;
    }
    
    .company-value img {
        width: 128px;
    }
    
    .company-value h5 {
        color: theme(colors.teal.500);
        font-weight: bold;
        font-size: 1.25rem;
        margin-top: 1rem;
        margin-bottom: 3rem;
        @apply px-2 md:px-0
    }
}

/* MEET THE TEAM */

.team .name {
    color: white;
    display: flex;
    align-items: center;
}

.team .name span {
    font-size: 1.5rem;
}

.team .role {
    color: white;
    line-height: 0.75rem;
}

.team .socials {
    display: flex;
    margin-top: 1rem;
}

.team .socials span {
    display: flex;
    margin-right: 1rem;
}

.team .socials span a {
    color: theme(colors.teal.200);
}