@tailwind components;
@tailwind utilities;

@layer components {
    .eleventy {
        margin-top: -3rem;
    }

    .eleventy-nav {
        border-right: 1px solid right;
        text-transform: capitalize;
        --nav-weight: 500;
        --nav-color: theme(colors.gray.700);
        --nav-bg: transparent;
        --nav-pl: 1rem;
        background-color: transparent;
        padding-top: 0.25rem;
        max-height: calc(100vh - 1.5rem);
        overflow-y: auto;
        @apply sticky top-14 pl-2 sm:pl-6 xl:pl-0;
    }

    .has-children > ul > li:not(.has-children) {
        --nav-bg: transparent;
        color: var(--nav-color);
        --nav-weight: 300;
        --nav-pl: 1.25rem;
        margin-left: 1.25rem;
    }
    
    .has-children > ul > li.has-children {
        margin-left: 1.25rem;
    }

    .eleventy-nav li > a,
    .eleventy-nav li > div {
        @apply flex justify-between items-stretch my-1;
        font-weight: var(--nav-weight);
        background-color: var(--nav-bg);
        border-left: 4px solid;
        border-color: var(--nav-bg);
        flex-grow: 1;
        color: var(--nav-color) !important;
        padding-right: var(--nav-pl);
        padding-left: var(--nav-pl);
        @apply py-1.5;
    }

    .eleventy-nav li > div > a {
        color: var(--nav-color) !important;
    }

    .eleventy-nav li div:hover, 
    .eleventy-nav li > a:hover {
        background-color: theme(colors.gray.200);
    }

    .eleventy-nav li.active > a,
    .eleventy-nav li.active.has-children > div,
    .eleventy-nav .has-children > ul > li.active:not(.has-children) > a {
        background-color: theme(colors.gray.100);
        border-color: theme(colors.indigo.600);
    }

    .has-children {
        display: flex;
        flex-direction: column;
    }

    .link-chevron-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .link-chevron-container > a {
        flex-grow: 1;
    }

    .link-chevron-container > span.chevron {
        display: inline-block;
        width: 24px; 
        height: 24px; 
        padding: 3px;
        margin-right: 10px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .chevron {
        margin-top: auto;
        margin-bottom: auto;
    }

    .chevron.rotated {
        transform: rotate(180deg);
    }
}