---
pagination:
    data: coreNodes.storage
    size: 1
    alias: node
    addAllPagesToCollections: true
coreNodeCategory: "storage"
permalink: "node-red/learning-resources/core-nodes/{{ node.name | lower | replace(\" \", \"\") }}/"
eleventyComputed:
  navTitle: "{{ node.name }}"
  subGroup: "{{ coreNodeCategory }}"
---

{% include "core-node-docs.njk" %}
