---
title: "404: Not Found"
permalink: 404.html
heading: "404"
subheading: Flow stopped due to unknown type.
layout: default
skipIndex: true
---
<div class="bg-gray-800 w-full h-full">
<div class="flex flex-col justify-center px-6 pt-10 pb-24 md:py-16 max-w-sm md:max-w-lg m-auto text-center h-full">
    <div class="w-full mx-auto md:-mt-6">
        {% image "./images/pictograms/404.png", "404", [465] %}
    </div>
    <h1 class="text-white mb-0">Ooops!</h1>
    <h5 class="text-white">Page not found</h5>
    <a href="/" class="ff-btn ff-btn--primary mt-4">Return to homepage</a>
</div>
</div>