---
layout: layouts/page.njk
nohero: true
meta:
    title: About
    organization:
        name: FlowFuse
        legalName: FlowForge Inc
        url: https://www.flowfuse.com
        logo:
            src: https://flowfuse.com/handbook/images/logos/ff-logo--square--dark.png
            width: 396
            height: 215
        foundingDate: '2021'
        founders:
        - name: Nick O'Leary
        address:
            streetAddress: 548 Market Street PO Box 7775 #29439
            addressLocality: San Francisco
            addressRegion: CA
            postalCode: '94120'
            addressCountry: US
        sameAs:
        - https://www.linkedin.com/company/flowfuse
        - https://www.facebook.com/FlowFuse/
        - https://twitter.com/flowfuseinc
        - https://github.com/FlowFuse
        - https://www.youtube.com/channel/UCbBzP8NZbv3WDtlt4UouA-g
eleventyComputed:
    meta:
        organization:
            description: "{{ site.messaging.subtitle }}"
---

<!-- Primary Content -->
<div class="about w-full">
    <div class="w-full pt-12 pb-16 md:pb-10 md:pt-12 flex flex-col items-center">
        <div class="container text-center max-w-xl md:max-w-4xl px-6">
            <h1>About FlowFuse</h1>
            <div class="flex flex-col md:flex-row gap-8 items-center mt-10">
                <div class="md:w-1/2 text-left my-auto">
                    <p><span class="font-medium">FlowFuse</span> was founded in 2021 by <span class="font-medium">Nick
                        O’Leary, <span class="inline-block">co-creator</span> of Node-RED</span>, a renowned open-source development
                        tool. Nick saw the potential to make <span class="inline-block">Node-RED</span> accessible for enterprise use but knew it would require more
                        enterprise-ready features. FlowFuse was created to elevate Node-RED for enterprise contexts through a <span class="font-medium">secure,
                            professional, and scalable platform</span>.</p>
                    <p><span class="font-medium">FlowFuse seamlessly integrates into existing enterprise environments</span>, offering
                        an adaptable foundation for complex application development. Our customers rely on FlowFuse to develop
                        innovative applications that revolutionize their operations.</p>
                </div>
                <div class="md:w-1/2 m-auto max-w-[370px] md:max-w-none">
                    {% image "./images/about/about.png", "FlowFuse hosting Node-RED connected to many devices", [440] %}
                </div>
            </div>
        </div>
    </div>

    <!-- Secondary Content -->

    <div class="about w-full">
        <div class="container m-auto max-w-xl md:max-w-4xl pt-10 pb-12 px-6">
            <div class="pb-6 md:pb-0 flex flex-col md:flex-row gap-3 md:gap-1">
                <div class="md:w-[28%] md:mt-4 flex flex-row gap-3">
                    <div class="w-[42px]">
                        {% image "./images/node-red-hexagon.png", "Node-RED Logo", [42] %}
                    </div>
                    <h4 class="mt-3"><span class="inline-block text-red-700">Node-RED</span></h4>
                </div>
                <p class="md:w-[72%] text-justify"><span class="font-medium">We are deeply committed to the success of the Node-RED open
                        source project</span>. Our team dedicates significant effort to developing the core technology of the project
                    and fostering the growth of the Node-RED community. This dedication has helped establish Node-RED as a <span
                        class="font-medium">leading low-code visual programming environment, especially in IoT and enterprise
                        sectors</span>.</p>
            </div>
            <div class="pb-6 md:pb-0 flex flex-col md:flex-row gap-3 md:gap-1 pt-6 md:pt-3">
                <div class="md:w-[28%] md:mt-4 flex flex-row gap-3">
                    <div class="w-[42px]">
                        {% image "./images/pictograms/opensource_red.png", "Open Source Logo", [42] %}
                    </div>
                    <h4 class="mt-2"><span class="inline-block text-red-700">Open Source</span></h4>
                </div>
                <div class="md:w-[72%] text-justify">
                    <p>We believe strongly that <span class="font-medium">Open Source is the heart of everything we
                        do</span> influencing not just our contributions to Node-RED but also the development of FlowFuse. We
                        strive to be good Open Source citizens and to empower the community to get involved.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Company Values -->
<div class="about w-full bg-gray-50 px-6 pt-12 pb-6 md:pt-12 md:pb-6">
    <div class="container about-values m-auto max-w-xl md:max-w-4xl px-0 sm:px-6 md:px-0">
        <div>
            <h2 class="mb-10 text-center">Corporate Values</h2>
            <p class="text-justify">As a remote-only company, FlowFuse brings together talented professionals from Europe, North America, and Asia. Our <a href="/handbook/company/values/">corporate values</a> drive our team to focus on achieving results, continuous iterative improvements, fostering a collaborative community, encouraging constructive candor, and prioritizing customer empathy.</p>
        </div>
        {% include "values.njk" %}
    </div>
</div>

<!-- Investors -->
<div class="about w-full px-6 py-14">
    <div class="container m-auto p-10 text-center max-w-xl md:max-w-4xl rounded-lg bg-white drop-shadow-lg">
        <h2 class="mb-4">Our Investors</h2>
        <!-- Mobile -->
        <div class="investors mt-12 m-auto md:hidden">
            <div class="logos">
                {% image "./images/about/investors/opencore.png", "Open Core Ventures Logo", [280] %}
                {% image "./images/about/investors/cota-capital.png", "Cota Capital Logo", [200] %}
            </div>
            <div class="logos">
                {% image "./images/about/investors/westwave.png", "Westwave Capital Logo", [215] %}
                {% image "./images/about/investors/uncorrelated.png", "Uncorrelated Logo", [190] %}
            </div>
        </div>
        <!-- Desktop -->
        <div class="investors mt-12 hidden m-auto md:block">
            <div class="logos">
                {% image "./images/about/investors/opencore.png", "Open Core Ventures Logo", [238] %}
                {% image "./images/about/investors/cota-capital.png", "Cota Capital Logo", [170] %}
                {% image "./images/about/investors/westwave.png", "Westwave Capital Logo", [184] %}
                {% image "./images/about/investors/uncorrelated.png", "Uncorrelated Logo", [152] %}
            </div>
        </div>
    </div>
</div>
<!-- Working at FlowFuse -->
<div class="about w-full">
    <div class="w-full bg-white px-6 pt-6 pb-12 md:px-0">
        <div class="container m-auto text-center max-w-xl md:max-w-4xl mt-12 md:mt-3">
            <h2 class="mb-4">Working at FlowFuse</h2>
        </div>
        <div class="grid px-6 grid-cols-1 md:grid-cols-2 md:gap-3 sm:gap-x-8 gap-y-6 mb-6 max-w-md sm:max-w-xl md:max-w-4xl m-auto mt-8 md:mt-0">
            <!-- Team -->
            <div class="w-full text-left m-auto flex flex-row justify-start items-center gap-3">
                <div class="w-16">
                    {% image "./images/pictograms/collaboration_red.png", "Graphics depicting a team.", [64] %}
                </div>
                <div class="about-team flex flex-col justify-center">
                    <a href="/team/">
                        <h4 class="flex leading-8 mt-6">
                            <span class="font-medium">Team</span>
                            <div class="w-5 inline self-end mb-1 ml-2">
                                {% include "components/icons/arrow-top-right-on-square.svg" %}
                            </div>
                        </h4>
                    </a>
                    <div class="-mt-6">
                        <p>Meet our growing team&#33;</p>
                    </div>
                </div>    
            </div>
            <!-- Careers -->
            <div class="w-full text-left m-auto flex flex-row justify-start items-center gap-3">
                <div class="w-16 -mt-4 md:mt-0" style="flex-shrink: 0;">
                    {% image "./images/pictograms/briefcase_red.png", "Graphics depicting a briefcase.", [64] %}
                </div>
                <div class="about-team flex flex-col justify-center">
                    <a href="/careers/">
                        <h4 class="flex leading-8 md:mt-14">
                            <span class="font-medium">Careers</span>
                            <div class="w-5 inline self-end mb-1 ml-2">
                                {% include "components/icons/arrow-top-right-on-square.svg" %}
                            </div>
                        </h4>
                    </a>
                    <div class="-mt-6">
                        <p>Join our team. Check out current career opportunities.</p>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>
