---
layout: layouts/page.njk
title: About FlowForge
subtitle: Open Source
description: "<p>FlowForge is an open core company creating a low-code programming platform based on the OpenJS Foundation Node-RED project.</p>
<p>It's very early days to define the entire shape of the company, but there are some fundamental principles we believe in.</p>"
heroimg: "../images/node-box.png"
---
<!-- Secondary Content -->
<div class="about w-full ff-bg-light pb-24">
    <div class="container m-auto text-center max-w-4xl">
        <div class="mt-24 pt-24 flex">
            <div class="highlight-feature">
                <h2>OpenJS</h2>
                <img src="../images/openjs_logo.png" />
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim</p>
            </div>
            <div class="highlight-feature">
                <h2>Node-RED</h2>
                <img src="../images/node-red-icon.png" />
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim</p>
            </div>
        </div>
    </div>
</div>

<!-- Company Values -->
<div class="about w-full ff-bg-dark pb-24">
    <div class="container m-auto text-center max-w-4xl">
        <div class="mt-12 pt-24">
            <h1 class="mb-6">Company Values</h1>
            <p>We are full open about our company values, you can read more about them in our Handbook</p>
        </div>
        <div class="mt-24 flex flex-wrap justify-center">
            <div class="company-value">
                <img src="../images/pictograms/community.png" />
                <h3>Community-First</h3>
            </div>
            <div class="company-value">
                <img src="../images/pictograms/optimism.png" />
                <h3>Apply Optimism</h3>
            </div>
            <div class="company-value">
                <img src="../images/pictograms/candor.png" />
                <h3>Use Candor</h3>
            </div>
            <div class="company-value">
                <img src="../images/pictograms/results.png" />
                <h3>Results, Not Hours</h3>
            </div>
            <div class="company-value">
                <img src="../images/pictograms/bias_for_action.png" />
                <h3>Bias for Action</h3>
            </div>
            <div class="company-value">
                <img src="../images/pictograms/trusting.png" />
                <h3>Be Trusting</h3>
            </div>
        </div>
    </div>
</div>

<!-- Employee Benefits -->
<div class="about w-full ff-bg-mid pb-24">
    <div class="container m-auto text-center max-w-4xl">
        <div class="mt-12 pt-24">
            <h1 class="mb-6">Employee Benefits</h1>
            <p>We are full open about our company values, you can read more about them in our Handbook</p>
        </div>
        <div class="mt-24 flex flex-wrap justify-center">
            <div class="company-value">
                <img src="../images/pictograms/remote.png" />
                <h3>Fully Remote</h3>
            </div>
            <div class="company-value">
                <img src="../images/pictograms/vacation.png" />
                <h3>Unlimited Vacation</h3>
            </div>
            <div class="company-value">
                <img src="../images/pictograms/hours.png" />
                <h3>Flexible Hours</h3>
            </div>
            <div class="company-value">
                <img src="../images/pictograms/equipment.png" />
                <h3>Equipment</h3>
            </div>
            <div class="company-value">
                <img src="../images/pictograms/parental_leave.png" />
                <h3>Paid Parental Leave</h3>
            </div>
        </div>
    </div>
</div>