---
layout: nohero
sitemapPriority: 0.9
pagination:
  data: collections.posts
  size: 19 # creates a nice matrix (1 header, 18 left: 3 on 6 rows)
  alias: posts
  reverse: true
meta:
  title: Blog
searchTitle: Blog
nav: blog
---

{% include "blog/template.njk" %}
