---
layout: nohero
sitemapPriority: 0.9
pagination:
  data: collections.blueprints
  size: 12
  alias: blueprints
  reverse: true
meta:
    title: Blueprints Library
---

{% include "blueprints/template.njk" %}