---
layout: default
sitemapPriority: 0.9
pagination:
  data: collections.blueprints
  size: 12
  alias: blueprints
  reverse: true
title: Blueprint Library
description:
  Explore FlowFuse Blueprints, choose templates for quick setups, perfect for learning and fast solution-building.
  Customizable for unique needs. Simplify your Node-RED projects with FlowFuse Blueprints!
meta:
    title: Blueprints Library
---

{% include "blueprints/template.njk" %}