---
layout: nohero
sitemapPriority: 0.9
pagination:
  data: collections.certified-nodes
  size: 19 # creates a nice matrix (1 header, 18 left: 3 on 6 rows)
  alias: certified-nodes
  reverse: true
meta:
    title: Certified Nodes
---

{% set filter = 'certified-nodes' %}
{% include "certified-nodes/template.njk" %}