---
layout: nohero
sitemapPriority: 0.9
pagination:
  data: collections.certified
  size: 19 # creates a nice matrix (1 header, 18 left: 3 on 6 rows)
  alias: certified
  reverse: true
meta:
    title: Certified Library
---

{% set filter = 'certified' %}
{% include "certified/template.njk" %}