---
layout: layouts/page.njk
title: Contact us
---
<div class="pricing-tiles">
<div class="flex justify-between items-center mb-4 px-4 md:-mb-0 md:px-0 md:block">
<div class="product px-6 pt-20 pb-24 md:px-0 md:pt-32 md:pb-48">

<form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
  <input type=hidden name="oid" value="00D8a0000028InL">
  <input type=hidden name="retURL" value="http://flowforge.com/contact-us?submit=true">

<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
<!--  these lines if you wish to test in debug mode.                          -->
<!--  <input type="hidden" name="debug" value=1>                              -->
<!--  <input type="hidden" name="debugEmail" value="zj@flowforge.com">        -->
<!--  ----------------------------------------------------------------------  -->

  <label for="first_name">First Name</label><input id="first_name" class="ff-input" maxlength="40" name="first_name" size="20" type="text" /><br>

  <label for="last_name">Last Name</label><input id="last_name" class="ff-input" maxlength="80" name="last_name" size="20" type="text" /><br>

  <label for="email">Email</label><input id="email" class="ff-input" maxlength="80" name="email" size="20" type="email" /><br>

  <label for="company">Company</label><input id="company" class="ff-input" maxlength="40" name="company" size="20" type="text" /><br>

  <label for="industry">Industry</label><select id="industry" name="industry"><option value="">--None--</option><option value="Agriculture">Agriculture</option>
    <option value="Apparel">Apparel</option>
    <option value="Banking">Banking</option>
    <option value="Biotechnology">Biotechnology</option>
    <option value="Chemicals">Chemicals</option>
    <option value="Communications">Communications</option>
    <option value="Construction">Construction</option>
    <option value="Consulting">Consulting</option>
    <option value="Education">Education</option>
    <option value="Electronics">Electronics</option>
    <option value="Energy">Energy</option>
    <option value="Engineering">Engineering</option>
    <option value="Entertainment">Entertainment</option>
    <option value="Environmental">Environmental</option>
    <option value="Finance">Finance</option>
    <option value="Food &amp; Beverage">Food &amp; Beverage</option>
    <option value="Government">Government</option>
    <option value="Healthcare">Healthcare</option>
    <option value="Hospitality">Hospitality</option>
    <option value="Insurance">Insurance</option>
    <option value="Machinery">Machinery</option>
    <option value="Manufacturing">Manufacturing</option>
    <option value="Media">Media</option>
    <option value="Not For Profit">Not For Profit</option>
    <option value="Other">Other</option>
    <option value="Recreation">Recreation</option>
    <option value="Retail">Retail</option>
    <option value="Shipping">Shipping</option>
    <option value="Technology">Technology</option>
    <option value="Telecommunications">Telecommunications</option>
    <option value="Transportation">Transportation</option>
    <option value="Utilities">Utilities</option>
  </select><br>
  <input type="submit" name="submit" class="ff-btn ff-btn--primary w-full mt-3 sm:w-auto sm:mt-0 sm:ml-3"/>
</form>

</div>
</div>
</div>
