---
layout: layouts/mql-contact.njk
title: Tell us about your setup
description: <p>Whether you're connecting systems, automating workflows, or scaling industrial data — we'll help you figure out the right approach for your production setup.</p>
sitemapPriority: 0.9
meta:
    description: Whether you're connecting systems, automating workflows, or scaling industrial data — we'll help you figure out the right approach for your production setup.
hubspot:
    script: "hubspot/hs-form.njk"
    formId: 734455e5-4cda-4329-97da-07e40cda791c
    cta: "cta-contact-us"
    reference: "contact-us"
otherChannels:
  - title: Want to talk it through live?
    description: Book a session and we'll go through your setup together.
    buttonText: BOOK A SESSION
    buttonLink: https://meetings-eu1.hubspot.com/michael-davis/contact-us-scheduler
    image: ./images/pictograms/book-a-demo_blue.png
    imageAlt: "Graphics depicting a video call."
  - title: Need technical help instead?
    description: Visit our Help Center for docs, guides and access to our support team.
    buttonText: HELP CENTER
    buttonLink: /support
    image: ./images/pictograms/support_blue.png
    imageAlt: "Graphics depicting a helping hand."
---
