---
layout: nohero
sitemapPriority: 0.8
meta:
    title: Customer Stories
    description: Read how FlowFuse customers efficiently leverage Node-RED with FlowFuse for automation across various industries, including manufacturing, automobile, and building management.
---

{% from "stories/customer-story.njk" import storyTile %}

<div class="container m-auto text-left max-w-md sm:max-w-6xl pt-8 pb-24 w-full">
    <div class="px-6">
        <h1>Customer Stories</h1>
    </div>
    {% if collections.posts.length > 0 %}
    <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 px-6">
        {%- for item in collections.stories | sort(attribute='item.date') | reverse -%}
        {{ storyTile(title=item.data.title, url=item.url, brand=item.data.story.brand, logo=item.data.logo, image=item.data.image) }}
        {%- endfor -%}
    </ul>
    {% else %}
        <div class="mx-auto">
            <div class="text-3xl md:text-5xl text-blue-hero font-medium pb-3">Ooops!</div>
            <div class="text-lg text-black-hero-body">No-one has written anything yet. Come back soon!</div>
        </div>
    {% endif %}
</div>