---
layout: nohero
sitemapPriority: 0.8
meta:
    title: Customer Stories
---
<div class="container m-auto text-left max-w-4xl pt-8 pb-24 w-full">
    <div class="px-2">
        <h1>Customer Stories</h1>
    </div>
    {% if collections.posts.length > 0 %}
    <ul class="grid grid-cols-1 md:grid md:grid-cols-3 gap-y-4">
        {%- for item in collections.stories | sort(attribute='item.date') | reverse -%}
        {% if loop.first %}
        <li class="w-full md:col-span-2 md:row-span-2 my-2 px-2 pb-4 border-b">
            <a href="{{ item.url }}" class="w-full flex flex-col group hover:no-underline">
                <div class="pr-2">
                    {% if item.data.image %}
                    <div class="relative">    
                        <div class="w-full h-40 md:h-80 ff-image-cover">
                            {% set imageSrc = ["./", item.data.image ] | join %}
                            {% set imageDescription = ["Image representing ", item.data.title] | join %}
                            {% image imageSrc, imageDescription, [768] %}
                        </div>
                        {% if item.data.logo %}
                        <div class="w-1/2 h-full md:w-40 md:h-40 absolute left-0 top-0 bg-white flex items-center justify-center object-contain border border-gray-200">
                            <div class="h-full ff-image-cover">
                                {% set imageSrc = ["./", item.data.logo ] | join %}
                                {% set imageDescription = ["Image representing ", item.data.story.brand, " logo"] | join %}
                                {% image imageSrc, imageDescription, [285] %}
                            </div>
                        </div>
                        {% endif %}                        
                    </div>
                    {% else %}
                        {{ item.url | generatePostSVG |safe}}
                    {% endif %}
                </div>
                <h3 class="font-medium group-hover:underline pt-5" style="line-height: 1.75rem">{{ item.data.title }}</h3>
                <div class="flex flex-col justify-between">
                    <div class="-mt-3">
                        {{ item.templateContent | excerpt | striptags(true)| restoreParagraphs | safe }}
                    </div>
                    <div class="group-hover:underline">read more...</div>
                </div>
            </a>
        </li>
        {% else %}
        <li class="w-full my-2 px-2 pb-6 border-b">
            <a href="{{ item.url }}" class="w-full flex flex-col group hover:no-underline">
                <div class="">
                    <div>
                        {% if item.data.image %}
                        <div class="relative">
                            <div class="w-full h-40 ff-image-cover">
                                {% set imageSrc = ["./", item.data.image ] | join %}
                                {% set imageDescription = ["Image representing ", item.data.title] | join %}
                                {% image imageSrc, imageDescription, [285] %}
                            </div>
                            {% if item.data.logo %}
                                <div class="w-1/2 h-full absolute left-0 top-0 bg-white flex items-center justify-center object-contain">
                                    {% set imageSrc = ["./", item.data.logo ] | join %}
                                    {% set imageDescription = ["Image representing ", item.data.story.brand, " logo"] | join %}
                                    {% image imageSrc, imageDescription, [285] %}
                                </div>
                                {% endif %}
                        </div>    
                        {% else %}
                            {{ item.url | generatePostSVG |safe}}
                        {% endif %}
                    </div>
                    <h3 class="mt-1 mb-0 font-medium group-hover:underline" style="line-height: 1.75rem">{{ item.data.title }}</h3>
                </div>
            </a>
        </li>
        {% endif %}
    {%- endfor -%}
    </ul>
    {% else %}
        <div class="mx-auto">
            <div class="text-3xl md:text-5xl text-blue-hero font-medium pb-3">Ooops!</div>
            <div class="text-lg text-black-hero-body">No-one has written anything yet. Come back soon!</div>
        </div>
    {% endif %}
</div>