---
layout: default
sitemapPriority: 1.0
title: FlowFuse Dedicated 
meta:
  description: Single-tenant SaaS offering provides operational efficiency and reduced risk for Node-RED applications.
hubspot:
  script: "hubspot/hs-form.njk"
  formId: 5a9939ee-899a-46b7-ab16-6376e310381d
  cta: "cta-contact-us"
  reference: "dedicated"
---
<!--Hero Content-->
<div class="w-full px-6">
    <div class="max-w-md sm:max-w-screen-lg pb-6 mt-12 mx-auto">
        <div class="lg:flex lg:flex-row lg:items-start lg:gap-12">
            <div class="text-center lg:text-left max-w-xl mx-auto lg:mx-0 lg:my-auto lg:py-10 lg:max-w-[600px]">
                <h1 class="font-medium max-w-xl m-auto lg:m-0  max-sm:text-4xl">
                    FlowFuse <span class="text-indigo-600">Dedicated</span>
                </h1>
                <h4 class="font-light mt-2 lg:max-w-[450px] text-gray-500">
                    A Secure and Compliant Enterprise Platform for Node-RED
                </h4>
                <p class="mt-8 lg:max-w-[450px]">
                    FlowFuse Dedicated is a paradigm shift in operating Node-RED. Leverage the power of FlowFuse as a single-tenant SaaS tailored for enterprise needs.
                </p>
                <div class="flex flex-col mt-10">
                    <div class="m-auto flex gap-4 items-center justify-center lg:items-start lg:justify-start lg:m-0 flex-row">
                        <a class="ff-btn ff-btn--primary flex flex-col mb-6" onclick="scrollToAnchor(event, 'contact-us')">
                            <span class="text-base flex gap-2 uppercase items-center">
                                Contact us
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="justify-center items-center m-auto max-w-[347px] w-full hidden lg:flex lg:mt-3">
                {% image "./images/dedicated/flowfuse-dedicated.png", "FlowFuse and Node-RED logos in a double shield", [347] %}
            </div>
        </div>
    </div>
</div>

<!-- Secondary Content -->
<div class="w-full px-6">
    <div class="max-w-md md:max-w-screen-lg m-auto max-w-5xl">
        <ul class="flex flex-col mx-auto w-full text-center md:grid md:grid-cols-2 gap-12 mt-12 mb-16">
            {% for item in dedicated.section2 %}
            <li class="flex flex-col items-center md:items-start border-2 border-indigo-100 rounded-md p-6 pb-3 gap-3">
                <div class="flex flex-col justify-center md:justify-start gap-3 w-full">
                    <div class="w-8 h-8 m-auto md:m-0 text-indigo-600">
                        {% include item.icon %}
                    </div>
                    <div class="w-full flex flex-row gap-3 mx-auto md:m-0">
                        <h5 class="w-full md:m-0 text-xl text-gray-600 text-center md:text-left">
                            {{ item.title }}
                        </h5>
                    </div>
                </div>
                <div>
                    <p class="text-center text-lg md:text-left font-light">
                        {{ item.description }}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="about w-full bg-gray-50 pt-16">
    <!-- Modern Enterprise -->
    <div class="w-full px-6 pt-2">
        <div class="max-w-md sm:max-w-screen-lg mx-auto">
            <div class="mx-auto w-full md:max-w-screen-lg grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-x-8 gap-y-14 pb-14">
                <section class="col-span-full">
                    <h2 class="text-center w-full lg:text-left">Built for the <span class="text-indigo-600">Modern Enterprise</span></h2>
                    <p class="mt-6 text-center lg:text-left pb-5 lg:max-w-[608px]">
                        At FlowFuse, we understand that one-size-fits-all solutions don't work for today's diverse businesses. FlowFuse Dedicated addresses this by providing:
                    </p>
                </section>
                {% for item in dedicated.section3 %}
                <div class="relative w-full">
                    <div class="flex flex-col items-center sm:items-start">
                        <div class="w-full flex flex-row gap-3 mx-auto md:m-0">
                            <h5 class="w-full md:m-0">
                                <div class="text-xl text-gray-600 text-center sm:text-left">{{ item.title | safe }}
                                </div>
                            </h5>
                        </div>
                        <div>
                            <p class="text-center sm:text-left font-light">{{ item.content }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="bg-white pb-10 md:pb-8 pt-12 px-6 text-center">
        <!-- Contact us -->
        <div class="w-full px-6" id="contact-us">
            <div class="flex flex-col m-auto max-w-2xl mt-10 pb-12 gap-12">
                <h2 class="w-full font-bold"><span class="text-red-600">Contact us</span> for pricing
                </h2>
                <div>
                    {% include hubspot.script %}
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Scroll to anchor -->
<script>
    function scrollToAnchor(event, anchorId) {
        event.preventDefault();
        const anchor = document.getElementById(anchorId);
        if (anchor) {
            anchor.scrollIntoView({ behavior: 'smooth' });
        }
    }
</script>
