<table cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:14px; color:#333; width:auto; margin-top:0; margin-bottom:0">
    <tr>
        <td style="padding-right:10px; vertical-align:middle;">
            <img src="https://flowfuse.com/images/flowfuse-icon.png" alt="FlowFuse icon" width="48" height="48" style="display:block;border:0;border-radius:0;outline:none;width:65px;height:65px;">
        </td>
        <td style="padding-left:4px; vertical-align:middle;">
            <div style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:600;font-size:15.6px;color:#1F2937;line-height:1.1;">Full Name</div>
            <div style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:400;font-size:13.2px;color:#6B7280;line-height:1.2;margin-top:2px;">Job Title – FlowFuse</div>
            <!-- spacer -->
            <div style="height:8px;font-size:1px;line-height:1px;">&nbsp;</div>
            <div style="font-size:12px;line-height:14px;">
                <a href="https://flowfuse.com/" style="color:rgb(17,85,204);text-decoration:none;">https://flowfuse.com/</a>
            </div>
        </td>
    </tr>
</table>