---
title: FlowForge Features
layout: layouts/page.njk
description: <p>FlowForge provides the features companies require to reliably deliver Node-RED applications to devices and cloud in a collaborative, secure manner.</p>
heroimg: "./images/features.png"
heroWide: true
sitemapPriority: 0.9
meta:
    description: Explore the features available in the FlowForge platform.
---

<div class="-mt-24 md:-mt-32">
    {% include "components/divider-flow--default.njk" %}
</div>

<div class="product w-full ff-bg-light px-6 pt-20 pb-20 md:px-0 md:pt-32 md:pb-40">
    <div class="container px-3 md:px-12 md:max-w-screen-lg m-auto text-center">
        <div class="mt-9">
            <h1 class="mb-0">Enterprise Ready Node-RED</h1>
            <p class="text-center">If you're interested in what we are working on, or what may come soon,<br>check out our <a href="https://github.com/orgs/flowforge/projects/1">Development Board</a> and our <a href="https://github.com/orgs/flowforge/projects/5">Product Roadmap.</a></p>
        </div>
        <!-- Feature Tiles -->
        <div class="feature-tiles mt-12">
            {%- for f in features -%}
            <div class="feature-tile">
                <div class="feature-tile--title">
                    <div class="flex-shrink-0">
                        {% set imageSrc = ["./images/pictograms/", f.icon] | join %}
                        {% set imageDescription = ["Icon depicting", description] | join %}
                        {% image imageSrc, imageDescription, [64] %}
                    </div>
                    <h4>{{ f.title }}</h4>
                </div>
                <div>{{ f.description | safe }}</div>
            </div>
            {%- endfor -%}
        </div>
    </div>
</div>