---
layout: page
nohero: true
meta:
    title: FlowFuse Features
description:
    FlowFuse provides the features companies require to reliably deliver Node-RED applications to devices and cloud in a collaborative, secure manner.
sitemapPriority: 0.8
---

<div class="nohero w-full ff-bg-light">
    <!--Hero Content-->
    <div class="features-bg w-full pt-12 pb-16 md:px-0 border-b-4 border-gray-100">
        <div class="container m-auto max-w-screen-lg px-6 max-w-4xl">
            <div class="text-center">
                <h1 class="mt-0 md:px-12 m-auto">
                    FlowFuse Features
                </h1>
                <h3 class="mt-6 text-2xl font-light md:px-24">
                    FlowFuse provides the features companies require to reliably deliver Node-RED applications to devices and cloud in a collaborative, secure manner.
                </h3>
            </div>
            {% include "feature_lists/main-features.njk" %}
        </div>
    </div>

    {% include "components/divider-flow--top-red--light.njk" %}

    <div class="w-full ff-bg-light pt-8 px-0 pb-12">
        <div class="container m-auto max-w-screen-lg prose">
            <div class="flex px-6 flex-col flex-col-reverse md:flex-row gap-6 sm:gap-x-8 sm:gap-y-0 mb-16">
                <div class="md:w-[480px]">
                    <h3 class="flex items-center gap-4 text-center md:text-left">
                        <div class="flex flex-col leading-9 text-3xl mb-4 red-gradient">
                            Software Delivery Pipelines and Version History
                        </div>
                    </h3>
                    <p class="mb-0">
                        FlowFuse allows software development teams to establish software delivery pipelines that are common for teams that have embraced DevOps practices. 
                    </p>
                    <ul>
                        <li>DevOps pipelines can be set up to stage Node-RED instances that have different development stages, ex. Test, development and production.</li>
                        <li>Snapshots of Node-RED instances can be taken to create a version history of the development work. Previous snapshot versions can be rolled back at any time.</li>
                    </ul>
                </div>                       
                <div class="flex justify-center items-center w-full px-1 py-2 md:py-3 md:px-2.5 md:w-[461px] bg-contain bg-center bg-no-repeat" style="background-image: url('../images/features/features-video-bg.png');">
                    <div class="flex justify-center items-center w-[90%] md:w-full">
                        <lite-youtube videoid="Pbql22f3vqY" class="aspect-video bg-cover bg-top bg-no-repeat border-2 border-black rounded-md drop-shadow-xl" style="background-image: url('../images/features/features-pipelines.png'); width: 442px; aspect-ratio: 16 / 9; background-repeat: no-repeat;"></lite-youtube>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-white">
        {% include "components/dividers/light-grey-curve.svg" %}
    </div>

    <div class="w-full bg-white pt-8 md:pt-12 pb-12">
        <div class="container m-auto max-w-screen-lg prose">
            <div class="flex px-6 flex-col flex-col-reverse md:flex-row-reverse mb-16">
                <div class="md:w-3/5">
                    <h3 class="flex items-center text-center justify-center md:text-left md:justify-start">
                        <div class="flex flex-col leading-9 text-3xl mb-4 red-gradient">
                            Team Development
                        </div>
                    </h3>
                    <p class="mb-0">
                        Node-RED team development is made possible with FlowFuse. Different development team members are able to share and collaborate on the same Node-RED instance. This makes for much easier collaboration between Node-RED developers. 
                    </p>
                    <ul>
                        <li>Team membership and access control is controlled from a central administration console.</li>
                        <li>Role based access control allows for restrictions on what team members can access and do while using the FlowFuse platform.</li>
                    </ul>
                </div>                       
                <div class="flex justify-center items-center md:w-2/5 md:p-5">
                    <div class="md:w-[250px] -mt-2 -mb-8 md:mb-0 md:mt-0 max-w-[250px]">
                        {% image "./images/pictograms/collaboration_red.png", "Graphics depicting a team.", [250] %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        {% include "components/dividers/light-white-curve.svg" %}
    </div>

    <div class="w-full ff-bg-light px-6 pt-8 md:pt-12 pb-12 sm:px-0">
        <div class="container m-auto max-w-screen-lg prose">
            <div class="flex px-6 flex-col flex-col-reverse md:flex-row mb-16">
                <div class="md:w-3/5">
                    <h3 class="flex items-center text-center justify-center md:text-left md:justify-start">
                        <div class="flex flex-col leading-9 text-3xl mb-4 red-gradient">
                            Security Built-in to your Node-RED instances
                        </div>
                    </h3>
                    <p class="mb-0">
                        FlowFuse has built-in security for your Node-RED instances.  
                    </p>
                    <ul>
                        <li>All Node-RED instances are accessed using TLS/SSL.</li>
                        <li>Single Sign-on (SSO) allows for users to sign in to FlowFuse using an existing SAML identity provider.</li>
                        <li>Audit logs keep track of all changes that occur to a Node-RED instance and which user was responsible for the change.</li>
                    </ul>
                </div>                       
                <div class="flex justify-center items-center md:w-2/5 md:p-5">
                    <div class="md:w-[250px] -mt-2 -mb-8 mt-4 md:mb-0 md:mt-0 max-w-[250px]">
                        {% image "./images/pictograms/security_red.png", "Graphics depicting a lock.", [250] %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-white">
        {% include "components/dividers/light-grey-curve.svg" %}
    </div>
    {% include "common-cta.njk" %}
</div>

