---
layout: page
nohero: true
meta:
    title: FlowForge Features
description:
    Node-RED is a programming tool for wiring together hardware devices, APIs and online services in new and interesting ways.
    It’s browser-based editor makes it easy to wire together flows using the extensive collection of nodes available, and deploy to its runtime with a single-click.
    FlowForge makes it easy to run Node-RED in production, on your own hardware or in the cloud.
sitemapPriority: 0.8
---

<div class="nohero w-full ff-bg-light">
    <!--Hero Content-->
    <div class="features-bg w-full px-6 pt-12 pb-16 md:px-0 border-b-4 border-gray-100">
        <div class="container m-auto text-center max-w-3xl">
            <h1 class="mt-0 px-12 md:px-0 m-auto">
                FlowForge Features
            </h1>
            <h3 class="mt-6 text-2xl font-light">
                FlowForge provides the features companies require to reliably deliver Node-RED applications to devices and cloud in a collaborative, secure manner.
            </h3>
            <div class="h-[400px]"></div>
        </div>
    </div>

    {% include "components/divider-flow--top-red--light.njk" %}

    <div class="w-full ff-bg-light pt-8 px-0 pb-12">
        <div class="container m-auto max-w-screen-lg prose">
            <div class="flex px-6 flex-col flex-col-reverse md:flex-row gap-6 sm:gap-x-8 sm:gap-y-0 mb-16">
                <div class="md:w-[480px]">
                    <h3 class="flex items-center gap-4 text-center md:text-left">
                        <div class="flex flex-col leading-9 text-3xl mb-4 red-gradient">
                            Software Delivery Pipelines and Version History
                        </div>
                    </h3>
                    <p class="mb-0">
                        FlowForge allows software development teams to establish software delivery pipelines that are common for teams that have embraced DevOps practices. 
                    </p>
                    <ul>
                        <li>DevOps pipelines can be set up to stage Node-RED instances that have different development stages, ex. Test, development and production.</li>
                        <li>Snapshots of Node-RED instances can be taken to create a version history of the development work. Previous snapshot versions can be rolled back at any time.</li>
                    </ul>
                </div>                       
                <div class="flex justify-center items-center w-full px-1 py-2 md:py-3 md:px-2.5 md:w-[461px] bg-contain bg-center bg-no-repeat" style="background-image: url('../images/features/features-video-bg.png');">
                    <div class="flex justify-center items-center w-[90%] md:w-full">
                        <lite-youtube videoid="Pbql22f3vqY" class="aspect-video bg-cover bg-top bg-no-repeat border-2 border-black rounded-md drop-shadow-xl" style="background-image: url('../images/features/features-pipelines.png'); width: 442px; aspect-ratio: 16 / 9; background-repeat: no-repeat;"></lite-youtube>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-white">
        {% include "components/dividers/light-grey-curve.svg" %}
    </div>

    <div class="w-full bg-white sm:pt-12 md:pt-12 pb-12">
        <div class="container m-auto max-w-screen-lg prose">
            <div class="flex px-6 flex-col flex-col-reverse md:flex-row-reverse mb-16">
                <div class="md:w-3/5">
                    <h3 class="flex items-center text-center justify-center md:text-left md:justify-start">
                        <div class="flex flex-col leading-9 text-3xl mb-4 red-gradient">
                            Team Development
                        </div>
                    </h3>
                    <p class="mb-0">
                        Node-RED team development is made possible with FlowForge. Different development team members are able to share and collaborate on the same Node-RED instance. This makes for much easier collaboration between Node-RED developers. 
                    </p>
                    <ul>
                        <li>Team membership and access control is controlled from a central administration console.</li>
                        <li>Role based access control allows for restrictions on what team members can access and do while using the FlowForge platform.</li>
                    </ul>
                </div>                       
                <div class="flex justify-center items-center md:w-2/5 md:p-5">
                    <div class="w-1/2 md:w-[250px] -mb-8 mt-4 md:mb-0 md:mt-0">
                        {% image "./images/pictograms/collaboration_red.png", "Graphics depicting low-code programming.", [250] %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        {% include "components/dividers/light-white-curve.svg" %}
    </div>

    <div class="w-full ff-bg-light px-6 pt-12 pb-12 sm:px-0">
        <div class="container m-auto max-w-screen-lg prose">
            <div class="flex px-6 flex-col flex-col-reverse md:flex-row mb-16">
                <div class="md:w-3/5">
                    <h3 class="flex items-center text-center justify-center md:text-left md:justify-start">
                        <div class="flex flex-col leading-9 text-3xl mb-4 red-gradient">
                            Security Built-in to your Node-RED instances
                        </div>
                    </h3>
                    <p class="mb-0">
                        FlowForge has built-in security for your Node-RED instances.  
                    </p>
                    <ul>
                        <li>All Node-RED instances are access using TLS/SSL.</li>
                        <li>Single Sign-on (SSO) allows for users to sign in to FlowForge using an existing SAML identity provider.</li>
                        <li>Audit logs are generated.</li>
                        <li>TLS/SSL.</li>
                        <li>SSO.</li>
                        <li>Audit logs keep track of all changes that occur to a Node-RED instance and which user was responsible for the change.</li>
                    </ul>
                </div>                       
                <div class="flex justify-center items-center md:w-2/5 md:p-5">
                    <div class="w-1/2 md:w-[250px] -mb-8 mt-4 md:mb-0 md:mt-0">
                        {% image "./images/pictograms/security_red.png", "Graphics depicting low-code programming.", [250] %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-white">
        {% include "components/dividers/light-grey-curve.svg" %}
    </div>
    <div class="w-full bg-white sm:pt-12 md:pt-12 pb-16">
        <div class="container m-auto max-w-screen-lg">
            <h3 class="flex items-center text-center justify-center">
                <div class="flex flex-col leading-9 text-3xl mb-4 red-gradient font-semibold">
                    Flexible Deployment
                </div>
            </h3>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-3 px-6 py-8 mb-10">
                <div class="features-card">
                    <div>
                        <label class="flex items-center text-center justify-center font-medium text-2xl text-gray-800 mt-5">Open Source</label>
                        <p>
                            <div class="text-sm leading-6 mb-6 mt-6">
                                Customers can use the open source version of FlowForge to install on-premises and support the deployment themselves. 
                            </div>
                        </p>
                    </div>
                    <div class="flex flex-col items-center">
                        <a class="ff-btn ff-btn--secondary-outlined uppercase align-baseline w-full" href="/docs/install"
                            onclick="capture('cta-install', {'position': 'primary'})">Install now</a>
                    </div>
                </div>
                <div class="features-card">
                    <div>
                        <label class="flex items-center text-center justify-center font-medium text-2xl text-gray-800 mt-5">FlowForge Cloud</label>
                        <p>
                            <div class="text-sm leading-6 mb-6 mt-6">
                                A managed hosted version maintained and supported by FlowForge employees. 
                            </div>
                        </p>
                    </div>
                    <div class="flex flex-col items-center">
                        <a class="ff-btn ff-btn--primary uppercase align-baseline w-full" href="https://app.flowforge.com/account/create" onclick="capture('cta-join', {'position': 'primary'})">TRY FOR FREE</a>
                    </div>
                </div>
                <div class="features-card">
                    <div>
                        <label class="flex items-center text-center justify-center font-medium text-2xl text-gray-800 mt-5">Enterprise License</label>
                        <p>
                            <div class="text-sm leading-6 mb-6 mt-6">
                                Customers can purchase an enterprise license of FlowForge to install on-premise and obtain support from FlowForge. 
                            </div>
                        </p>
                    </div>
                    <div class="flex flex-col items-center">
                        <a class="ff-btn ff-btn--secondary-outlined uppercase align-baseline w-full" href='/book-demo'>Book a demo</a> 
                    </div>
                </div>                       
            </div>
        </div>
    </div>

</div>

