---
permalink: blog/index.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>FlowFuse</title>
    <link href="https://flowfuse.com/blog/index.xml" rel="self"/>
    <link href="https://flowfuse.com/blog"/>
    <updated>{{ collections.posts | getNewestCollectionItemDate | toDate | dateToRfc3339 }}</updated>
    <id>https://flowfuse.com/blog</id>
    {%- for post in collections.posts | reverse %}
    {% set absolutePostUrl %}{{ post.url | url | absoluteUrl("https://flowfuse.com/blog/") }}{% endset %}
    <entry>
        <id>{{ absolutePostUrl }}</id>
        <title>{{ post.data.title }}</title>
        <summary>{{ post.data.subtitle }}</summary>
        <updated>{{ post.date | toDate | dateToRfc3339 }}</updated>
        <link href="{{ absolutePostUrl }}"/>
        {%- for author in post.data.authors %}
        <author><name>{{team[author].name}}</name></author>
        {%- endfor %}
        <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
    </entry>
    {%- endfor %}
</feed>