---
layout: default
---
<!--Hero Content-->
<div class="w-full px-6 pb-24 mt-12 md:px-0">
    <div class="container m-auto text-center max-w-2xl">
        <h1 class="text-4xl text-gray-50 max-w-lg m-auto">
            Collaborative, <span class="text-teal-500">low code</span> integration and automation.
        </h1>
        <h3 class="mt-8 text-gray-400 text-lg font-normal">
            Combine applications, devices, and data in a secure, scalable, and team-based
            environment, built around the open-source Node-RED project
        </h3>
        <div class="flex flex-col">
                <div class="max-w-md m-auto mt-6">
                    <a class="ff-btn ff-btn--secondary" href="https://app.flowforge.com/account/create">Sign up</a>
                </div>
            </form>
        </div> 
    </div>  
</div>

{% include "components/divider-flow--default.njk" %}

<!-- Secondary Content -->
<div class="w-full ff-bg-light px-6 pt-12 pb-32 md:pt-32 md:px-0">
    <div class="container m-auto text-center max-w-3xl">
        <div class="m-auto mt-24 w-full text-center">
            <h2>3,000+ Integrations Available</h2>
        </div>
        <div class="mt-20 w-full max-w-3xl text-center flex gap-2 justify-between">
            <div class="w-1/4 css-full">
                <img class="w-40 m-auto" src="./images/pictograms/community_red.png"/>
                <h5 class="flex justify-center">SOCIALS</h5>
                <label class="font-light">Twitter, Twilio, Telegram, Slack, WhatsApp, Discord, etc.</label>
            </div>
            <div class="w-1/4">
                <img class="w-40 m-auto" src="./images/pictograms/edge_red.png"/>
                <h5 class="flex justify-center">HARDWARE</h5>
                <label class="font-light">Servers, PLCs, Network Switches & Routers, Edge Devices, etc.</label>
            </div>
            <div class="w-1/4">
                <img class="w-40 m-auto" src="./images/pictograms/candor_red.png"/>
                <h5 class="flex justify-center">MESSAGING</h5>
                <label class="font-light">WebSocket, HTTP, MQTT, AMQP, SNMP, RSS, FTP, etc.</label>
            </div>
        </div>
        <div class="mt-20 w-full max-w-3xl text-center flex gap-2 justify-between">
            <div class="w-1/4 css-full">
                <img class="w-40 m-auto" src="./images/pictograms/cloud_red.png"/>
                <h5 class="flex justify-center">CLOUD</h5>
                <label class="font-light">AWS, Azure, S3, Google Cloup Platform, IBM Cloud, etc.</label>
            </div>
            <div class="w-1/4">
                <img class="w-40 m-auto" src="./images/pictograms/scalable_red.png"/>
                <h5 class="flex justify-center">A.I.</h5>
                <label class="font-light">TensorFlow, IBM Watson, Azure Cognitive Services, etc.</label>
            </div>
            <div class="w-1/4">
                <img class="w-40 m-auto" src="./images/pictograms/storage_red.png"/>
                <h5 class="flex justify-center">STORAGE</h5>
                <label class="font-light">MongoDB, MySQL, PostgreSQL, SQL Server, Redis, DB2, etc.</label>
            </div>
        </div>
    </div>
</div>
