---
permalink: llms.txt
eleventyExcludeFromCollections: true
---

# FlowFuse

> FlowFuse is the Industrial Application platform empowering teams to build, deploy, and manage Node-RED solutions that optimize operations. FlowFuse unlocks industrial data, integrates everything, and helps optimize faster with Node-RED workflows and IoT integrations.

## Blog Posts
{% for post in collections.posts | reverse %}
  {%- if not (post.data.date | isFuturePost) -%}
- [{{ post.data.title | safe }}](https://flowfuse.com{{ post.url }}){% if post.data.description %}: {{ post.data.description | truncate(200) | safe }}{% endif %}
  {% endif -%}
{% endfor %}


## Documentation
{%- for doc in collections.docs | reverse %}
- [{{ doc.data.navTitle }}]({{ site.baseURL }}{{ doc.url | replace(r/.$/, ".md") }}): {{ doc.data.meta.description or doc.templateContent | excerpt | truncate(100) | striptags }}
{%- endfor %}

## Customer Stories
{%- for story in collections.stories | reverse %}
- [{{ story.data.title }}]({{ site.baseURL }}{{ story.url | replace(r/.$/, ".md") }}): {{ story.data.subtitle or story.data.description or story.templateContent | excerpt | truncate(100) | striptags }}
{%- endfor %}

## Webinars
{%- for webinar in collections.webinar | reverse %}
- [{{ webinar.data.title }}]({{ site.baseURL }}{{ webinar.url | replace(r/.$/, ".md") }}): {{ webinar.data.description or webinar.templateContent | excerpt | truncate(100) | striptags }}
{%- endfor %}
