---
title: What is Node-RED?
layout: default
description:
    <p>Node-RED is a programming tool for wiring together hardware devices, APIs and online services in new and interesting ways.</p>
    <p>It’s browser-based editor makes it easy to wire together flows using the extensive collection of nodes available, and deploy to its runtime with a single-click.</p>
    <p>FlowForge makes it easy to run Node-RED in production, on your own hardware or in the cloud.</p>
heroimg: "/images/node-red-hexagon.png"
heroLg: true
sitemapPriority: 0.8
---

<script>
    function playPause () {
        const video = document.getElementById('nodered-demo')
        const button = document.getElementById('video-play-btn')
        if (video.paused) {
            {# video.setAttribute("controls","controls") #}
            button.style.opacity = 0
            video.play()
        } else {
            video.pause()
            button.style.opacity = 1
        }
    }

    function openFullscreen() {
        const video = document.getElementById('nodered-demo')
        if (video.requestFullscreen) {
            video.requestFullscreen();
        } else if (video.webkitRequestFullscreen) { /* Safari */
            video.webkitRequestFullscreen();
        } else if (video.msRequestFullscreen) { /* IE11 */
            video.msRequestFullscreen();
        }
    }
</script>

<!--Hero Content-->
<div class="w-full px-6 pb-60 mt-12 md:px-0">
    <div class="container m-auto text-center max-w-2xl">
        <h1 class="text-gray-50 max-w-lg m-auto">
            Introduction to <span class="text-teal-300">Node-RED</span>
        </h1>
        <h3 class="mt-6 text-gray-400 text-lg font-normal">
            Node-RED is a very popular, low-code programming tool, that makes it easy to connect different services using a visual programming environment.
        </h3>
    </div>
</div>

{% include "components/divider-flow--default.njk" %}

<div class="flex justify-center z-20 relative">
    <div class="absolute -mt-48">
        <video id="nodered-demo" width="800" frameborder="0"
            class="max-h-48 border-2 rounded-md sm:max-w-none sm:max-h-full"
            style="border-color: black; box-shadow: 0px 4px 16px #1f2937e6;"
            allow="fullscreen;">
            <source src="/videos/ISS Tracker.mp4" type="video/mp4">
        </video>
        <div id="video-play-btn" class="group absolute w-full h-full top-0 left-0 bg-black flex item-center justify-center cursor-pointer bg-opacity-10" onclick="playPause()">
            <button type="button" class="w-24 text-black group-hover:text-blue-800 duration-100">{% include "components/icons/play.svg" %}</button>
        </div>
        <label onclick="openFullscreen()" class="absolute block mt-3 text-blue-600 font-medium cursor-pointer w-full text-center">Show Full Screen</label>
    </div>
</div>



<!-- Secondary Content -->
{# <div class="w-full ff-bg-light px-6 pt-12 pb-64 sm:pt-48 sm:px-0">
    <div class="container m-auto text-center max-w-4xl">
        <div class="m-auto mt-24 w-full text-center">
            <h2>4,000+ Integrations Available</h2>
            <h5>
                <a class="flex justify-center gap-1" href="https://flows.nodered.org/search?type=node" target="_blank">
                    See full list of integrations
                    <i class="w-4">{% include "components/external.njk" %}</i>
                </a>
            </h5>
        </div>
        <div class="sm:mt-10 md:mt-16 w-full max-w-4xl text-center flex flex-wrap gap-2 justify-around">
            <div class="w-full px-3 mt-4 sm:w-72 md:mt-0 css-full">
                <img class="w-40 m-auto" src="/images/pictograms/community_red.png"/>
                <h5 class="flex justify-center mb-2">SOCIAL & COMMS</h5>
                <label class="font-light">Twitter, Twilio, Telegram, Slack, WhatsApp, Discord, etc.</label>
            </div>
            <div class="w-full px-3 mt-4 sm:w-72 md:mt-0">
                <img class="w-40 m-auto" src="/images/pictograms/edge_red.png"/>
                <h5 class="flex justify-center mb-2">HARDWARE</h5>
                <label class="font-light">Servers, PLCs, Network Switches & Routers, Edge Devices, etc.</label>
            </div>
            <div class="w-full px-3 mt-4 sm:w-72 md:mt-0">
                <img class="w-40 m-auto" src="/images/pictograms/candor_red.png"/>
                <h5 class="flex justify-center mb-2">PROTOCOLS</h5>
                <label class="font-light">WebSockets, HTTP, MQTT, AMQP, SNMP, RSS, FTP, etc.</label>
            </div>
            <div class="w-full px-3 mt-4 sm:w-72 lg:mt-10">
                <img class="w-40 m-auto" src="/images/pictograms/cloud_red.png"/>
                <h5 class="flex justify-center mb-2">CLOUD</h5>
                <label class="font-light">AWS, Azure, S3, Google Cloud Platform, IBM Cloud, etc.</label>
            </div>
            <div class="w-full px-3 mt-4 sm:w-72 lg:mt-10">
                <img class="w-40 m-auto" src="/images/pictograms/scalable_red.png"/>
                <h5 class="flex justify-center mb-2">A.I.</h5>
                <label class="font-light">TensorFlow, IBM Watson, Azure Cognitive Services, etc.</label>
            </div>
            <div class="w-full px-3 mt-4 sm:w-72 lg:mt-10">
                <img class="w-40 m-auto" src="/images/pictograms/storage_red.png"/>
                <h5 class="flex justify-center mb-2">STORAGE</h5>
                <label class="font-light">MongoDB, MySQL, PostgreSQL, SQL Server, Redis, DB2, etc.</label>
            </div>
        </div>
    </div>
</div> #}

<div class="w-full ff-bg-light px-6 pt-12 sm:pt-96 sm:px-0 ff-prose">
    <div class="container m-auto max-w-4xl pt-9 prose">
        <div class="flex gap-12">
            <div class="w-48 flex-shrink-0">
                <img class="w-full" src="/images/node-red-hexagon.png" alt="Node-RED Icon">
            </div>  
            <div class="-mt-16">
                <h3>Reasons why Node-RED is so popular:</h3>
                <ul>
                    {% for reason in content['node-red'].reasons %}
                    <li>{{ reason | safe }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="w-full ff-bg-light px-6 pb-32 sm:px-0 ff-prose">
    <div class="container m-auto max-w-4xl prose">
        <div class="m-auto w-full">
            {% for faq in content['node-red'].faqs %}
            <div>
                <h3 class="flex items-center w-full m-0 gap-6">
                    <span>{{ faq.question }}</span>
                    <hr class="flex-grow m-0"/>
                </h3>
                <div class="px-6">
                    <p>{{ faq.answer | safe }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>