---
title: Introduction to Node-RED
layout: default
description:
    Node-RED is a programming tool for wiring together hardware devices, APIs and online services in new and interesting ways.
    It’s browser-based editor makes it easy to wire together flows using the extensive collection of nodes available, and deploy to its runtime with a single-click.
    FlowForge makes it easy to run Node-RED in production, on your own hardware or in the cloud.
sitemapPriority: 0.8
---

<script>
    function playPause () {
        const video = document.getElementById('nodered-demo')
        const button = document.getElementById('video-play-btn')
        if (video.paused) {
            {# video.setAttribute("controls","controls") #}
            button.style.opacity = 0
            video.play()
        } else {
            video.pause()
            button.style.opacity = 1
        }
    }

    function openFullscreen() {
        const video = document.getElementById('nodered-demo')
        if (video.requestFullscreen) {
            video.requestFullscreen();
        } else if (video.webkitRequestFullscreen) { /* Safari */
            video.webkitRequestFullscreen();
        } else if (video.msRequestFullscreen) { /* IE11 */
            video.msRequestFullscreen();
        }
    }
</script>

<!--Hero Content-->
<div class="w-full px-6 pb-56 md:pb-60 mt-12 md:px-0">
    <div class="container m-auto text-center max-w-2xl">
        <h1 class="px-12 md:px-0 text-gray-50 max-w-lg m-auto">
            Introduction to <span class="text-teal-300">Node-RED</span>
        </h1>
        <h3 class="mt-6 text-gray-400 text-lg font-normal">
            Node-RED is a very popular, low-code programming tool, that makes it easy to connect different services using a visual programming environment.
        </h3>
    </div>
</div>

{% include "components/divider-flow--default.njk" %}

<div class="flex justify-center z-20 relative w-full px-8">
    <div class="absolute -mt-48">
        <video id="nodered-demo" width="800" frameborder="0"
            class="border-2 rounded-md max-w-sm sm:max-w-xl md:max-w-3xl"
            style="border-color: black; box-shadow: 0px 4px 16px #1f2937e6;"
            allow="fullscreen;">
            <source src="https://website-data.s3.eu-west-1.amazonaws.com/iss-tracker.mp4" type="video/mp4">
        </video>
        <div id="video-play-btn" class="group absolute max-w-sm sm:max-w-xl md:max-w-3xl w-full h-full top-0 left-0 hover:bg-black flex item-center justify-center cursor-pointer hover:bg-opacity-10" onclick="playPause()">
            <button type="button" class="w-24 text-black group-hover:text-blue-800 duration-100">{% include "components/icons/play.svg" %}</button>
        </div>
        <label onclick="openFullscreen()" class="absolute left-0 block mt-3 text-blue-600 font-medium cursor-pointer w-full text-center">Show Full Screen</label>
    </div>
</div>

<div class="w-full ff-bg-light px-6 pt-32 sm:pt-64 md:pt-96 px-0 ff-prose">
    <div class="container m-auto max-w-4xl pt-9 prose">
        <div class="flex gap-12">
            <div class="hidden sm:block w-48 flex-shrink-0">
                {% image "./images/node-red-hexagon.png", "Node-RED Icon", [192] %}
            </div>  
            <div class="-mt-16 px-6 sm:px-0">
                <h3>Reasons why Node-RED is so popular:</h3>
                <ul>
                    {% for reason in nodeRed.reasons %}
                    <li>{{ reason | safe }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="w-full ff-bg-light px-6 pb-12 sm:px-0 ff-prose">
    <div class="container m-auto max-w-4xl prose">
        <div class="m-auto w-full">
            {% for faq in nodeRed.faqs %}
            <div>
                <h3 class="flex items-center w-full m-0 gap-6">
                    <span>{{ faq.question }}</span>
                    <hr class="flex-grow m-0"/>
                </h3>
                <div class="px-6">
                    <p>{{ faq.answer | safe }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="about w-full ff-bg-light pt-12 pb-24 md:pb-48 md:pt-32">
     <div class="-mt-28 text-center">
        <h2>Node-RED</h2>
    </div>
    <div class="container m-auto max-w-4xl">
        <div
            class="grid grid-cols-1 md:grid-cols-3 pt-12 md:pt-6 gap-x-8" style="align-items: flex-start;">
            <!-- Node-RED Quick Tips Column -->
            <div class="roadmap-section consideration pb-6 md:pb-0">
                <h3 class="centered-headline">Quick Tips</h3>
                <ul class="list-disc">
                    <p>
                        <li><a href="https://flowforge.com/blog/2023/02/3-quick-node-red-tips-1/">Wiring Shortcuts</a>
                        <li><a href="https://flowforge.com/blog/2023/02/3-quick-node-red-tips-2/">Deploying, Debugging, and Delaying</a>
                        <li><a href="https://flowforge.com/blog/2023/03/3-quick-node-red-tips-3/">Exec, Filter, and Debug</a>
                        <li><a href="https://flowforge.com/blog/2023/03/3-quick-node-red-tips-4/">Smooth, Catch, and Math</a> 
                        <li><a href="https://flowforge.com/blog/2023/03/3-quick-node-red-tips-5/">Importing, Exporting, and Grouping Flows</a> 
                    </p>
                </ul>
            </div>
            <!-- Resources Column -->
            <div class="roadmap-section progress pb-6 md:pb-0">
                <h3 class="centered-headline">Resources</h3>
                <ul class="list-disc">
                    <p>
                        <li><a href="https://github.com/node-red" target="_blank">Github</a>
                        <li><a href="https://discourse.nodered.org/" target="_blank">Support Forums</a>
                        <li><a href="https://nodered.org/docs/" target="_blank">Documentation</a>
                        <li><a href="https://flows.nodered.org/" target="_blank">Flows Library</a>
                    </p>
                <div class="roadmap-item-container"></div>
            </div>
            <!-- Node-RED Concepts Column -->
            <div class="roadmap-section completed">
                <h3 class="centered-headline">Key Concepts</h3>
                <p>
                    Coming Soon
                </p>
             </div>
        </div>
    </div>
</div>