---
title: FlowForge Pricing
align: center
layout: layouts/page.njk
---

<div class="px-6 pricing-tiles flex flex-col md:grid mb-16 md:max-w-screen-lg">
    <div class="pricing-tile pt-4 pb-6 px-8">
        <div class="flex flex-col justify-between items-center mb-4 sm:px-4 md:flex-row md:-mb-0 md:px-0 md:block">
            <h5>Community</h5>
            <div class="mt-6">
                <h2>$0</h2>
                <label class="sub-label">Apache 2.0 Licensed<label>
            </div>
            <p class="mt-6">We are an open-core company, consectetur adi. Piscing elit ut aliquam Lorem ipsum dolor sit amet..</p>
            <a class="ff-btn ff-btn--secondary" href="/docs/install">Install now</a>
        </div>
    </div>
    <div class="pricing-tile pt-4 pb-6 px-8">
        <div class="flex flex-col justify-between items-center mb-4 sm:px-4 md:flex-row md:-mb-0 md:px-0 md:block">
            <h5>Premium</h5>
            <div>
                <label class="top-label">from</label>
                <h2>$15</h2>
                <label class="sub-label">per project/mo</label>
            </div>
        </div>
        <div class="flex flex-col sm:flex-row items-center gap-4 mt-4">
            <div class="sm:w-6/12">
                <h5>FlowForge-Managed</h5>
                <p class="mt-2">Get started in less than a minute, fully managed, fully secure.</p>
                <a class="ff-btn ff-btn--primary" href="https://app.flowforge.com/account/create">Sign up</a>
            </div>
            <span style="width: 2px; background-color: gray; height: 75%"></span>
            <div class="sm:w-6/12">
                <h5>Self-Managed</h5>
                <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam.</p>
                <a class='ff-btn ff-btn--secondary' href='/contact-us'>Contact Us</a>
            </div>
        </div>
    </div>
</div>

{% include "components/divider-flow--default.njk" %}

<!-- Feature List -->
{% set featuresHtml %}
<div class="max-w-full overflow-x-scroll">
    {% include "feature_lists/cloud.njk" %}
</div>
{% endset -%}

<!-- Feature Comparison -->
<div class="product w-full ff-bg-light px-6 pt-20 pb-24 md:px-0 md:pt-32 md:pb-48">
    <div class="container m-auto text-center">
        <div class="mt-9">
            <h1 class="mb-4">Feature Comparison</h1>
        </div>
        <!-- Feature List -->
        <div>{{ featuresHtml | safe }}</div>
    </div>
</div>
