---
permalink: /_redirects
eleventyExcludeFromCollections: true
---

/blog/first-deploy/ /blog/2021/04/first-deploy/ 301
/blog/welcome-ben/ /blog/2021/05/welcome-ben/ 301
/blog/welcome-zj/ /blog/2022/01/welcome-zj/ 301
/blog/welcome-steve/ /blog/2022/01/welcome-steve/ 301
/blog/flowforge-01-released/ /blog/2022/01/flowforge-01-released/ 301
/blog/community-news-01/ /blog/2022/01/community-news-01/ 301
/blog/welcome-joe/ /blog/2022/02/welcome-joe/ 301
/blog/use-case-solar-afloat/ /blog/2022/02/use-case-solar-afloat/ 301
/blog/flowforge-02-released/ /blog/2022/02/flowforge-02-released/ 301
/blog/announcing-flowforge-cloud/ /blog/2022/02/announcing-flowforge-cloud/ 301
/blog/community-news-02/ /blog/2022/03/community-news-02/ 301
/blog/flowforge-03-released/ /blog/2022/03/flowforge-03-released/ 301
/blog/2023/03/comparinig-dashboards/ /blog/2023/03/comparing-node-red-dashboards 301

/roadmap/ /changelog/ 301
/product/roadmap/ /changelog/ 301

/handbook/product/ /handbook/engineering/product/ 301
/handbook/product/blueprints/ /handbook/engineering/product/blueprints/ 301
/handbook/product/feedback/ /handbook/engineering/product/feedback/ 301
/handbook/product/glossary/ /handbook/engineering/product/glossary/ 301
/handbook/product/verticals/ /handbook/engineering/product/verticals/ 301
/handbook/product/metrics/ /handbook/engineering/product/metrics/ 301
/handbook/product/dashboard/ /handbook/engineering/product/dashboard/ 301
/handbook/product/personas/ /handbook/engineering/product/personas/ 301
/handbook/product/pricing/ /handbook/engineering/product/pricing/ 301
/handbook/product/principles/ /handbook/engineering/product/principles/ 301
/handbook/product/telemetry/ /handbook/engineering/product/telemetry/ 301
/handbook/product/versioning/ /handbook/engineering/product/versioning/ 301

/handbook/development/ /handbook/engineering/ 301
/handbook/development/contributing/ /handbook/engineering/contributing/ 301

/handbook/development/frontend/ /handbook/engineering/frontend/ 301
/handbook/development/frontend/data-attributes/ /handbook/engineering/frontend/data-attributes/ 301
/handbook/development/frontend/layouts/ /handbook/engineering/frontend/layouts/ 301
/handbook/development/frontend/services/ /handbook/engineering/frontend/services/ 301
/handbook/development/frontend/testing/ /handbook/engineering/frontend/testing/ 301

/handbook/development/packaging/ /handbook/engineering/packaging/ 301

/handbook/development/ops/ /handbook/engineering/ops/ 301
/handbook/development/ops/deployment/ /handbook/engineering/ops/deployment/ 301
/handbook/development/ops/dedicated/ /handbook/engineering/ops/dedicated/ 301
/handbook/development/ops/incident-response/ /handbook/engineering/ops/incident-response/ 301
/handbook/development/ops/observability/ /handbook/engineering/ops/observability/ 301
/handbook/development/ops/production/ /handbook/engineering/ops/production/ 301
/handbook/development/ops/self-hosted-assistant/ /handbook/engineering/ops/self-hosted-assistant/ 301
/handbook/development/ops/staging/ /handbook/engineering/ops/staging/ 301
/handbook/development/ops/production-stack-update/ /handbook/engineering/ops/production-stack-update/ 301

/handbook/development/project-management/ /handbook/engineering/project-management/ 301

/handbook/development/releases/ /handbook/engineering/releases/ 301
/handbook/development/releases/dashboard-2/ /handbook/engineering/releases/dashboard-2/ 301
/handbook/development/releases/process/ /handbook/engineering/releases/process/ 301
/handbook/development/releases/digital-ocean/ /handbook/engineering/releases/digital-ocean/ 301

/handbook/development/security/ /handbook/engineering/security/ 301

/handbook/development/support/ /handbook/engineering/support/ 301
/handbook/development/support/triage/ /handbook/engineering/support/triage/ 301
/handbook/development/support/troubleshooting/ /handbook/engineering/support/troubleshooting/ 301

/handbook/development/tools/ /handbook/engineering/tools/ 301

/handbook/development/release/ /handbook/engineering/releases/ 301
/handbook/development/observability/ /handbook/engineering/ops/observability/ 301
/handbook/development/staging/ /handbook/engineering/ops/staging/ 301
/handbook/development/how-we-work/staging/ /handbook/engineering/ops/staging/ 301
/handbook/development/how-we-work/security/ /handbook/engineering/security/ 301
/handbook/development/how-we-work/packaging/ /handbook/engineering/packaging/ 301
/handbook/development/how-we-work/contributing/ /handbook/engineering/contributing/ 301
/handbook/development/how-we-work/ /handbook/engineering/ 301

/handbook/development/git-how-to/ /handbook/company/guides/git/ 301
/handbook/development/guides/git/ /handbook/company/guides/git/ 301
/handbook/development/markdown-how-to/ /handbook/company/guides/markdown/ 301
/handbook/development/guides/markdown /handbook/company/guides/markdown/ 301
/handbook/development/guides/ /handbook/company/guides/ 301

/docs/user/expert/ /docs/user/expert/ 301
