---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all -%}
  {%- if page.data.skipIndex != true %}
  <url>
    <loc>{{ page.url | url | toAbsoluteUrl }}</loc>
    <lastmod>{{ (page.data.lastUpdated or page.date) | toDate | dateToRfc3339 }}</lastmod>
    <priority>{{ page.data.sitemapPriority | default(0.6) }}</priority>
  </url>
  {%- endif %}
{%- endfor %}
  <url>
    <loc>https://app.flowfuse.com/account/create/</loc>
    <lastmod>{{ currentDateISO }}</lastmod>
    <priority>0.9</priority>
  </url>
</urlset>