---
align: center
layout: layouts/page.njk
title: Help Center
description: <p>Search through our extensive range of resources, knowledge base, or reach out to our dedicated support team by submitting a ticket.</p>
sitemapPriority: 0.8
hubspot:
  script: "hubspot/hs-form.njk"
  formId: 74ffcab1-a984-459a-871f-5751b8d69ac2
  cta: "cta-submit-a-ticket"
  reference: "support"
---
<!-- <div class="flex px-6 -mt-32 mx-auto text-gray-400 md:max-w-screen-lg md:-mt-40 mb-8 md:mb-16">
  <p class="lead-p max-w-screen-lg m-auto text-center md:max-w-xl md:px-4">
    Search through our extensive range of resources, knowledge base, or reach out to our dedicated support team by
    submitting a ticket.
  </p>
</div> -->
<div class="text-left max-w-full ff-bg-light">
  <div class="w-full pt-10 md:pt-8 px-0 ff-prose">
    <div class="text-center md:mt-10 mb-8">
      <h2>Find answers instantly</h2>
    </div>
    <div class="max-w-lg m-auto px-6 md:px-0 md:mb-10">
      <div id="algolia-search" class="border rounded"></div>
    </div>
    <div class="container m-auto max-w-screen-lg ">
      <div class="grid px-6 grid-cols-1 md:grid-cols-2 gap-6 md:gap-x-12 gap-y-12 mb-16">
        <div class="md:flex md:flex-col md:justify-between text-left self-start md:h-full">
          <div class="prose">
            <h3 class="flex items-center gap-4">
              <div class="w-16 mt-6">
                {% image "./images/pictograms/community_red.png", "Graphics depicting low-code programming.", [64] %}
              </div>
              <div class="flex flex-col leading-8 mt-6">
                Ask the community
              </div>
            </h3>
            <p class="mb-0">
              Explore our forum to find answers and solutions. Others may have already shared similar issues, providing
              valuable insights that could address your concerns.
            </p>
          </div>
          <div
            class="container text-center max-w-4xl flex flex-col md:items-start mt-6">
            <a class="ff-btn ff-btn--primary flex flex-col" href="https://discourse.nodered.org/c/vendors/flowfuse/24/">
              <span class="text-base uppercase no-underline md:px-4">
                COMMUNITY FORUM
              </span>
            </a>
          </div>
        </div>
        <div class="md:flex md:flex-col md:justify-between text-left self-start md:h-full">
          <div class="prose">
            <h3 class="flex items-center gap-4">
              <div class="w-16 mt-6">
                {% image "./images/pictograms/speech_red.png", "Graphics depicting low-code programming.", [64] %}
              </div>
              <div class="flex flex-col leading-8 mt-6">
                Reach out via our chat
              </div>
            </h3>
            <p class="mb-0">
              Get real-time assistance and quick answers. Chat with us for prompt support and solutions to your queries.
            </p>
          </div>
          <div class="container text-center max-w-4xl flex flex-col md:items-start mt-6">
            <button onclick="window.HubSpotConversations.widget.open()" class="ff-btn ff-btn--primary flex flex-col">
              <span class="text-base uppercase no-underline md:px-4">
                OPEN CHAT BOX
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full bg-white pt-0 px-0 pb-24 ff-prose">
      <div class="text-gray-50">
        {% include "components/dividers/light-grey-curve-inverted.svg" %}
      </div>
      <div class="text-center m-auto mt-10 md:mt-12 mb-6 md:mb-12 md:max-w-xl">
        <h2>Submit a ticket</h2>
        <p>If you need assistance with the FlowFuse application, account, or billing, please submit a ticket by filling
          out the form below.</p>
      </div>
      <div class="container m-auto md:max-w-xl prose">
        <div class="px-6 mb-16">
          <script src="https://www.google.com/recaptcha/api.js"></script>
          {% include hubspot.script %}
        </div>
      </div>
    </div>
  </div>

<link rel="preload"href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" as="style" onload="this.onload=null;this.rel='stylesheet'" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preload" href="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-theme-classic" as="style" onload="this.onload=null;this.rel='stylesheet'" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script async type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js" onload="initSearchBar()"></script>
<script async type="text/javascript">
  function initSearchBar () {
    algoliasearchNetlify({
        appId: 'KWE0727TZS',
        apiKey: '595ee07f069991380e9c3036cfad8e5e',
        siteId: '00f8cf60-997f-4c4d-9427-a97924358648',
        branch: 'live',
        selector: 'div#algolia-search',
        detached: false
    });
    }
</script>