---
layout: layouts/nohero.njk
title: Request Support
sitemapPriority: 0.8
---

<div class="container m-auto text-left max-w-4xl pb-24">
  <div class="flex justify-between items-center mb-4 md:px-4 md:-mb-0 md:px-0 md:block">
    <div class="ff-bg-light product px-4 pb-24 pt-4 md:pt-12 md:p-12 md:grid grid-cols-2">
      <div class="hidden md:w-72 md:m-auto md:block md:mt-0">
        {% image "./images/pictograms/browser_red.png", "Graphic of a globe, depicting 'Connectivity'.", [288] %}
        <p>For community support, please visit the <a href="https://community.flowforge.com/">community forum</a>.</p>
      </div> 
      <script src="https://www.google.com/recaptcha/api.js"></script>
      <script>
        function displayHubSpotForm() {
          hbspt.forms.create({
            region: "eu1",
            portalId: "26586079",
            formId: "74ffcab1-a984-459a-871f-5751b8d69ac2"
          });
        }
      </script>
      <script async type="text/javascript" charset="utf-8" src="//js-eu1.hsforms.net/forms/embed/v2.js" onload="displayHubSpotForm()"></script>
    </div>
  </div>
</div>
