---
title: Meet the Team
layout: layouts/nohero.njk
---
<div class="team w-full pb-48 ff-bg-light">
    <div class="container m-auto text-left max-w-4xl">
        <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3">
            {%- for member in team.members -%}
            <div class="team-headshot w-full max-w-xs m-auto">
                <img src="/images/team/headshot-{{ team[member].headshot }}">
                <ul class="member-facts">
                    {%- for fact in team[member].facts -%}
                    <li>{{ fact | safe }}</li>
                    {%- endfor -%}
                </ul>
                <div class="member-info">
                    <div class="title">
                        <div class="name">{{ team[member].name }}</div>
                        <div class="role">{{ team[member].title }}</div>
                    </div>
                    <div class="socials">
                        {% if team[member].email %}
                        <span class="">
                            <a href="mailto:{{ team[member].email }}">
                                {% include "components/mail.njk" %}
                            </a>
                        </span>
                        {% endif %}
                        {% if team[member].twitter %}
                        <span class="">
                            <a class="" target="_blank" href="https://twitter.com/{{ team[member].twitter }}">
                                {% include "components/twitter.njk" %}
                            </a>
                        </span>
                        {% endif %}
                        {% if team[member].github %}
                        <span class="">
                            <a class="" target="_blank" href="https://github.com/{{ team[member].github }}">
                                {% include "components/github.njk" %}
                            </a>
                        </span>
                        {% endif %}
                        {% if team[member].linkedin %}
                        <span class="">
                            <a class="" target="_blank" href="https://www.linkedin.com/in/{{ team[member].linkedin }}">
                                {% include "components/linkedin.njk" %}
                            </a>
                        </span>
                        {% endif %}
                        {% if team[member].blog %}
                        <span class="">
                            <a class="" target="_blank" href="{{ team[member].blog }}">
                                {% include "components/rss.njk" %}
                            </a>
                        </span>
                        {% endif %}
                    </div>
                </div>
            </div>
            {%- endfor -%}
        </div>
    </div>
</div>

{% include "components/divider-flow--top-red--dark.njk" %}

<!-- Company Values -->
<div class="about w-full ff-bg-dark px-6 pt-12 pb-24 md:pt-20 md:px-0 md:pb-48">
    <div class="container m-auto text-center max-w-4xl">
        <div>
            <h1 class="mb-4">Working at FlowForge</h1>
            <p>Here are just some of the benefits enjoyed by our employees. We are always looking to improve and expand these too. You can read more about them in our <a href="/handbook/peopleops">Handbook.</a></p>
        </div>
        <div class="flex flex-wrap justify-center mt-12 md:mt-20">
            <div class="company-value">
                <img src="../images/pictograms/remote.png" />
                <h5>Fully Remote</h5>
            </div>
            <div class="company-value">
                <img src="../images/pictograms/vacation.png" />
                <h5>Unlimited Vacation</h5>
            </div>
            <div class="company-value">
                <img src="../images/pictograms/time.png" />
                <h5>Flexible Hours</h3>
            </div>
            <div class="company-value">
                <img src="../images/pictograms/education.png" />
                <h5>Education Budget</h5>
            </div>
            <div class="company-value">
                <img src="../images/pictograms/equipment.png" />
                <h5>Equipment</h5>
            </div>
            <div class="company-value">
                <img src="../images/pictograms/parental_leave.png" />
                <h5>Paid Parental Leave</h5>
            </div>
        </div>
    </div>
</div>

{% include "components/divider-flow--top-grey.njk" %}

<!-- Employee Benefits -->
<div class="about w-full ff-bg-mid px-6 pt-12 pb-20 md:px-0 md:pt-20">
    <div class="container m-auto text-center max-w-4xl">
        <div class="">
            <h1 class="mb-4">Company Values</h1>
            <p>We are full open about our company values, you can read more about them in our <a href="/handbook/company">Handbook.</a></p>
        </div>
        <div class="flex flex-wrap justify-center mt-12 md:mt-20">
            <div class="company-value">
                <img src="../images/pictograms/community.png" />
                <h5>Community-First</h5>
            </div>
            <div class="company-value">
                <img src="../images/pictograms/optimism.png" />
                <h5>Apply Optimism</h5>
            </div>
            <div class="company-value">
                <img src="../images/pictograms/candor.png" />
                <h5>Use Candor</h5>
            </div>
            <div class="company-value">
                <img src="../images/pictograms/results.png" />
                <h5>Results, Not Hours</h5>
            </div>
            <div class="company-value">
                <img src="../images/pictograms/bias_for_action.png" />
                <h5>Bias for Action</h5>
            </div>
            <div class="company-value">
                <img src="../images/pictograms/trusting.png" />
                <h5>Be Trusting</h5>
            </div>
        </div>
        <p>Interested in joining FlowForge? Check out our <a href="/careers">Jobs</a> page for our current openings.</p>
    </div>
</div>