---
layout: nohero
sitemapPriority: 0.9
meta:
    title: Webinars
---
<div class="webinar nohero container m-auto text-left max-w-4xl pt-8 pb-24 w-full px-2">
    <h1>Webinars</h1>
    {% if (collections.webinar and collections.webinar.length > 0 and collections.ama and collections.ama.length > 0) and ((collections.ama[0].date | countDays).value < (collections.webinar[0].date | countDays).value) %}
    <div class="flex flex-col-reverse gap-6">
    {% else %}
    <div class="flex flex-col gap-6">
    {% endif %}
        {% if collections.webinar and collections.webinar.length > 0 %}
            {%- for item in collections.event | inFuture | limit(2) -%}
            <div>
                <h3 class="w-full w-full text-indigo-400">
                    {%- if item.data.tags.includes('ama') -%}
                    Upcoming "Ask Me Anything" Session
                    {% else %}
                    Upcoming Webinar:
                    {% endif %}
                    <span class="text-indigo-600 italic text-lg ml-2">{{ item.date.toLocaleDateString(undefined, { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) }}</span>
                </h3>
                <ul>
                    <li class="webinar-tile">
                        <div class="flex flex-col md:flex-row">
                            <a href="{{ item.url }}" onclick="capture('cta-webinar-info')" class="webinar-tile-img relative mb-4 md:mb-0 flex md:w-1/2 mr-2 rounded-lg">
                                <div class="w-full h-auto">
                                    {% tileImage item, "./images/og-webinar.jpg", "Image with FlowFuse logo", 432 %}
                                    <div class="webinar-tile-radialshade"></div>
                                </div>
                                {% if not item.data.image %}
                                    <div>
                                        <label>
                                            <h4 class="text-white">{{ item.data.title }}</h4>
                                            <div class="webinar-tile-datetime">
                                                <time value="{{ item.time }}" class="text-gray-400">{{ item.data.time }}</time>
                                                <time value="{{ item.date }}" class="text-gray-400">{{ item.data.date | shortDate }}</time>
                                                <time value="{{ item.duration }}" class="text-gray-400">{{ item.data.duration | duration }}</time>
                                            </div>
                                        </label>
                                    </div>
                                {% endif %}
                            </a>
                            <div class="flex flex-col justify-between md:w-1/2 md:px-2">
                                <div class="grow">
                                    {{ item.templateContent | excerpt | striptags(true)| restoreParagraphs | safe }}
                                </div>
                                <div>
                                    {%- if item.data.tags.includes('ama') -%}
                                    <a class="inline-flex ff-btn ff-btn--primary text-sm" href="{{ item.url }}" onclick="capture('cta-ama-info')">
                                    {% else %}
                                    <a class="inline-flex ff-btn ff-btn--primary text-sm" href="{{ item.url }}" onclick="capture('cta-webinar-info')">
                                    {% endif %}
                                        More Info
                                        <span class="ml-2">
                                            {% include "components/icons/chevron-right.svg" %}
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    {% if (collections.webinar and (collections.webinar | inFuture | length) > 0) or (collections.ama and (collections.ama | inFuture | length) > 0) %}
    {% endif %}
    {% if collections.webinar and (collections.webinar | inPast | length) > 0 %}
        <h3 class="w-full text-indigo-400">Past Webinars</h3>
        <ul class="grid md:grid-cols-3 gap-4">
            {%- for item in collections.event | inPast | reverse -%}
                <li class="w-full my-2 pb-6 border-b">
                    <a href="{{ item.url }}" class="w-full flex flex-col group hover:no-underline">
                        <div class="">
                            <time class="block text-xs mb-2" value="{{ item.date }}" class="text-gray-400">{{ item.date | shortDate }}</time>
                            <div>
                                <div class="w-full h-auto shadow rounded mb-4">
                                    {% tileImage item, "./images/og-blog.jpg", "Image with logo and the slogan: Elevate Node-RED with Flowfuse", 285 %}
                                </div>
                            </div>
                            <h3 class="mt-1 mb-0 font-medium group-hover:underline">{{ item.data.title }}</h3>
                        </div>
                        <div class="text-sm prose prose-blue md:prose-md py-1">
                            {% if item.data.description %}
                            {{ (item.data.description | excerpt | safe) }}
                            {% endif %}
                        </div>
                    </a>
                </li>
            {%- endfor -%}
        </ul>
    {% endif %}
</div>