---
layout: nohero
sitemapPriority: 0.9
meta:
    title: Webinars
---
<div class="container m-auto text-left max-w-4xl pb-24 w-full">
    <h1>Webinars</h1>
    {% include "components/divider-grey-wires-right.njk" %}
    {% if collections.webinar.length > 0 %}
    {%- for item in collections.webinar | inFuture | reverse -%}
    {% if loop.first %}
    <h2 class="w-full">Upcoming Webinar</h2>
    <ul>
        <li class="webinar-tile">
            <div class="flex flex-col md:flex-row">
                <a href="{{ item.url }}" onclick="capture('cta-webinar-register')" class="relative flex md:w-1/2 mr-2 rounded">
                    {% if item.data.image %}
                    <img class="w-full h-auto rounded" src="{{item.data.image}}" />
                    {% else %}
                    {{ item.url | generatePostSVG | safe }}
                    {% endif %}
                    <div class="webinar-tile-shade">
                        <label>
                            <h4 class="text-white">{{ item.data.title }}</h4>
                            <div class="webinar-tile-datetime">
                                <time value="{{ item.time }}" class="text-gray-400">{{ item.data.time }}</time>
                                <time value="{{ item.date }}" class="text-gray-400">{{ item.data.date | shortDate }}</time>
                                <time value="{{ item.duration }}" class="text-gray-400">{{ item.data.duration | duration }}</time>
                            </div>
                        </label>
                    </div>
                </a>
                <div class="md:w-1/2 md:px-2">
                    <div>
                        {{ item.templateContent | excerpt | striptags(true)| restoreParagraphs | safe }}
                    </div>
                    <a class="ff-btn ff-btn--primary text-sm" href="{{ item.url }}" onclick="capture('cta-webinar-register')">More Info</a>
                </div>
            </div>
        </li>
    </ul>
    {% endif %}
    {% endfor %}
    {% if (collections.webinar | inFuture | length) > 0 %}
    <div class="mt-2 w-full">
        {% include "components/divider-grey-wires-left.njk" %}
    </div>
    {% endif %}
    {% if (collections.webinar | inPast | length) > 0 %}
    <h2 class="w-full">Past Webinars</h2>
    <ul class="grid grid-cols-3 gap-4">
        {%- for item in collections.webinar | inPast | reverse -%}
        <li class="w-full my-2 pb-6 border-b">
            <a href="{{ item.url }}" class="w-full flex flex-col group hover:no-underline">
                <div class="">
                    <time class="block text-xs mb-2" value="{{ item.date }}" class="text-gray-400">{{ item.date | shortDate }}</time>
                    <div>{% if item.image %}<img class="w-full h-auto" src="{{item.image}}" />{% else %}{{ item.url | generatePostSVG |safe}}{% endif %}</div>
                    <h3 class="mt-1 mb-0 font-medium group-hover:underline">{{ item.data.title }}</h3>
                </div>
                <div class="text-sm prose prose-blue md:prose-md py-1">
                    {{ item.data.description | excerpt | safe }}
                </div>
            </a>
        </li>
        {%- endfor -%}
    </ul>
    {% endif %}
    {% endif %}
</div>