{% raw %}
### Installing FlowFuse Device Agent

Before we start, it is recommended to update your system to ensure all your packages are up to date:

```bash
sudo apt update
```

Opto 22 typically come with Node.js v14 preinstalled. You can verify the version by running:

```bash
node -v
```

The result will show the currently installed Nodejs version. For example:

```bash
v14.20.0
```

The latest versions of the FlowFuse Device Agent require Node.js v18 or later. However, if your device only supports Node.js v14 or v16, you can install Device Agent version [2.8](https://www.npmjs.com/package/@flowfuse/device-agent/v/2.8.0), which is compatible with those versions.

In this guide, we will proceed with installing Device Agent v2.8:

```bash
sudo npm install -g @flowfuse/device-agent@2.8
```
{% endraw %}


