---
layout: page
nohero: true
meta:
    title: Start using Node-RED online for free
    keywords: Node-RED, FlowFuse Cloud, Node-RED use cases, Node-RED FAQs, Node-RED tips, Node-RED concepts
    robots: noindex
---
<!--First two sections-->
<div class="nohero w-full">
    <!--Hero Content-->
    <div class="nodered-pillar-bg w-full pt-12 pb-20 md:pt-6 md:pb-6 border-b-4 border-gray-100">
        <div class="flex flex-col px-6 items-center md:flex-row md:items-start container mx-auto text-center md:text-left max-w-screen-lg">
            <div class="md:my-auto md:py-10 md:max-w-[476px]">
                <span class="ff-animation-text-carousel px-12 md:px-0 max-w-lg text-gray-800 h-7 text-xl font-bold mx-auto md:mx-0">
                Low-Code
                <ul class="inline-block text-red-600">
                    <li>Programming</li>
                    <li>Integration</li>
                    <li>Visualisation</li>
                </ul>
                </span>
                <h1 class="mt-0 px-12 md:px-0 m-auto">
                    <span class="leading-3">Start using Node-RED online for free</span>
                </h1>
                <h5 class="mt-5 text-gray-400 text-lg font-light md:mb-8">
                    Enhanced Node-RED security, collaboration, and features in our fully managed FlowFuse Cloud. Simplify integration, elevate visualization, and streamline workflows effortlessly.
                </h5>
                <a class="ff-btn ff-btn--highlight hidden md:inline-block" href="{{ site.appURL }}/account/create" onclick="capture('cta-join', {'position': 'landing-signup-campaign'})">START FOR FREE</a>
            </div>
            <div class="max-w-[500px] text-center md:text-left m-auto">
                {% image "../../images/node-red-in-cloud.png", "FlowFuse hosting Node-RED", [500] %}
            </div>
            <a class="ff-btn ff-btn--highlight flex flex-col w-full md:hidden" href="{{ site.appURL }}/account/create" onclick="capture('cta-join', {'position': 'landing-signup-campaign'})">START FOR FREE</a>
        </div>   
        <div class="social-proof-logos mx-auto md:-mt-8 w-full text-center max-w-screen-lg px-6">
            <p class="pb-4"><span class="text-gray-500 text-sm">Trusted by</span></p>
            {% include "social-proof.njk" %}
        </div>
    </div>

    <!-- What is Node-RED -->     
    <div class="w-full pt-10 px-0 pb-12 ff-prose">
        <div class="text-center mt-6 md:mt-2 mb-6">
            <h2>What is Node-RED?</h2>
        </div>
        <div class="container m-auto max-w-screen-lg prose">
            <div class="grid px-6 grid-cols-1 md:grid-cols-3 gap-6 sm:gap-x-8 sm:gap-y-0">
                <div class="text-left self-start">
                    <h3 class="flex items-center gap-4">
                        <div class="w-16">
                            {% image "./images/pictograms/node_catalog_blue.png", "Graphics depicting low-code programming.", [64] %}
                        </div>
                        <div class="flex flex-col leading-8">
                            Flow Based Programming
                        </div>
                    </h3>
                    <p class="mb-0">
                        Node-RED’s visual programming makes it easy for non-developers to build robust applications.
                    </p>
                </div>
                <div class="text-left self-start">
                    <h3 class="flex items-center gap-4">
                        <div class="w-16">
                            {% image "./images/pictograms/edge_blue.png", "Graphics depicting connectivity and integration.", [64] %}
                        </div>
                        <div class="flex flex-col leading-8">
                            Digital Services Integration
                        </div>
                    </h3>
                    <p class="mb-0">
                        Node-RED facilitates seamless integration with a wide array of digital services, including protocols (OPC-UA, Modbus, Siemens S7), databases, APIs, and devices.
                    </p>
                </div>
                <div class="text-left self-start">
                    <h3 class="flex items-center gap-4">
                        <div class="w-16">
                            {% image "./images/pictograms/scalable_blue.png", "Graphics depicting low-code visualisation.", [64] %}
                        </div>
                        <div class="flex flex-col leading-8">
                            Data Visualization
                        </div>
                    </h3>
                    <p class="mb-0">
                        <a href="https://dashboard.flowfuse.com/" target="_blank">Node-RED Dashboard</a> makes it easy to visualize your data in charts that integrate directly with actions and events that respond to the data.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>    

<!--Customer Stories Banner-->
<div class="w-full text-center px-6 pb-3 pt-8 text-lg flex-col flex-row items-center justify-center gap-1 hover:no-underline flex-wrap">
    <h3>
        <span class="hover:no-underline">
            Node-RED use cases from our customer stories
        </span>
    </h3>
    <ul class="mt-6 grid grid-cols-1 md:grid md:grid-cols-3 gap-y-4 pb-4 max-w-screen-lg m-auto">
        {%- for item in collections.stories | sort(attribute='item.date') | reverse | limit(3) -%}
        <li class="w-full max-w-md m-auto my-2 px-2">
            <a href="{{ item.url }}" class="w-full flex flex-col group hover:no-underline">
                <div>
                    <div>
                        <div class="relative">
                            <div class="w-full h-40 ff-image-cover scale mb-4 ff-image-rounded object-contain overflow-hidden">
                                {% if item.data.image %}
                                    {% set imageSrc = ["./", item.data.image ] | join %}
                                    {% set imageDescription = ["Image representing ", item.data.title] | join %}
                                    {% if item.data.logo %}
                                        <div class="w-1/2 h-full absolute left-0 top-0 bg-white flex items-center justify-center">
                                            {% set logoSrc = ["./", item.data.logo ] | join %}
                                            {% set logoDescription = ["Image representing ", item.data.story.brand, " logo"] | join %}
                                            {% image logoSrc, logoDescription, [285] %}
                                        </div>
                                    {% endif %}
                                {% else %}
                                    {% set imageSrc = "./images/og-blog.jpg" %}
                                    {% set imageDescription = "Image with logo and the slogan: Elevate Node-RED with Flowfuse" %}
                                {% endif %}
                                {% image imageSrc, imageDescription, [285] %}
                            </div>
                        </div>
                    </div>
                    <h5 class="mt-1 mb-0 font-medium group-hover:underline font-light text-lg text-left">{{ item.data.title }}</h5>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
<a href="/customer-stories/" class="w-full text-center hover:underline pt-3 pb-8 flex flex-row items-center justify-center gap-1 cursor-pointer flex-wrap">
    See more customer stories {% include "components/icons/chevron-right-sm.svg" %}
</a>
