---
layout: layouts/certified.njk
pagination:
    data: certifiedNodes
    size: 1
    alias: node
permalink: "certified-nodes/{{ node.tags | slugify }}/{{ node.title | slugify }}/"
---

{% set templateFile = "src/_includes/certified/nodes/" + node.title | slugify + ".md" %}

{% if templateFile | templateExists %}
  {% renderFile templateFile %}
{% endif %}
