---
layout: nohero
pagination:
  data: collections.communication
  size: 18
  alias: certified
  reverse: true
meta:
    title: Certified communication nodes
description: communication description
---

{% include "certified/template.njk" %}