---
layout: nohero
sitemapPriority: 0.8
pagination:
  data: collections.database
  size: 19 # creates a nice matrix (1 header, 18 left: 3 on 6 rows)
  alias: database
  reverse: true
meta:
    title: Database certified nodes
description: Database description
---

{% include "certified-nodes/template.njk" %}