---
layout: nohero
pagination:
  data: collections.database
  size: 18
  alias: certified
  reverse: true
meta:
  title: Certified database nodes
description: database description
---
{% include "certified/template.njk" %}