---
layout: nohero
pagination:
  data: collections.formatting
  size: 18
  alias: certified
  reverse: true
meta:
    title: Certified formatting nodes
description: Ensure data consistency and presentation using formatting nodes that simplify the transformation and organization of information.
---

{% include "certified/template.njk" %}