---
layout: nohero
pagination:
  data: certifiedNodes
  size: 18
  alias: certified
  reverse: true
meta:
  title: Certified formatting nodes
description: Ensure data consistency and presentation using formatting nodes that simplify the transformation and organization of information.
category: formatting
---

{% include "certified/template.njk" %}