---
layout: nohero
pagination:
  data: collections.formatting
  size: 18
  alias: certified
  reverse: true
meta:
    title: Certified formatting nodes
description: Formatting description
---

{% include "certified/template.njk" %}