---
title: Thank you! 
subtitle: "<a href='https://26586079.fs1.hubspotusercontent-eu1.net/hubfs/26586079/eBook_%20Ultimate%20Guide%20to%20Building%20Applications%20with%20FlowFuse%20Dashboard%20for%20Node-RED.pdf'>Click here</a> to access The Ultimate Guide to Building Applications with FlowFuse Dashboard for Node-RED"
description: "We've also sent a copy to your inbox" 
downloadFollowUp: true
collectionName: dashboard
hubspot:
  cta: "cta-blog-subscribe"
  reference: "thank-you-dashboard-ebook"
---
