---
layout: solution
title: Quick and Easy Data Integration with Node-RED
subtitle:
heroImg: ./images/pictograms/factory.png
description:
    <p>Companies rely upon many different data source to provide a holistic view of the company and make informed decisions. However, 
    data integration is a challenge when dealing with multiple data source, formats,protocols, and stores. Node-RED’s low code development environment 
    and extensive library of nodes makes it easy for anyone to integrate data from different sources, take action and transmit data to a new service.
    </p>
---

<div>
    <div class="-mt-28 text-center">
        <a href="/contact-us" class="inline-block ff-btn ff-btn--secondary shadow">GET IN TOUCH</a>
    </div>
</div>

<div class="w-full md:max-w-screen-lg m-auto pb-32">
    {% image "./images/solutions/markitechture-manufacturing.jpg", "High level architecture diagram showing how Node-RED can assist with data flow across a factory and manufacturing use-case", [1024] %}
</div>

<div class="container m-auto text-center">
    <div class="mt-12 content max-w-screen-lg m-auto">
           <div class="m-auto mt-12 mb-12 sm:mt-64 sm:mb-16 w-full text-center">
                <h2>Challenges of Data Integration</h2>
            </div>
            <div class="m-auto mt-12 mb-12 sm:mt-64 sm:mb-16 w-full text-left">
                <p>There are many challenges to quick and easy data integrations, including:
                <ol>
                <li>Data comes from different sources, including internal IT systems (ERP, CRM, SCM), IoT devices, external data services (weather, foreign exchange, etc.)
                <li>Data is accessible in a wide variety of formats, including CSV files, REST Api, XML, YAML, MQTT
                <li>Access to data is often gated by IT departments making it slow and timing consuming for departments to get access to new integrated data.
                <li>Data needs to be stored in different formats and databases
                <li>Data needs to be visualized 
                </ol>
                </p>
            </div>

           <div class="m-auto mt-12 mb-12 sm:mt-64 sm:mb-16 w-full text-center">
                <h2>Why Node-RED Makes Data Integration Easy?</h2>
            </div>
        <div class="grid px-6 grid-cols-1 md:grid-cols-2 gap-8 sm:gap-16 mb-16">
            <div class="text-left self-start">
                <h3><span class="text-red-600">Accessible</span> to Anyone</h3>
                <div>
                    <p>
                        Node-RED’s low code visual environment makes it easy for non-programmers to integrate data from different sources without needing to know how to code. 
                        Now, business departments can work on their own data integration projects without requiring IT support.

                    </p>
                 </div>
            </div>
            <div class="text-left self-start">
                <h3>Support for <span class="text-red-600">Different Protocols</span></h3>
                <div>
                    <p>
                      By default, Node-RED supports the most common protocols for accessing data, including http, mqtt and websockets. The Node-RED community library has hundreds of nodes 
                      for specialized protocols, like Modbus, OPC-UA, Bachnet, etc.
                    </p>
                 </div>
            </div>
            <div class="text-left self-start">
                <h3>Support for Different <span class="text-red-600">Data Formats</span></h3>
                <div>
                    <p>
                     Data is available in many different formats. By default Node-RED supports the following formats: csv, html, json, xml and yaml. 
                     Support for other data formats are available from the Node-RED library.
                    </p>
                </div>
            </div>
            <div class="text-left self-start">
                <h3><span class="text-red-600">Realtime</span> Data Visualization and Transformations</h3>
                <div>
                    <p>
                    Node-RED makes it easy to create real-time data visualizations and dashboards. Data in real-time can be filtered, transformed and analyzed through a Node-RED flow. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



{% include "components/divider-flow--top-red--dark.njk" %}

<div class="w-full ff-bg-dark px-6 pt-0 pb-32 md:pt-12 md:px-0">
    <div class="page container pt-6 pd-6 sm:pb-12 px-3 md:px-12 md:max-w-screen-lg m-auto text-center max-w-screen-lg">
        <div class="hero">
            <h1 style="color: white" class="mb-6 m-auto">FlowForge Adds DevOps<br>to Node-RED for Data Integration</h1>
            <p class="mt-0">
                FlowForge helps companies to reliably deliver Node-RED applications in a continuous,
                collaborative and secure manner. We introduce to Node-RED many of the devops concepts
                that are well understood in IT organizations.
            </p>
        </div>
    </div>
    <div class="page mt-6 content max-w-screen-lg m-auto">
        <div class="text-left self-start flex gap-8 items-center mb-12">
            <div class="flex flex-col sm:flex-row gap-8 max-w-screen-lg sm:pr-24 md:pr-48">
                <div class="w-32 sm:w-48 flex-shrink-0">
                    {% image "./images/pictograms/edge.png", "", [128] %}
                </div>
                <div>
                    <h4>Managed Node-RED Service</h4>
                    <div>
                        <p>
                        FlowForge offers a managed service for running Node-RED instances so you don’t need to worry about the production reliability of your Node-RED application. 
                        Our cloud service will keep your data integration flows working for you 24/7. We also offer FlowForge on-premise for customers who require that option.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-left sm:text-right self-start flex flex-row-reverse gap-8 items-center mb-12">
            <div class="flex flex-col sm:flex-row-reverse gap-8 max-w-screen-lg sm:pl-24 md:pl-48">
                <div class="w-32 sm:w-48 flex-shrink-0">
                    {% image "./images/pictograms/community.png", "", [128] %}
                </div>
                <div>
                    <h4>Collaboration Between Teams</h4>
                    <div>
                        <p>
                        FlowForge makes it possible for teams to collaborate on the same Node-RED flows. Team members can now share 
                        the same Node-RED instances to make for quicker and more efficient development of your Node-RED application.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-left self-start flex gap-8 items-center mb-12">
            <div class="flex flex-col sm:flex-row gap-8 max-w-screen-lg sm:pr-24 md:pr-48">
                <div class="w-32 sm:w-48 flex-shrink-0">
                    {% image "./images/pictograms/bias_for_action.png", "", [128] %}
                </div>
                <div>
                    <h4>Software Delivery Pipelines</h4>
                    <div>
                        <p>
                        FlowForge allows you to create snapshots of Node-RED instances so you can create software delivery pipelines for 
                        development -> test -> production. The ability to create versions of flows allows for version history and rollbacks.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-left sm:text-right self-start flex flex-row-reverse gap-8 items-center mb-12">
            <div class="flex flex-col sm:flex-row-reverse gap-8 max-w-screen-lg sm:pl-24 md:pl-48">
                <div class="w-32 sm:w-48 flex-shrink-0">
                    {% image "./images/pictograms/ticket.png", "", [128] %}
                </div>
                <div>
                    <h4>Professional Support for Node-RED</h4>
                    <div>
                        <p>
                            FlowForge offers professional support for Node-RED deployments. Our experts are
                            available to support your Node-RED and FlowForge deployments.
                        </p>
                        <p>
                            The FlowForge platform keeps your systems up-to-date with the latest versions of
                            Node-RED and security updates, ensuring the continuity of your operations.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-20 content max-w-screen-lg m-auto text-center border-2 rounded-lg py-6 px-20 bg-gray-600 bg-opacity-50 border-gray-500">
        <p class="text-2xl leading-10 mt-0 mb-9">
            Contact us to discover how FlowForge can help<br><span class="text-teal-200">Connect, Integrate, Visualize & Automate</span> your industrial data
        </p>
        <div>
            <a href="/contact-us" class="inline-block ff-btn ff-btn--secondary m-auto">GET IN TOUCH</a>
        </div>
    </div>
</div>