---
layout: solution
title: FlowFuse for Data Integration
image: /images/solutions/og-solutions-data-integration.jpg
subtitle:
heroImg: ./images/pictograms/data_integration.png
description:
    <p class="mt-0">Data integration can be a challenging task, especially when dealing with multiple data formats, protocols, and sources. Our low code development environment, powered by Node-RED, allows anyone to collect data from multiple sources, apply the data, and update, store, and transmit data to a new service.</p>
---

<div>
    <div class="-mt-28 text-center">
        <a href="/contact-us/" class="inline-block ff-btn ff-btn--secondary shadow">GET IN TOUCH</a>
    </div>
</div>

<div class="container m-auto text-center mb-32">
    <div class="mt-32 content max-w-screen-lg m-auto">
        <h2 class="mb-4 m-auto">Challenges of Data Integration</h2>
        <div class="hidden sm:block w-full md:max-w-screen-lg m-auto">
            {% image "./images/solutions/data-integration.png", ".", [1024] %}
        </div>
        <div class="grid mt-12 px-6 grid-cols-1 md:grid-cols-3 gap-8 sm:mt-0 sm:gap-16 sm:gap-y-4 mb-20 text-left">
            <div>
                {% ffIconLg "data", true %}
                <p class="mt-2">
                    Data comes from different sources, including internal IT systems (ERP, CRM, SCM), IoT devices, external data services (weather, foreign exchange, etc.)
                </p>
            </div>
            <div>
                {% ffIconLg "codeblock" %}
                <p class="mt-2">
                    Data is accessible in a wide variety of formats, including CSV files, REST Api, XML, YAML, MQTT.
                </p>
            </div>
            <div>
                {% ffIconLg "lock" %}
                <p class="mt-2">
                    Access to data is often gated by IT departments making it slow and timing consuming for departments to get access to new integrated data.
                </p>
            </div>
            <div>
                {% ffIconLg "database" %}
                <p class="mt-2">
                    Data needs to be stored in different formats and databases.
                </p>
            </div>
            <div>
                {% ffIconLg "chart" %}
                <p class="mt-2">
                    Data needs to be visualized and communicated back to a user.
                </p>
            </div>
        </div>
        <h2 class="mb-20 m-auto">Why Node-RED is the<br>Data Integration Solution</h2>
        <div class="grid px-6 grid-cols-1 gap-8 mb-16">
            <div class="text-left self-start">
                <h3><span class="text-red-600">Accessible</span> for Anyone</h3>
                <div>
                    <p>
                        Node-RED’s low code visual environment makes it easy for non-programmers to integrate data from different sources without needing to know how to code. This enables all kinds of departments to work on their own data integration projects without requiring support from IT.
                    </p>
                </div>
            </div>
            <div class="text-left self-start">
                <h3>Real-Time <span class="text-red-600">Data Visualisation</span></h3>
                <p>
                    Node-RED makes it easy to create real-time data visualizations and dashboards. This data can be filtered, transformed and analyzed through a Node-RED flow to get real-time insights into your business.
                </p>
            </div>
            <div class="text-left self-start">
                <h3>Support for <span class="text-red-600">Different Data Formats</span></h3>
                <p>
                    Node-RED supports parsing a wide range of formats including: <strong>csv</strong>, <strong>html</strong>, <strong>json</strong>, <strong>xml</strong> and <strong>yaml</strong>. Additional data formats are available through the Node-RED library.
                </p>
            </div>
        </div>
    </div>
</div>

{% include "components/divider-flow--top-red--dark.njk" %}

<div class="w-full ff-bg-dark pt-0 pb-32 md:pt-12 md:px-0">
    <div class="page container pt-6 px-6 md:max-w-screen-lg m-auto sm:gap-y-4 text-center max-w-screen-lg">
        <div class="hero">
            <h2 style="color: white" class="mb-6 m-auto">FlowFuse Improves Data Integration</h2>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 sm:gap-8 mt-20 mb-12 text-left">
            <div>
                <div class="w-24 sm:w-24 mb-6 flex-shrink-0">
                    {% image "./images/pictograms/community.png", "", [128] %}
                </div>
                <h4 class="block sm:hidden">Collaborative Development</h4>
                <h4 class="hidden sm:block">Collaborative<br>Development</h4>
                <div>
                    <p>
                        FlowFuse makes it possible for teams to collaborate on the same Node-RED flows.
                    </p> 
                    <p>
                        Team members can now share the same Node-RED instances to make for quicker and more efficient development of your Node-RED application.
                    </p>
                </div>
            </div>
            <div>
                <div class="w-24 sm:w-24 mb-6 flex-shrink-0">
                    {% image "./images/pictograms/node_catalog.png", "", [128] %}
                </div>
                <h4>Managed Node-RED Service</h4>
                <div>
                    <p>
                        We run your Node-RED instances so you don’t have to worry about the production reliability of your Node-RED application.
                    </p>
                </div>
            </div>
            <div>
                <div class="w-24 sm:w-24 mb-6 flex-shrink-0">
                    {% image "./images/pictograms/bias_for_action.png", "", [128] %}
                </div>
                <h4 class="block sm:hidden">Software Delivery Pipelines</h4>
                <h4 class="hidden sm:block">Software Delivery<br>Pipelines</h4>
                <div>
                    <p>
                        FlowFuse allows you to create snapshots of Node-RED instances so you can create software delivery pipelines for development, test, and production. We enable you to revert to a previous version of a snapshot to rollback any changes.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-20 mx-4 px-4 sm:mx-auto content max-w-screen-lg m-auto text-center border-2 rounded-lg py-6 sm:px-20 bg-gray-600 bg-opacity-50 border-gray-500">
        <p class="text-2xl leading-10 mt-0 mb-9">
            Discover how FlowFuse can power your Data Integration.
        </p>
        <div>
            <a href="/contact-us" class="inline-block ff-btn ff-btn--secondary m-auto">GET IN TOUCH</a>
        </div>
    </div>
</div>