---
layout: solution
title: Device Management for Node-RED Deployments
image: /images/solutions/og-solutions-device-management.jpg
subtitle:
heroImg: ./images/pictograms/edge.png
description:
    <p>Companies often deploy Node-RED to edge devices (equipment, gateways, PLCs, etc.) to monitor and collect data from these devices. How to manage deployments 
    to a large number of devices can be a challenge. Luckily, FlowForge makes it possible to manage Node-RED deployments out to fleets of devices
    in a secure and reliable manner.</p>
---

<div>
    <div class="-mt-28 text-center">
        <a href="/contact-us" class="inline-block ff-btn ff-btn--secondary shadow">GET IN TOUCH</a>
    </div>
</div>

<div class="container m-auto text-center">
    <div class="mt-32 content max-w-screen-lg m-auto">
        <div class="grid px-6 grid-cols-1 md:grid-cols-2 gap-8 sm:gap-16 mb-16">
            <div class="text-left self-start">
                <h3><span class="text-red-600">Manage</span> Hundreds of Devices</h3>
                <div>
                    <p>
                    FlowForge allows you to manage hundreds of devices that all run the same Node-RED instance. The FlowForge device agent is deployed 
                    to each device to handle the synchronization of the future updates to the Node-RED instances. From a central console, you can now see 
                    the status of your devices and manage Node-RED deployments in a reliable and repeatable process.</p>
                </div>
            </div>
            <div class="text-left self-start">
                <h3><span class="text-red-600">Effortless</span> Data Streaming</h3>
                <div>
                    <p>
                    Streaming device data to the cloud can be a complicated due to network configuration setup. FlowForge Project Nodes hide this complexity within custom nodes that transparently
                    establish an MQTT connection between the device and the FlowForge platform. Data streaming from a device can now be setup with a simple Node-RED flow. No configuration of 
                    IP address, domain name, certificates or firewalls is required for the device.
                    </p>
                 </div>
            </div>
            <div class="text-left self-start">
                <h3><span class="text-red-600">Consistent Deployment</span> of Instances</h3>
                <div>
                    <p>
                    FlowForge allows you to create Snapshots of your Node-RED flows that can then be deployed out to all your registered devices. From a central console, a single snapshot
                    can be deployed out to a group of devices. This gives you the peace of mind that all your devices are running the same version of your 
                    Node-RED flows.
                    </p>
                </div>
            </div>
            <div class="text-left self-start">
                <h3>Quick to Deploy <span class="text-red-600">Security Updates</span></h3>
                <div>
                    <p>
                        The quick deployment of security updates and new versions for Node-RED is important for the overall security of your system. FlowForge's
                        device management capability makes it easy to re-host your Node-RED flows on a new version of Node-RED and then deploy it out to your devices.
                    </p>
                </div>
            </div>
            <div class="text-left self-start">
                <h3 class="flex align-center">Remote <span class="text-red-600">Troubleshooting</span></h3>
                <div>
                    <p>
                        If a production error occurs on a device, FlowForge allows you to remotely debug the running Node-RED instance on the devices. This makes 
                        it much easier to identify and resolve production issues that might occur.  
                    </p>
                </div>
            </div>
            <div class="text-left self-start">
                <h3><span class="text-red-600">Easy</span> Onboarding</h3>
                <div>
                    <p>
                    New devices can be onboarded to FlowForge through a adminstrative interface or an automated process. The automated process allows for groups of 
                    devices to connect with FlowForge without operator involvement.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w-full md:max-w-screen-lg m-auto pb-32 px-20">
    {% image "./images/solutions/device-management-reflection.png", "Screen shot of FlowForge device management capabilities.", [1024] %}
</div>

{% include "components/divider-flow--top-red--dark.njk" %}

<div class="w-full ff-bg-dark px-6 pt-0 pb-32 md:pt-12 md:px-0">
       <div class="mt-20 content max-w-screen-lg m-auto text-center border-2 rounded-lg py-6 px-20 bg-gray-600 bg-opacity-50 border-gray-500">
        <p class="text-2xl leading-10 mt-0 mb-9">
            Contact us to discover how FlowForge can help manage your Node-RED device deployments.</p>
        <div>
            <a href="/contact-us" class="inline-block ff-btn ff-btn--secondary m-auto">GET IN TOUCH</a>
        </div>
    </div>
</div>
