---
layout: solution
title: FlowFuse for Edge Connectivity
image: /images/solutions/og-solutions-edge-connectivity.jpg
subtitle:
heroImg: ./images/pictograms/edge_blue.png
description:
    <p>FlowFuse simplifies the management of deployments to edge devices in manufacturing, from equipment to PLCs. Our platform ensures secure and reliable handling of large-scale deployments, providing seamless edge connectivity solutions.</p>
---

<div>
    <div class="mt-6 text-center">
        <a href="/contact-us/" class="inline-block ff-btn ff-btn--highlight shadow uppercase">Speak to our team</a>
    </div>
</div>

<div class="container m-auto text-center">
    <div class="mt-20 content max-w-screen-lg m-auto">
        <div class="grid px-6 grid-cols-1 md:grid-cols-2 gap-8 sm:gap-16 mb-16">
            <div class="text-left self-start">
                <h3><span class="text-indigo-600">Scaleable</span> Edge Connectivity</h3>
                <div>
                    <p>
                        Efficiently connect and manage vast fleets of edge devices with FlowFuse. Our device agent ensures synchronized updates across all devices, while our central console provides seamless status monitoring and reliable connectivity management.
                    </p>
                </div>
            </div>
            <div class="text-left self-start">
                <h3><span class="text-indigo-600">Effortless</span> Data Streaming</h3>
                <div>
                    <p>
                        FlowFuse makes data streaming to the cloud painless, removing the hassle of network configurations. Our custom nodes facilitate effortless MQTT connection between the device and the FlowFuse platform, removing the need for complex setup. No configuration of IP address, domain name, certificates or firewalls required.
                    </p>
                 </div>
            </div>
            <div class="text-left self-start">
                <h3><span class="text-indigo-600">Consistent Deployment</span> Assurance</h3>
                <div>
                    <p>
                        Create and distribute consistent Node-RED snapshots across your devices with FlowFuse. Our central console ensures uniform deployment, maintaining version consistency across your network.
                    </p>
                </div>
            </div>
            <div class="text-left self-start">
                <h3>Rapid <span class="text-indigo-600">Security Deployment</span></h3>
                <div>
                    <p>
                        FlowFuse provides expert support for your deployments, ensuring systems are consistently up-to-date and operationally continuous, backed by our professional guidance.
                    </p>
                </div>
            </div>
            <div class="text-left self-start">
                <h3 class="flex align-center">Remote <span class="text-indigo-600">Troubleshooting</span></h3>
                <div>
                    <p>
                        Identify and resolve production issues remotely with FlowFuse's debugging capabilities. This feature significantly eases troubleshooting of Node-RED instances on devices.
                    </p>
                </div>
            </div>
            <div class="text-left self-start">
                <h3><span class="text-indigo-600">Easy</span> Onboarding</h3>
                <div>
                    <p>
                        Easily integrate new devices into FlowFuse through our administrative interface or automated processes. This allows for hassle-free connection of multiple devices without manual intervention.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full max-w-screen-lg m-auto pb-16 px-6">
        <div class="flex justify-center items-center md:w-full">
            <lite-youtube videoid="dvTgCBXCa5A" class="aspect-video bg-cover bg-top bg-no-repeat border-2 border-black rounded-md drop-shadow-xl" style="background-image: url('../../images/solutions/webinar-july-2023_video_tile.jpg'); width: 1080px; background-repeat: no-repeat;"></lite-youtube>
        </div>
    </div>
</div>

<div class="w-full px-6 pb-28 pt-12 md:px-0">
       <div class="content max-w-screen-lg m-auto text-center border-2 rounded-lg py-6 px-20 bg-indigo-50 border-indigo-100">
        <p class="text-2xl leading-10 mt-0 mb-9">
            Ready to learn more?
        </p>
        <div>
            <a href="/contact-us/" class="inline-block ff-btn ff-btn--primary m-auto">Get in touch</a>
        </div>
    </div>
</div>
