---
layout: solution
title: FlowFuse for Manufacturing
image: /images/solutions/og-solutions-manufacturing.jpg
subtitle: FlowFuse allows teams to automate their manufacturing process through customized, reliable applications.
heroImg: ./images/pictograms/factory.png
description:
    <p>FlowFuse streamlines manufacturing automation, from production monitoring to supply chain management. Our intuitive, customizable platform enables simple creation of custom solutions for unique manufacturing needs.</p>
---

<div>
    <div class="-mt-28 text-center">
        <a href="/contact-us/" class="inline-block ff-btn ff-btn--secondary shadow">Speak to our team</a>
    </div>
</div>

<div class="container m-auto text-center">
    <div class="mt-32 content max-w-screen-lg m-auto">
        <div class="grid px-6 grid-cols-1 md:grid-cols-2 gap-8 sm:gap-16 mb-16">
            <div class="text-left self-start">
                <h3><span class="text-red-600">Connect</span>Hardware & Sensors</h3>
                <div>
                    <p>
                        FlowFuse simplifies connecting diverse hardware and sensors in manufacturing, enhancing data collection and analytics for informed decision-making and efficiency improvements.
                    </p>
                </div>
            </div>
            <div class="text-left self-start">
                <h3><span class="text-red-600">Integrate</span> OT and IT Data</h3>
                <div>
                    <p>
                        Our platform unifies operational and information technology data, offering manufacturers a comprehensive view of production processes for improved efficiency.
                    </p>
                </div>
            </div>
            <div class="text-left self-start">
                <h3><span class="text-red-600">Intuitive</span> OT Data visualization</h3>
                <div>
                    <p>
                        FlowFuse offers a visual interface for real-time monitoring and analysis of operational data, aiding in quick, data-driven decisions to optimize manufacturing operations.
                    </p>
                </div>
            </div>
            <div class="text-left self-start">
                <h3><span class="text-red-600">Automate</span> Event Triggers</h3>
                <div>
                    <p>
                        With FlowFuse, automate event triggers to respond instantly to production line changes, reducing downtime and boosting efficiency.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w-full md:max-w-screen-lg m-auto pb-32">
    {% image "./images/solutions/markitechture-manufacturing.jpg", "High level architecture diagram showing how Node-RED can assist with data flow across a factory and manufacturing use-case", [1024] %}
</div>

{% include "components/divider-flow--top-red--dark.njk" %}

<div class="w-full ff-bg-dark px-6 pt-0 pb-32 md:pt-12 md:px-0">
    <div class="page container pt-6 pd-6 sm:pb-12 px-3 md:px-12 md:max-w-screen-lg m-auto text-center max-w-screen-lg">
        <div class="hero">
            <h2 style="color: white" class="mb-6 m-auto">Enhancing Manufacturing with FlowFuse's DevOps Integration</h2>
            <p class="mt-0">
                FlowFuse elevates manufacturing by ensuring reliable and continuous delivery of applications. Our platform incorporates widely recognized DevOps concepts, fostering a collaborative and secure development environment.
            </p>
        </div>
    </div>
    <div class="page mt-6 content max-w-screen-lg m-auto">
        <div class="text-left self-start flex gap-8 items-center mb-12">
            <div class="flex flex-col sm:flex-row gap-8 max-w-screen-lg sm:pr-24 md:pr-48">
                <div class="w-32 sm:w-48 flex-shrink-0">
                    {% image "./images/pictograms/edge.png", "", [128] %}
                </div>
                <div>
                    <h4>Optimized Fleet Management & Monitoring</h4>
                    <div>
                        <p>
                            FlowFuse revolutionizes equipment and device monitoring in manufacturing. Our platform automates remote deployment and management, ensuring efficiency and flexibility in operations.
                        </p>
                        <p>
                            FlowFuse automates the process
                            of remote deployment of a Node-RED instance. It can automatically deploy a new
                            version of a Node-RED flow or even roll-back to a previous snapshot.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-left sm:text-right self-start flex flex-row-reverse gap-8 items-center mb-12">
            <div class="flex flex-col sm:flex-row-reverse gap-8 max-w-screen-lg sm:pl-24 md:pl-48">
                <div class="w-32 sm:w-48 flex-shrink-0">
                    {% image "./images/pictograms/community.png", "", [128] %}
                </div>
                <div>
                    <h4>Collaborative Development Environment</h4>
                    <div>
                        <p>
                            Enhancing teamwork in development, FlowFuse allows multiple team members to co-create and streamline application development, increasing efficiency and cohesion.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-left self-start flex gap-8 items-center mb-12">
            <div class="flex flex-col sm:flex-row gap-8 max-w-screen-lg sm:pr-24 md:pr-48">
                <div class="w-32 sm:w-48 flex-shrink-0">
                    {% image "./images/pictograms/bias_for_action.png", "", [128] %}
                </div>
                <div>
                    <h4>Efficient Application Deployment</h4>
                    <div>
                        <p>
                            FlowFuse introduces structured DevOps pipelines, supporting various stages from development to production, to guarantee reliable, secure, and high-quality application delivery.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-left sm:text-right self-start flex flex-row-reverse gap-8 items-center mb-12">
            <div class="flex flex-col sm:flex-row-reverse gap-8 max-w-screen-lg sm:pl-24 md:pl-48">
                <div class="w-32 sm:w-48 flex-shrink-0">
                    {% image "./images/pictograms/ticket.png", "", [128] %}
                </div>
                <div>
                    <h4>Dedicated Professional Support</h4>
                    <div>
                        <p>
                            FlowFuse provides expert support for your deployments, ensuring systems are consistently up-to-date and operationally continuous, backed by our professional guidance.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-20 content max-w-screen-lg m-auto text-center border-2 rounded-lg py-6 px-20 bg-gray-600 bg-opacity-50 border-gray-500">
        <p class="text-2xl leading-10 mt-0 mb-9">
            Ready to learn more?
        </p>
        <div>
            <a href="/contact-us/" class="inline-block ff-btn ff-btn--secondary m-auto">Get in touch</a>
        </div>
    </div>
</div>
