---
layout: solution
title: Node-RED for Manufacturing
image: /images/solutions/og-solutions-manufacturing.jpg
subtitle: Connect, Integrate, Visualize, Automate
heroImg: ./images/pictograms/factory.png
description:
    <p>Node-RED makes it easy to automate many different aspects of the manufacturing process, including production line monitoring, quality control, and supply chain management.</p>
    <p>With its visual interface and extensive library of nodes, Node-RED makes it easy for manufacturers to create custom applications to meet their specific needs.</p>
---

<div>
    <div class="-mt-28 text-center">
        <a href="/contact-us" class="inline-block ff-btn ff-btn--secondary shadow">GET IN TOUCH</a>
    </div>
</div>

<div class="container m-auto text-center">
    <div class="mt-32 content max-w-screen-lg m-auto">
        <div class="grid px-6 grid-cols-1 md:grid-cols-2 gap-8 sm:gap-16 mb-16">
            <div class="text-left self-start">
                <h3><span class="text-red-600">Connect</span> Hardware & Sensors</h3>
                <div>
                    <p>
                        Node-RED can be used to connect data from different types of hardware
                        and sensors used in manufacturing processes. This allows manufacturers
                        to gather and analyze data from different parts of the production line,
                        enabling them to make informed decisions and improve efficiency.
                    </p>
                    <p>
                        Node-RED runs on a wide variety of PLC and IoT Edge Gateways. There
                        are also Node-RED nodes to collect data from different OT protocols,
                        including OPC-UA, Modbus, MQTT, S7, and more.
                    </p>
                </div>
            </div>
            <div class="text-left self-start">
                <h3><span class="text-red-600">Integrate</span> OT and IT Data</h3>
                <div>
                    <p>
                        Node-RED allows manufacturers to integrate operational technology (OT)
                        and information technology (IT) data, creating a unified view of the
                        production process. Node-RED is ideal for integrating OT and IT data.
                    </p>
                    <p>
                        On the edge, Node-RED can pull down relevant data from different services,
                        ex. Weather information, for processing with OT data. Node-RED can also
                        send data to a database or the cloud for processing by IT services. This
                        integration helps manufacturers to make better use of the data they collect
                        and improve the overall efficiency of their operations.
                    </p>
                </div>
            </div>
            <div class="text-left self-start">
                <h3><span class="text-red-600">Visualise</span> OT Data</h3>
                <div>
                    <p>
                        Node-RED provides a visual interface for monitoring and analyzing
                        operational technology (OT) data in real-time.
                    </p>
                    <p>
                        It is simple to visualize manufacturing data in dashboards or simple
                        HMI making it easy for manufacturers to spot trends and anomalies,
                        and make data-driven decisions to improve their operations.
                    </p>
                </div>
            </div>
            <div class="text-left self-start">
                <h3><span class="text-red-600">Automate</span> Event Triggers</h3>
                <div>
                    <p>
                        Node-RED can be used to automate event triggers based on certain
                        conditions or criteria. This enables manufacturers to respond to changes
                        in the production line in real-time, reducing downtime and improving efficiency.
                    </p>
                    <p>
                        With Node-RED, manufacturers can create custom event trigger workflows
                        that can be easily modified and managed.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w-full md:max-w-screen-lg m-auto pb-32">
    {% image "./images/solutions/markitechture-manufacturing.jpg", "High level architecture diagram showing how Node-RED can assist with data flow across a factory and manufacturing use-case", [1024] %}
</div>

{% include "components/divider-flow--top-red--dark.njk" %}

<div class="w-full ff-bg-dark px-6 pt-0 pb-32 md:pt-12 md:px-0">
    <div class="page container pt-6 pd-6 sm:pb-12 px-3 md:px-12 md:max-w-screen-lg m-auto text-center max-w-screen-lg">
        <div class="hero">
            <h1 style="color: white" class="mb-6 m-auto">FlowForge Adds DevOps<br>to Node-RED for Manufacturing</h1>
            <p class="mt-0">
                FlowForge helps companies to reliably deliver Node-RED applications in a continuous,
                collaborative and secure manner. We integrate Node-RED with numerous devops concepts that are widely recognized and comprehended within IT organizations.
            </p>
        </div>
    </div>
    <div class="page mt-6 content max-w-screen-lg m-auto">
        <div class="text-left self-start flex gap-8 items-center mb-12">
            <div class="flex flex-col sm:flex-row gap-8 max-w-screen-lg sm:pr-24 md:pr-48">
                <div class="w-32 sm:w-48 flex-shrink-0">
                    {% image "./images/pictograms/edge.png", "", [128] %}
                </div>
                <div>
                    <h4>Efficient Fleet Management & Monitoring</h4>
                    <div>
                        <p>
                            Many manufacturing companies will use Node-RED to monitor equipment in their
                            factory or fleets of devices in remote locations.
                        </p>
                        <p>
                            FlowForge automates the process
                            of remote deployment of a Node-RED instance. It can automatically deploy a new
                            version of a Node-RED flow or even roll-back to a previous snapshot.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-left sm:text-right self-start flex flex-row-reverse gap-8 items-center mb-12">
            <div class="flex flex-col sm:flex-row-reverse gap-8 max-w-screen-lg sm:pl-24 md:pl-48">
                <div class="w-32 sm:w-48 flex-shrink-0">
                    {% image "./images/pictograms/community.png", "", [128] %}
                </div>
                <div>
                    <h4>Collaborative Node-RED Development</h4>
                    <div>
                        <p>
                            FlowForge makes it possible for teams to collaborate on the same Node-RED flows.
                            Team members can now share the same Node-RED instances to make for quicker and
                            more efficient development of your Node-RED application.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-left self-start flex gap-8 items-center mb-12">
            <div class="flex flex-col sm:flex-row gap-8 max-w-screen-lg sm:pr-24 md:pr-48">
                <div class="w-32 sm:w-48 flex-shrink-0">
                    {% image "./images/pictograms/bias_for_action.png", "", [128] %}
                </div>
                <div>
                    <h4>Streamlined Application Delivery</h4>
                    <div>
                        <p>
                            With FlowForge, you can not set up devops delivery pipelines to support
                            development, test and production environments. A key to ensuring your Node-RED
                            application delivery is reliable, secure and high quality.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-left sm:text-right self-start flex flex-row-reverse gap-8 items-center mb-12">
            <div class="flex flex-col sm:flex-row-reverse gap-8 max-w-screen-lg sm:pl-24 md:pl-48">
                <div class="w-32 sm:w-48 flex-shrink-0">
                    {% image "./images/pictograms/ticket.png", "", [128] %}
                </div>
                <div>
                    <h4>Professional Support for Node-RED</h4>
                    <div>
                        <p>
                            FlowForge offers professional support for Node-RED deployments. Our experts are
                            available to support your Node-RED and FlowForge deployments.
                        </p>
                        <p>
                            The FlowForge platform keeps your systems up-to-date with the latest versions of
                            Node-RED and security updates, ensuring the continuity of your operations.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-20 content max-w-screen-lg m-auto text-center border-2 rounded-lg py-6 px-20 bg-gray-600 bg-opacity-50 border-gray-500">
        <p class="text-2xl leading-10 mt-0 mb-9">
            Contact us to discover how FlowForge can help<br><span class="text-teal-200">Connect, Integrate, Visualize & Automate</span> your industrial data
        </p>
        <div>
            <a href="/contact-us" class="inline-block ff-btn ff-btn--secondary m-auto">GET IN TOUCH</a>
        </div>
    </div>
</div>
