---
layout: solution
title: Node-RED for Manufacturing
subtitle: Connect, Integrate, Visualize, Automate
description:
    <p>Node-RED makes it easy to automate many different aspects of the manufacturing process, including production line monitoring, quality control, and supply chain management.</p>
    <p>With its visual interface and extensive library of nodes, Node-RED makes it easy for manufacturers to create custom applications to meet their specific needs.</p>
---
Content goes here