name: Tests

on: push

jobs:
  test_website:
    runs-on: ubuntu-latest
    steps:
      - name: Check out website repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          path: 'website'
      - name: Check out FlowFuse/flowfuse repository (to access the docs)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: 'FlowFuse/flowfuse'
          ref: main
          path: 'flowfuse'
      - name: Generate a token
        id: generate_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{ secrets.GH_BOT_APP_ID }}
          private_key: ${{ secrets.GH_BOT_APP_KEY }}
      - name: Check out FlowFuse/blueprint-library repository (to access the blueprints)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: 'FlowFuse/blueprint-library'
          ref: main
          path: 'blueprint-library'
          token: ${{ steps.generate_token.outputs.token }}
      - name: Cache image pipeline output
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          key: img-pipeline-cache
          path: website/_site/img         
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: 'npm'
          cache-dependency-path: './website/package-lock.json'
      - run: npm run docs
        working-directory: 'website'
      - run: npm run blueprints
        working-directory: 'website'
      - name: Install Dependencies
        run: npm install
        working-directory: 'website'
      - name: Build the forge
        run: npm run build:skip-images
        working-directory: 'website'
      - uses: untitaker/hyperlink@fb5bb9c5011a3d143a54b4b30aedc30ec5bc0f89 # 0.2.0
        with:
          args: website/_site/ --check-anchors --sources website/src
      - name: Test the website
        run: npm run test
        working-directory: 'website'

