name: Tests

on: push

jobs:
  test_website:
    runs-on: ubuntu-latest
    steps:
      - name: Check out website repository
        uses: actions/checkout@v3
        with:
          path: 'website'
      - name: Check out FlowFuse/flowfuse repository (to access the docs)
        uses: actions/checkout@v3
        with:
          repository: 'FlowFuse/flowfuse'
          ref: maintenance
          path: 'flowfuse'
      - name: Check out FlowFuse/blueprint-library repository (to access the blueprints)
        uses: actions/checkout@v3
        with:
          repository: 'FlowFuse/blueprint-library'
          ref: main
          path: 'blueprints'
      - name: Cache image pipeline output
        uses: actions/cache@v3
        with:
          key: img-pipeline-cache
          path: website/_site/img         
      - uses: actions/setup-node@v3
        with:
          cache: 'npm'
          cache-dependency-path: './website/package-lock.json'
      - run: npm run docs
        working-directory: 'website'
      - run: npm run blueprints
        working-directory: 'website'
      - name: Install Dependencies
        run: npm install
        working-directory: 'website'
      - name: Build the forge
        run: npm run build
        working-directory: 'website'
      - uses: untitaker/hyperlink@0.1.31
        with:
          args: website/_site/ --check-anchors --sources website/src
