---
layout: page
nohero: true
meta:
    title: "FlowFuse Device Agent"
    description: "Fully hosted service to build, manage, and deploy Node-RED applications without the hassle of setting up your own cloud infrastructure"
    keywords: FlowFuse, Device Agent, Node-RED, IoT, Industrial IoT, Remote Management
    faq:
        - question: "How much does the Device Agent cost?"
          answer: >
            The Device Agent is free, and <a href='https://github.com/FlowFuse/device-agent'>open-source</a>. Depending on which offering/hosting of FlowFuse you choose there may be charges for the FlowFuse service itself, you can find out more on our <a href='/pricing'>pricing page</a>.
        - question: "Can I run the Device Agent in a closed network?"
          answer: >
            Yes, you can, although it does need to be able to connect to your FlowFuse (Cloud or your self-hosted instance) in order to receive updates and deploy new flows. Once they're deployed though, the device agent will keep your flows running even if it loses connection to the internet.
        - question: "How do I deploy to thousands of devices at once?"    
          answer: >
            With FlowFuse, you can use <a href='https://flowfuse.com/docs/device-agent/register/#bulk-registration' target='_blank'>Provisioning Tokens</a> to register large numbers of devices. This will automatically register each device in the FlowFuse Editor and save you <i>a lot</i> of clicking.
        - question: "I've installed the Device Agent on my device, how do I access the Node-RED Editor?"
          answer: >
            The key advantage of the device agent is that it allows you to access the Node-RED editor from FlowFuse directly. Simply navigate to the device in the FlowFuse UI, and click on the "Open Editor" button. Once you've made your changes, within FlowFuse you can then rollout those flows to hundreds of other devices in just a few clicks.
        - question: What's the difference between "Fleet Mode" and "Developer Mode"
          answer: >
            <p>"Fleet Mode" allows you to deploy a single Snapshot to multiple devices at once. The Device will have a "Target Snapshot", and whenever that is set, your device will automatically update.</p>
            <p>"Developer Mode" on the other hand  opens a tunnel to your device, allowing you to edit the flows on that device directly. This is useful for debugging flows, or testing new flows on live hardware, before distributing them out to the rest of our</p>
        - question: What are the system requirements for the Device Agent? Will it run on my hardware?
          answer: >
            Device Agent supports NodeJS 14 and above, and is designed to work with a wide range of devices. If you're unsure if your device is supported, please do get in touch.
        - question: Can I run the Device Agent as a service?
          answer: >
            Yes, the Device Agent is designed to run as a service on your device, we have an example written up for a Raspberry Pi <a href='https://flowfuse.com/blog/2023/05/device-agent-as-a-service/'' target='_blank'>here</a>.
---
<!--First two sections-->
<div class="nohero w-full">
    <!--Hero Content-->
    <div class="w-full pt-12 pb-20 md:pt-6 md:pb-12">
        <div class="md:flex px-6 md:my-16 items-center md:flex-row md:justify-between container mx-auto text-center md:text-left md:max-w-screen-lg gap-8">
            <div class="m-auto md:w-1/2 lg:w-5/12 max-w-md">
                <h1 class="px-12 md:px-0 m-auto mb-6 max-md:flex max-md:flex-row max-md:justify-center md:ml-0 md:max-w-[250px]">
                    {% image "./images/ff-logo-device-agent-light.svg", "FlowFuse Device Agent", [225] %}
                </h1>
                <p class="mb-10">
                    Unlock the power of your Industrial IoT devices and bring them into your Node-RED automation workflows with the FlowFuse Device Agent. Our lightweight, secure agent allows you to effortlessly manage and deploy Node-RED to your hardware remotely from anywhere. 
                </p>
                <a class="ff-btn ff-btn--primary hidden min-h-[40px] md:inline" href="/docs/device-agent/quickstart/">GET STARTED</a>
            </div>
            <div class="flex justify-center m-auto">
                <lite-youtube videoid="-07lngewgfE" params="rel=0" style="width: 500px; overflow: hidden;" class="border-4 border-indigo-200 rounded-xl sm:max-w-md sm:max-h-full md:max-w-screen-md lg:max-w-lg lg:max-h-72"></lite-youtube>
            </div>
            <a class="ff-btn ff-btn--primary flex flex-col w-full md:hidden max-w-md m-auto mt-12" href="/docs/device-agent/quickstart/">GET STARTED</a>
        </div>   
    </div>

    <!-- Seamlessly manage your devices all in one place -->  
    <div class="w-full">
        <div class="max-w-screen-lg mx-auto px-6">
            <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-14">                

                {% set sections = [
                    {
                        "svgPath": "components/icons/wifi.svg",
                        "title": "Remote Management",
                        "description": "Monitor and control your devices remotely, giving you flexibility and control over your IoT ecosystem."
                    },
                    {
                        "svgPath": "components/icons/puzzle-piece.svg",
                        "title": "Effortless Integration",
                        "description": "Easily connect a wide range of devices, sensors, and industrial equipment with Node-RED."
                    },
                    {
                        "svgPath": "components/icons/rectangle-stack.svg",
                        "title": "Streamlined Data Collection",
                        "description": "Utilise Node-RED’s vast collection of nodes to gather real-time data from your devices. Modernize your hardware using Node-RED for analysis, automation, and decision-making."
                    },
                    {
                        "svgPath": "components/icons/lock-closed.svg",
                        "title": "Secure Communication",
                        "description": "Protect your data and devices with robust security protocols, ensuring safe and reliable communication between your devices and Node-RED."
                    },
                    {
                        "svgPath": "components/icons/arrows-pointing-out.svg",
                        "title": "Scalable Solution",
                        "description": "Designed to scale with your needs, whether you have a few devices or a large-scale industrial deployment. FlowFuse provides centralized management for all of your Node-RED deployments."
                    }
                ] %}

                <div class="flex flex-col justify-center w-full max-md:max-w-md mx-auto md:bg-indigo-50 rounded-lg md:p-10">
                        <h2 class="text-center w-full md:text-left col-span-full">Seamlessly manage your devices all in one place</h2>
                </div>
                {% for section in sections %}
                    <div class="relative w-full max-md:max-w-md mx-auto">
                        <div class="flex flex-col items-center md:items-start">
                            <div class="flex flex-col justify-center md:justify-start gap-3 w-full mb-4">
                                <div class="w-8 h-8 m-auto md:m-0 text-indigo-600">
                                    {% include section.svgPath %}
                                </div>
                                <div class="w-full flex flex-row gap-3 mx-auto md:m-0">
                                    <h5 class="w-full md:m-0">
                                        <div class="text-xl text-gray-600 text-center md:text-left">{{ section.title }}</div>
                                    </h5>
                                </div>
                            </div>
                            <div>
                                <p class="text-center md:text-left font-light">{{ section.description | safe }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>    

<div class="max-w-screen-lg mx-auto text-center pt-10 pb-6 px-6 text-lg flex-col flex-row items-center justify-center gap-1 hover:no-underline flex-wrap">
    <!--Why FlowFuse-->
    <div class="ff-blue-card max-md:max-w-md">
        <h2 class="font-bold m-auto w-full text-center md:text-left mb-6">Why Choose <span class="text-red-600">FlowFuse</span></h2>
        <div class="w-full md:grid md:grid-cols-3 gap-6 md:gap-8">
            {% set sections = [
                {
                    "title": "Low Code Advantage",
                    "description": "FlowFuse simplifies the application development cycle, with a powerful yet simple low-code platform, enabling businesses to launch solutions faster than traditional coding methods allow."
                },
                {
                    "title": "Flexible Deployment",
                    "description": "With FlowFuse you can deploy your applications on the cloud or on-premises. This ensures a smooth and efficient development experience, for a high-performance and scalable solution."
                },
                {
                    "title": "Open Source",
                    "description": "Open source is a key aspect of the FlowFuse product strategy, as we believe it reduces adoption barriers and provides increased transparency and security to all our users."
                }
            ] %}

            {% for section in sections %}
                <div class="w-full mt-4 md:mt-0 flex flex-col justify-between">
                    <div>
                        <h4 class="flex justify-center md:justify-start font-semibold">{{ section.title }}</h4>
                        <p class="font-light mt-6">{{ section.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Frequently Asked Questions --> 
    <div class="md:text-left max-md:max-w-md mx-auto pt-24 md:pt-16 text-left">
        <h2 class="max-md:text-center -mb-12">
            Frequently Asked <span class="text-indigo-600">Questions</span>
        </h2>
        {% include "faq.njk" %}
    </div>
</div>


