---
layout: layouts/page.njk
title: Team-Based Low-Code Development
subtitle: Get started with FlowFuse today. Run it for yourself, or sign-up to our managed service.
meta:
    keywords: "Node-RED, FlowFuse, Low-Code, Development, IoT, Internet of Things, Cloud, Cloud Computing, Edge Computing, Edge Devices, Managed Service, Self-Hosted, EU Hosted, Security, Enterprise Ready, Team-Based Collaboration, 4000+ Integrations"
description:
    <div class="space-y-4 flex flex-col">
        <a class="ff-btn ff-btn--primary max-w-xs" href="https://app.flowfuse.com/account/create">Join our managed service</a>
        <a class="ff-btn ff-btn--secondary max-w-xs" href="/docs/install">Install on your own infrastructure</a>
    </div>
heroimg: "../images/pictograms/cloud.png"
heroLg: true
---

{% include "components/divider-flow--default.njk" %}

<!-- Key Features -->
<div class="product w-full ff-bg-dark px-6 pt-20 pb-24 md:px-0 md:pt-32 md:pb-48">
    <div class="container m-auto text-center max-w-4xl">
        <div class="mt-9">
            <h1 class="mb-4">Key Features</h1>
        </div>
        <div class="mt-20 flex flex-wrap justify-center">
            <div class="company-value">
                {% image "../images/pictograms/time.png", "Icon representing Fast setup", [128] %}
                <h5>Fast setup</h5>
            </div>
            <div class="company-value">
                {% image "../images/pictograms/security.png", "Icon representing Enterprise Ready", [128] %}
                <h5>Enterprise Ready</h5>
            </div>
            <div class="company-value">
                {% image "../images/pictograms/community.png", "Icon Representing Team-Based Collaboration", [128] %}
                <h5>Team-Based Collaboration</h5>
            </div>
            <div class="company-value">
                {% image "../images/pictograms/node_catalog.png", "Icon representing 4000+ integrations available", [128] %}
                <h5>4000+ integrations available</h5>
            </div>
            <div class="company-value">
                {% image "../images/pictograms/edge.png", "Icon representing Edge Devices", [128] %}
                <h5>Edge Devices</h5>
            </div>
            <div class="company-value">
                {% image "../images/pictograms/ticket.png", "Icon representing Ticket-Based Support", [128] %}
                <h5>Ticket-Based Support</h5>
            </div>
        </div>
    </div>
</div>

{% include "components/divider-flow--top-red--light.njk" %}

<div class="product w-full ff-bg-light pt-12 pb-32 sm:pt-24">
    <div class="m-auto max-w-3xl px-6">
    	<div class="product-left">
            <div>
                <h2>Fast setup</h2>
                <p>With FlowFuse, deploying a new Node-RED project takes moments. No configuration of proxies and setting up DNS, get going in less time than it takes to make a cup of tea.</p>
    	    </div>
            <span class="flex-shrink-0">
                {% image "../images/pictograms/time_red.png", "A red clock icon", [150] %}
            </span>
        </div>
        <div class="product-right">
            <div>
                <h2>Enterprise Ready</h2>
                <p>With centralized user management, and role based access control you can control who has access. Audit logs provide information about what changes have been made.</p>
            </div>
            <span class="flex-shrink-0">
                {% image "../images/pictograms/security_red.png", "Logo of a padlock representing Enterprise Ready", [150] %}
            </span>
        </div>
        <div class="product-left">
            <div>
                <h2>Flexible organization</h2>
                <p>Use multiple teams to organize your projects and share access with the right people, invite new users to join the team quickly. Create multiple projects with shared access between all members of your team.</p>
            </div>
            <span class="flex-shrink-0">
                {% image "../images/pictograms/community_red.png", "Logo of people representing community", [150] %}
            </span>
        </div>
        <div class="product-right">
            <div>
                <h2>Huge Node Catalog</h2>
                <p>Leverage over 4000 custom nodes already developed to connect the physical world to digital services and back again.</p>
            </div>
            <span class="flex-shrink-0">
                {% image "../images/pictograms/node_catalog_red.png", "Icon representing custom nodes", [150] %}
            </span>
        </div>
	    <div class="product-left">
            <div>
                <h2>Edge Device Management</h2>
                <p>Deploy flows to edge devices with the click of a button. Updating flows in a few megabytes, no need to update Docker images, no need to compromise your security on your devices.</p>
            </div>
            <span class="flex-shrink-0">
                {% image "../images/pictograms/edge_red.png", "Icon of a cloud representing edge devices", [150] %}
            </span>
        </div>
        <div class="product-right">
            <div>
                <h2>Fully Browser Based</h2>
                <p>No need to install any software, everything can be managed from a web browser. Simple drag and drop editing of your workflows. Manage your project settings and config from within the FlowFuse application.</p>
            </div>
            <span class="flex-shrink-0">
                {% image "../images/pictograms/browser_red.png", "Icon representing a browser", [150] %}
            </span>
        </div>
        <div class="product-left">
            <div>
                <h2>Node-RED managed for you</h2>
                <p>Stay up to date with the latest versions of Node-RED made available for you with easy upgrades.</p>
            </div>
            <span class="flex-shrink-0">
                {% image "../images/node-red-hexagon.png", "Node-RED logo", [150] %}
            </span>
        </div>
        <div class="product-right">
            <div>
                <h2>EU Hosted</h2>
                <p>Our managed platform is hosted in the EU. Dedicated instances in other regions available on request.</p>
            </div>
            <span class="flex-shrink-0">
                {% image "../images/pictograms/eu.png", "EU Logo of Stars", [150] %}
            </span>
        </div>

	At FlowFuse we understand that the security practises of our product
	are important to your company. We've prepared a <a href="/product/security">security statement</a>
	for you to understand the choices we've made.
    </div>
</div>
