---
layout: layouts/page.njk
title: Roadmap
subtitle: <div class="font-semibold text-white mb-8 -mt-2">Stay up-to-date with our progress</div>
description:
    <p><span class="text-gray-200">Here you can find information about upcoming features, enhancements, and other changes we're actively working on to make FlowFuse an even more powerful and versatile tool for your business needs.</span></p>
    <div class="text-center mt-10 pb-4 md:pb-10">
        <a href="https://github.com/orgs/FlowFuse/projects/5" target="_blank" class="inline-block ff-btn ff-btn--primary uppercase">
            <span>FULL GITHUB ROADMAP</span>
        </a>
    </div>
image: /images/product/og-product-roadmap.png
---
<div class="mt-3 md:mt-20">

</div>

<!-- Roadmap content section, divided into three columns: Consideration, In Progress, and Newly Released. Each column
has a headline, description, and a container for roadmap items. -->
<div class="about w-full bg-gray-50 pb-14 md:pt-6 -mt-1">
    <div class="container m-auto max-w-5xl">
        <!-- Mobile -->
        <div class="grid grid-cols-1 text-center gap-12 pt-12 max-w-lg md:max-w-full m-auto px-6 sm:px-4 md:hidden">
            <!-- Consideration Column -->
            <div class="roadmap-section consideration rounded-t-xl rounded-b-lg md:pb-0 bg-white drop-shadow-lg">
                <div class="p-6 pb-2 rounded-t-lg bg-gray-500 text-white min-h[192px]">
                    <h4 class="left-headline text-center">Under consideration</h4>
                    <hr class="border-gray-400">
                    <p>We would appreciate your feedback on the potential new features that we are considering for development.</p>
                </div>
                <h5 class="flex flex-row justify-center items-center w-full p-1 bg-gray-600 font-semibold text-gray-50 text-center">
                    <span class="pt-0.5 pr-2 h-[18px]">{% include "components/icons/github.svg" %}</span>Vote on Github<span class="pt-0.5 pl-1">{% include "components/icons/arrow-small-down.svg" %}
                </h5>
                <div class="roadmap-item-container pt-0"></div>
            </div>
            <!-- In Progress Column -->
            <div class="roadmap-section progress rounded-t-xl rounded-b-lg md:pb-0 bg-white drop-shadow-lg">
                <div class="p-6 pb-2 rounded-t-lg bg-gray-600 text-white min-h[192px]">
                    <h4 class="left-headline text-center">In Progress</h4>
                    <hr class="border-gray-500">
                    <p>We are currently working on the following topics and would appreciate any feedback you may have.</p>
                </div>
                <h5 class="flex flex-row justify-center items-center w-full p-1 bg-gray-700 font-semibold text-gray-50 text-center">
                    <span class="pt-px pr-2 h-[18px]">{% include "components/icons/github.svg" %}</span>See status on Github<span class="pt-0.5 pl-1">{% include "components/icons/arrow-small-down.svg" %}
                </h5>
                <div class="roadmap-item-container pt-0"></div>
            </div>
            <!-- Changelog -->
            <div class="roadmap-section completed rounded-t-xl rounded-b-lg md:pb-0 bg-white drop-shadow-lg">
                <div class="p-6 pb-2 rounded-t-lg bg-gray-700 text-white min-h[192px] w-full">
                    <h4 class="left-headline text-center">Changelog</h4>
                    <hr class="border-gray-600">
                    <p>
                        Check out <a href="/changelog/">all the new features</a> added to FlowFuse.
                    </p>
                </div>
                <h5 class="flex flex-row justify-center items-center w-full p-1 bg-gray-800 font-semibold text-gray-50 text-center">
                    Latest updates<span class="pt-px pl-1">{% include "components/icons/arrow-small-down.svg" %}
                </h5>
                <div class="roadmap-item-container pt-0">
                    <ul>
                        {%- for changelog in collections.changelog | reverse | limit(5) -%}
                            <li class="roadmap-item"><a href="{{ changelog.url }}" target="_blank" class="roadmap-item-text">{{ changelog.data.title }}</a></li>
                        {%- endfor -%}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Desktop -->
        <div class="hidden text-center md:grid-cols-3 md:gap-x-4 md:pt-0 md:-mt-32 md:max-w-full m-auto px-6 sm:px-4 md:grid">
            <!-- Consideration Column Header-->
            <div class="roadmap-section rounded-t-xl rounded-b-lg md:pb-0 bg-white drop-shadow-lg">
                <div class="p-6 pb-2 rounded-t-lg bg-gray-500 text-white min-h[192px] h-full">
                    <h4 class="left-headline text-center">Under consideration</h4>
                    <hr class="border-gray-400">
                    <p>We would appreciate your feedback on the potential new features that we are considering for development.</p>
                </div>
            </div>
            <!-- In Progress Column Header-->
            <div class="roadmap-section rounded-t-xl rounded-b-lg md:pb-0 bg-white drop-shadow-lg">
                <div class="p-6 pb-2 rounded-t-lg bg-gray-600 text-white min-h[192px] h-full">
                    <h4 class="left-headline text-center">In Progress</h4>
                    <hr class="border-gray-500">
                    <p>We are currently working on the following topics and would appreciate any feedback you may have.</p>
                </div>
            </div>
            <!-- Changelog-->
            <div class="roadmap-section rounded-t-xl rounded-b-lg md:pb-0 bg-white drop-shadow-lg">
                <div class="p-6 pb-2 rounded-t-lg bg-gray-700 text-white min-h[192px] w-full h-full">
                    <h4 class="left-headline text-center">Changelog</h4>
                    <hr class="border-gray-600">
                    <p>Check out <a href="/changelog/">all the new features</a> added to FlowFuse.</p>
                </div>
            </div>
            <!-- Consideration Column Content-->
            <div class="roadmap-section consideration rounded-t-xl rounded-b-lg md:pb-0 bg-white drop-shadow-lg">
                <h5 class="flex flex-row justify-center items-center w-full p-1 bg-gray-600 font-semibold text-gray-50 text-center">
                    <span class="pt-0.5 pr-2 h-[18px]">{% include "components/icons/github.svg" %}</span>Vote on Github<span class="pt-0.5 pl-1">{% include "components/icons/arrow-small-down.svg" %}
                </h5>
                <div class="roadmap-item-container pt-0"></div>
            </div>
            <!-- In Progress Column Content-->
            <div class="roadmap-section progress rounded-t-xl rounded-b-lg md:pb-0 bg-white drop-shadow-lg">
                <h5 class="flex flex-row justify-center items-center w-full p-1 bg-gray-700 font-semibold text-gray-50 text-center">
                    <span class="pt-px pr-2 h-[18px]">{% include "components/icons/github.svg" %}</span>See status on Github<span class="pt-0.5 pl-1">{% include "components/icons/arrow-small-down.svg" %}
                </h5>
                <div class="roadmap-item-container pt-0"></div>
            </div>
            <!-- Newly Released Column Content-->
            <div class="roadmap-section completed rounded-t-xl rounded-b-lg md:pb-0 bg-white drop-shadow-lg">
                <h5 class="flex flex-row justify-center items-center w-full p-1 bg-gray-800 font-semibold text-gray-50 text-center">
                    Latest updates<span class="pt-px pl-1">{% include "components/icons/arrow-small-down.svg" %}
                </h5>
                <div class="roadmap-item-container pt-0">
                    <ul>
                        {%- for changelog in collections.changelog | reverse | limit(5) -%}
                            <li class="roadmap-item"><a href="{{ changelog.url }}" target="_blank" class="roadmap-item-text">{{ changelog.data.title }}</a></li>
                        {%- endfor -%}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Roadmap feedback section, containing a header, description, and a contact button for users to provide feedback. -->
<div class="w-full bg-gray-50">
    <div class="roadmap-feedback bg-white px-6 pt-8 pb-24 md:pt-12 md:px-0">
        <div class="container m-auto text-center max-w-4xl sm:max-w-xl md:px-4">
            <div>
                <h2 class="mb-9">Suggest a new feature</h2>
                <p>Provide your valuable feedback and suggestions. Your input will help us shape the future of FlowFuse, ensuring it meets your needs and expectations. To do so, simply click the button below to open a new feature request on our GitHub repository.</p>
                <a href="https://github.com/FlowFuse/flowfuse/issues/new?assignees=&labels=needs-triage%2Cfeature-request&template=03-feature.yml" target="_blank" class="inline-block ff-btn ff-btn--primary mt-6">SUGGEST NEW FEATURE</a>
            </div>
        </div>
    </div>
</div>
<!-- Inline JavaScript code -->
<script>
    // Utility function to send REST requests to the GitHub API.
    async function sendRESTRequest(endpoint) {
        const url = `https://api.github.com${endpoint}`;
        const options = {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
                "User-Agent": "FlowFuse-Website"
            }
        };
        try {
            const response = await fetch(url, options);
            const data = await response.json();
            return data;
        } catch (error) {
            console.error("Error fetching GitHub issues:", error);
            return null;
        }
    }
    // Fetch GitHub issues with the specified issue label.
    async function fetchGitHubIssues(label) {
        const endpoint = `/repos/flowforge/flowforge/issues?state=open&labels=${
            encodeURIComponent(label)
        }&per_page=5`;
        const data = await sendRESTRequest(endpoint);
        return data.map(issue => ({
            title: issue.title,
            number: issue.number,
            url: issue.html_url,
            reactions: {
                totalCount: issue.reactions
                    ? issue.reactions["+1"]
                    : 0
            }
        }));
    }
    // Fetch all open milestones from the GitHub repository.
    async function fetchMilestones() {
        const endpoint = '/repos/flowforge/flowforge/milestones?state=open&per_page=10';
        const data = await sendRESTRequest(endpoint);
        return data;
    }
    // Fetch all issues with the "epic" label for the specified milestone number.
    async function fetchEpicIssuesByMilestone(milestoneNumber) {
        const endpoint = `/repos/flowforge/flowforge/issues?state=open&labels=epic&milestone=${milestoneNumber}&per_page=100`;
        const data = await sendRESTRequest(endpoint);
        return data.map(issue => ({title: issue.title, number: issue.number, url: issue.html_url}));
    }
    // Fetch all "In Progress" issues.
    async function fetchDevIssues() {
        const milestones = await fetchMilestones();
        let issues = [];
        for (const milestone of milestones) {
            const epicIssues = await fetchEpicIssuesByMilestone(milestone.number);
            issues = issues.concat(epicIssues);
        }
        return issues;
    }
    // Extract required data from the fetched data.
    async function extractIssues(data) {
        let issues = [];
        for (const milestone of data) {
            for (const issue of milestone.issues) {
                issues.push({title: issue.title, number: issue.number, url: issue.url});
            }
        }
        return issues;
    }
    // Update the roadmap sections with the fetched issues.
    async function updateRoadmap() {
    const inConsiderationItems = await fetchGitHubIssues("consideration");
    // const progressItems = await fetchDevIssues();
    const progressItems = await fetchGitHubIssues("in-progress");
    const considerationElements = document.querySelectorAll(".consideration");
    const progressElements = document.querySelectorAll(".progress");

    considerationElements.forEach((element) => {
        updateRoadmapSection(element, inConsiderationItems);
    });

    progressElements.forEach((element) => {
        updateRoadmapSection(element, progressItems, false);
    });
}

    function updateRoadmapSection(element, items, showReactions = true) {
        // Get the container for the list of items.
        let listContainer = element.querySelector(".roadmap-item-container");
        // Create the container if it doesn't exist.
        if (! listContainer) {
            listContainer = document.createElement("div");
            listContainer.classList.add("roadmap-item-container");
            element.appendChild(listContainer);
        }
        // Create an unordered list to hold the items.
        const list = document.createElement("ul");
        // Iterate through the items and create list elements for each.
        for (const item of items) {
            // Create a list item and add the "roadmap-item" class.
            const listItem = document.createElement("li");
            listItem.classList.add("roadmap-item");

            const anchor = document.createElement("a");
            anchor.href = item.url;
            anchor.target = "_blank";
            // Create a container for the issue title and number.
            const titleNumberContainer = document.createElement("div");
            titleNumberContainer.classList.add("title-number-container");
            // Create a span element for the issue title.
            const issueName = document.createElement("span");
            issueName.classList.add("roadmap-item-text");
            issueName.textContent = item.title;
            // Add the issue title span to the container.
            titleNumberContainer.appendChild(issueName);
            anchor.appendChild(titleNumberContainer);

            // Check if showReactions is true before creating the vote button.
            if (showReactions) {
                // Create a left aligned wrapper for the vote button.
                const leftWrapper = document.createElement("div");
                leftWrapper.classList.add("left");
                // Create the vote button element.
                const voteBtn = document.createElement("span");
                voteBtn.classList.add("vote-btn");
                const reactions = item.reactions.totalCount;
                const reactionCount = document.createElement("span");
                reactionCount.classList.add("reaction-count");
                reactionCount.innerHTML = `👍 <span class="ml-1 text-gray-500">${reactions}</span>`;
                voteBtn.innerHTML = `${reactionCount.outerHTML}`;
                // Append the vote button to the left aligned wrapper.
                leftWrapper.appendChild(voteBtn);
                anchor.appendChild(leftWrapper);
            }
            // Append the anchor to the list item.
            listItem.appendChild(anchor);
            // Append the list item to the list.
            list.appendChild(listItem);
        }
        // Clear the previous content and append the new list.
        listContainer.innerHTML = "";
        listContainer.appendChild(list);
    }
    // Fetch and display data on page load
    updateRoadmap();
    // Fetch and display data every 5 minutes. setInterval(updateRoadmap, 5 * 60 * 1000);
</script>