---
layout: layouts/page.njk
title: Why FlowFuse?
description:
    <p>Node-RED is a great low-code visual programming tool. Here are 6 things FlowFuse adds to standard Node-RED to make it even better.</p>
image:
---
<div class="mt-12">
    {% include "components/divider-flow--top-red--light.njk" %}
</div>
<div class="about w-full ff-bg-light -mt-1 pt-16 pb-24">
    <div class="container m-auto max-w-lg md:max-w-5xl flex flex-col gap-y-10">
        {% for item in reasons %}
            <div class="relative w-full p-6 m-auto">
                <div class="absolute {% if loop.index is odd %}bottom-4 left-4{% else %}top-4 right-4{% endif %} bg-red-600 w-48 h-32 rounded-md z-0"></div>
                <div class="flex flex-col md:flex-row{% if loop.index is even %}-reverse{% endif %} gap-6 items-center z-10 bg-white rounded drop-shadow-md px-8 pt-6 pb-8 md:py-6 md:justify-between">
                    <div class="md:w-1/2 pt-4">
                        <div class="flex flex-row gap-3 items-center">
                            <div class="min-w-[60px] h-20 text-7xl bg-red-600 text-gray-50 text-center font-bold px-1 rounded pt-1">{{ loop.index }}</div>
                            <h4><div class="font-medium leading-tight pt-1">{{ item.title }}</div></h4>
                        </div>
                        <p>{{ item.content | safe }}</p>
                    </div>
                    <div class="md:w-1/2 flex justify-center">
                        {% if item.videoid %}
                        <lite-youtube videoid="{{ item.videoid }}" style="background-image: url('../../images/why-ff/why-ff-{{ loop.index }}.jpg');" class="w-[274px] sm:w-[444px] border-2 border-gray-800 rounded-md w-full max-w-sm md:max-w-none sm:max-h-full"></lite-youtube>
                        {% else %}
                        <div class="w-[274px] sm:w-[444px] border-2 border-gray-800 rounded-md w-full max-w-sm md:max-w-none sm:max-h-full">
                            {% set imageSrc = ['./images/why-ff/why-ff-', loop.index, '.jpg'] | join %}
                            {% set imageDescription = ['Image depicting', item.title] | join %}
                            {% image imageSrc, imageDescription, [444] %}
                        </div>
                        {% endif %}                        
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>